﻿@using MomentumPlus.Activate.Web.Areas.Management.Models
@model MomentumPlus.Activate.Web.Areas.Management.Models.ListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #content > main > div > div > article > ul > a {
        margin-top: 10px;
        margin-left: 5px;
    }
</style>

<ul class="nav nav-pills primary margin-bottom">
    <li class="@(Model.Tab == ListViewModel.ListTab.InUse || Model.Tab == ListViewModel.ListTab.Ongoing ? "active" : null)">
        <a href="@Url.Action("ListView", "Dashboard", new { Tab = ListViewModel.ListTab.InUse })">Ongoing</a>
    </li>
    <li class="@(Model.Tab == ListViewModel.ListTab.InHandover || Model.Tab == ListViewModel.ListTab.Handover ? "active" : null)">
        <a href="@Url.Action("ListView", "Dashboard", new {Tab = ListViewModel.ListTab.InHandover})">Leaving and Onboarding</a>
    </li>
    @if (Model.Tab == ListViewModel.ListTab.InUse)
    {
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.InHandoverExitingHeader })
    }
    else
    {
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.InHandoverOnboardingHeader })
    }
</ul>

@if (Model.Tab == ListViewModel.ListTab.InHandover)
{
    @Html.Action("Index", "InHandover", new
    {
        exitingPageNo = Model.ExitingPageNo,
        exitingSortColumn = Model.ExitingSortColumn,
        exitingSortAscending = Model.ExitingSortAscending,
        onboardingPageNo = Model.OnboardingPageNo,
        onboardingSortColumn = Model.OnboardingSortColumn,
        onboardingSortAscending = Model.ExitingSortAscending
    })
}
else
{
    @Html.Action("Index", "InUse", new
    {
        pageNo = Model.PageNo,
        sortColumn = Model.SortColumn,
        sortAscending = Model.SortAscending
    })
}
