﻿@using MomentumPlus.Activate.Web.Areas.Management.Models
@model MomentumPlus.Activate.Web.Areas.Management.Models.TimelineViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills primary margin-bottom">
    <li class="@(Model.Tab == TimelineViewModel.TimelineTab.Ongoing || Model.Tab == TimelineViewModel.TimelineTab.InUse ? "active" : null)">
        <a href="@Url.Action("TimelineView", "Dashboard", new {Tab = TimelineViewModel.TimelineTab.Ongoing})">Ongoing</a>
    </li>
    <li class="@(Model.Tab == TimelineViewModel.TimelineTab.Handover || Model.Tab == TimelineViewModel.TimelineTab.InHandover ? "active" : null)">
        <a href="@Url.Action("TimelineView", "Dashboard", new {Tab = TimelineViewModel.TimelineTab.Handover})">Handover</a>
    </li>
</ul>


@if (Model.Tab == TimelineViewModel.TimelineTab.Handover)
{
    @Html.Action("Handover", "Timeline", new { area = "" })
}
else
{
    @Html.Action("Ongoing", "Timeline", new { area = "" })
}
