﻿@model MomentumPlus.Activate.Web.Models.MeetingViewModel

<div class="modal fade" id="meeting-quick-edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Update", "Meeting", FormMethod.Post, new { @class = "popup" }))
            {
                @Html.HiddenFor(id => Model.ID)
                @Html.HiddenFor(ParentContactId => Model.ParentContactId)
                @Html.HiddenFor(MeetingTypeId => Model.MeetingTypeId)
                @Html.HiddenFor(name => Model.Name)

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Quick Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group clearfix">
                            <div class="col-sm-5">
                                @if (Model.ParentContact != null)
                                {
                                    <span class="text-span"><strong>@Model.ParentContact.Person.FullName</strong> </span>
                                    <br/>
                                }
                                <span> <strong>@Model.Name</strong> </span><br />
                                <span class="text-muted">@Model.MeetingType.Title</span>
                            </div>
                            <div class="col-sm-3 text-center">
                                <span class="badge" id="VoiceMessagesCount">@Model.VoiceMessagesCount</span>
                                <span class="glyphicon glyphicon-volume-up"></span>
                                <span class="badge" id="AttachmentsCount">@Model.AttachmentsCount</span>
                                <span class="glyphicon glyphicon-paperclip"></span>
                            </div>
                            <div class="col-sm-4 text-center">
                                <a href="@Url.Action("EditMeeting", "Relationships", new { id = Model.ID })" class="btn btn-default">Edit Full Meeting</a>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            @Html.LabelFor(m => m.Start, new { @class = "col-sm-12 control-label" })
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.Start, "DateTimeWithTime")
                                @Html.ValidationMessageFor(m => m.Start)
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            @Html.LabelFor(m => m.DurationMins, new { @class = "col-sm-12 control-label" })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(
                                    m => m.DurationMins,
                                    Model.DurationMinItems,
                                    new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DurationMins)
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            @Html.LabelFor(m => m.Location, new { @class = "col-sm-12 control-label" })
                            <div class="col-sm-12">
                                @Html.TextAreaFor(m => m.Location, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Location)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>