﻿@model MomentumPlus.Activate.Web.Models.MeetingViewModel
@using System.Web.UI.WebControls
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    if (Model.ReadOnly)
    {
    }
    else
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }

    <a href="@AppSession.Current.MeetingFormReturnUrl" class="btn btn-danger">Close</a>
}

@{

    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

}


@using (
    Html.BeginForm(
        action,
        controller,
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", id = "meeting-form" }
        )
    )
{

    <div class="panel panel-secondary">

        <div class="panel-heading display-table">
            <div class="vertical-cell">@(Model.CreateMode ? "Create" : "Edit") Introductory Meeting</div>

            <div class="vertical-cell text-right">
                @SaveClose()
            </div>
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.PackageId)
            @Html.HiddenFor(model => model.ProjectInstanceId)

            <div class="form-group">
                @Html.LabelFor(m => m.ParentContactId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        m => m.ParentContactId,
                        Model.Contacts,
                        new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly)
                        )
                    @Html.ValidationMessageFor(m => m.ParentContactId)
                </div>
            </div>

            @Html.HiddenFor(m => m.MeetingTypeId)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Location, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Location)
                </div>
            </div>

            @if(!Model.Start.HasValue)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.TargetWeek, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(
                            m => m.TargetWeek,
                            Model.TargetWeeksList,
                            new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly)
                            )
                        @Html.ValidationMessageFor(m => m.Start)
                    </div>
                </div>
            }
            
            <div class="form-group">
                @Html.LabelFor(m => m.Start, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.Start, "DateTimeWithTime", new { ReadOnly = true })
                    @Html.ValidationMessageFor(m => m.Start)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DurationMins, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        m => m.DurationMins,
                        Model.DurationMinItems,
                        new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly)
                        )
                    @Html.ValidationMessageFor(m => m.DurationMins)
                </div>
            </div>


            @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", ItemType.Meeting } })

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            <div class="vertical-cell text-left">
                @if(Model.ID != Guid.Empty)
                {
                    <a class="btn btn-danger" href="@Url.Action("Retire", "Meetings", new {id = Model.ID})">Retire</a>
                }
            </div>
            <div class="vertical-cell text-right">
                @SaveClose()
            </div>
        </div>
    </div>
}
