﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Core.Models
@model MomentumPlus.Activate.Web.Areas.Home.Models.MeetingsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meetings</h2>

@if (Model.Meetings.Any())
{
    <div class="text-right">

        @Html.ActionLink("Export all Meetings to ICS File", "DownloadAllVCalenders", null, new {target = "_blank"})

    </div>

    <section class="panel panel-default">
        <div class="panel-heading">
            Up & Coming Meetings
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        @Html.ActionLink(
                            "Meeting Name",
                            "ViewMeetings",
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", Meeting.SortColumn.Name},
                                    {"sortAscending", !Model.SortAscending}
                                }
                                ))
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Location",
                            "ViewMeetings",
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", Meeting.SortColumn.Location},
                                    {"sortAscending", !Model.SortAscending}
                                }
                                ))
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Meeting Type",
                            "ViewMeetings",
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", Meeting.SortColumn.MeetingType},
                                    {"sortAscending", !Model.SortAscending}
                                }
                                ))
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Start",
                            "ViewMeetings",
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", Meeting.SortColumn.Start},
                                    {"sortAscending", !Model.SortAscending}
                                }
                                ))
                    </th>

                    <th>
                        @Html.ActionLink(
                            "Duration (Mins)",
                            "ViewMeetings",
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", Meeting.SortColumn.DurationMins},
                                    {"sortAscending", !Model.SortAscending}
                                }
                                ))
                    </th>

                    <th class="text-center">
                        <span class="glyphicon glyphicon-calendar glyphicon-custom vertical-middle">

                        </span>
                    </th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
                </thead>
                <tbody>
                @foreach (var meeting in Model.Meetings)
                {

                    <tr data-soft-link="@Url.Action("EditMeeting", "Meetings", new {id = meeting.ID})">
                        <td>
                            @meeting.Name
                        </td>
                        <td>
                            @meeting.Location
                        </td>
                        <td>
                            @meeting.MeetingType.Title
                        </td>
                        <td>
                            @meeting.Start
                        </td>
                        <td>
                            @meeting.DurationMins
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("DownloadVCalender", new {id = meeting.ID})" target="_blank">
                                <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                            </a>
                        </td>

                        @*<td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>*@
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <p>There are no meetings to show.</p>
        </div>
    </div>
}