﻿@model MomentumPlus.Activate.Web.Models.VoiceMessageByPhoneViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-secondary">
    <div class="panel-heading">
        Record Voice Message By Phone
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerUsePhoneButton })
    </div>

    @using (
        Html.BeginForm(
            ViewContext.RouteData.Values["action"].ToString(),
            ViewContext.RouteData.Values["controller"].ToString(),
            FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }
        )
    )
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ItemId)
        @Html.HiddenFor(model => model.ItemType)
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(
                        model => model.Name,
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SearchTags, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                           value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" />
                    @Html.ValidationMessageFor(m => m.SearchTags)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>


        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Request Pin</button>
                <a href="@AppSession.Current.VoiceMessageFormReturnUrl" class="btn btn-danger">Close</a>
            </div>
        </div>
    }

</div>