﻿@helper Alert(MomentumPlus.Activate.Web.Models.AlertViewModel alert)
{
    <div class="alert alert-@alert.Type.ToString().ToLower() alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span>@Html.Raw(@alert.Message.Replace("\r\n", "<br/>"))</span>
    </div>
}

@if (TempData.ContainsKey("Alert"))
{
    var alert = (MomentumPlus.Activate.Web.Models.AlertViewModel)TempData["Alert"];
    @Alert(alert)
}

@if (TempData.ContainsKey("Alerts"))
{
    var alerts = (List<MomentumPlus.Activate.Web.Models.AlertViewModel>)TempData["Alerts"];

    foreach (var alert in alerts)
    {
        @Alert(alert)
    }
}
