﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!doctype html>
<html lang="en-gb">
<head>
    @* Necessary Metas and Page Title *@
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Activate™ | @Html.MvcSiteMap().SiteMapTitle()</title>

    @* Favicon *@
    @* For IE 9 and below. ICO should be 32x32 pixels in size *@
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    @* Touch Icons - iOS and Android 2.1+ 152x152 pixels in size *@
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    @* Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size *@
    <link rel="shortcut icon" href="/favicon.png">

    @* Render Style Sheet (CSS) Bundle *@
    @Styles.Render("~/bundles/style.css")
</head>
<body>
    @* Header - momentum+ Logo *@
    <header class="margin-bottom" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" title="Activate™" class="logo-container">
                        <h1 class="momentum"><span class="sr-only">Activate™</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <main role="main">
        <div class="container">
            <div class="row">
                @Html.Partial("_Alert")
                @RenderBody()
            </div>
        </div>
    </main>

    @Html.Partial("_LoadingAnimation")

    @* Render JavaScript (JS) Bundle *@
    @Scripts.Render("~/bundles/script.js")
    @RenderSection("Scripts", required: false)

</body>
</html>
