﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.BaseApprovalViewModel

@if (!Model.HideReadyForReview)
{
    var disabledMessage = "You cannot mark this item as complete at this time.";
    var hasOpenTasks = ViewData.ContainsKey("HasOpenTasks") && (bool)ViewData["HasOpenTasks"];

    if (hasOpenTasks)
    {
        disabledMessage = "There are open tasks against this topic.";
    }

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.ReadyForReview, new { }.WithAttrIf("disabled", "", hasOpenTasks || Model.DisableReadyForReview))

                    @if (hasOpenTasks || Model.DisableReadyForReview)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="@disabledMessage">
                            Ready For Review?
                        </span>
                    }
                    else
                    {
                        @:Ready For Review?
                    }
                    
                    
                    @Html.ValidationMessageFor(model => model.ReadyForReview)
                </label>
            </div>
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.IsApprovedLineManager, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        <div class="radio">
            <label>
                @Html.RadioButtonFor(
                    model => model.IsApprovedLineManager,
                    true,
                    new { }.WithAttrIf("disabled", "", !Model.UserIsLineManager)
                )
                Approved
            </label>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon">
                @Html.RadioButtonFor(
                    model => model.IsApprovedLineManager,
                    false,
                    new { }.WithAttrIf("disabled", "", !Model.UserIsLineManager)
                )
            </span>
            @Html.DropDownListFor(
                model => model.DeclinedNotesLineManager,
                Model.DeclinedNotesLineManager.ToSelectList(),
                new { @class = "form-control" }.WithAttrIf("disabled", "", !Model.UserIsLineManager)
            )
            @Html.ValidationMessageFor(model => model.DeclinedNotesLineManager)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IsApprovedHRManager, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-2">
        <div class="radio">
            <label>
                @Html.RadioButtonFor(
                    model => model.IsApprovedHRManager,
                    true,
                    new { }.WithAttrIf("disabled", "", !Model.UserIsHRManager)
                )
                Approved
            </label>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon">
                @Html.RadioButtonFor(
                    model => model.IsApprovedHRManager,
                    false,
                    new { }.WithAttrIf("disabled", "", !Model.UserIsHRManager)
                )
            </span>
            @Html.DropDownListFor(
                model => model.DeclinedNotesHRManager,
                Model.DeclinedNotesHRManager.ToSelectList(),
                new { @class = "form-control" }.WithAttrIf("disabled", "", !Model.UserIsHRManager)
            )
            @Html.ValidationMessageFor(model => model.DeclinedNotesHRManager)
        </div>
    </div>
</div>
