﻿@Scripts.Render("~/Content/js/business-cards.js")
<script type="text/ng-template" id="business-card.html">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-card" data-soft-link="/Home/Relationships/Edit/{{id}}{{management ? '#management' : ''}}">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 person-image">
      <img ng-if="imageId" src="/image/{{imageId}}" alt="{{firstName}} {{lastName}}" />
      <img ng-if="!imageId" src="/Content/img/profile-image-placeholder.png" alt="{{firstName}} {{lastName}}" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="person-details row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div>
            <a href="/Home/Relationships/Edit/{{id}}{{management ? '#management' : ''}}" ng-if="!firstName && !lastName"><strong>-</strong></a>
            <a href="/Home/Relationships/Edit/{{id}}{{management ? '#management' : ''}}" ng-if="firstName || lastName">
              <strong data-toggle="tooltip" title="{{firstName + ' ' + lastName}}" data-placement="bottom">
                {{(firstName + ' ' + lastName) | characters:15}}
              </strong>
            </a>
          </div>
          <div ng-if="!position">-</div>
          <div ng-if="position">
            <span data-toggle="tooltip" title="{{position}}">{{position | characters:15}}</span>
          </div>
          <div ng-if="otherCompany && otherCompanyName">
            <span data-toggle="tooltip" title="{{otherCompanyName}}">{{otherCompanyName | characters:15}}</span>
          </div>
          <div ng-if="otherCompany && !otherCompanyName">Other</div>
          <div ng-if="!otherCompany && company">
            <span data-toggle="tooltip" title="{{company}}">{{company | characters:15}}</span>
          </div>
          <div ng-if="!otherCompany && !company">-</div>

          <div>
            <small>Email: <a href="mailto:{{email}}" data-toggle="tooltip" title="{{email}}">{{email | characters:15}}</a></small>
          </div>
          <div ng-if="telephone">
            <small>Tel.: <a href="tel:{{telephone}}" data-toggle="tooltip" title="{{telephone}}">{{telephone | characters:15}}</a></small>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0">
          <img ng-if="managed" src="/Content/css/images/managed.png" alt="" class="business-card-icon" />
          <img ng-if="introRequired" src="/Content/css/images/intro-required.png" alt="" class="business-card-icon" />
        </div>
      </div>
    </div>
  </div>

</script>
<script type="text/ng-template" id="business-card-editor.html">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-card business-card-editor margin-bottom">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <img class="person-image" ng-if="imageId" src="/image/{{imageId}}" alt="{{firstName}} {{lastName}}" onclick="$('#ProfileImage').click()"
           data-toggle="tooltip" data-original-title="Click to upload" />
      <img class="person-image" ng-if="!imageId" src="/Content/img/profile-image-placeholder.png" alt="{{firstName}} {{lastName}}" onclick="$('#ProfileImage').click()"
           data-toggle="tooltip" data-original-title="Click to upload" />
      <small class="text-center"><i id="ProfileImageFilename"></i></small>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
      <div class="person-details row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="form-group">
            <select class="form-control input-sm" ng-model="personTitle">
              <option value="{{t}}" ng-repeat="t in titleOptions" ng-selected="t == personTitle">{{t}}</option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control input-sm" ng-model="firstName" placeholder="First Name *" />
          </div>
          <div class="form-group">
            <input class="form-control input-sm" ng-model="lastName" placeholder="Surname" />
          </div>
          <div class="form-group">
            <input class="form-control input-sm" ng-model="position" placeholder="Position *" />
          </div>
          <div class="form-group">
            <select class="form-control company-dropdown combobox input-sm" ng-model="companyId" ng-disabled="otherCompany && companyId == otherCompanyId" ng-change="$parent.companyChange(companyId,otherCompanyId)">
              <option value="" ng-selected="!companyId" disabled>-- Company --</option>
              <option value="{{c.Id}}" ng-repeat="c in companyOptions | filter:{'Name':'!Other'}" ng-selected="c.Id === companyId">{{c.Name}}</option>
              <option value="{{otherCompanyId}}" ng-selected="otherCompanyId == companyId">Other</option>
            </select>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="otherCompany" ng-change="$parent.otherCompanyChange(otherCompanyId)" />
              Company not listed
            </label>
          </div>
          <div class="form-group" ng-show="otherCompany">
            <input class="form-control input-sm" ng-model="otherCompanyName" placeholder="Company Name" />
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">@@</span>
              <input class="form-control input-sm" ng-model="email" placeholder="address@example.cm" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">Tel.</span>
              <input class="form-control input-sm" ng-model="telephone" placeholder="0131 000 0000" />
            </div>
          </div>
          <div class="form-group">
            <input name="ProfileImage" id="ProfileImage" type="file" class="form-control hidden" accept="image/*" class="hidden" onchange="$('#ProfileImageFilename').text('...' + this.value.substring(this.value.length - 15, this.value.length));" />
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0">
          <img ng-if="managed" src="/Content/css/images/managed.png" alt="" class="business-card-icon" />
          <img ng-if="introRequired" src="/Content/css/images/intro-required.png" alt="" class="business-card-icon" />
        </div>
      </div>
    </div>
  </div>

</script>


<script type="text/ng-template" id="people-info.html">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-card">
    @*{{roleName}}*@
    @*<span ng-if="roleName === ''">test</span>*@
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 person-image" style="width:100px;height:100px">
      <img ng-if="imageId" src="/image/{{imageId}}" alt="{{firstName}} {{lastName}}" style="width:100px;height:100px" />
      <img ng-if="!imageId" src="/Content/img/profile-image-placeholder.png" alt="{{firstName}} {{lastName}}" style="width:100px;height:100px"/>

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="person-details row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div>
            <a href="/Home/Relationships/Edit/{{id}}{{management ? '#management' : ''}}" ng-if="!firstName && !lastName"><strong>-</strong></a>
            <a href="/Home/Relationships/Edit/{{id}}{{management ? '#management' : ''}}" ng-if="firstName || lastName">
              <strong data-toggle="tooltip" title="{{firstName + ' ' + lastName}}" data-placement="bottom">
                {{(firstName + ' ' + lastName) | characters:15}}
              </strong>
            </a>
          </div>
          <div ng-if="!position">-</div>
          <div ng-if="position">
            <span data-toggle="tooltip" title="{{position}}">{{position | characters:15}}</span>
          </div>
          <div ng-if="otherCompany && otherCompanyName">
            <span data-toggle="tooltip" title="{{otherCompanyName}}">{{otherCompanyName | characters:15}}</span>
          </div>
          <div ng-if="otherCompany && !otherCompanyName">Other</div>
          <div ng-if="!otherCompany && company">
            <span data-toggle="tooltip" title="{{company}}">{{company | characters:15}}</span>
          </div>
          <div ng-if="!otherCompany && !company">-</div>

          <div>
            <small>Email: <a href="mailto:{{email}}" data-toggle="tooltip" title="{{email}}">{{email | characters:15}}</a></small>
          </div>
          <div ng-if="telephone">
            <small>Tel.: <a href="tel:{{telephone}}" data-toggle="tooltip" title="{{telephone}}">{{telephone | characters:15}}</a></small>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0">
          <img ng-if="managed" src="/Content/css/images/managed.png" alt="" class="business-card-icon" />
          <img ng-if="introRequired" src="/Content/css/images/intro-required.png" alt="" class="business-card-icon" />
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left no-padding">
        <span class="badge" ng-if="roleName !== ''" ng-class="packageStatus">{{packageStatus}}</span>
        <span ng-if="roleName === ''"> </span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  text-right ">
        <button class="btn btn-default"  ng-if="roleName !== ''">Button</button>
      </div>
    </div>
  </div>

</script>