﻿@model MomentumPlus.Activate.Web.Models.BaseViewModel

@using MomentumPlus.Activate.Web.Models

@if (Model is TopicViewModel && (Model as TopicViewModel).IsPrevTopic)
{
    <div class="col-sm-2 text-right copy-one"
        data-source="@Model.ID"
        data-collection="@ViewData["CloneCollection"]"
        data-count="@ViewData["Count"]"
        data-target="@ViewData["Target"]">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
}
