﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Core.Models.People
@{
    Layout = null;

    User currentUser = ViewBag.CurrUser;

    var currentNode = Html.MvcSiteMap().SiteMap.CurrentNode;
}

<!doctype html>
<html data-ng-app="momentumPlus.activate" lang="en-gb">
<head>
    @* Necessary Metas and Page Title *@
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Activate™ | @Html.MvcSiteMap().SiteMapTitle()</title>

    @* Favicon *@
    @* For IE 9 and below. ICO should be 32x32 pixels in size *@
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    @* Touch Icons - iOS and Android 2.1+ 152x152 pixels in size *@
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    @* Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size *@
    <link rel="shortcut icon" href="/favicon.png">

    @* Render Style Sheet (CSS) Bundle *@
    @Styles.Render("~/bundles/style.css")

    @RenderSection("Styles", required: false)
</head>

<body class="@( currentUser != null ? "Role-" + Roles.GetRolesForUser(currentUser.FirstName).FirstOrDefault() : "")">
    <div class="drawers">
        <div class="left-drawer">
            @Html.Action("SearchControl", "Search", new { area = "Home" })
            <nav class="menu">
                @* Pop-out Navigation *@
                <ul class="icon-list">
                    @Html.MvcSiteMap().Menu(
                    "BootstrapMenuHelperModel",
                    startingNodeLevel: 1,
                    maxDepth: 1
                    )
                </ul>
            </nav>
            @*<button class="close-button" id="close-button" type="button">Close Menu</button>*@
        </div>
    </div>

    <div id="content">

        @if (Html.TimeManipulationToolEnabled())
        {
            @Html.Action("TimeManipulationTool", "TimeManipulation", new { area = string.Empty })
        }

        <button class="menu-button" id="open-button" type="button">
            <span class="menu-icon text-white"></span>
            @*<i class="fa fa-list text-white"></i>*@
        </button>

        @* Header - momentum+ Logo *@
        <header id="master-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 logo-block">
                        <a href="/" title="Activate™" class="logo-container">
                            <div class="logo"></div>
                        </a>
                    </div>

                    <div class="col-sm-6 text-white page-title">
                        @Html.MvcSiteMap().SiteMapPath()
                    </div>

                    @if (currentUser != null)
                    {
                        string currentUserName = currentUser.Username;
                        string currentUserRole = Roles.GetRolesForUser(currentUserName).FirstOrDefault();

                        <div class="col-sm-3 col-xs-6 text-white page-mininav">
                            @* User Name and Logout Control *@
                            <a href="@Url.Action("Index", "Profile", new {area = "Profile"})" class="navbar-link" title="@currentUser.Email">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@currentUserName.Split('@')[0]</strong>
                            </a>
                            |
                            @if (currentUserRole == "Administrator" || currentUserRole == "HR Manager")
                            {
                                <span><a href="@Url.Action("Index", "Users", new {area = "Admin"})"><i>@currentUserRole</i></a></span>
                            }
                            else
                            {
                                <span><i>@currentUserRole</i></span>
                            }
                            |
                            <a href="@Url.Action("LogOff", "Account", new {area = ""})" class="navbar-link">
                                <span class="glyphicon glyphicon-off"></span>
                                Logout
                            </a>
                        </div>
                    }
                </div>
            </div>
        </header>

        @* Navigation Bar *@
        <div id="master-top-nav" class="navbar navbar-default">
            <div class="container">
                @if (currentNode != null && currentNode.Area == "Home"  && currentNode.Url.ToString() != "/Home/Summary")
                {
                    <strong><a class="btn btn-select-pack navbar-btn pull-right" style="margin-top: 3px; margin-bottom: 3px;" href="@Url.Action("BackToSummary", "Summary", new { area = "Home" })">Back to Summary</a></strong>
                }
                @if (currentNode != null && currentNode.Area == "Home")
                {
                    <div class="nav navbar-nav">
                        @Html.Action("Index", "PackageSelector", new { area = "" })
                    </div>
                }
                else if (currentNode != null && currentNode.Controller == "Reports")
                {
                    <style>
                        #master-top-nav > div > a {
                            position: absolute;
                            margin-left: 555px;
                            margin-top: 12px;
                        }
                    </style>
                    @Html.Action("ViewAsSelector", "ViewAsSelector", new { area = "" })
                }@* Secondary Navigation *@

                @if (currentNode != null && currentNode.Area != "Home")
                {
                    <ul class="nav navbar-nav navbar-right">
                        @Html.MvcSiteMap().Menu(
                            "BootstrapMenuHelperModel",
                            startingNodeLevel: 2,
                            maxDepth: 1
                        )
                    </ul>
                }

            </div>
        </div>

        <main role="main">
            <div class="container">
                <div class="row">
                    @* Content Area *@
                    <article class="col-md-12">
                        @Html.Partial("_Alert")

                        @if (ViewContext.RouteData.DataTokens.ContainsKey("area") && ViewContext.RouteData.DataTokens["area"].ToString() == "Home")
                        {
                            @Html.Action("PackageDetails", "PackageSelector", new { area = "" })
                        }

                        @RenderBody()
                    </article>
                </div>
            </div>
        </main>
    </div>

    @Html.Partial("_LoadingAnimation")

    @* Render JavaScript (JS) Bundle *@
    @Scripts.Render("~/bundles/script.js")
    @Scripts.Render("~/bundles/timeline.js")
    @Scripts.Render("~/bundles/meeting-quick-edit.js")
    <script src="~/Content/common/ms-Dropdown/js/msdropdown/jquery.dd.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Content/js/exitSurvey.js" type="text/javascript"></script>
</body>

</html>