﻿@model MomentumPlus.Activate.Web.Models.Moderation.ReviewableViewModel

<div class="form-group">
    <label class="col-sm-2 control-label">
        Meetings
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTasksMenu })
    </label>
    <div class="col-sm-5">
        <div class="list-group">
            @if (Model.Meetings != null && Model.Meetings.Any())
            {
                var meeting = Model.Meetings.FirstOrDefault();
                if (meeting.Deleted.HasValue)
                {
                    <a class="btn btn-default" href="@Url.Action("Resume", "Meetings", new { id = meeting.ID })">Resume Meeting</a>
                }
                else
                {
                    <a href="#" data-name="Redirect" data-value="EditMeeting/@meeting.ID" style="display: inline-block; width: 90%" class="list-group-item submit@(Model.ReadOnly ? " disabled" : null)">
                        @(meeting.Name)
                    </a>
                }
            }
            else
            {
                if (!Model.ReadOnly)
                {
                    if (ViewBag.ProjectNeedsAdminApproval != null)
                    {
                        <button class="btn btn-default" type="submit" name="Redirect" value="AddMeeting" disabled="disabled">Add Meeting</button>
                    }
                    else
                    {
                        <button class="btn btn-default" type="submit" name="Redirect" value="AddMeeting">Add Meeting</button>
                    }
                }
            }
        </div>

    </div>
</div>


