﻿@model MomentumPlus.Activate.Services.Interfaces.PackageFlag

@switch (Model.Status)
{
    case "overdue":
        if (Model.ReadyForReview)
        {
            <i class="ready_for_rewiev_grid-icon" data-status="overdue" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is ready for review"></i>
        }
        else
        {
            <i class="fa fa-refresh text-danger package-flag overdue" data-status="overdue" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is overdue"></i>
        }
        break;
    case "attention-required":
        if (Model.ReadyForReview)
        {
            if (Model.DeclinedCounter != 0)
            {
                <i class="fa fa-question text-info package-flag attention-required" data-status="attention-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item requires your attention before approval can be given"></i>
            }
            else
            {
                <i class="ready_for_rewiev_grid-icon" data-status="attention-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is ready for review"></i>
            }
        }
        else
        {
            <i class="fa fa-question text-info package-flag attention-required" data-status="attention-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item requires your attention before approval can be given"></i>
        }
        break;
    case "update-required":
        if (Model.ReadyForReview)
        {
            <i class="ready_for_rewiev_grid-icon" data-status="update-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is ready for review"></i>
        }
        else
        {
            <i class="fa fa-refresh text-warning package-flag update-required" data-status="update-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item needs to be reviewed and will be due soon"></i>
        }
        break;
    case "approved":
        if (Model.DeclinedCounter != 0)
        {
            <i class="fa fa-question text-info package-flag attention-required" data-status="approved" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item requires your attention before approval can be given"></i>
        }
        else
        {
            <i class="fa fa-thumbs-up text-info package-flag approved" data-status="approved" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is approved"></i>
        }
        break;
    case "no-action":
        if (Model.ReadyForReview)
        {
            <i class="ready_for_rewiev_grid-icon" data-status="no-action" data-container="body" data-toggle="tooltip" data-placement="bottom" title="This item is ready for review"></i>
        }
        else
        {
            <i class="fa fa-minus text-info package-flag no-action" data-status="no-action" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>
        }
        break;
}