﻿@model MomentumPlus.Activate.Services.Interfaces.PackageFlag


<div class="col-lg-12">
    @if (Model.HasNewItems)
    {
        <span class="line-icon-new"></span>
    }

    @if (!Model.HasNewItems)
    {
        <span class="line-icon"></span>
    }
</div>

@if (Model.Package.PackageStatus == MomentumPlus.Core.Models.Package.Status.Triggered || Model.PackageStatus == "Leaving")
{
    <div class="col-lg-12 vertical-align">
        <span class="ready-for-review_items-icon"></span>
        <span class="summary-counter">
            @Model.ReadyForReviewCounter / @Model.AllCounter
        </span>
    </div>
}

<div class="col-lg-12" style="padding-top: 5px">
    @if (Model.Package.PackageStatus == MomentumPlus.Core.Models.Package.Status.Triggered || Model.PackageStatus == "Leaving")
    {
        if (Model.ApprovedCounter == Model.AllCounter)
        {
            Model.Status = "approved";
        }
        <div class="row vertical-align">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 vertical-align" style="padding-right: 0;">
                @if (!Model.ExitSurvey)
                {
                    <span class="approved_items-icon"></span>
                }
                <span class="summary-counter">
                    @if (!Model.ExitSurvey)
                    {
                        @(Model.ApprovedCounter + " / " + Model.AllCounter)
                    }
                </span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                @switch (Model.Status)
                {
                    case "overdue":
                        <i class="something-declined-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="One or more items are overdue and should be reviewed immediately"></i>
                        break;
                    case "attention-required":
                        <i class="something-declined-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="One or more items require your further attention before approval can be given"></i>
                        break;
                    case "update-required":
                        @*<i class="needs-updating-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>*@
                        <i class="needs-updating-icon"></i>
                        break;
                    case "all-readys-for-review":
                        <i class="ready-for-review-icon"></i>
                        break;
                    case "approved":
                        @*<i class="approved-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>*@
                        <i class="approved-icon"></i>
                        break;
                    case "no-action":
                        @*<i class="in-progress-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>*@
                        @*<i class="in-progress-icon"></i>*@
                    break;
                }
            </div>
        </div>
    }
    else
    {
        <div class="row vertical-align">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 vertical-align">
                <span class="summary-counter-onboarding">
                    @Model.AllCounter
                </span>
            </div>
        </div>
    }
</div>