﻿@model MomentumPlus.Activate.Services.Interfaces.PackageFlag

@switch (Model.Status)
{
    case "overdue":
        if (!Model.HasItems)
        {
            <i class="fa fa-minus text-info package-flag no-action" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>
        }
        else
        {
            <i class="fa fa-refresh text-danger package-flag overdue" data-container="body" data-toggle="tooltip" data-placement="bottom" title="One or more items are overdue and should be reviewed immediately"></i>
        }
        break;
    case "attention-required":
        <i class="fa fa-question text-info package-flag attention-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="One or more items require your further attention before approval can be given"></i>
        break;
    case "update-required":
        <i class="fa fa-refresh text-warning package-flag update-required" data-container="body" data-toggle="tooltip" data-placement="bottom" title="One or more items need to be reviewed and will be due soon"></i>
        break;
    case "approved":
        <i class="fa fa-thumbs-up text-info package-flag approved" data-container="body" data-toggle="tooltip" data-placement="bottom" title="All items are approved"></i>
        break;
    case "no-action":
        <i class="fa fa-minus text-info package-flag no-action" data-container="body" data-toggle="tooltip" data-placement="bottom" title="No action required at this time"></i>
        break;
}