﻿@model MomentumPlus.Activate.Web.Models.Moderation.ReviewableViewModel

@if (Model.CreateMode == false)
{
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Tasks
      @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTasksMenu })
    </label>
    <div class="col-sm-5">
      @Html.Partial("_TasksEditor", Model)
    </div>
  </div>
}

