﻿@model MomentumPlus.Activate.Web.Models.Moderation.ReviewableViewModel

<div class="list-group " id="tasksList">
    @if (Model.Tasks != null && Model.Tasks.Any())
    {
        foreach (var task in Model.Tasks)
        {
            <a href="" data-name="Redirect" data-value="EditTask/@task.ID" style="display: inline-block; width: 90%" class="list-group-item submit@(Model.ReadOnly ? " disabled" : null)">
                @(task.Name)
                @TaskFlagging.GetTaskFlag(task)
            </a>
        }
    }
    else
    {
        <a href="#" class="list-group-item disabled">No Tasks</a>
    }
</div>
@if (!Model.ReadOnly)
{
  if (ViewBag.ProjectNeedsAdminApproval != null)
  {
      <button class="btn btn-default" type="submit" name="Redirect" value="AddTask" disabled="disabled">Add Task</button>
 
  }
  else
  {
      <button class="btn btn-default" type="submit" name="Redirect" value="AddTask">Add Task</button>
    }

}




