﻿@model MomentumPlus.Activate.Web.Models.TimelineViewModel
@using MomentumPlus.Activate.Web.Areas.Home.Controllers

<script>
    events.push({id: '@Model.ID', events:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Events))});
</script>

<div ng-controller="timelineCtrl" id="timelineCtrl">
    <horizontal-timeline class="timeline-container"
                         id="'@Model.ID'"
                         ancestor-id="'@Model.AncestorId'"
                         title="@Json.Encode(Model.Title)"
                         start-date="@Model.StartDate.ToString("yyyy-MM-dd")"
                         current-date="@MomentumPlus.Activate.Services.Helpers.SystemTime.Now.ToString("yyyy-MM-dd")"
                         end-date="@Model.EndDate.ToString("yyyy-MM-dd")"
                         events="events"
                         report="'@Model.Report'"
                         create-meeting="'@Model.CreateMeeting'"
                         view-meeting="'@Model.ViewMeeting'"
                         download="'@Model.Download'"
                         status="'@Model.Status'"
                         owner-name='"@Model.TimelineOwner"'
                         control='"@ViewBag.hideTimelineActionControl.ToString()"'>
    </horizontal-timeline>
</div>

<div class="text-center timeline-action-ctrl" id="timelineAction" style="display: none;" control="@ViewBag.hideTimelineActionControl.ToString()">
    <span ng-click="action()" {{ state }} ng-controller="timelineActionCtrl" style="cursor: pointer;"><a>{{ message }}</a></span>
    <br />
</div>