﻿@model MomentumPlus.Activate.Web.Models.TimeManipulationToolViewModel
@if (AppSession.Current.EnableTimeManipulationTool)
{
    using (Html.BeginForm("UpdateDateTime", "TimeManipulation", new {area = string.Empty}))
    {
        <div class="bg-black">
            <div class="container">
                <div class="form-inline padding-all pull-right">
                    <div class="form-group">
                        <label class="text-grey">Time Manipuation Tool </label>
                        @Html.EditorFor(model => model.DateTime)
                    </div>
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </div>
        </div>
    }
}