﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Helpers
@model MomentumPlus.Activate.Web.Models.TooltipViewModel

@if (AppSession.Current.CurrentUser.DisplayTooltips)
{
    if (!Model.Message.IsNullOrEmpty())
    { 
        <a data-toggle="popover" data-placement="top" title="@Model.Message" 
           class="tooltip-icon tooltip-click-area" href="javascript://" tabindex='-1'></a>
    }
    else
    {
        <a data-toggle="popover" data-placement="top" title="I am currently unset. Requested by @ViewContext.RouteData.Values["controller"] @ViewContext.RouteData.Values["action"]"
           class="tooltip-icon tooltip-click-area" href="javascript://" tabindex='-1'></a>
    }
}

