﻿@using MomentumPlus.Activate.Services
@using MomentumPlus.Activate.Web.Extensions

@model ICollection<MomentumPlus.Core.Models.Topic>

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 53%;">Name</th>
            <th class="text-center" style="width: 10%;">Word Count</th>
            <th class="text-center" style="width: 10%;">Tasks</th>
            <th class="text-center" style="width: 10%;">Attachments</th>
            <th class="text-center" style="width: 12%;">Voice Messages</th>
            <th class="text-center" style="width: 5%;">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.OrderBy(t => t.Name))
        {
            <tr data-soft-link="@Url.Action("EditTopic", new { id = topic.ID })">
                <td style="width: 53%;"><a href="@Url.Action("EditTopic", new { id = topic.ID })">@topic.Name @Html.TopicNewLabel(@topic.Created)</a></td>
                <td class="text-center" style="width: 10%;">@topic.CountWords()</td>
                <td class="text-center">
                    <a href="@Url.Action("Index", "TaskManager", new { area = "", id = topic.ID })">
                        @topic.Tasks.Count
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </td>
                <td class="text-center" style="width: 10%;">
                    <a href="@Url.Action(
                            "Index",
                            "Attachments",
                            new { area = "", id = topic.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Topic }
                        )">
                        @Html.Element(
                            "span",
                            "glyphicon glyphicon-paperclip",
                            topic.HasAttachments(),
                            "span",
                            "glyphicon glyphicon-minus"
                        )
                    </a>
                </td>
                <td class="text-center" style="width: 12%;">
                    <a href="@Url.Action(
                            "Index",
                            "VoiceMessage",
                            new { area = "", id = topic.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Topic }
                        )">
                        @Html.Element(
                            "span",
                            "glyphicon glyphicon-volume-up",
                            topic.HasVoiceMessages(),
                            "span",
                            "glyphicon glyphicon-minus"
                        )
                    </a>
                </td>
                <td class="text-center" style="width: 5%;">
                    @if (ViewBag.TopicFlag != null)
                    {
                        @Html.Partial("_PackageFlag", ((MomentumPlus.Activate.Services.Interfaces.PackageFlag)ViewBag.TopicFlag[topic]))
                    }
                </td>
            </tr>
        }
    </tbody>
</table>