﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.TopicViewModel

@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    ViewData["ControlColumns"] = Model.IsPrevTopic ? 8 : 10;
    var packageState = "InProgress";
    if (Model.ID != Guid.Empty)
    {
        packageState = PackageState.GetState(Model.ID);
    } 
}

@using (
    Html.BeginForm(
        currentAction,
        currentController,
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
            .WithAttrIf("id", "topic-form", !Model.IsPrevTopic)
    )
)
{

    @Html.HiddenFor(model => model.ProcessGroupId)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            @if (!Model.ReadOnly)
            {
                <div class="vertical-cell">
                    @if (ViewBag.FormHeading != null)
                    {
                        @ViewBag.FormHeading
                    }
                    else
                    {
                        if (!String.IsNullOrWhiteSpace(Model.ModuleName))
                        {
                            @:@Model.ModuleName -
                        }

                        @:@(Model.CreateMode ? "Create" : "Edit") @Model.TopicGroupName Topic
                    }
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTitleHeader })
                </div>

                <div class="vertical-cell text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@AppSession.Current.TopicFormReturnUrl" class="btn btn-danger">Close</a>
                </div>
            }
            else if (Model.IsPrevTopic)
            {
                <span class="pull-left"><strong>@Model.LeaverName</strong></span>

                <span class="pull-right">
                    <button type="button" class="btn btn-info" id="copy-all">
                        Copy All
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </span>
            }
            else
            {
                if (!String.IsNullOrWhiteSpace(Model.ModuleName))
                {
                    @:@Model.ModuleName -
                }

                @:View @Model.TopicGroupName Topic

            }
        </div>

        @if (!Model.ReadOnly)
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("ModelType", Model.GetType())
            <input type="hidden" name="ID" value="@Model.ID" />
            @Html.HiddenFor(model => model.TopicGroupId)
        }

        <div class="panel-body">
            @Html.ValidationSummary()

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(model => model.SearchTags)
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTitleHeader })
                </div>
                <div class="col-sm-@ViewData["ControlColumns"]">
                    <input type="text"
                           class="form-control search-tags"
                           name="SearchTags"
                           id="@(Model.IsPrevTopic ? "Clone" : "")SearchTags"
                           value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)"
                           disabled="@Model.ReadOnly" />
                    @Html.ValidationMessageFor(m => m.SearchTags)
                </div>

                @Html.Partial("_CopyArrow", Model)
            </div>

            @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.Topic } })

            @Html.Partial("_Tasks", Model)

            @if (!Model.ReadOnly && !Model.FrameworkItem && Model.IsLeavingPackageState)
            {
                @*<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.EmployeeCopy) Employee Copy Request?
                                @Html.ValidationMessageFor(model => model.EmployeeCopy)
                            </label>
                        </div>
                    </div>
                </div>*@

                @Html.EditorFor(model => model, "ReviewableViewModel", new ViewDataDictionary { { "HasOpenTasks", Model.HasOpenTasks } })
                if (packageState.Equals("Triggered"))
                {
                    @Html.EditorFor(model => model, "ModeratedViewModel")
                }
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-3">
                    @if (!Model.CreateMode && Model.FrameworkItem)
                    {
                        <a href="@Url.Action("RetireTopic", "Topic", new { id = Model.ID, area = string.Empty })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
                        <a href="@Url.Action("ResumeTopic", "Topic", new { id = Model.ID, area = string.Empty })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
                    }

                    @if (Model.HasPrevTopic && !Model.CreateMode && !Model.FrameworkItem && string.IsNullOrEmpty(Request.QueryString["prevTopic"]))
                    {
                        <a href="@Url.Action(currentAction, new { prevTopic = true })" class="btn btn-info">
                            <span class="glyphicon glyphicon-backward"></span> View history
                        </a>
                    }

                    @if (!Model.CreateMode &&
                         !Model.FrameworkItem &&
                         RoleAuthHelper.PackageTransfer_Controller_General.Contains(AppSession.Current.CurrentUser.Role.RoleParsed.GetDescription()))
                    {
                        <a href="@Url.Action("Index", "PackageTransfer", new { area = "", topicId = Model.ID })" class="btn btn-default">Copy</a>
                    }
                </div>

                <div class="col-sm-4 text-right">
                    @if (!Model.CreateMode)
                    {
                        <span>
                            word count: <strong>@Model.NotesWordCount</strong>
                            |
                            subjectivity count: <strong>@Model.NotesSubjectivity</strong>
                        </span>
                    }
                </div>

                <div class="col-sm-5 text-right">
                    @if (!Model.ReadOnly)
                    {
                        <button type="submit" class="btn btn-primary">Save</button>
                    }

                    @if (!Model.IsPrevTopic)
                    {
                        <a href="@AppSession.Current.TopicFormReturnUrl" class="btn btn-danger">Close</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-danger clone-close">Close</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
