﻿@model MomentumPlus.Activate.Web.Models.TopicViewModel

<div class="form-group">
    <label class="col-sm-2 control-label">
        Tasks
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTasksMenu })
    </label>
    <div class="col-sm-10">
        <div class="list-group" id="tasksList">
            @if (Model.Tasks.Any())
            {
                foreach (var task in Model.Tasks)
                {
                    <a href="#" data-name="Redirect" data-value="EditTask/@task.ID" class="list-group-item submit@(Model.ReadOnly ? " disabled" : null)">@(task.Name)</a>
                }
            }
            else
            {
                <a href="#" class="list-group-item disabled">No Tasks</a>
            }
        </div>
        @if (!Model.ReadOnly)
        {
            <button class="btn btn-default" type="submit" name="Redirect" value="AddTask">Add Task</button>
        }
    </div>
</div>




