﻿@model MomentumPlus.Activate.Web.Models.BaseViewModel

<div class="form-group">
    <label>Voice Messages</label>
    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.VoiceMessageManagerLinkButton })
    <div class="row">
        <div class="col-sm-12">
            <span class="badge" id="CloneVoiceMessagesCount">@Model.VoiceMessagesCount</span>
            <span class="glyphicon glyphicon-volume-up"></span>
            @if (Model.ReadOnly)
            {
                @Html.ActionLink(
                    "View Voice Messages",
                    "Index",
                    "VoiceMessage",
                    new { area = "", id = Model.ID, type = (MomentumPlus.Activate.Web.Models.ItemType)ViewData["itemType"] },
                    new { @class = "btn btn-default" }
                    )
            }
            else
            {
                <button type="submit" class="btn btn-default" name="Redirect" value="VoiceMessages">
                    Add/View Voice Messages
                </button>
            }
        </div>
    </div>
    @Html.Partial(
        "_CopyArrow",
        Model,
        new ViewDataDictionary
        {
            { "CloneCollection", "CloneVoiceMessages" },
            { "Count", Model.VoiceMessagesCount },
            { "Target", "#CloneVoiceMessagesCount" }
        }
    )
</div>

<div class="form-group">
    <label>Attachments</label>
    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerLinkButton })
    <div class="row">
        <div class="col-sm-12">
            <span class="badge" id="CloneAttachmentsCount">@(Model.AttachmentsCount + Model.DocumentLibrariesCount)</span>
            <span class="glyphicon glyphicon-paperclip"></span>
            @if (Model.ReadOnly)
            {
                @Html.ActionLink(
                    "View Attachments",
                    "Index",
                    "Attachments",
                    new {area = "", id = Model.ID, type = (MomentumPlus.Activate.Web.Models.ItemType) ViewData["itemType"]},
                    new {@class = "btn btn-default"}
                    )
            }
            else
            {
                <button type="submit" class="btn btn-default" name="Redirect" value="Attachments">
                    Add/View Attachments
                </button>
            }
        </div>
    </div>
    @Html.Partial(
        "_CopyArrow",
        Model,
        new ViewDataDictionary
        {
            { "CloneCollection", "CloneAttachments" },
            { "Count", Model.AttachmentsCount + Model.DocumentLibrariesCount },
            { "Target", "#CloneAttachmentsCount" }
        }
    )
</div>
