﻿@model MomentumPlus.Activate.Web.Models.BaseViewModel

<div class="form-group">
    
    <label class="col-sm-2 control-label">Voice Messages @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.VoiceMessageManagerLinkButton })  </label>
    <div class="col-sm-8">
        <span class="badge" id="CloneVoiceMessagesCount">@Model.VoiceMessagesCount</span>
        <span class="glyphicon glyphicon-volume-up"></span>

        @if (Model.ReadOnly)
        {
            @Html.ActionLink(
                "View Voice Messages",
                "Index",
                "VoiceMessage",
                new { area = "", id = Model.ID, type = (MomentumPlus.Activate.Web.Models.ItemType)ViewData["itemType"] },
                new { @class = "btn btn-default" }
            )
        }
        else
        {
            <button type="submit" class="btn btn-default" name="Redirect" value="VoiceMessages">
                Add/View Voice Messages
            </button>
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerLinkButton })
        }
    </div>

    @Html.Partial(
        "_CopyArrow",
        Model,
        new ViewDataDictionary
        {
            { "CloneCollection", "CloneVoiceMessages" },
            { "Count", Model.VoiceMessagesCount },
            { "Target", "#CloneVoiceMessagesCount" }
        }
    )
</div>

<div class="form-group">

    <label class="col-sm-2 control-label">
    
    Attachments @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerLinkButton })  </label>
    <div class="col-sm-8">
        <span class="badge" id="CloneAttachmentsCount">@(Model.AttachmentsCount + Model.DocumentLibrariesCount)</span>
        <span class="glyphicon glyphicon-paperclip"></span>

        @if (Model.ReadOnly)
        {
            @Html.ActionLink(
                "View Attachments",
                "Index",
                "Attachments",
                new { area = "", id = Model.ID, type = (MomentumPlus.Activate.Web.Models.ItemType)ViewData["itemType"] },
                new { @class = "btn btn-default" }
            )
        }
        else
        {
            <button type="submit" class="btn btn-default" name="Redirect" value="Attachments">
                Add/View Attachments
            </button>
        }
    </div>

    @Html.Partial(
        "_CopyArrow",
        Model,
        new ViewDataDictionary
        {
            { "CloneCollection", "CloneAttachments" },
            { "Count", Model.AttachmentsCount + Model.DocumentLibrariesCount },
            { "Target", "#CloneAttachmentsCount" }
        }
    )
</div>
