﻿@model MomentumPlus.Activate.Web.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-secondary">
    <div class="panel-heading">Change Password</div>

    @using (
        // Post to action method with the same name as the current action
        // in the current controller.
        Html.BeginForm(
            ViewContext.RouteData.Values["action"].ToString(),
            ViewContext.RouteData.Values["controller"].ToString(),
            FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }
        )
    )
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.UserId)

        <div class="panel-body">
            @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPassword, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.PasswordFor(
                        model => model.CurrentPassword,
                        new { @class = "form-control" }
                    )
                        @Html.ValidationMessageFor(model => model.CurrentPassword)
                    </div>
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(
                        model => model.NewPassword,
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(
                        model => model.ConfirmNewPassword,
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@AppSession.Current.ChangePasswordFormReturnUrl" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    }
</div>

