﻿@using Microsoft.Ajax.Utilities
@using MomentumPlus.Activate.Web.Extensions
@using AccountConfig = MomentumPlus.Activate.Web.Helpers.AccountConfig
@model MomentumPlus.Activate.Web.Models.ContactViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var personTitles = new[] { "Mr", "Mrs", "Ms", "Miss", "Dr" };
    var packageState = "InProgress";
    var currentNode = HttpContext.Current.Request.Url;
    if (Model.ID != Guid.Empty)
    {
        packageState = PackageState.GetState(Model.ID);
    }
}

@helper SaveClose()
{
if (!Model.ReadOnly)
{
        <button type="submit" class="btn btn-primary">Save</button>
    if (Request.Url.LocalPath.ToString() == "/Home/Relationships/Create")
    {
            <button type="submit" class="btn btn-primary" name="Redirect" value="AddAnother">Save & Add Another</button>
    }
}
    <a href="@(Model.IsMyTeamReferer ? Url.Action("Index", "People", new { area = "Home" }) : AppSession.Current.ContactFormReturnUrl)" class="btn btn-danger">Close</a>
}

@using (
                            // Post to action method with the same name as the current action
                            // in the current controller.
                            Html.BeginForm(
                                ViewContext.RouteData.Values["action"].ToString(),
                                ViewContext.RouteData.Values["controller"].ToString(),
                                FormMethod.Post,
                                new { @enctype = "multipart/form-data", role = "form", id = "relationship-form" }
                                )
                            )
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.SelectedTab)
    @Html.HiddenFor(model => model.CompanyGuid, new { id = "CompanyGuid" })
    @Html.HiddenFor(model => model.Person.CompanyId, new { id = "companyId" })
    @Html.HiddenFor(model => model.IsMyTeamReferer)



    <div class="row" ng-controller="businessCardCtrl"
         ng-init="
         id='@Model.ID' ;
         CompanyGuid='@Model.CompanyGuid' ;
         personTitle='@Model.Person.Title' ;
         firstName='@Model.Person.FirstName' ;
         lastName='@Model.Person.LastName' ;
         imageId='@Model.Person.ImageId' ;
         position='@Model.Person.Position' ;
         managed=@Json.Encode(Model.Managed) ;
         otherCompany=@Json.Encode(Model.Person.OtherCompany) ;
         otherCompanyName='@Model.Person.OtherCompanyName' ;
         company='@Model.Person.Company' ;
         companyId='@Model.Person.CompanyId' ;
         indirectId='@Model.IndirectRelationshipContactId' ;
         indirect='@Model.IndirectRelationship' ;
         relationshipImportance='@Model.RelationshipImportance.ToString()' ;
         relationshipImportancDesc='@Model.RelationshipImportance.GetDescription()' ;
         email='@Model.Person.Email' ;
         telephone='@Model.Person.Phone' ;
         management=false;
         introRequired='@Model.IntroRequired.ToString()' ;">
        @if (!Model.IsFramework)
        {
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3" id="company-filter">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="all-companies" disabled="disabled"> Select all
                            </label>
                        </div>

                        @foreach (var company in Model.Companies)
                        {

                            <div class="checkbox">
                                <label>
                                    <input class="company-checkbox" type="checkbox" value="@company" disabled="disabled">
                                    @Html.TruncateWithTooltip(company, 15, "right")
                                </label>
                            </div>
                        }
                    </div>

                    <div class="col-md-9">
                        <div id="graph-container"></div>

                        <div id="graph-footer" class="clearfix">
                            @Html.Action("RelationshipsStats", "Relationships", new { displayNodes = (Model.GraphNodes.Count > 20 || Model.GraphNodes.Count(n => (int)n.Value.RelationshipImportance > 3) > 10) })
                            <div class="checkbox">
                                <label>
                                    <input id="link-toggle" type="checkbox"> Toggle links
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-@(Model.IsFramework ? "12" : "5")" style="margin-bottom: 10px">
            <div class="row business-card-container">
                <div class="col-md-10 col-md-offset-1">
                    <div></div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <ul class="nav nav-tabs" role="tablist" id="relationships-tabs">
                <li role="presentation" class="@(Model.CreateMode ? "active" : "")"><a href="#businesscard" aria-controls="businesscard" role="tab" data-toggle="tab">Biz Card</a></li>
                <li role="presentation" class="@(!Model.IsLeaver && !Model.CreateMode ? "active" : "")"><a href="#ongoing" aria-controls="ongoing" role="tab" data-toggle="tab">Ongoing</a></li>
                @*FIX AC-77*@
                @if (packageState.Equals("Triggered"))
                {
                    <li role="presentation" class="@(Model.IsLeaver && !Model.CreateMode ? "active" : "")"><a href="#leaver" aria-controls="leaver" role="tab" data-toggle="tab">Leaving</a></li>
                }
                @if (Model.ShowManagingTab)
                {
                    <li role="presentation">
                        <a class="offset" href="#management" aria-controls="management" role="tab" data-toggle="tab">Managing</a>
                    </li>
                }
            </ul>
            <div class="panel panel-secondary">
                <div class="panel-heading display-table">
                    <div class="vertical-cell text-left">
                        @if (!string.IsNullOrEmpty(Model.Person.FullName))
                        {
                            @Html.Raw(Html.TruncateWithTooltip(Model.Person.FullName, 15))
                        }
                    </div>
                </div>

                <div class="panel-body">
                    @Html.ValidationSummary()

                    <div class="tab-content">

                        <div class="tab-pane @(Model.CreateMode ? "active" : "")" role="tabpanel" id="businesscard">

                            <business-card-editor class="clearfix"
                                                  id="id"
                                                  CompanyGuid="companyGUID"
                                                  person-title="personTitle"
                                                  title-options="@Json.Encode(personTitles)"
                                                  first-name="firstName"
                                                  last-name="lastName"
                                                  image-id="imageId"
                                                  position="position"
                                                  managed="managed"
                                                  other-company-id="'@(new Guid("{014F775C-8B77-48F3-8F3E-3B539405E8AF}").ToString())'"
                                                  other-company="otherCompany"
                                                  other-company-name="otherCompanyName"
                                                  company="company"
                                                  company-id="companyId"
                                                  company-options="@Json.Encode(Model.Person.Companies.Select(i => new { Id = i.Value, Name = i.Text }))"
                                                  email="email"
                                                  telephone="telephone"
                                                  management="management"
                                                  intro-required="introRequired">
                            </business-card-editor>

                        </div>

                        <div class="tab-pane @(Model.IsLeaver && !Model.CreateMode ? "active" : "")" role="tabpanel" id="leaver">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.PersonFormNote })
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", rows = 3 }.WithAttrIf("disabled", "", Model.ReadOnly))
                                @Html.ValidationMessageFor(model => model.Notes)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StrengthOfRelationship)
                                @Html.DropDownListFor(
                                model => model.StrengthOfRelationship,
                                Model.StrengthOfRelationship.ToSelectList(),
                                new { @class = "form-control", data_toggle_state = "#ImproveReason", data_enable_val = MomentumPlus.Core.Models.Contact.Strength.Improve }
                                    .WithAttrIf("disabled", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.StrengthOfRelationship)
                            </div>

                            <div class="form-group @(Model.StrengthOfRelationship != MomentumPlus.Core.Models.Contact.Strength.Improve ? "hidden" : "")">
                                @Html.LabelFor(model => model.ImproveReason)
                                @Html.TextAreaFor(
                                model => model.ImproveReason,
                                new { @class = "form-control", rows = 2 }
                                    .WithAttrIf("disabled", "", Model.ReadOnly || Model.StrengthOfRelationship != MomentumPlus.Core.Models.Contact.Strength.Improve)
                                )
                                @Html.ValidationMessageFor(model => model.ImproveReason)
                            </div>

                            <div class="form-group">
                                <label class="control-label">Best Time To Contact</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcMon) M</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcTue) T</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcWed) W</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcThu) T</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcFri) F</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcSat) S</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcSun) S</label>
                                        <br />
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcAm) AM</label>
                                        <label class="checkbox-inline">@Html.CheckBoxFor(model => model.BttcPm) PM</label>
                                        <label class="checkbox-inline">@Html.CheckBox("BttcAll") Select All</label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IntroRequired)
                                @if (Model.Meetings != null && Model.Meetings.Any(m => m.MeetingTypeId == new Guid("e72d15ef-bd12-49ab-b15b-269edf6a891b")))
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-default"
                                                    type="submit"
                                                    name="Redirect"
                                                    value="EditMeeting/@Model.Meetings.FirstOrDefault(m => m.MeetingTypeId == new Guid("e72d15ef-bd12-49ab-b15b-269edf6a891b")).ID"
                                                    @(Model.ReadOnly ? "disabled=\"disabled\"" : null)>
                                                Edit Meeting
                                            </button>
                                            <button class="btn btn-danger"
                                                    type="submit"
                                                    name="Redirect"
                                                    value="DeleteIntro">
                                                Delete Meeting
                                            </button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.IntroRequired)
                                }
                                else
                                {
                                    @Html.DropDownListFor(
                                    model => model.IntroRequired,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Yes", Value = true.ToString()},
                                        new SelectListItem {Text = "No", Value = false.ToString()}
                                    },
                                    new { @class = "form-control", @ng_model = "introRequired" }
                                        .WithAttrIf("disabled", "", Model.ReadOnly)
                                    )
                                }
                            </div>

                            <div class="form-group relationship-start">
                                @Html.LabelFor(model => model.StartDate)
                                @Html.EditorFor(m => m.StartDate, "DateTime", new { endDate = DateTime.Now.ToShortDateString() })
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>

                            <div class="form-group relationship-start">
                                <input id="relationship-length" class="form-control text-center" type="text" readonly>
                            </div>

                            <div class="form-group">
                                <label>Tasks</label>
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTasksMenu })
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.Partial("_TasksEditor", Model)
                                    </div>
                                </div>
                            </div>

                            @if (!Model.IsFramework)
                            {
                                @*<div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.EmployeeCopyRequest) Employee Copy?
                                        </label>
                                    </div>
                                </div>*@

                                @Html.EditorFor(model => model, "ReviewableViewModel", new { horizontalForm = false })

                            }
                        </div>

                        <div class="tab-pane @(Model.IsLeaver || Model.CreateMode ? "" : "active")" role="tabpanel" id="ongoing">

                            <div class="row hidden">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Person.Title)
                                        @Html.DropDownListFor(
                                        model => model.Person.Title,
                                        new SelectList(personTitles),
                                        null,
                                        new { @class = "form-control", ng_model = "personTitle" }.WithAttrIf("disabled", "", Model.ReadOnly)
                                        )
                                        @Html.ValidationMessageFor(model => Model.Person.Title)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Person.FirstName)
                                        @Html.TextBoxFor(
                                        model => model.Person.FirstName,
                                        new { @class = "form-control", @ng_model = "firstName" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                        )
                                        @Html.ValidationMessageFor(model => model.Person.FirstName)
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div id="update-profile-image" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Click to upload new picture">
                                        <div class="wrapper">
                                            <img src="@(Model.Person.ImageId.HasValue ? Url.Action("Get", "Image", new {area = "", id = Model.Person.ImageId}) : "/Content/img/profile-image-placeholder.png" )" alt="@Model.Person.FullName" class="person-image" />
                                            <input id="@Html.IdFor(model => model.Person.ImageId)" name="ProfileImage" type="file" class="form-control" accept="image/*" @(Model.ReadOnly ? "disabled" : "") />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Person.LastName)
                                @Html.TextBoxFor(
                                model => model.Person.LastName,
                                new { @class = "form-control", @ng_model = "lastName" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.Person.LastName)
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Person.CompanyId)
                                <div id="company-dropdown">
                                    @Html.DropDownListFor(
                                    model => model.Person.CompanyId,
                                    Model.Person.Companies,
                                    "",
                                    new { @class = "form-control combobox" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                    )
                                    @Html.ValidationMessageFor(model => model.Person.CompanyId)
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.Person.OtherCompany, new { ng_model = "otherCompany" }.WithAttrIf("readonly", "", Model.ReadOnly))Company not listed
                                    </label>
                                </div>
                            </div>

                            <div class="form-group collapse hidden" id="new-company">
                                @Html.LabelFor(model => model.Person.OtherCompanyName)
                                @Html.TextBoxFor(
                                model => model.Person.OtherCompanyName,
                                "",
                                new { @class = "form-control", @ng_model = "otherCompanyName" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.Person.OtherCompanyName)
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Person.Position)
                                @Html.TextBoxFor(
                                model => model.Person.Position,
                                new { @class = "form-control", @ng_model = "position" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.Person.Position)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IndirectRelationshipContactId)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.PersonFormDirect })
                                <div id="isIndirect">
                                    @Html.DropDownListFor(
                                    model => model.IndirectRelationshipContactId,
                                    Model.Contacts,
                                    "Direct",
                                    new { @class = "form-control combobox", @ng_model = "indirectId", ng_change = "changeIndirect()" }
                                        .WithAttrIf("disabled", "", Model.ReadOnly)
                                    )
                                    @Html.ValidationMessageFor(model => model.IndirectRelationshipContactId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RelationshipImportance)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.PersonFormImportance })
                                @Html.DropDownListFor(
                                model => model.RelationshipImportance,
                                Model.RelationshipImportance.ToSelectList(),
                                new { @class = "form-control", ng_model = "relationshipImportance", ng_change = "changeRelationshipImportance()" }
                                    .WithAttrIf("disabled", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.RelationshipImportance)
                            </div>

                            <div class="form-group hidden">
                                @if (Model.Person is MomentumPlus.Activate.Web.Models.People.UserViewModel)
                {
                                    <label>Login/Email *</label>
                                }
                                else
                                {
                                    @Html.LabelFor(model => model.Person.Email)
                                }
                                @Html.TextBoxFor(
                                model => model.Person.Email,
                                new { @class = "form-control", @ng_model = "email" }.WithAttrIf("readonly", "", Model.ReadOnly || Model.Person.UserMode)
                                )
                                @Html.ValidationMessageFor(model => model.Person.Email)
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Person.Phone)
                                @Html.TextBoxFor(
                                model => model.Person.Phone,
                                new { @class = "form-control", @ng_model = "telephone" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.Person.Phone)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Person.Mobile)
                                @Html.TextBoxFor(
                                model => model.Person.Mobile,
                                new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.Person.Mobile)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SearchTags)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.StaffFormSearchTags })
                                <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                                       value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" />
                                @Html.ValidationMessageFor(m => m.SearchTags)
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="management">
                            @if (!Model.IsFramework)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.Managed, new { ng_model = "managed" }) I am responsible for this Person
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="employment-status">
                                    @Html.LabelFor(model => model.EmploymentStatus)
                                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.StaffFormEmploymentStatus })
                                    @Html.DropDownListFor(
                                    model => model.EmploymentStatus,
                                    new SelectList(new[] { "Full Time", "Part Time", "Contractor", "Other" }),
                                    "",
                                    new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                                    )
                                    @Html.ValidationMessageFor(model => model.EmploymentStatus)
                                </div>
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.FutureTraining)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.StaffFormFutureTraining })
                                @Html.TextAreaFor(
                                model => model.FutureTraining,
                                new { @class = "form-control", rows = 3 }.WithAttrIf("disabled", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.FutureTraining)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ManagementNotes)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.StaffFormManagementNotes })
                                @Html.TextAreaFor(
                                model => model.ManagementNotes,
                                new { @class = "form-control", rows = 3 }.WithAttrIf("disabled", "", Model.ReadOnly)
                                )
                                @Html.ValidationMessageFor(model => model.ManagementNotes)
                            </div>
                        </div>

                        @Html.Partial("_VoiceMessagesAttachmentsVertical", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.Contact } })

                        @if (!Model.IsFramework && Model.IsLeaver)
                        {
                            @Html.EditorFor(model => model, "ModeratedViewModelVertical")
                        }

                        @Html.Partial("_RequiredField", 0)

                        @if (!Model.CreateMode)
                        {
                            <p>
                                word count: <strong>@Model.NotesWordCount</strong>
                                |
                                subjectivity count: <strong>@Model.NotesSubjectivity</strong>
                            </p>
                        }
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="text-right">
                        @SaveClose()
                        @if (!Model.CreateMode)
                        {
                        <a href="@Url.Action("RetireRelationship", "Relationships", new {id = Model.ID})" class="btn btn-danger pull-left @(Model.Deleted.HasValue ? "hidden" : "")">Remove</a>
                        <a href="@Url.Action("ResumeRelationship", "Relationships", new {id = Model.ID})" class="btn btn-primary pull-left @(!Model.Deleted.HasValue ? "hidden" : "")">Resume</a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts
{
    @Html.Partial("_BusinessCard")
    @Scripts.Render("~/bundles/relationships.js")
    @Scripts.Render("~/Content/js/business-cards.js")
    <script>
        $.cookie("relationships-index", "@ViewBag.urlAction");
        ACTIVATE.initialiseRelationshipsGraph(
            "@Model.PackageOwnerId",
            "@(Model.DefaultCompanyId != null && Model.DefaultCompanyId.HasValue ? Model.DefaultCompanyId.Value.ToString() : "")",
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GraphNodes)),
            {
                static: true
            }
        );
    </script>
}
