﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.People.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose(bool showAddPackage = false)
{
    <div class="vertical-cell text-right">
        @if(!Model.ReadOnly)
        {
            <button type="submit" class="btn btn-primary">Save</button>
            
            @*if (showAddPackage && !Model.UserMode)
            {
                <button type="submit" class="btn btn-primary" name="Redirect" value="CreatePackage">Save & Add Pack</button>
            }*@
        }
        @if (!Model.UserMode)
        {
            <a href="@AppSession.Current.EmployeeFormReturnUrl" class="btn btn-danger">Close</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Summary", new { area = "Home" })" class="btn btn-danger">Close</a>
        }
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @(Model.UserMode ? "My Details" : "Employee")
                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProfileHeader })
            </div>

            @SaveClose()
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            
            @Html.HiddenFor(m => m.ID)

            @Html.EditorFor(model => model, "PersonViewModel")

            <div class="form-group">
                @Html.LabelFor(m => m.Mobile, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Mobile)
                </div>
            </div>

            @if (Model.UserMode)
            {
                @Html.HiddenFor(model => model.RoleId)
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.RoleId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.RoleId, Model.Roles, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.RoleId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DefaultPositionId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.DefaultPositionId, Model.Positions, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.DefaultPositionId)
                    </div>
                </div>
            }

            @if (Model.CreateMode)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "" }.WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control", placeholder = "" }.WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.PasswordConfirm)
                    </div>
                </div>
            }
            else
            {
                if (!Model.ReadOnly)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-8">
                            @if (Model.IsAdminEdit)
                            {
                                <a href="@Url.Action("ChangePasswordAdmin", "Employees", new {id = Model.ID})" class="btn btn-primary">Change Password</a>
                            }
                            else
                            {
                                <a href="@Url.Action("ChangePassword", new {id = Model.ID})" class="btn btn-primary">Change Password</a>
                            }
                        </div>
                    </div>
                }
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.DisplayTooltips, new {}.WithAttrIf("disabled", "", Model.ReadOnly)) Show Tooltips
                            @Html.ValidationMessageFor(m => m.DisplayTooltips)
                        </label>
                    </div>
                </div>
            </div>

            @if (Html.TimeManipulationToolEnabled())
            {
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.EnableTimeManipulationTool, new {}.WithAttrIf("disabled", "", Model.ReadOnly)) Enable Time Manipulation Tool for Session
                                @Html.ValidationMessageFor(m => m.EnableTimeManipulationTool)
                            </label>
                        </div>
                    </div>
                </div>
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            <div class="vertical-cell">
                @if (!Model.CreateMode && !Model.UserMode)
                {
                    <a href="@Url.Action("RetireEmployee", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
                    <a href="@Url.Action("ResumeEmployee", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
                }
            </div>

            @SaveClose(true)
        </div>
    </div>
}
