﻿@model MomentumPlus.Activate.Web.Models.Error
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-sm-12">
        @Model.Message
    </div>
</div>

