﻿<!doctype html>
<html lang="en-gb">
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>momentum+ Activate | Error</title>

    @* Favicon *@
    @* For IE 9 and below. ICO should be 32x32 pixels in size *@
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    @* Touch Icons - iOS and Android 2.1+ 152x152 pixels in size *@
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    @* Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size *@
    <link rel="shortcut icon" href="/favicon.png">
    
<link href="/Content/common/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="/Content/common/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet"/>
<link href="/Content/common/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet"/>
<link href="/Content/common/bootstrap-tokenfield/bootstrap-tokenfield.css" rel="stylesheet"/>
<link href="/Content/common/d3-tip/styles.css" rel="stylesheet"/>
<link href="/Content/common/typeaheadjs.css" rel="stylesheet"/>
<link href="/Content/css/overrides.css" rel="stylesheet"/>
<link href="/Content/css/custom.css" rel="stylesheet"/>
<link href="/Content/css/print.css" rel="stylesheet"/>
<link href="/Content/css/menu.css" rel="stylesheet"/>

</head>
<body>
    
    <header class="margin-bottom" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" title="momentum+ | Activate" class="logo-container">
                        <h1 class="momentum"><span class="sr-only">momentum+</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <main role="main">
        <div class="container">
            <div class="row">
                
                 
<article class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="h4">An error has occurred</span>
        </div>

        <div class="panel-body">
             <p><a href="/">Click here to return to the home page.</a></p>
             <p>If this problem persists please contact <a href="mailto:rupesh@ihandover.co">rupesh@ihandover.co</a></p>
        </div>
    </div>
</article>
            </div>
        </div>
    </main>

    
    <script src="/Content/common/jquery-1.11.1.js"></script>
<script src="/Content/common/jquery.cookie.js"></script>
<script src="/Content/common/bootstrap/js/bootstrap.js"></script>
<script src="/Content/common/bootstrap-combobox/js/bootstrap-combobox.js"></script>
<script src="/Content/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/common/bootstrap-tokenfield/bootstrap-tokenfield.js"></script>
<script src="/Content/common/snap.js"></script>
<script src="/Content/common/typeahead.bundle.js"></script>
<script src="/Content/common/angular/angular.js"></script>
<script src="/Content/common/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="/Content/js/activate.js"></script>

    
</body>
</html>
