﻿@using MomentumPlus.Activate.Services
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Helpers
@using MomentumPlus.Activate.Web.Models

@model MomentumPlus.Activate.Web.Models.PackageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ReadOnly"] = Model.ReadOnly;
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading">Pack</div>

        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(m => m.ID)

            @if (!Model.CreateMode)
            {
                <span class="input-group-btn">
                    @if (Model.Handover == null && !Model.ReadOnly)
                    {
                            @Html.ActionLink(
                                             "Create Handover",
                                        "Create",
                                        "Handover",
                                        new { area = "", id = Model.ID },
                                        new { @class = "btn pull-right btn-default" })
                    }
                    else if (Model.Handover != null)
                    {
                        @Html.ActionLink(
                                        "Edit Handover",
                                        "Edit",
                                        "Handover",
                                        new { area = "", id = Model.ID },
                                             new { @class = "btn pull-right btn-default" }
                                    )
                    } else if ((string)ViewBag.IsLineManager == "true")
                        {
                            @Html.ActionLink(
                                             "Create Handover",
                                        "Create",
                                        "Handover",
                                        new { area = "", id = Model.ID },
                                        new { @class = "btn pull-right btn-default disabled" })
                        }
                </span>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.PackageStatus, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Html.PackageStatusLabel(Model.ID)
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Ancestor, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.Ancestor != null)
                        {
                            @Model.Ancestor.Name
                        }
                        else
                        {
                            <span> - </span>
                        }
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserOwnerId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UserOwnerId, Model.UserOwners, "Select a package owner...", new { @class = "form-control combobox" }
                        .WithAttrIf("disabled", "", Model.ReadOnly || Model.Editing))
                    @Html.ValidationMessageFor(m => m.UserOwnerId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PositionId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        m => m.PositionId,
                        Model.Positions,
                        "Select a position...",
                        new { @class = "form-control combobox" }
                            .WithAttrIf("disabled", "", Model.ReadOnly || Model.Editing)
                    )
                    @Html.ValidationMessageFor(m => m.PositionId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.WorkplaceId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.WorkplaceId, Model.Workplaces, "Select a workplace...", new { @class = "form-control combobox" }
                        .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.WorkplaceId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserLineManagerId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UserLineManagerId, Model.UserLineManagers, "Select a line manager...", new { @class = "form-control combobox" }
                     .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.UserLineManagerId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserHRManagerId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UserHRManagerId, Model.UserHRManagers, "Select an HR manager...", new { @class = "form-control combobox" }
                        .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.UserHRManagerId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    Default Package Items
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ContactIds, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.ListBoxFor(
                        model => model.ContactIds,
                        Model.FrameworkContacts,
                        new { @class = "form-control selectpicker", data_live_search = "true", data_title = "" }
                            .WithAttrIf("disabled", "", Model.ReadOnly || Model.Editing)
                    )
                    @Html.ValidationMessageFor(m => m.ContactIds)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProjectIds, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.ListBoxFor(
                        model => model.ProjectIds,
                        Model.FrameworkProjects,
                        new { @class = "form-control selectpicker", data_live_search = "true" }
                 .WithAttrIf("disabled", "", Model.ReadOnly || Model.Editing || !Model.ProjectsEnabled).WithAttrIf("title", "Projects Module is not enabled for this position", !Model.ProjectsEnabled)
                    )
                    @Html.ValidationMessageFor(m => m.ProjectIds)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.StartDate)
                    @Html.ValidationMessageFor(m => m.StartDate)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Handover Set</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <p class="form-control-static">
                            @if (Model.Handover != null)
                            {
                                @Model.Handover.Created.ToShortDateString()
                            }
                            else
                            {
                                <span> - </span>
                            }
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Finish Date</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.Handover != null && Model.Handover.LeavingPeriodViewModel.LastDay.HasValue)
                        {
                            @Model.Handover.LeavingPeriodViewModel.LastDay.Value.ToShortDateString()
                        }
                        else
                        {
                            <span> - </span>
                        }
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Exit Duration</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.Handover != null)
                        {
                            @Model.Handover.LeavingPeriodViewModel.NoticePeriod.GetDescription()
                        }
                        else
                        {
                            <span> - </span>
                        }
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Pick-up</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.Handover != null && Model.Handover.OnboardingPeriodViewModel.Package != null)
                        {
                            @Model.Handover.OnboardingPeriodViewModel.Package.UserOwner.FullName
                        }
                        else
                        {
                            <span> - </span>
                        }
                    </p>
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-4 text-left">
                    @if (!Model.CreateMode)
                    {
                        <a href="@Url.Action("RetirePackage", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
                        <a href="@Url.Action("ResumePackage", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
                    }
                </div>

                <div class="col-sm-8 text-right">
                    @if (!Model.ReadOnly)
                    {
                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                    <a href="@AppSession.Current.PackageFormReturnUrl" class="btn btn-danger">Close</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/package-form.js")
}