﻿@model MomentumPlus.Activate.Web.Models.Requests.ProjectInstanceTransferRequestViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
    @Html.HiddenFor(model => model.ProjectInstanceId)
    @Html.HiddenFor(model => model.TransferSourceId)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Package to Package Transfer</div>
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="ItemName">
                        Source Package
                    </label>
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectTransferFormSourcePackage })
                </div>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ItemName">@Model.ProjectInstance.Package.DisplayName</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="ProjectName">
                        Source Project
                    </label>
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectTransferFormSourceProject })
                </div>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ProjectName">
                        @Model.ProjectInstance.Project.Name
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(m => m.DestinationId)
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectTransferFormTargetPackage })
                </div>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.DestinationId, Model.Packages, "Select package...", new { @class = "form-control combobox" })
                    @Html.ValidationMessageFor(m => m.DestinationId)
                </div>
            </div>

            @if (!Model.CreateMode)
            {
                @Html.EditorFor(model => model, "ModeratedViewModel")
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <a href="@AppSession.Current.ProjectTransferFormReturnUrl" class="btn btn-danger">Cancel</a>

                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("CancelRequest", "Request", new { area = "", id = Model.ID })" class="btn btn-danger"
                       data-confirm-link="Are you sure you would like to cancel the transfer request?">
                        Cancel Transfer Request
                    </a>
                }

                <button type="submit" class="btn btn-primary" id="project-transfer-confirmation">Save</button>
            </div>
        </div>
    </div>
}
