﻿@using MomentumPlus.Activate.Web.Extensions
@using Newtonsoft.Json
@using AccountConfig = MomentumPlus.Activate.Web.Helpers.AccountConfig
@model MomentumPlus.Activate.Web.Models.ProjectInstanceViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.NewProjectRequest != null && !Model.NewProjectRequest.IsApproved())
    {
      ViewBag.ProjectNeedsAdminApproval = true;
    }
    var packageState = "InProgress";
    if (Model.ID != Guid.Empty)
    {
      packageState = PackageState.GetState(Model.ID);
    }



}

@helper SaveClose()
{
  <div class="vertical-cell text-right">
    @if (!Model.ReadOnly)
    {
    <button type="submit" class="btn btn-primary" onclick="return beforeApproveProject();">Save</button>
    <a href="@AppSession.Current.ProjectInstanceFormReturnUrl" class="btn btn-danger">Close</a>
    }
    else
    {
    <button type="submit" class="btn btn-danger">Close</button>
    }
  </div>
}

@using (Html.BeginForm(
                                      ViewContext.RouteData.Values["action"].ToString(),
                                      ViewContext.RouteData.Values["controller"].ToString(),
                                      FormMethod.Post,
                                      new { @class = "form-horizontal", role = "form" }
                                    ))
{
  @Html.AntiForgeryToken()

  @Html.HiddenFor(model => model.ID)

  <div class="panel panel-secondary">
    <div class="panel-heading display-table">
      <div class="vertical-cell">
        @(Model.CreateMode ? "Create" : "Edit") Project
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectCardFormHeader })
      </div>

      @SaveClose()
    </div>

    <div class="panel-body">
      @Html.ValidationSummary()

      @if (Model.Project != null)
      {
      <h4>
        Project: @Model.Project.Name
        @if (!string.IsNullOrWhiteSpace(Model.Project.ProjectId))
                    {
        @: (@Model.Project.ProjectId)
                    }
      </h4>
      }

      <div class="panel panel-primary @(Model.Project.ReadOnly ? "collapsed" : "expanded")">
        <div class="panel-heading">
          @if (Model.Project.ReadOnly)
          {
          <span class="glyphicon glyphicon-triangle-right"></span>
          }
          else
          {
          <span class="glyphicon glyphicon-triangle-bottom"></span>
          }
          <a data-toggle="collapse" href="" data-target="#projectDetails" aria-expanded="false">Project Details</a>
        </div>
        <div class="collapsible@(Model.Project.ReadOnly ? "  collapse" : "  collapse in")" id="projectDetails">
          <div>
            @Html.EditorFor(model => model.Project)
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.RoleId)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectCardFormMyRole })
        </div>
        <div class="col-sm-10">
          @Html.DropDownListFor(
                        model => model.RoleId,
                        Model.Roles,
                        "",
                        new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                    )
          @Html.ValidationMessageFor(model => model.RoleId)
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.Notes)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectCardFormHandoverNotes })
        </div>
        <div class="col-sm-10">
          @Html.TextAreaFor(
                        model => model.Notes,
                        new { @class = "form-control", rows = 3 }
                            .WithAttrIf("readonly", "", Model.ReadOnly)
                        )
          @Html.ValidationMessageFor(model => model.Notes)
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.Priority)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectCardFormPriority })
        </div>
        <div class="col-sm-10">
          @Html.DropDownListFor(
                        model => model.Priority,
                        EnumHelper.GetSelectList(typeof(MomentumPlus.Core.Models.ProjectInstance.ProjectInstancePriority)),
                        null,
                        new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                    )
          @Html.ValidationMessageFor(model => model.Notes)
        </div>
      </div>

      @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.ProjectInstance } })

      @Html.Partial("_Meetings", Model)

      @Html.Partial("_Tasks", Model)



      @if (packageState.Equals("Triggered") || @Model.UserIsLineManager || @Model.UserIsClientAdmin || @Model.UserIsHrManager)
      {
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              @Html.CheckBoxFor(model => model.ReadyForReview)

              Ready For Review?

              @Html.ValidationMessageFor(model => model.ReadyForReview)
            </label>
          </div>
        </div>
      </div>
      }


      @if (packageState.Equals("Triggered"))
      {
      @Html.EditorFor(model => model, "ModeratedViewModel")
      }

      @Html.Partial("_RequiredField")
    </div>
    <div class="panel-footer display-table">
      <div class="vertical-cell">
        @if (!Model.CreateMode && !Model.ApprovalMode)
                {
        <a href="@Url.Action("TransferProjectCard", new {id = Model.ID})" class="btn btn-default">Transfer</a>
        <a href="@Url.Action("RetireProjectCard", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
        <a href="@Url.Action("ResumeProjectCard", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
        }
      </div>
      @SaveClose()
    </div>
  </div>
}

@section Scripts
    {
  @Scripts.Render("~/bundles/topics.js")

  <script type="text/javascript">
    function beforeApproveProject()
    {

      var tasksCount = '@Model.TasksCount';

      var meetingsCount = '@Model.MeetingsCount';

      var isApproved = $('input[name="LineManagerDecision"]:checked', 'form').val();


      if (isApproved === "Approved" && tasksCount <= 0 || isApproved === "Approved" && meetingsCount <= 0)
      {

        var message = "Are you sure you want to approve this project?";

        if (tasksCount <= 0 && meetingsCount >= 1)
        {
          message = "Your team member has added no tasks to this project, are you sure you want to approve this project for handover?";
        }

        if (meetingsCount <= 0 && tasksCount >= 1)
        {
          message = "Your team member has added no meetings to this project, are you sure you want to approve this project for handover?";
        }


        if (meetingsCount <= 0 && tasksCount <= 0)
        {
          message = "Your team member has added no tasks or meetings to this project, are you sure you want to approve this project for handover?";
        }


        var selection = confirm(message);
        if (selection)
          return true;
        else
          return false;
      }


      return true;
    }
  </script>



}
