﻿@model MomentumPlus.Activate.Web.Models.Requests.ProjectInstanceRoleChangeRequestViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Role Change Request</div>
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                <label for="PackageName" class="col-sm-2 control-label">
                    Package
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="PackageName">@Model.Package.DisplayName</p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="ProjectName" class="col-sm-2 control-label">
                    Project
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ProjectName">@Model.ProjectInstance.Project.Name</p>
                </div>
            </div>

            <div class="form-group">
                <label for="ProjectName" class="col-sm-2 control-label">
                    Role Change
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ProjectName">
                        @(Model.OldRole != null ? Model.OldRole.Title : "Blank Role")
                        to
                        @(Model.NewRole != null ? Model.NewRole.Title : "Blank Role")
                    </p>
                </div>
            </div>

            @if (!Model.CreateMode)
            {
                @Html.EditorFor(model => model, "ModeratedViewModel")
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <a href="@AppSession.Current.ProjectInstanceRoleChangeFormReturnUrl" class="btn btn-danger">Cancel</a>

                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("CancelRequest", "Request", new { area = "", id = Model.ID })" class="btn btn-danger">
                        Cancel Transfer Request
                    </a>
                }
                
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

