﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        @if (!Model.ReadOnly)
        {
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Projects")" class="btn btn-danger">Close</a>
        }
        else
        {
            <button type="submit" class="btn btn-danger">Close</button>
        }
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @(Model.CreateMode ? "Create" : "Edit") Project
                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormHeader })
            </div>

            @SaveClose()
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(model => model.RoleId)
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormMyRole })
                </div>
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        model => model.RoleId,
                        Model.Roles,
                        "",
                        new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                    )
                    @Html.ValidationMessageFor(model => model.RoleId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(model => model.Notes)
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormHandoverNotes })  
                </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(
                        model => model.Notes,
                        new { @class = "form-control", rows = 3 }
                            .WithAttrIf("readonly", "", Model.ReadOnly)
                    )
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>
            </div>

            @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.Project } })

            @Html.Partial("_RequiredField")
        </div>
        <div class="panel-footer display-table">
            <div class="vertical-cell">
                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("RetireProject", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" :"")>Retire</a>
                    <a href="@Url.Action("ResumeProject", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
                }
            </div>
            @SaveClose()
        </div>
    </div>
}