﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.Requests.StaffTransferRequestViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
    @Html.HiddenFor(model => model.TransferSourceId)
    @Html.HiddenFor(model => model.ContactId)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Package to Package Transfer</div>
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()
            
            <div class="form-group">
                <label for="ItemName" class="col-sm-2 control-label">
                    Source Package
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ItemName">@Model.Package.DisplayName</p>
                </div>
            </div>

            <div class="form-group">
                <label for="StaffName" class="col-sm-2 control-label">
                    Source Person
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="StaffName">@Model.Contact.FullName</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DestinationId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        m => m.DestinationId,
                        Model.Packages,
                        "Select package...",
                        new { @class = "form-control combobox" }
                            .WithAttrIf("disabled", "", Model.ApprovalMode)
                    )
                    @Html.ValidationMessageFor(m => m.DestinationId)
                </div>
            </div>

            @if (Model.ApprovalMode)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.DestinationContactId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(
                            m => m.DestinationContactId,
                            Model.Contacts,
                            "Select relationship...",
                            new { @class = "form-control combobox" }
                        )
                        @Html.ValidationMessageFor(m => m.DestinationContactId)
                    </div>
                </div>
            }

            @if (!Model.CreateMode)
            {
                @Html.EditorFor(model => model, "ModeratedViewModel")
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <a href="@AppSession.Current.StaffTransferFormReturnUrl" class="btn btn-danger">Cancel</a>

                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("CancelRequest", "Request", new { area = "", id = Model.ID })" class="btn btn-danger"
                        data-confirm-link="Are you sure you would like to cancel the transfer request?">
                        Cancel Transfer Request
                    </a>
                }

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}
