﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Helpers
@model MomentumPlus.Activate.Web.Models.TaskViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var packageState = "InProgress";
    if (Model.ID != Guid.Empty)
    {
      packageState = PackageState.GetState(Model.ID);
    }
}

<style>
  #task-form > div > div.panel-body > div:nth-child(6) > div > a
  {
    margin-top: 5px;
  }
</style>

@helper SaveClose()
{
  <div class="vertical-cell text-right">
    @if (!Model.ReadOnly || Model.OnboarderMode)
    {
    <button type="submit" class="btn btn-primary">Save</button>
      <a href="@AppSession.Current.TaskFormReturnUrl" class="btn btn-danger">Close</a>
    }
    else
    {
    <button type="submit" class="btn btn-danger">Close</button>
    }
  </div>
}


@using (
                            // Post to action method with the same name as the current action
                            // in the current controller.
                            Html.BeginForm(
                                ViewContext.RouteData.Values["action"].ToString(),
                                ViewContext.RouteData.Values["controller"].ToString(),
                                FormMethod.Post,
                                new { @class = "form-horizontal", role = "form", id = "task-form" }
                            )
                        )
{
  <input type="hidden" id="refresh" value="no" />

  <div class="panel panel-secondary">
    <div class="panel-heading display-table">
      <div class="vertical-cell">
        @Model.TopicName - @(Model.CreateMode ? "Create" : "Edit") Task
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFormMenu })
      </div>
      @SaveClose()
    </div>

    @Html.AntiForgeryToken()

    <input type="hidden" name="ID" value="@Model.ID" />
    @Html.HiddenFor(model => model.TopicId)
    @Html.HiddenFor(model => model.ProjectInstanceId)
    @Html.HiddenFor(model => model.ContactId)

    <div class="panel-body">
      @Html.ValidationSummary()

      <div class="form-group">
        <label class="col-sm-2 control-label">
          Topic
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromTopic })
        </label>
        <div class="col-sm-8">
          <p class="form-control-static col-sm-8">
            @Model.TopicName
          </p>
        </div>
        @TaskFlagging.GetTaskFlag(Model)
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.Name)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromName })
        </div>
        <div class="col-sm-10">
          @Html.TextBoxFor(
                        model => model.Name,
                        new { @class = "form-control", placeholder = "Task Name" }
                            .WithAttrIf("readonly", "", Model.ReadOnly)
                    )
          @Html.ValidationMessageFor(model => model.Name)
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="Handover">@(packageState.Equals("InProgress") || (!Model.OnboarderMode && packageState.Equals("New")) ? "Handover Note" : "Onboarder Note")</label>
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromHandover })
        </div>
        <div class="col-sm-10">
          @Html.TextAreaFor(
                        model => model.Handover,
                        new { @class = "form-control", rows = 3 }
                .WithAttrIf("readonly", "", (Model.OnboarderMode))
                    )
          @Html.ValidationMessageFor(model => model.Handover)
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.Notes)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromNotes })
        </div>
        <div class="col-sm-10">
          @Html.TextAreaFor(
                        model => model.Notes,
                        new { @class = "form-control", rows = 3 }
                    .WithAttrIf("readonly", "", (!Model.OnboarderMode))
                    )
          @Html.ValidationMessageFor(model => model.Notes)
        </div>
      </div>

      @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.Task } })

      @if (!Model.Fixed.HasValue && Model.IsLeavingPackageState)
      {
        <div class="form-group">
          <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.WeekDue)
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromWeekDue })
          </div>
          <div class="col-sm-10">
            @*<input type="number" id="WeekDue" name="WeekDue" class="form-control" value="@Model.WeekDue" readonly="@Model.ReadOnly" />*@
            @Html.DropDownListFor(model => model.WeekDue, Model.WeekDueListItems, new { @class = "form-control" }.WithAttrIf("readonly", "readonly", Model.ReadOnly))
            @Html.ValidationMessageFor(model => model.WeekDue)
          </div>
        </div>
      }
      else
      {
        @Html.HiddenFor(model => model.WeekDue)
      }


      @if (Model.IsLeavingPackageState)
      {

        <div class="form-group">
          <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.Fixed)
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromFixedDateTime })
          </div>
          <div class="col-sm-10">
            @Html.EditorFor(model => model.Fixed, "DateTimeWithTime", new { ReadOnly = !Model.Fixed.HasValue || Model.ReadOnly })
            @*@Html.EditorFor(model => model.Fixed, "DateTimeWithTime", new { ReadOnly = false })*@
            @* Fixed date will be generated after handover period lock **@
            @Html.ValidationMessageFor(model => model.Fixed)
          </div>
        </div>
      }


      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.Priority)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromPriority })
        </div>
        <div class="col-sm-10">
          @Html.DropDownListFor(
                        model => model.Priority,
                        Model.Priority.ToSelectList(),
                        new { @class = "form-control" }
                            .WithAttrIf("disabled", "", Model.ReadOnly)
                    )
          @Html.ValidationMessageFor(model => model.Priority)
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          @Html.LabelFor(model => model.SearchTags)
          @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromSearchTags })
        </div>
        <div class="col-sm-10">
          <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                 value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" disabled="@Model.ReadOnly" />
          @Html.ValidationMessageFor(model => model.SearchTags)
        </div>
      </div>

      <fieldset @(!Model.ReadOnly && Model.FrameworkItem ? "" : "disabled")>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                @Html.CheckBoxFor(model => model.IsCore) Core Task
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      @if (!Model.ReadOnly && !Model.FrameworkItem && Model.IsLeavingPackageState)
      {
        @Html.EditorFor(model => model, "ReviewableViewModel")
        if (packageState.Equals("Triggered"))
        {
        @Html.EditorFor(model => model, "ModeratedViewModel")
        }
      }

      @if (Model.ReadOnly)
      {
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                @Html.CheckBoxFor(model => model.Complete) Task Complete
              </label>
            </div>
          </div>
        </div>
      }

      @if (Model.CompleteDate.HasValue)
      {
      <div class="row">
        <p class="col-sm-offset-2 col-sm-10">
          <strong>
            @String.Format("Completed on {0:dd-MMM-yyyy}", @Model.CompleteDate)
          </strong>
        </p>
      </div>
      }



      @Html.Partial("_RequiredField")
    </div>
    <div class="panel-footer display-table">
      <div class="vertical-cell">
        @if (!Model.CreateMode && Model.FrameworkItem)
                {
          <a href="@Url.Action("RetireTask", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
              <a href="@Url.Action("ResumeTask", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
        }

        @if (!Model.CreateMode &&
                                   !Model.FrameworkItem &&
                                   RoleAuthHelper.PackageTransfer_Controller_General.Contains(AppSession.Current.CurrentUser.Role.RoleParsed.ToString()))
        {
          <a href="@Url.Action("Index", "PackageTransfer", new { area = "", taskId = Model.ID })" class="btn btn-default">Transfer</a>
        }
      </div>

      <div class="vertical-cell text-right">
        @if (!Model.CreateMode)
                {
          <span>
            word count: <strong>@Model.NotesWordCount</strong>
            |
            subjectivity count: <strong>@Model.NotesSubjectivity</strong>
          </span>
        }
      </div>

      @SaveClose()
    </div>
  </div>
}