﻿@model MomentumPlus.Activate.Web.Models.TopicViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.PrevTopic == null)
{
    @Html.Partial("_TopicForm")
}
else
{
    <div class="row" id="cloning-form">
        <div class="col-md-6">
            @Html.Partial("_TopicForm", Model.PrevTopic)
        </div>
        <div class="col-md-6">
            @Html.Partial("_TopicForm", Model)
        </div>
    </div>
}

@section Scripts
{
    @if (Model.PrevTopic != null)
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/cloning.js")
        <script>
            ACTIVATE.initialiseCloningForm('@Model.ID');
        </script>
    }

    @System.Web.Optimization.Scripts.Render("~/bundles/topics.js")
}
