﻿@model MomentumPlus.Activate.Web.Models.ExitSurveySectionTemplate

@{
    var viewData = new ViewDataDictionary();
    viewData.Add("lineManagerMode", Model.IsLineManagerMode);
}

@foreach (var sectionItem in Model.Sections)
{
    <section class="panel panel-primary clearfix expanded">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-target=".collapse-group-section@(sectionItem.Number)">
            <div class="panel-heading display-table" style="cursor: pointer;">
                <div class="vertical-cell">
                    @sectionItem.Name
                </div>
                <div class="vertical-cell text-right">
                    @Html.Action("CompleteStatus", "ExitSurvey", new { sectionId = sectionItem.SectionId, userId = Model.UserId })
                </div>
            </div>
        </div>
        <div id="questionContainer@(sectionItem.SectionId.ToString())" class="table-responsive collapsible collapse-group-section@(sectionItem.Number) collapse">
            @Html.Partial("~/Views/ExitSurvey/Shared/_QuestionForView.cshtml", sectionItem.QuestionList, viewData)
        </div>
    </section>
}
