﻿@model MomentumPlus.Activate.Web.Models.ExitSurveyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            @using (Html.BeginForm("CreateSurvey", "ExitSurvey", FormMethod.Post, new { @id = "createExitSurvey" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ExitSurveyId)
                @Html.HiddenFor(m => m.IsSave)

                <div class="panel panel-heading">
                    <div class="vertical-cell text-right">
                        <button disabled type="button" data-toggle="tooltip" value="True" data-original-title="Before save enter survey name" data-placement="top" tabindex="-1"
                                class="btn btn-primary" id="saveSurvey">
                            Save
                        </button>
                        <a href="@Url.Action("Index", "ExitSurvey")" class="btn btn-danger" id="close-survey">Close</a>
                    </div>
                </div>
                <fieldset>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="view-package">
                                Enter survey name
                            </label>
                            @Html.TextBoxFor(m => m.ExitSurveyName, new { @class = "form-control", id = "exitSurveyName" })
                        </div>
                        <div class="form-group">
                            <label for="view-package">
                                Edit survey description
                            </label>
                            @Html.TextArea("ExitSurveyDescription", Model.ExitSurveyDescription, new { @class = "form-control", id = "exitSurveyDescription", rows = 6, style = "resize: none; width: 100%;" })
                        </div>
                        <div id="taget-div" class="form-group" style="height: auto; min-height: 50%;">
                            @if (Model.Sections != null)
                            {
                                foreach (var section in Model.Sections)
                                {
                                    @Html.Partial("~/Views/ExitSurvey/Shared/_Section.cshtml", section)
                                }
                            }
                            <button disabled id="addSection" type="button" value="False" class="btn btn-default" data-toggle="tooltip"
                                    data-original-title="Before adding a new section will be done automatically save this survey" data-placement="top" tabindex="-1">
                                <span class="glyphicon glyphicon-plus">
                                </span>
                            </button>
                            @if (Model.AllQuestions != null && Model.AllQuestions.Any())
                            {
                                <div class="block">
                                    <label for="view-package">
                                        New section
                                    </label>
                                    <div class="row no-margin">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                                            @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div id="section" class="section-question">
                                        <div class="col-sm-4">Select question to this section</div>
                                        <div class="col-sm-8">
                                            @Html.ListBoxFor(m => m.Questions, Model.AllQuestions, new { @class = "form-control selectpicker", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </fieldset>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {

                        $("#saveSurvey").click(function () {
                            $("#IsSave").val($(this).val());
                            $("#createExitSurvey").submit();
                        });

                        $("#addSection").click(function () {
                            $("#IsSave").val($(this).val());
                            $("#createExitSurvey").submit();
                        });

                        if ($("#exitSurveyName").val() !== "") {
                            $("#saveSurvey").removeAttr("disabled");
                            $("#addSection").removeAttr("disabled");
                        } else {
                            $("#saveSurvey").attr("disabled", "");
                            $("#addSection").attr("disabled", "");
                        }

                        $("#exitSurveyName").on("input", $.debounce(200, function () {
                            if ($(this).val() !== "") {
                                $("#saveSurvey").removeAttr("disabled");
                                $("#addSection").removeAttr("disabled");
                            } else {
                                $("#saveSurvey").attr("disabled", "");
                                $("#addSection").attr("disabled", "");
                            }
                        }));

                        $(".arrow-up").click(function () {
                            var _this = $(this);
                            var dataId = _this.attr("data-id");
                            var item = $('.ordering-item[data-id="' + dataId + '"]');
                            var prevItem = item.prev();
                            if ($(prevItem).hasClass("ordering-item")) {
                                var clone = $(item).clone(true, true);
                                var prevItemPosition = $("input", prevItem).attr("position");
                                $("input", prevItem).attr("position", (Number(prevItemPosition) + 1));
                                var clonePosition = $("input", clone).attr("position");
                                $("input", clone).attr("position", (Number(clonePosition) - 1));
                                $(item).remove();
                                $(clone).insertBefore(prevItem);
                                var dataid = $(clone).attr("data-id");
                                var config = dataid.split("_");
                                updatePosition(config[0]);
                            }
                        });

                        $(".arrow-down").click(function () {
                            var _this = $(this);
                            var dataId = _this.attr("data-id");
                            var item = $('.ordering-item[data-id="' + dataId + '"]');
                            var nextItem = $(item).next();
                            if ($(nextItem).hasClass("ordering-item")) {
                                var nextItemPosition = $("input", nextItem).attr("position");
                                $("input", nextItem).attr("position", (Number(nextItemPosition) - 1));
                                var clone = $(item).clone(true, true);
                                var clonePosition = $("input", clone).attr("position");
                                $("input", clone).attr("position", (Number(clonePosition) + 1));
                                $(item).remove();
                                $(clone).insertAfter(nextItem);
                                var dataid = $(clone).attr("data-id");
                                var config = dataid.split("_");
                                updatePosition(config[0]);
                            }
                        });

                        function updatePosition(sectionId) {
                            var orderBox = $('.ordering-box[data-id="' + sectionId + '"]');
                            var orderItem = $(".ordering-item", orderBox);
                            var result = [];
                            for (var i = 0; i < orderItem.length; i++) {
                                var dataid = $(orderItem[i]).attr("data-id");
                                var position = $("input", orderItem[i]).attr("position");
                                var config = dataid.split("_");
                                var item = {
                                    SectionId: sectionId,
                                    QuestionId: config[1],
                                    Position: position
                                };
                                result.push(item);
                            }
                            $.ajax({
                                url: "/ExitSurvey/SavePosition",
                                method: "POST",
                                data: {
                                    resultJSON: JSON.stringify(result)
                                },
                                success: function (res) { }
                            });
                        }
                    });
                </script>
            }
        </section>
    </div>
</div>