﻿@model IEnumerable<MomentumPlus.Activate.Web.Models.ExitSurveyViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading panel-heading-icon-right">
                Survey list
                <a href="@Url.Action("CreateSurvey", "ExitSurvey")" class="icon-right">
                        <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Survey name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var survey in Model)
                            {
                                <tr>
                                    <td>@survey.ExitSurveyName</td>
                                    <td>
                                        <a href="@Url.Action("EditSurvey", "ExitSurvey", new { exitSurveyId = survey.ExitSurveyId })">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>