﻿@model MomentumPlus.Activate.Web.Models.MyExitSurveyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body panel panel-default">
    <section id="report-cover" class="panel panel-default">
        <div class="panel-body a4 text-center">
            <div class="form-horizontal">
                <div class="form-group">
                    <h3>Exit Survey</h3>
                </div>
            </div>
        </div>
    </section>
    <a style="text-decoration: none;" href="@(Model.HasAccess || Model.ReadMode ? Url.Action("ViewSurvey", "ExitSurvey", new { exitSurveyId = Model.ExitSurveyId, userOwnerId = Model.UserId }) : string.Empty)">
        <div class="panel-heading panel-primary">
            <div class="panel-heading display-table" style="cursor: pointer;">
                <div class="vertical-cell">
                    Complete Exit Survey online
                </div>
            </div>
        </div>
    </a>
    <a style="text-decoration: none;" href="@(Model.HasAccess || Model.ReadMode ? Url.Action("ViewExitSurveyReport", "Reports", new { exitSurveyId = Model.ExitSurveyId, area = "" }) : string.Empty)">
        <div class="panel-heading panel-primary">
            <div class="panel-heading display-table" style="cursor: pointer;">
                <div class="vertical-cell">
                    Download Exit Survey PDF
                </div>
            </div>
        </div>
    </a>
</div>