﻿@model MomentumPlus.Activate.Web.Models.ExitSurveyForViewViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewData = new ViewDataDictionary();
    viewData.Add("lineManagerMode", Model.IsLineManagerMode);
}
<div class="panel-body panel panel-default" id="exitSurveyInterview">
    <script src="~/Content/common/jquery-3.1.1.js"></script>
    @Html.Partial("~/Views/ExitSurvey/Shared/_CoverExitSurvey.cshtml", Model.Description)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ExitSurveyId)
    @Html.HiddenFor(m => m.IsOwnerSurvey)
    @Html.HiddenFor(m => m.IsHRManagerMode)
    @Html.HiddenFor(m => m.IsLineManagerMode)
    @Html.HiddenFor(m => m.SubmitType)
    @Html.HiddenFor(m => m.CanSubmit)
    @Html.HiddenFor(m => m.ReadMode)
    <div id="newContent">
        @foreach (var sectionItem in Model.Sections)
        {
            <section class="panel panel-primary clearfix expanded">
                <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-target=".collapse-group-section@(sectionItem.Number)">
                    <div class="panel-heading display-table" style="cursor: pointer;">
                        <div class="vertical-cell">
                            @sectionItem.Name
                        </div>
                        <div class="vertical-cell text-right">
                            @Html.Action("CompleteStatus", "ExitSurvey", new { sectionId = sectionItem.SectionId, userId = Model.UserId })
                        </div>
                    </div>
                </div>
                <div id="questionContainer@(sectionItem.SectionId.ToString())" class="table-responsive collapsible collapse-group-section@(sectionItem.Number) collapse">
                    @Html.Partial("~/Views/ExitSurvey/Shared/_QuestionForView.cshtml", sectionItem.QuestionList, viewData)
                </div>
            </section>
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="vertical-cell text-right">
                @if (Model.IsOwnerSurvey)
                {
                    <button type="button" @(Model.SubmitType == "UserSubmit" || Model.SubmitType == "HRManagerSubmit" ? "disabled='true'" : string.Empty) id="saveExitSurveyAnswers" class="btn btn-success">Save</button>
                    <button type="button" @(Model.SubmitType == "UserSubmit" || Model.SubmitType == "HRManagerSubmit" || !Model.CanSubmit ? "disabled='true'" : string.Empty) id="submitExitSurvey" class="btn btn-primary submit-survey" datatype="1">Submit</button>
                }
                @if (Model.IsHRManagerMode)
                {
                    <button type="button" @(Model.SubmitType == "UserSubmit" ? string.Empty : "disabled='true'") id="saveExitSurveyAnswers" class="btn btn-success">Save</button>
                    <button type="button" @(Model.SubmitType == "HRManagerSubmit" ? "disabled='true'" : string.Empty) id="submitForHR" class="btn btn-primary submit-survey" datatype="2">Submit</button>
                }
            </div>
        </div>
    </div>
    <script src="~/Content/js/exitSurvey.module.js"></script>
</div>