﻿@model MomentumPlus.Activate.Web.Models.ExitSurveyForViewViewModel

<div class="panel-body panel panel-default" style="pointer-events: none; overflow-x: hidden; overflow-y: hidden;">

    @Html.Partial("~/Views/ExitSurvey/Shared/_CoverExitSurvey.cshtml", Model.Description)

    @foreach (var sectionItem in Model.Sections)
    {
        <section class="panel panel-primary clearfix expanded">
            <div class="panel-heading" data-toggle="collapse">
                <div class="panel-heading display-table">
                    <div class="vertical-cell">
                        @sectionItem.Name
                    </div>
                </div>
            </div>
            <div id="questionContainer" class="table-responsive collapsible collapse-group-section@(sectionItem.Number)">
                @Html.Partial("~/Views/ExitSurvey/Shared/_QuestionReport.cshtml", sectionItem.QuestionList)
            </div>
        </section>
    }
</div>
