﻿@Scripts.Render("~/bundles/template.js")
<script type="text/ng-template" id="template-item-selector.html">
    <div class="panel panel-default">    
        <div class="panel-body"> 

            <div class="row margin-top">
                <div class="col-sm-3" ng-hide="coreTasks !== undefined || projects">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTopicGroups"
                                           ng-change="toggleAllTopicGroups(allTopicGroups);">
                                    Topic Group
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item" ng-repeat="topicGroup in topicGroups" ng-class="{active: topicGroup.isActive}">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="topicGroup.Enabled" ng-change="toggleTopicGroup(topicGroup)">
                                            <a href="" ng-click="selectTopicGroup(topicGroup);">
                                                {{topicGroup.Name}}
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                        
                <div class="col-sm-4" ng-hide="coreTasks !== undefined || projects">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTopics"
                                           ng-change="toggleAllTopics(allTopics);">
                                    Topics
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="margin-bottom" ng-show="isProcessesTopicGroup(activeTopicGroup)">
                                <label for="proLinkFunctions">Select Pro-Link Function(s)</label>
                                <select ng-model="selectedFunctions" ng-change="filterTopicsByFunction()" id="proLinkFunctions" class="selectpicker" multiple data-width="100%">
                                    <option ng-repeat="function in $parent.proLinkFunctions | orderBy: 'Text'" value="{{function.Value}}">{{function.Text}}</option>
                                    <option value="">Everything else</option>
                                </select>
                            </div>

                            <div class="list-group">
                                <div class="list-group-item" ng-repeat="topic in topicPage" ng-class="{active: topic.isActive}">
                                    <div class="checkbox" ng-style="{ width: topic.FunctionReferenceId ? '70%' : '100%'}">
                                        <label>
                                            <input type="checkbox" ng-model="topic.Enabled" ng-change="toggleTopic(topic)">
                                            <a href="" ng-click="selectTopic(topic);">
                                                {{topic.Name}}
                                            </a>
                                        </label>
                                    </div>
                                    <div class="pull-right">
                                        <span ng-show="topic.FunctionReferenceId" class="label label-default pull-right badging">Pro-Link</span>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <pagination class="pull-right"
                                    total-items="selectedTopicGroupTopics.length"
                                    items-per-page="pageSize"
                                    max-size="3"
                                    ng-model="topicPageNo"
                                    previous-text="&laquo;"
                                    next-text="&raquo;"
                                    ng-show="totalTopicPages > 1">
                        </pagination>
                    </section>
                </div>

                <div ng-class="{'col-sm-5': coreTasks === undefined, 'col-sm-12': coreTasks !== undefined}">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTasks"
                                           ng-change="toggleAllTasks(allTasks);">
                                    Tasks
                                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TemplateTasksHeader })
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item" style="overflow:auto" ng-repeat="task in taskPage" ng-if="!task.Deleted">
                                    <div class="checkbox" ng-style="{ width: isTaskProLink(topics,task.SourceParentReferenceId) || task.IsCore ? '75%' : '100%'}">
                                        <label>
                                            <input type="checkbox" ng-model="task.Enabled" ng-change="toggleTask(task)">
                                            @*<span ng-show="coreTasks !== undefined">{{task.ParentTopicName}} - </span>*@
                                            {{task.Name}}
                                        </label>
                                    </div>
                                    <div class="pull-right">
                                        <span style="clear: both" class="label label-default pull-right badging" ng-if="isTaskProLink(topics,task.SourceParentReferenceId)">Pro-Link</span>
                                        <span style="clear: both" class="label label-green pull-right badging" ng-if="task.IsCore">Core</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <pagination class="pull-right"
                                    total-items="selectedTopicTasks.length"
                                    items-per-page="pageSize"
                                    max-size="3"
                                    ng-model="taskPageNo"
                                    previous-text="&laquo;"
                                    next-text="&raquo;"
                                    ng-show="totalTaskPages > 1">
                        </pagination>
                    </section>
                </div>
            </div>
        </div>
    </div>
</script>
