﻿@Scripts.Render("~/bundles/template.js")
<script type="text/ng-template" id="template-item-selector.html">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3" ng-hide="coreTasks !== undefined || projects">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTopicGroups"
                                           ng-change="toggleAllTopicGroups(allTopicGroups);">
                                    Topic Group
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item" ng-repeat="topicGroup in topicGroups" ng-class="{active: topicGroup.isActive}">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="topicGroup.Enabled" ng-change="toggleTopicGroup(topicGroup)">
                                            <a href="" ng-click="selectTopicGroup(topicGroup);">
                                                {{topicGroup.Name}}
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                        
                <div class="col-sm-4" ng-hide="coreTasks !== undefined || projects">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTopics"
                                           ng-change="toggleAllTopics(allTopics);">
                                    Topics
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item" ng-repeat="topic in topicPage" ng-class="{active: topic.isActive}">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="topic.Enabled" ng-change="toggleTopic(topic)">
                                            <a href="" ng-click="selectTopic(topic);">
                                                {{topic.Name}}
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <pagination class="pull-right"
                                    total-items="selectedTopicGroupTopics.length"
                                    items-per-page="pageSize"
                                    max-size="3"
                                    ng-model="topicPageNo"
                                    previous-text="&laquo;"
                                    next-text="&raquo;"
                                    ng-show="totalTopicPages > 1">
                        </pagination>
                    </section>
                </div>

                <div ng-class="{'col-sm-5': coreTasks === undefined, 'col-sm-12': coreTasks !== undefined}" ng-hide="projects">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="allTasks"
                                           ng-change="toggleAllTasks(allTasks);">
                                    Tasks
                                </label>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item" ng-repeat="task in taskPage">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="task.Enabled" ng-change="toggleTask(task)">
                                            @*<span ng-show="coreTasks !== undefined">{{task.ParentTopicName}} - </span>*@
                                            {{task.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <pagination class="pull-right"
                                    total-items="selectedTopicTasks.length"
                                    items-per-page="pageSize"
                                    max-size="3"
                                    ng-model="taskPageNo"
                                    previous-text="&laquo;"
                                    next-text="&raquo;"
                                    ng-show="totalTaskPages > 1">
                        </pagination>
                    </section>
                </div>
            </div>
        </div>
    </div>
</script>
