﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.FrameworkTemplateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-inline" role="form"
    ng-controller="TemplateCtrl"
    ng-init="
        selectedTemplate = '@Model.SelectedTemplate';
        currentTemplate = '@Model.SelectedTemplate';
        criticalTopicGroups = @Json.Encode(Model.TemplateItemsCriticalTopicGroups);
        criticalTopics = @Json.Encode(Model.TemplateItemsCriticalTopics);
        criticalTasks = @Json.Encode(Model.TemplateItemsCriticalTasks);
        experiencesTopicGroups = @Json.Encode(Model.TemplateItemsExperiencesTopicGroups);
        experiencesTopics = @Json.Encode(Model.TemplateItemsExperiencesTopics);
        experiencesTasks = @Json.Encode(Model.TemplateItemsExperiencesTasks);
        coreTasks = getCoreTasks();
        enabledModules = {};
        enabledModules.experiences = @Json.Encode(Model.Template != null && Model.Template.ExperiencesEnabled);
        enabledModules.projects = @Json.Encode(Model.Template != null && Model.Template.ProjectsEnabled);
        enabledModules.people = @Json.Encode(Model.Template != null && Model.Template.PeopleManagementEnabled);
        proLinkFunctions = @Json.Encode(Model.ProLinkFunctions);
    "
    ng-cloak>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="row template-selector-controls">
        <div class="col-md-4 text-left">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedTemplate, new { @class = "control-label" })
                @Html.DropDownListFor(
                    model => model.SelectedTemplate,
                    Model.Templates,
                    new { @class = "form-control fixed-width", ng_change="changeTemplate()", ng_model="selectedTemplate" }
                )
            </div>

            <div class="form-group">
                @if (Model.SelectedTemplate.HasValue)
                {
                    <a href="@Url.Action("EditTemplate", new { id = Model.SelectedTemplate })" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                }
                <a href="@Url.Action("CreateTemplate")" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>

        @if (!Model.HideControls)
        {
            <div class="col-md-4 text-left">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="saveTemplateChanges" ng-click="saveChanges()" ng-disabled="saving">
                        <span ng-hide="saving">Save Changes</span>
                        <span ng-show="saving">Saving...</span>
                    </button>
                    <button type="reset" class="btn btn-danger" ng-click="clearChanges()" ng-disabled="saving">Clear Changes</button>
                </div>
            </div>

            <div class="col-md-4 text-right">
                <div class="form-group">
                    @Html.ActionLink("Transfer Topics/Tasks", "Transfer", new { selectedTemplate = Model.SelectedTemplate }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>

    @if(!Model.SelectedTemplate.HasValue)
    {
        <div class="alert alert-info" role="alert">
            Select Template
        </div>
    }

    @if (!Model.HideControls)
    {
        <tabset>
            <tab heading="Essentials">
                <template-item-selector topic-groups="criticalTopicGroups" topics="criticalTopics" tasks="criticalTasks">
                </template-item-selector>
            </tab>
            <tab heading="Core Tasks">
                <template-item-selector topic-groups="criticalTopicGroups" topics="criticalTopics" core-tasks="coreTasks">
                </template-item-selector>
            </tab>
            <tab>
                <tab-heading>
                    <div class="checkbox">
                        <label>
                            Relationships
                        </label>
                    </div>
                </tab-heading>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Relationships can be added during the package creation process.</p>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="enabledModules.experiences" ng-click="$event.stopPropagation()">
                            Achievements
                        </label>
                    </div>
                </tab-heading>
                <template-item-selector topic-groups="experiencesTopicGroups" topics="experiencesTopics" tasks="experiencesTasks">
                </template-item-selector>
            </tab>
            <tab>
                <tab-heading>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="enabledModules.projects" ng-click="$event.stopPropagation()">
                            Projects
                        </label>
                    </div>
                </tab-heading>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Projects can be added during the package creation process.</p>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="enabledModules.people" ng-click="$event.stopPropagation()">
                            Team Management
                        </label>
                    </div>
                </tab-heading>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Checking this box will enable the team management module for packages created using this template.</p>
                    </div>
                </div>
            </tab>
        </tabset>
    }
</form>

@section Scripts
{
    @if(AccountConfig.Settings.ProLinkEnabled)
    {
        @Html.Partial("_ProLinkTemplateScripts");
    }
    else
    {
        @Html.Partial("_TemplateScripts");
    }

}
