﻿@model MomentumPlus.Activate.Web.Models.TemplateViewModel

@using MvcSiteMapProvider.Web.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@AppSession.Current.TemplateFormReturnUrl" class="btn btn-danger">Close</a>
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @(Model.CreateMode ? "Create" : "Edit") Template
            </div>

            @SaveClose()
        </div>

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DurationDays, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        model => model.DurationDays,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "1 month", Value = "30" },
                            new SelectListItem { Text = "2 months", Value = "60" },
                            new SelectListItem { Text = "3 months", Value = "90" }
                        },
                        new { @class = "form-control" }
                        )
                    @Html.ValidationMessageFor(model => model.DurationDays)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            <div class="vertical-cell">
                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("RetireTemplate", new { id = Model.ID })" class="btn btn-danger" @(Model.Deleted.HasValue ? "disabled" : "")>Retire</a>
                    <a href="@Url.Action("ResumeTemplate", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>Resume</a>
                }
            </div>

            @SaveClose()
        </div>
    </div>
}
