﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.FrameworkTemplateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-inline" role="form" ng-controller="TemplateCtrl"
    ng-init="
        selectedTemplate = '@Model.SelectedTemplate';
        criticalTopicGroups = @Json.Encode(Model.TemplateItemsCriticalTopicGroups);
        criticalTopics = @Json.Encode(Model.TemplateItemsCriticalTopics);
        criticalTasks = @Json.Encode(Model.TemplateItemsCriticalTasks);
        experiencesTopicGroups = @Json.Encode(Model.TemplateItemsExperiencesTopicGroups);
        experiencesTopics = @Json.Encode(Model.TemplateItemsExperiencesTopics);
        experiencesTasks = @Json.Encode(Model.TemplateItemsExperiencesTasks);
    "
    ng-cloak>
    @*projects = @Json.Encode(Model.TemplateItemsProjects);*@

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedTemplate, "Source Template", new { @class = "control-label" })
                    @Html.DropDownListFor(
                        model => model.SelectedTemplate,
                        Model.Templates,
                        new { @class = "form-control", ng_change="changeTemplate()", ng_model="selectedTemplate" }
                    )
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.DestinationTemplate, new { @class = "control-label" })
                    @Html.DropDownListFor(
                        model => model.DestinationTemplate,
                        Model.Templates,
                        new { @class = "form-control", ng_model="destinationTemplate" }
                    )
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-primary" ng-click="transferTemplateItems()" ng-disabled="!destinationTemplate || saving">
                        <span ng-hide="saving">Transfer</span>
                        <span ng-show="saving">Transferring...</span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-danger" ng-disabled="saving">
                        Done
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel-body">
        <tabset>
            <tab heading="Essentials">
                <template-item-selector topic-groups="criticalTopicGroups" topics="criticalTopics" tasks="criticalTasks">
                </template-item-selector>
            </tab>
            <tab heading="Achievements">
                <template-item-selector topic-groups="experiencesTopicGroups" topics="experiencesTopics" tasks="experiencesTasks">
                </template-item-selector>
            </tab>
            @*<tab heading="Projects">
                <template-item-selector projects="projects">
                </template-item-selector>
            </tab>*@
        </tabset>
    </div>
</form>

@section Scripts
{
    @Html.Partial("_TemplateScripts")
}
