﻿@using RestSharp.Extensions
@model MomentumPlus.Activate.Web.Models.AttachmentViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var createMode = action == "Create";
}

<div class="panel panel-secondary">
    <div class="panel-heading">@(Model.CreateMode ? "Create" : "Edit") Attachment</div>

    @using (
        // Post to action method with the same name as the current action
        // in the current controller.
        Html.BeginForm(
            action,
            controller,
            FormMethod.Post,
            new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }
        )
    )
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ItemId)
        @Html.HiddenFor(model => model.ItemType)
        @Html.HiddenFor(model => model.FileId)
        @Html.HiddenFor(model => model.FileName)

        <div class="panel-body">
            <div class="form-group">
                <label for="@Model.Name" class="col-sm-2 control-label">
                    Name *
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.FileUploaderNameMenu })
                </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(
                        model => model.Name,
                        new {@class = "form-control"}
                        )
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label for="@Model.SearchTags" class="col-sm-2 control-label">
                    Search Tags
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.FileUploaderSearchTagsMenu })
                </label>
                <div class="col-sm-10">
                    <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                           value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" />
                    @Html.ValidationMessageFor(model => model.SearchTags)
                </div>
            </div>

            @if (!createMode && Model.FileId.HasValue)
            {
                <div class="form-group">
                    <label class="col-sm-2 control-label">Current File</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @if (Model.FileId.HasValue)
                            {
                                @Model.FileName
                                <a href="#" id="clear-file" data-attachment-type="upload"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                            else if (!string.IsNullOrEmpty(Model.FilePath))
                            {
                                <a href="@Model.FilePath" target="_blank">@Model.FilePath</a>
                                <a href="#" id="clear-file" data-attachment-type="location"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                        </p>
                    </div>
                </div>
            }

            @Html.HiddenFor(model => model.ChooseFileUpload)

            <div class="@(createMode || (!createMode && !Model.FileId.HasValue) ? "" : "hidden")" id="file-controls">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="radio-inline">
                            <input type="radio" name="fileUploadOptions" data-show-element="#file-upload" data-hide-element="#file-location" @(Model.ChooseFileUpload ? "checked" : "") id="file-upload-radio"> Upload file
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="fileUploadOptions" data-hide-element="#file-upload" data-show-element="#file-location" @(Model.ChooseFileUpload ? "" : "checked") id="file-location-radio"> Specify file location
                        </label>
                    </div>
                </div>

                <div class="form-group @(Model.ChooseFileUpload ? "" : "hidden")" id="file-upload">
                    <label class="col-sm-2 control-label">
                        File *
                        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.FileUploaderSelectFileMenu })
                    </label>
                    <div class="col-sm-10">
                        <input type="file" id="theFile" name="theFile" class="form-control" />
                        <div class="help-block">
                            <strong>File types allowed:</strong>
                            <ul class="list-inline list-comma-separated display-inline">
                                @foreach (var t in Model.FileTypes)
                                {
                                    <li>@t</li>
                                }
                            </ul>
                        </div>
                        @Html.ValidationMessageFor(model => model.PostedFile)
                    </div>
                </div>

                <div class="form-group @(Model.ChooseFileUpload ? "hidden" : "")" id="file-location">
                    @Html.LabelFor(model => model.FilePath, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(
                            model => model.FilePath,
                            new { @class = "form-control" }
                        )
                        @Html.ValidationMessageFor(model => model.FilePath)
                    </div>
                </div>
            </div>

            @Html.Partial("_RequiredField")

        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-6">
                @if (!Model.CreateMode && Model.ItemType == MomentumPlus.Activate.Web.Models.ItemType.Position)
                {
                    <a href="@Url.Action("RetireAttachment", new { id = Model.ID, itemId = Model.ItemId, type = Model.ItemType })" class="btn btn-danger"
                       @(Model.Deleted.HasValue ? "disabled" : "")>
                        Retire
                    </a>
                    <a href="@Url.Action("ResumeAttachment", new { id = Model.ID, itemId = Model.ItemId, type = Model.ItemType })" class="btn btn-primary"
                       @(!Model.Deleted.HasValue ? "disabled" : "")>
                        Resume
                    </a>
                }
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@AppSession.Current.AttachmentFormReturnUrl" class="btn btn-danger">Close</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/attachments.js")
}