﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AttachmentsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #content > main > div > div > article > div > div.panel-footer.clearfix > div.col-sm-10.text-right > a.glyphicon.glyphicon-question-sign.tooltip-click-area {
        position: absolute;
        margin-left: 560px;
        margin-top: 7px;
    }
</style>

<div class="panel panel-secondary">
    <div class="panel-heading">
        Attachments/Links for @Model.ItemType: @Model.ItemName
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AttachmentManagerTitleMenu })
    </div>

    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Added</th>
                    <th>File/Location</th>
                    <th>Tags</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Unlink</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var attachment in Model.Attachments)
                {
                    <tr>
                        <td>@attachment.Name</td>

                        <td class="text-center">
                            @if (attachment.FileId.HasValue)
                            {
                                <span class="glyphicon glyphicon-file" title="Upload"></span>
                            }
                            else if (!string.IsNullOrEmpty(attachment.FilePath))
                            {
                                <span class="glyphicon glyphicon-link" title="Link"></span>
                            }
                        </td>

                        <td class="text-center">@attachment.Created.ToShortDateString()</td>

                        <td>
                            @if (attachment.FileId.HasValue)
                            {
                                @:@attachment.FileName (@Html.ReadableFileSize(attachment.DataBinaryDataLength))
                            }
                            else if (!string.IsNullOrEmpty(attachment.FilePath))
                            {
                                @Html.TruncatedLink(attachment.FilePath)
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td>
                            @if (!string.IsNullOrWhiteSpace(attachment.SearchTags))
                            {
                                @attachment.SearchTags
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center">
                            @if (!Model.OnboarderView)
                            {
                                <a href="@Url.Action("Edit", new {id = attachment.ID, itemId = Model.ItemId, type = Model.ItemType})">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center">
                            @if (attachment.FileId.HasValue)
                            {
                                <a href="@Url.Action("Download", new { id = attachment.ID })" target="_blank">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                }

                @foreach (var document in Model.Documents)
                {
                    <tr>
                        <td>@document.Name</td>

                        <td class="text-center">
                            @if (document.Attachment.FileId.HasValue)
                            {
                                <span class="glyphicon glyphicon-file" title="Upload"></span>
                            }
                            else if (!string.IsNullOrEmpty(document.Attachment.FilePath))
                            {
                                <span class="glyphicon glyphicon-link" title="Link"></span>
                            }
                        </td>

                        <td class="text-center">@document.Created.ToShortDateString()</td>

                        <td>
                            @if (document.Attachment != null && document.Attachment.FileId.HasValue)
                            {
                                @:@document.Attachment.FileName (@Html.ReadableFileSize(document.Attachment.DataBinaryDataLength))
                            }
                            else if (document.Attachment != null && !string.IsNullOrEmpty(document.Attachment.FilePath))
                            {
                                @Html.TruncatedLink(document.Attachment.FilePath)
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td>
                            @if (!string.IsNullOrWhiteSpace(document.SearchTags))
                            {
                                @document.SearchTags
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>

                        <td class="text-center">
                            @if (document.Attachment != null && document.Attachment.FileId.HasValue)
                            {
                                <a href="@Url.Action("Download", new { id = document.Attachment.ID })" target="_blank">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center">
                            @if (!Model.OnboarderView)
                            {
                                <a href="@Url.Action("Unlink", new {id = document.ID, itemId = Model.ItemId, type = Model.ItemType})"
                                   data-confirm-link="Are you sure you want to unlink this document?">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        <div class="col-sm-2">
            <a href="@AppSession.Current.AttachmentManagerReturnUrl" class="btn btn-primary">Done</a>
        </div>

        <div class="col-sm-10 text-right">
            @if (!Model.OnboarderView)
            {
                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.MyPeopleAgedSummaryHeader })
                <a href="@Url.Action("Index", "DocumentLibrary", new {ItemId = Model.ItemId, ItemType = Model.ItemType})" class="btn btn-success">
                    Add From Library
                </a>
                <a href="@Url.Action("Create", new {id = Model.ItemId, type = Model.ItemType})" class="btn btn-success">Add new attachment</a>
            }
        </div>
    </div>
</div>