﻿@model MomentumPlus.Activate.Web.Models.CreateQuestionExitSurveyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading panel-heading-icon-right">
            </div>
            @using (Html.BeginForm())
            {
                <div class="panel-body table-responsive" style="min-height: 300px;">
                    <label>Type your question</label>
                    @Html.TextAreaFor(Model => Model.Name, new { @class = "form-control" })
                    <br />

                    @Html.DropDownListFor(m => m.TypeQuestion, new List<SelectListItem>
                    {
                        new SelectListItem { Text = MomentumPlus.Core.Models.QuestionTypes.Radio.ToString(), Value = "0" },
                        new SelectListItem { Text = MomentumPlus.Core.Models.QuestionTypes.Multi.ToString(), Value = "1" },
                        new SelectListItem { Text = MomentumPlus.Core.Models.QuestionTypes.Text.ToString(), Value = "2" },
                        new SelectListItem { Text = MomentumPlus.Core.Models.QuestionTypes.Rating.ToString(), Value = "3" }
                    }, new { title = "Please select", @class = "type-answer form-control", @id = "typeAnswer" })
                    <div class="counter-block" style="display: none;">
                        <label>Choose count of answer</label>
                        @Html.TextBox("countAnswer", null, new { @class = "form-control", type = "number", id = "countAnswer" })
                    </div>
                    <div class="answer-block">

                    </div>
                </div>
                <div class="panel-footer display-table">
                    <div class="vertical-cell text-right">
                        <button type="submit" id="save" class="btn btn-primary">Save</button>
                        <a href="@Url.Action("Index", "ExitSurveyQuestion")" class="btn btn-danger">Close</a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<style>
    .counter-block, .type-answer {
        margin-bottom: 20px;
    }
</style>