﻿@model List<MomentumPlus.Activate.Web.Models.ExitSurveyQuestionViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading panel-heading-icon-right">
                Question
                <a href="@Url.Action("CreateQuestion", "ExitSurveyQuestion")" class="icon-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type of question</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var question in Model)
                            {
                                <tr>
                                    <td>@question.Name</td>
                                    <td>@question.Type</td>
                                    <td><a href="@Url.Action("ViewQuestion", "ExitSurveyQuestion", new { questionId = question.QuestionId })"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
