﻿@using MomentumPlus.Activate.Web.Models
@model  ExitSurveyQuestionForViewViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading panel-heading-icon-right">
            </div>
            <div class="panel-body table-responsive">
                <label>Question text:</label>
                @Html.TextAreaFor(m => m.Name, new { @class = "form-control", @disabled = "true" })
                <br />
                <label>Answer type:</label>
                @Html.TextBoxFor(m => m.QuestionType, new { @class = "form-control", @disabled = "true" })
                <br/>
                @if (Model.QuestionType != QuestionTypeEnum.Text && Model.QuestionType != QuestionTypeEnum.Rating)
                {
                    foreach (var answer in Model.Answers)
                    {
                        @Html.TextBox("Answers", answer, new { @class = "form-control", @disabled = "true" })
                    }
                }
            </div>
            <div class="panel-footer display-table">
                <div class="vertical-cell text-right">
                    <a href="@Url.Action("Index", "ExitSurveyQuestion")" class="btn btn-danger">Close</a>
                </div>
            </div>
        </section>
    </div>
</div>