﻿@model MomentumPlus.Activate.Web.Models.ViewAsSelectorViewModel

@if (Model.IsAdmin)
{
    <div class="nav navbar-nav">
        <div id="master-package-selector" class="btn-group" data-dropdown>
            <button class="btn btn-select-pack navbar-btn dropdown-toggle" type="button" id="dropdown-global" data-ng-disabled="disabled">
                <strong>View as: @(string.IsNullOrEmpty(Model.SelectedUser) ? "Me" : Model.SelectedUser)</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-global">
                @if (Model.Users.Any())
                {
                    foreach (var user in Model.Users)
                    {
                        if (user.FirstName == "Me")
                        {
                            <li role="presentation">
                                @Html.ActionLink(user.FullName, "DeselectUser", null, new { role = "menuitem", tabindex = "-1" })
                            </li>
                        }
                        else
                        {
                            <li role="presentation">
                                @Html.ActionLink(user.FullName, "SelectUser", new { id = user.ID }, new { role = "menuitem", tabindex = "-1" })
                            </li>
                        }
                    }
                }
                else
                {
                    <li role="presentation"><a href="" role="menuitem" tabindex="-1">No users.</a></li>
                }
            </ul>
        </div>
    </div>
}