﻿@model MomentumPlus.Activate.Web.Models.MyPeopleViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models.Home
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Active Packs
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.MyPeopleAgedSummaryHeader })
                </h3>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 8%;">Status</th>
                        <th style="width: 35%;">
                            @Html.ActionLink("Package Owner", "Index", new RouteValueDictionary
                            {
                                {"agedSort", AgedItemViewModel.SortColumn.NameOwner},
                                {"agedSortAscending", !Model.Aged.SortAscending}
                            }.WithAttrIf("triggerSort", Model.Unapproved.Sort, Model.Unapproved.Sort != TriggerItemViewModel.SortColumn.NameOwner)
                                .WithAttrIf("triggerSortAscending", Model.Unapproved.SortAscending, !Model.Unapproved.SortAscending))
                        </th>
                        <th style="width: 22%;">
                            @Html.ActionLink("Position", "Index", new RouteValueDictionary
                            {
                                {"agedSort", AgedItemViewModel.SortColumn.Position},
                                {"agedSortAscending", !Model.Aged.SortAscending}
                            }.WithAttrIf("triggerSort", Model.Unapproved.Sort, Model.Unapproved.Sort != TriggerItemViewModel.SortColumn.NameOwner)
                                .WithAttrIf("triggerSortAscending", Model.Unapproved.SortAscending, !Model.Unapproved.SortAscending))
                        </th>
                        <th class="text-center" style="width: 32%;">
                            @Html.ActionLink("Last Updated", "Index", new RouteValueDictionary
                            {
                                {"agedSort", AgedItemViewModel.SortColumn.LastViewed},
                                {"agedSortAscending", !Model.Aged.SortAscending}
                            }.WithAttrIf("triggerSort", Model.Unapproved.Sort, Model.Unapproved.Sort != TriggerItemViewModel.SortColumn.NameOwner)
                                .WithAttrIf("triggerSortAscending", Model.Unapproved.SortAscending, !Model.Unapproved.SortAscending))
                        </th>
                        <th style="width: 3%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Aged.Items)
                    {
                        <tr data-soft-link="@Url.Action("ExaminePackage", "PackageSelector", new {area = "", id = item.PackageId})">
                            <td class="text-center" style="width: 8%; ">@Html.PackageStatusLabel(item.PackageId)</td>
                            <td style="width: 35%;">@item.NameOwner</td>
                            <td style="width: 22%;">@item.Position</td>
                            <td style="width: 32%;" class="text-center">@Html.LastViewedDate(item.LastViewed)</td>
                            <td style="width: 3%;"></td>
                            @*<td class="text-center">@Html.PackagePermissionsLabel(item.CurrentUserIsHr, item.CurrentUserIsLm)</td>*@
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            @Html.Pager(Model.Aged.PageSize, Model.Aged.PageNo, Model.Aged.TotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("agedPageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "agedPageNo" }))
                )
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Historic
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.MyPeopleLivePackagesHeader })
                </h3>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 8%;">Status</th>
                            <th style="width: 35%;">
                                @Html.ActionLink("Package Owner", "Index", new RouteValueDictionary
                        {
                            {"triggerSort", TriggerItemViewModel.SortColumn.NameOwner},
                            {"triggerSortAscending", !Model.Unapproved.SortAscending}
                        }.WithAttrIf("agedSort", Model.Aged.Sort, Model.Aged.Sort != AgedItemViewModel.SortColumn.NameOwner)
                            .WithAttrIf("agedSortAscending", Model.Aged.SortAscending, !Model.Aged.SortAscending))
                            </th>
                            <th style="width: 22%;">
                                @Html.ActionLink("Position", "Index", new RouteValueDictionary
                        {
                            {"triggerSort", TriggerItemViewModel.SortColumn.Position},
                            {"triggerSortAscending", !Model.Unapproved.SortAscending}
                        }.WithAttrIf("agedSort", Model.Aged.Sort, Model.Aged.Sort != AgedItemViewModel.SortColumn.NameOwner)
                            .WithAttrIf("agedSortAscending", Model.Aged.SortAscending, !Model.Aged.SortAscending))
                            </th>
                            <th class="text-center" style="width: 32%;">
                                @Html.ActionLink("Last Updated", "Index", new RouteValueDictionary
                        {
                            {"triggerSort", AgedItemViewModel.SortColumn.LastViewed},
                            {"triggerSortAscending", !Model.Aged.SortAscending}
                        }.WithAttrIf("agedSort", Model.Unapproved.Sort, Model.Unapproved.Sort != TriggerItemViewModel.SortColumn.NameOwner)
                            .WithAttrIf("agedSortAscending", Model.Unapproved.SortAscending, !Model.Unapproved.SortAscending))
                            </th>
                            <th style="width: 3%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var trigger in Model.Unapproved.Triggers)
                        {
                            <tr data-soft-link="@Url.Action("ExaminePackage", "PackageSelector", new {area = "", id = trigger.PackageId})">
                                <td class="text-center" style="width: 8%; ">@Html.PackageStatusLabel(trigger.PackageId)</td>
                                <td style="width: 35%;">@trigger.NameOwner</td>
                                <td style="width: 22%;">@trigger.Position</td>
                                <td style="width: 32%;" class="text-center">@Html.LastViewedDate(trigger.LastViewed)</td>
                                <td style="width: 3%;">
                                    @if (trigger.HandoverId.HasValue)
                                    {
                                        <a href="@Url.Action("Edit", "Handover", new {area = "", id = trigger.HandoverId}) ">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @Html.Pager(Model.Unapproved.PageSize, Model.Unapproved.PageNo, Model.Unapproved.TotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("triggersPageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "triggersPageNo" }))
            )
        </section>
    </div>
</div>