﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.SummaryViewModel

@using MomentumPlus.Activate.Web.Areas.Home.Models
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Helpers
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var events = [];
    var toDoNum = @Model.ToDo.TotalCount;
    var pageNo = @Model.ToDo.PageNo;
    var pageSize = @Model.ToDo.PageSize;
</script>

@{ 
    AppSession.Current.CurrentPackageId = Model.PackageId;
}
<div class="row" ng-cloak>
    <div class="col-sm-12" style="padding-top: 30px">
        @Html.Action("GetTimeline", "Timeline", new { area = "", packageId = Model.PackageId })
    </div>
    <div class="col-sm-12">   
        @if (Model.ShowApprovals)
        {
            <section class="panel panel-primary">
                <div class="panel-heading" style="font-size: 20px !important;color: white;font-weight: 700 !important;">
                    <span style="padding-left: 15px;">Approvals Summary</span>
                </div>
                <div class="panel-body">
                    <div class="row margin-bottom">
                        <div class="col-sm-5">
                            <strong>People Management</strong>
                        </div>
                        <div class="col-sm-7">
                            @if (Model.StaffTransferRequestCount > 0)
                            {
                                <a href="@Url.Action("Index", "Approvals", new {area = "", packageId = Model.PackageId})#people-approvals">
                                    @Model.StaffTransferRequestCount transferred
                                </a>
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <strong>Projects</strong>
                        </div>
                        <div class="col-sm-7">
                            @if (Model.NewProjectInstanceCount > 0 || Model.ProjectInstanceTransferRequestCount > 0 || Model.ProjectInstanceRoleChangeRequestCount > 0)
                            {
                                var items = new List<string>();

                                <a href="@Url.Action("Index", "Approvals", new {area = "", packageId = Model.PackageId})#project-approvals">
                                    @if (Model.NewProjectInstanceCount > 0)
                                    {
                                        items.Add(Model.NewProjectInstanceCount + " newly added");
                                    }
                                    @if (Model.ProjectInstanceTransferRequestCount > 0)
                                    {
                                        items.Add(Model.ProjectInstanceTransferRequestCount + " transferred");
                                    }
                                    @if (Model.ProjectInstanceTransferRequestCount > 0)
                                    {
                                        items.Add(Model.ProjectInstanceRoleChangeRequestCount + " role change");
                                    }

                                    @string.Join(", ", items)
                                </a>
                            }
                            else
                            {
                                @:-
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
    <div class="col-sm-12" style="padding-top: 30px">
        @Html.MvcSiteMap().Menu(
            "SummaryMenuHelperModel",
            startingNodeLevel: 2,
            maxDepth: 1)
    </div>
</div>

<div class="row" ng-cloak style="padding-top: 35px">
    @Html.Partial("Widgets", Model.Package)
</div>

<div class="modal fade" id="widget-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select a Widget</h4>
            </div>
            <div class="modal-body">
                <p>Please select a widget below to be added into your Package Summary view:-</p>
                <form>
                    <div class="form-group">
                        @Html.DropDownList(
                            "WidgetType",
                            Model.AllowedWidgetTypes,
                            "Please select...",
                            new { @class = "form-control" }
                        )
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="update-widget">Add</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/to-do-list.js")
}