﻿@using MomentumPlus.Activate.Web.Areas.Home.Models
@model MomentumPlus.Core.Models.Package



@helper RenderWidget(MomentumPlus.Core.Models.Package.Widget? widget, int widgetPosition)
{
if (widget.HasValue)
{
  var viewModel = new WidgetViewModel
  {
    WidgetType = widget.Value,
    PackageId = Model.ID,
    WidgetPosition = widgetPosition,
    Index = "1"
  };

  if (HttpContext.Current.Request.Cookies[String.Format("{0}-{1}", Model.ID, widget.Value.ToString())] != null)
  {
    viewModel.Index = HttpContext.Current.Request.Cookies[String.Format("{0}-{1}", Model.ID, widget.Value.ToString())].Value.ToString();
  }

  if (widget.Value == MomentumPlus.Core.Models.Package.Widget.MyAttachments)
  {
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    @Html.Action("MyAttachments", "Widgets", viewModel)
  </div>
  }
  else if (widget.Value == MomentumPlus.Core.Models.Package.Widget.MyPeople)
  {
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    @Html.Action("MyTeam", "Widgets", viewModel)
  </div>
  }
  else if (widget.Value == MomentumPlus.Core.Models.Package.Widget.MyProjects)
  {
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    @Html.Action("MyProjects", "Widgets", viewModel)
  </div>
  }
}
else
{

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="#" class="widget-placeholder" title="Add Widget"
       data-toggle="modal" data-target="#widget-modal"
       data-package-id="@Model.ID" data-widget-number="@widgetPosition">
      <img src="~/Content/css/images/Symbol_Activate_NEW.png" alt="Add Widget" />
    </a>
  </div>

}
}

@RenderWidget(Model.Widget1, 1)
@RenderWidget(Model.Widget2, 2)
@RenderWidget(Model.Widget3, 3)
