﻿@model MomentumPlus.Activate.Web.Models.ThingsToDoReportViewModel

@{
    var logoPath = "/Content/css/images/activate_logo_reports.png";
}

@if (Model.IsPdf)
{
    logoPath = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, logoPath);

    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/bootstrap/css/bootstrap.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/overrides.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/custom.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/print.css")))
    </style>
    <style>
        .a4
        {
            height: 750px;
            padding: 350px 0 0 0;
        }

        .panel-footer
        {
            display: none;
        }
    </style>
}

<section id="report-cover" class="panel panel-default page-break">
    <div class="panel-body a4 text-center">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label sr-only">Title:</label>
                <div class="col-sm-8">
                    <p class="report-logo">
                        <img src="@logoPath" alt="Momentum+" />
                        ACTIVATE&trade; Quick Summary
                    </p>
                </div>
            </div>

            @if (AccountConfig.Settings.Logo != null)
            {
                <div class="form-group">
                    <label class="col-sm-2 control-label sr-only">Title:</label>
                    <div class="col-sm-8">
                        <p class="company-logo">
                            <img src="@(Model.IsPdf ? string.Format("data:{0};base64,{1}", AccountConfig.Settings.Logo.ContentType, Convert.ToBase64String(AccountConfig.Settings.Logo.BinaryData)) : AccountConfig.Settings.Logo.ToString())" alt="" />
                        </p>
                    </div>
                </div>
            }

            @if (Model.Pickup != null)
            {
                <div class="form-group">
                    <label class="col-sm-6 col-xs-12 control-label text-right-r">Prepared for:</label>
                    <div class="col-sm-6 col-xs-12 text-left-r">
                        <p class="form-control-static">
                            @Model.Pickup.LastName, @Model.Pickup.FirstName
                        </p>
                    </div>
                </div>
            }

            <div class="form-group">
                <label class="col-sm-6 col-xs-12 control-label text-right-r">Prepared by:</label>
                <div class="col-sm-6 col-xs-12 text-left-r">
                    <p class="form-control-static">@Model.Package.UserOwner.LastName, @Model.Package.UserOwner.FirstName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 col-xs-12 control-label text-right-r">Date:</label>
                <div class="col-sm-6 col-xs-12 text-left-r">
                    <p class="form-control-static">@DateTime.Now.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
</section>
