﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <script>
        $(function () {
            var preventRefire = false;
            var headHeight = $("div.panel-heading").css("height");
            var tempHeadElement = $("div.panel-heading");
            var tableWidth = $("div.panel-heading");
            var tempTableTHeadElement = $("thead.table-thead-floatable");
            var mainheadBar = $("thead.table-thead-idle");
            var tempheadvis = false;

            var headElement = $("div#master-top-nav");
            var headElementBottom = (headElement.position().top + headElement.outerHeight(true));

            resetHead();

            var tableHeaderHeight = $("div.panel-heading").outerHeight(true);
            var tableActualWidth = $("div.panel-heading").outerWidth(true);

            tableActualWidth = $("div.panel-heading").outerWidth();

            $(window).resize(function () {
                if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                    resizeHead();
                }
            });



            $(document).bind("DOMMouseScroll mousewheel scroll keyup", function (e) {
                if (preventRefire) return;
                headElement = $("div#master-top-nav");
                headElementBottom = (headElement.position().top + headElement.outerHeight(true));

                preventRefire = true;
                setTimeout(function () { preventRefire = false; }, 10);
                if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                    resizeHead();
                }
                if ($(document).scrollTop() <= headElementBottom) {
                    resetHead();
                }
            });

            function resetHead() {
                tempTableTHeadElement.css("display", "none");
                tempheadvis = false;
            }
            function resizeHead() {
                tempTableTHeadElement.css("display", "block");
                tempTableTHeadElement.css("position", "fixed");
                tempTableTHeadElement.css("top", 0);
                tempTableTHeadElement.css("width", tableActualWidth + "px");
                tempTableTHeadElement.css("background-color", "white");
                tempTableTHeadElement.css("z-index", "9");
                tempheadvis = true;
                verifyTableElementWidths();
            }

            function verifyTableElementWidths() {
                tempMainHeadVar = mainheadBar.children("tr");
                var tempMainHeadVarElWidths = [];

                tempvar = tempTableTHeadElement.children("tr");
                tempMainHeadVar.children("th").each(function () {
                    tempMainHeadVarElWidths.push($(this).css("width"));
                });
                tempvar = tempTableTHeadElement.children("tr");
                var i = 0;
                tempvar.children("th").each(function () {
                    $(this).css("width", tempMainHeadVarElWidths[i]);
                    i++;
                });
            }

        });

    </script>

}
<section class="panel panel-default">
    <div class="panel-heading">
        Quick Summary Reports
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-thead-idle">
                <tr>
                    <th>
                        @Html.ActionLink(
                    "Last Name",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.LastName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "First Name",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.FirstName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Position",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Position},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Workplace",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Workplace},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th class="text-center">Meetings</th>
                    @*<th class="text-center">Essentials</th>
    <th class="text-center">Achievements</th>*@
                    <th class="text-center">Onboarding</th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
            </thead>

            <thead class="table-thead-floatable">
                <tr>
                    <th>
                        @Html.ActionLink(
                    "Last Name",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.LastName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "First Name",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.FirstName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Position",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Position},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Workplace",
                    "ThingsToDoReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Workplace},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th class="text-center">Meetings</th>
                    <th class="text-center">Onboarding</th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
            </thead>


            <tbody>
                @foreach (var package in Model.Packages)
            {
                if (package.AncestorPackageId.HasValue)
                {
                        <tr data-soft-link="@Url.Action("ViewThingsToDoReport", new { id = package.ID, ancestor = true })">
                            <td>
                                (Previous) - @package.UserOwner.LastName
                            </td>
                            <td>
                                @package.UserOwner.FirstName
                            </td>
                            <td>
                                @package.Position.Name
                            </td>
                            <td>
                                @package.Workplace.Name
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("ViewThingsToDoReport", new { id = package.ID, ancestor = true })#report-meetings">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("ViewThingsToDoReport", new { id = package.ID, ancestor = true })#report-onboarding">
                                    <span class="glyphicon glyphicon-send"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("DownloadThingsToDoReport", new { id = package.ID, ancestor = true })" target="_blank">
                                    <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                                </a>
                            </td>
                            <td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>
                        </tr>
                    }
                    <tr data-soft-link="@Url.Action("ViewThingsToDoReport", new { id = package.ID, ancestor = false })">
                        <td>
                            @package.UserOwner.LastName
                        </td>
                        <td>
                            @package.UserOwner.FirstName
                        </td>
                        <td>
                            @package.Position.Name
                        </td>
                        <td>
                            @package.Workplace.Name
                        </td>
                        <td class="text-center">
                            @if ((package.Handover != null && package.Handover.OnboardingPeriod != null && package.Handover.OnboardingPeriod.Locked.HasValue &&
                (package.Contacts.Any(c => c.Meetings.Any()) || package.Projects.Any(c => c.Meetings.Any())))
                    ||
                    (package.Contacts.Any(c => c.Meetings.Any(m => m.MeetingTypeId == Guid.Parse("E72D15EF-BD12-49AB-B15B-269EDF6A891B"))) || package.Projects.Any(p => p.Meetings.Any(m => m.MeetingTypeId == Guid.Parse("E72D15EF-BD12-49AB-B15B-269EDF6A891B")))))
                            {
                                <a href="@Url.Action("ViewThingsToDoReport", new {id = package.ID})#report-meetings">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            @if (package.Handover != null && package.Handover.OnboardingPeriod != null && package.Handover.OnboardingPeriod.Locked.HasValue)
                            {
                                <a href="@Url.Action("ViewThingsToDoReport", new {id = package.ID})#report-onboarding">
                                    <span class="glyphicon glyphicon-send"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("DownloadThingsToDoReport", new { id = package.ID })" target="_blank">
                                <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                            </a>
                        </td>
                        <td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
