﻿@model MomentumPlus.Activate.Web.Models.ThingsToDoReportViewModel
@using MomentumPlus.Activate.Services.Extensions
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Core.Models.Moderation
@using Newtonsoft.Json
@{
    
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var action = Model.IsAncestor ? "View" : "Edit";

    var showMeetings = Model.Meetings != null && Model.Meetings.Any();
    var showTasks = Model.Tasks != null && Model.Tasks.Any();
}

@helper Approved(Moderated moderated)
{
    if (moderated.IsApproved())
    {
        <span class="fa fa-thumbs-up text-info"></span>
    }
}

@if (Model.IsPdf)
{
    Layout = "~/Views/Reports/_PrintLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div id="report-top"></div>

    <div class="row">
        <div class="col-sm-6">
            <a href="@Url.Action("DownloadThingsToDoReport", new {id = Model.Package.ID, ancestor = Model.IsAncestor})" target="_blank"
               class="btn btn-custom btn-print margin-bottom margin-top">
                <span class="glyphicon glyphicon-save"></span>
                Download PDF
            </a>
        </div>
        @if (ViewBag.Tasklist != null)
        {
            <div class="col-sm-6">
                <a href="@Url.Action("Prioritisation", "Task", new { id = Model.Package.ID })"
                   class="btn btn-default margin-bottom margin-top pull-right">
                    Onboarding Tasklist Priority
                </a>
            </div>
        }
    </div>

    @Html.Partial("ThingsToDoReports/Cover", Model)

    <section id="report-toc" class="panel panel-default page-break">
        <div class="panel-heading clearfix">
            <h2 class="h2-custom">Table of Contents</h2>
            <a href="#report-top" title="Jump to the Top" class="pull-right">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>

        <div class="panel-body">
            <div class="row">
                <ul class="list-group col-sm-offset-1 col-sm-10">
                    <li class="list-group-item">
                        <span class="badge">Section 1</span>
                        <a href="#report-intro">
                            Introduction
                        </a>
                    </li>
                    @{
                        var sectionNumber = 2;
                    }
                    @if (showMeetings)
                    {
                        <li class="list-group-item">
                            <span class="badge">Section @sectionNumber</span>
                            <a href="#report-meetings">
                                Meetings
                            </a>
                        </li>

                        sectionNumber++;
                    }
                    <li class="list-group-item">
                        <span class="badge">Section @(sectionNumber++)</span>
                        <a href="#report-relationships">
                            Relationship Diagram
                        </a>
                    </li>
                    @if (showTasks && Model.IsLeavingPeriodLocked)
                    {
                        <li class="list-group-item">
                            <span class="badge">Section @sectionNumber</span>
                            <a href="#report-onboarding">
                                Onboarding
                            </a>
                        </li>

                        sectionNumber++;
                    }
                </ul>
            </div>
        </div>
    </section>
}

<section id="report-intro" class="panel panel-default page-break">
    <div class="panel-heading clearfix">
        <h2 class="h2-custom"><span class="page-number"></span> Introduction</h2>
        <a href="#report-top" title="Jump to the Top" class="pull-right">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>

    <div class="panel-body">
        <h3>Welcome to Activate&trade;</h3>
        <p>
            This is your ACTIVATE&trade; operational induction pack. As the new role handler there is much to do and I’m sure you’re
            looking forward to getting started. This report is a summary guide to the content in the on-line software. There are links throughout
            this document that will take you directly to the detail. To go directly to your Momentum+ login screen click on this web address:
            <a href="@Url.Action("Login", "Account", null, Request.Url.Scheme)">@Url.Action("Login", "Account", null, Request.Url.Scheme)</a>
        </p>

        <h3>Remote Support</h3>
        <p>
            Throughout the early days and weeks with  @AccountConfig.Settings.TenantFriendlyName the team at iHandover will be on hand to assist you with picking up Momentum+.
            @*Upon logging into see your profile you will find a <a href="@Url.Action("", "LiveChat", null, Request.Url.Scheme)">Live Chat function</a>.*@
            This is where your remote support begins; we're here to help you get the most out of your handover.

            Throughout your settling-in period, a Momentum+ advisor will be on hand to assist you in locating the supporting information for this handover.
        </p>

        @if (Model.Pickup != null)
        {
            <h3>User I.D. and Access</h3>
            <p>
                User I.D. @Model.Pickup.Email<br />
                Password: this is sent to the email account above
            </p>
        }

        <h3>Technical Support</h3>
        <p>
            If you are experiencing a technical issue with Momentum+&trade; please contact @AccountConfig.Settings.TechnicalSupport or I.T.
            Support in the first instance. Should you need further assistance please contact us through our on-line service at
            <a href="http://momentumplus.co/contact-us/" target="_blank">momentumplus.co/contact-us</a>, or by email at
            <a href="mailto:info@ihandover.co">info@ihandover.co</a>.
        </p>

        <h3>Feedback</h3>
        <p>
            We hope you've had a great experience using Momentum+.
            We're eager to improve the system, so if you have any questions or comments please contact us at <a href="mailto:info@ihandover.co">info@ihandover.co</a>
        </p>
    </div>
</section>

@if (showMeetings)
{
    var firstMeeting = Model.Meetings.First();

    @* Meetings *@
    <section id="report-meetings" class="panel panel-default page-break">
        <div class="panel-heading clearfix">
            <h2 class="h2-custom">
                <span class="page-number"></span> Meetings
            </h2>
            <a href="#report-top" title="Jump to the Top" class="pull-right">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>

        <div class="panel-body">
            @if (Model.IsOnboardingPeriodLocked)
            {
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="h3-custom">First Meeting</h3>
                    </div>

                    <div class="panel-body">
                        <p>This is scheduled to take place:</p>

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date/Time:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">@Html.DisplayFor(m => firstMeeting.Start, "ShortDateTimeWithDay")</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Details:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">@firstMeeting.ParentContact.Name - @firstMeeting.Name</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">@(!string.IsNullOrWhiteSpace(firstMeeting.Notes) ? firstMeeting.Notes : " - ")</p>
                                </div>
                            </div>
                        </div>

                        <p>Please prepare for this meeting by reading through this familiarising yourself with this document</p>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="h3-custom">First Meeting</h3>
                    </div>

                    <div class="panel-body">
                        <p>This is scheduled to take place:</p>

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date/Time:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">-</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Details:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">Onboarding period not locked</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">-</p>
                                </div>
                            </div>
                        </div>

                        <p>Please prepare for this meeting by reading through this familiarising yourself with this document</p>
                    </div>
                </div>
            }

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="h3-custom">Meeting Schedule</h3>
                </div>

                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-hover report-table">
                                <thead>
                                    <tr>
                                        <th>Meeting</th>
                                        <th class="text-centre">Date/Time</th>
                                        <th class="text-centre">Location</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var meeting in Model.Meetings)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("EditMeeting", "Relationships", new {area = "Home", id = meeting.ID}, Request.Url.Scheme)">
                                                    @meeting.ParentContact.Name - @meeting.Name
                                                </a>
                                            </td>

                                            <td class="text-centre">
                                                @if (meeting.Start != null)
                                                {
                                                    @Html.DisplayFor(m => @meeting.Start, "ShortDateTime")
                                                }
                                                else if (meeting.TargetWeek.HasValue)
                                                {
                                                    @:Week @meeting.TargetWeek.Value
                                            }
                                                else
                                                {
                                                    @:To be arranged
                                            }
                                            </td>
                                            <td class="text-centre">
                                                @if (!string.IsNullOrWhiteSpace(meeting.Location))
                                                {
                                                    @meeting.Location
                                                }
                                                else
                                                {
                                                    @: -
                                            }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>All TBA dates and times are to be discussed at the First Meeting with your manager.</p>
                </div>
            </div>
        </div>
    </section>
}

<section id="report-relationships" class="panel panel-default page-break">
    <div class="panel-heading clearfix">
        <h2 class="h2-custom"><span class="page-number"></span> Relationship Diagram</h2>
        <a href="#report-top" title="Jump to the Top" class="pull-right">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 text-center">
                <div id="graph-container"></div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Key</div>

                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Blue Icon = Internal
                            </li>
                            <li class="list-group-item">
                                White Icon = External
                            </li>
                            <li class="list-group-item">
                                Solid Line = Direct Contact
                            </li>
                            <li class="list-group-item">
                                Dotted Line = Indirect Contact
                            </li>
                            <li class="list-group-item list-group-item-info">
                                Closer icon is to the centre, the higher the importance of the relationship.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (showTasks && Model.IsLeavingPeriodLocked)
{
    <section id="report-onboarding" class="panel panel-default page-break">
        <div class="panel-heading clearfix">
            <h2 class="h2-custom"><span class="page-number"></span> Onboarding</h2>
            <a href="#report-top" title="Jump to the Top" class="pull-right">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>

        <div class="panel-body">
            @foreach (var week in Model.Tasks.GroupBy(t => t.WeekDue).OrderBy(w => w.Key))
            {
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="h3-custom">Week @week.Key</h3>
                        @if (Model.Package.Handover != null && Model.Package.Handover.OnboardingPeriod.Locked.HasValue)
                        {
                            <div class="pull-right">
                                <strong>Complete by @Model.Package.Handover.OnboardingPeriod.StartPoint.Value.AddDays((week.Key - 1) * 7).Friday().ToString("d-MMM-yyyy")</strong>
                            </div>
                        }
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover report-table">
                            <thead>
                                <tr>
                                    <th style="width: 30%;">Task</th>
                                    <th style="width: 30%;">Topic / Project</th>
                                    <th class="text-center" style="width: 7%;">Priority</th>
                                    <th class="text-center" style="width: 12%;">Voice Messages</th>
                                    <th class="text-center" style="width: 12%;">Attachments</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var task in week)
                                {
                                    <tr>
                                        <td>
                                            @Approved(task)
                                            <a href="@Url.Action(action + "Task", currentController, new {id = task.ID}, Request.Url.Scheme)">@Html.TruncateWithTooltip(task.Name, 30)</a>
                                        </td>
                                        <td>
                                            @if (task.ParentTopic != null)
                                            {
                                                @Approved(task.ParentTopic)
                                                @Html.TruncateWithTooltip(task.ParentTopic.Name, 30)
                                            }
                                            else if (task.ProjectInstace != null)
                                            {
                                                @Approved(task.ProjectInstace)
                                                @Html.TruncateWithTooltip(task.ProjectInstace.Project.Name, 30)
                                            }
                                            else
                                            {
                                                @Approved(task.Contact)
                                                @Html.TruncateWithTooltip(task.Contact.Name, 30)
                                            }
                                        </td>
                                        <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Index", "VoiceMessage", new { area = "", id = task.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Task }, Request.Url.Scheme)">
                                                @(task.VoiceMessages.Count > 0 ? task.VoiceMessages.Count.ToString() : "-")
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Index", "Attachments", new { area = "", id = task.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Task }, Request.Url.Scheme)">
                                                @(task.Attachments.Count > 0 ? task.Attachments.Count.ToString() : "-")
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </section>
}

@if (Model.Package.Handover != null && Model.Package.Handover.OnboardingPeriod.Locked.HasValue)
{
    if (Model.OnboarderReviewDateCritical.HasValue)
    {
        <section class="panel panel-default page-break">
            <div class="panel-heading clearfix">
                <h2 class="h2-custom">
                    <span class="page-number"></span> Essentials
                </h2>

                <div class="pull-right">
                    <strong>Review by @Model.OnboarderReviewDateCritical.Value.ToString("d-MMM-yyyy")</strong>
                </div>

            </div>
        </section>
    }

    if (Model.OnboarderReviewDateExperiences.HasValue)
    {
        <section class="panel panel-default page-break">
            <div class="panel-heading clearfix">
                <h2 class="h2-custom">
                    <span class="page-number"></span> Achievements
                </h2>

                <div class="pull-right">
                    <strong>Review by @Model.OnboarderReviewDateExperiences.Value.ToString("d-MMM-yyyy")</strong>
                </div>

            </div>
        </section>
    }

    if (Model.OnboarderReviewDateProjects.HasValue)
    {
        <section class="panel panel-default page-break">
            <div class="panel-heading clearfix">
                <h2 class="h2-custom">
                    <span class="page-number"></span> Projects
                </h2>

                <div class="pull-right">
                    <strong>Review by @Model.OnboarderReviewDateProjects.Value.ToString("d-MMM-yyyy")</strong>
                </div>

            </div>
        </section>
    }

    if (Model.OnboarderReviewDatePeople.HasValue)
    {
        <section class="panel panel-default page-break">
            <div class="panel-heading clearfix">
                <h2 class="h2-custom">
                    <span class="page-number"></span> People
                </h2>

                <div class="pull-right">
                    <strong>Review by @Model.OnboarderReviewDatePeople.Value.ToString("d-MMM-yyyy")</strong>
                </div>

            </div>
        </section>
    }
}


@if (!Model.IsPdf)
{
    <a href="@Url.Action("DownloadThingsToDoReport", new { id = Model.Package.ID, ancestor = Model.IsAncestor })" target="_blank"
       class="btn btn-custom btn-print margin-bottom">
        <span class="glyphicon glyphicon-save"></span>
        Download PDF
    </a>
}

@if (!Model.IsPdf)
{
    @section Scripts
    {
        @Scripts.Render("~/bundles/relationships.js")
        <script>
            $.cookie("a2bccbcf-c2f4-4b08-8148-85221a634af1", true);
            ACTIVATE.initialiseRelationshipsGraph(
                "@Model.Package.UserOwner.ID",
                "@Model.DefaultCompanyId",
                @Html.Raw(JsonConvert.SerializeObject(Model.GraphNodes)),
                {
                    static: true
                }
            );
        </script>
    }
}
else
{
		<script>
				@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/d3.js")))
		</script>
		<script>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/d3-tip/index.js")))
		</script>
		<script>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/jquery-1.11.1.js")))
		</script>
		<script>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/bower_components/bxslider-4/dist/jquery.bxslider.js")))
		</script>
		<script>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/jquery.cookie.js")))
		</script>
		<script>
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/js/relationships.js")))
		</script>
		<script>
            $.cookie("a2bccbcf-c2f4-4b08-8148-85221a634af1", true);
            ACTIVATE.initialiseRelationshipsGraph(
                "@Model.Package.UserOwner.ID",
                "@Model.DefaultCompanyId",
                @Html.Raw(JsonConvert.SerializeObject(Model.GraphNodes)),
                {
                    static: true,
                    nodeImageIndividual: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/user.png"))",
                    nodeImageIndividualExternal: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/user-white.png"))",
                    nodeImageIndividualNode: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/node-blue.png"))",
                    nodeImageIndividualExternalNode: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/node-white.png"))",
                    nodeImageGroup: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/group.png"))",
                    nodeImageGroupExternal: "@HttpUtility.JavaScriptStringEncode(Server.MapPath("~/Content/css/images/group-white.png"))"
                }
            );
		</script>
}
