﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ComplianceTopicViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })

    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.DocumentNameLabel)
        @Html.LabelFor(model => model.DocumentName, Model.DocumentNameLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicRegCompDocumentName })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.DocumentName,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneDocumentName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.DocumentName)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.RegulationAndComplianceNotesLabel)
        @Html.LabelFor(model => model.RegulationAndComplianceNotes, Model.RegulationAndComplianceNotesLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.RegulationAndComplianceNotes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneRegulationAndComplianceNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.RegulationAndComplianceNotes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.DocumentLocationId, new { @class = "clone-object" }.WithAttrIf("id", "CloneDocumentLocationId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.DocumentLocationLabel)
        @Html.LabelFor(model => model.DocumentLocation, Model.DocumentLocationLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicRegCompDocumentLocation })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.DocumentLocation,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.DocumentLocations),
                data_relation = "#DocumentLocationId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneDocumentLocation", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.DocumentLocation)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.PrimaryContactId, new { @class = "clone-object" }.WithAttrIf("id", "ClonePrimaryContactId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.PrimaryContactLabel)
        @Html.LabelFor(model => model.PrimaryContact, Model.PrimaryContactLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicRegCompPrimaryContact })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.PrimaryContact,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.PrimaryContacts),
                data_relation = "#PrimaryContactId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "ClonePrimaryContact", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.PrimaryContact)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ReferenceWebsiteId, new { @class = "clone-object" }.WithAttrIf("id", "CloneReferenceWebsiteId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.ReferenceWebsiteLabel)
        @Html.LabelFor(model => model.ReferenceWebsite, Model.ReferenceWebsiteLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicRegCompWebsiteAddress })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        <div class="input-group">
            @Html.TextBoxFor(
                model => model.ReferenceWebsite,
                new
                {
                    @class = "form-control clone-object typeahead",
                    data_source = Json.Encode(Model.ReferenceWebsites),
                    data_relation = "#ReferenceWebsiteId",
                    placeholder = "http://"
                }
                    .WithAttrIf("disabled", "", Model.ReadOnly)
                    .WithAttrIf("id", "CloneReferenceWebsite", Model.IsPrevTopic)
            )
            <span class="input-group-btn">
                <a href="#" class="btn btn-default" data-go-to="#ReferenceWebsite">Go To</a>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.ReferenceWebsite)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-@ViewData["ControlColumns"]">
        <div class="checkbox">
            <label>
                @Html.HiddenFor(model => model.TrainingRequiredLabel)
                @Html.CheckBoxFor(
                    model => model.TrainingRequired,
                    new { @class = "clone-object" }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                        .WithAttrIf("id", "CloneTrainingRequired", Model.IsPrevTopic)
                )
                @Model.TrainingRequiredLabel
                @Html.ValidationMessageFor(model => model.TrainingRequired)
            </label>
        </div>
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
