﻿@using MomentumPlus.Activate.Web.Extensions
@model System.DateTime?

@{
    var readOnly = ViewData.ContainsKey("ReadOnly") && (bool)ViewData["ReadOnly"];
}

<div class="row">
    <div class="col-sm-4">
        <div class="input-group date"
             data-date-format="dd-M-yyyy">

            @Html.TextBox("", (Model.HasValue ? Model.Value.ToShortDateString() : string.Empty), new
            {
                @class = "form-control"
            }.WithAttrIf("disabled", "", readOnly))

            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="col-sm-3">
        @Html.DropDownList(
            "",
            Enumerable.Range(0, 24).Select(i =>
                new SelectListItem
                {
                    Text = i.ToString("D2"),
                    Value = i.ToString(),
                    Selected = Model.HasValue && Model.Value.Hour == i
                }),
            "Hour",
            new { @id = "StartHours", @class = "form-control" }.WithAttrIf("disabled", "", readOnly)
        )
    </div>
    <div class="col-sm-3">
        @Html.DropDownList(
            "",
            Enumerable.Range(0, 60).Where(i => i % 5 == 0).Select(i =>
                new SelectListItem
                {
                    Text = i.ToString("D2"),
                    Value = i.ToString(),
                    Selected = Model.HasValue && Model.Value.Minute == i
                }),
            "Minute",
                     new { @id = "StartMins", @class = "form-control" }.WithAttrIf("disabled", "", readOnly)
        )
    </div>
</div>
