﻿@using MomentumPlus.Activate.Web.Extensions
@model DateTime?

@{
    var readOnly = ViewData.ContainsKey("ReadOnly") && (bool)ViewData["ReadOnly"];
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;


}

<div class="input-group @(readOnly ? "" : "date")"
    data-date-format="dd-M-yyyy" >

    @Html.TextBox(
        "",
        Model.HasValue ? Model.Value.ToShortDateString() : string.Empty,
                        new { @class = "form-control" }.WithAttrIf("readonly", "", readOnly)
    )

    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
</div>
@if (ViewData.ContainsKey("endDate"))
{
    <script>
        window.onload = function() {
            $('#@Html.IdForModel()').parent('.input-group').datepicker('setEndDate', "@ViewData["endDate"]");
        };
    </script>
}