﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ExperienceTopicViewModel

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Name, "What *")
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel {Message = AccountConfig.Settings.TopicExperiencesWhat})
    </div>

    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new {@class = "form-control clone-object"}
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
            )
        @Html.ValidationMessageFor(model => model.Name)

    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.WhenLabel)
        @Html.LabelFor(model => model.When, Model.WhenLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicExperiencesWhen })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.EditorFor(model => model.When)
        @Html.ValidationMessageFor(model => model.When)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalBusinessProcessMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.KeyContactId, new { @class = "clone-object" }.WithAttrIf("id", "CloneKeyContactId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.KeyContactLabel)
        @Html.LabelFor(model => model.KeyContact, Model.KeyContactLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicExperiencesKeyContact })  
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.KeyContact,
            new {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.KeyContacts),
                data_relation = "#KeyContactId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneKeyContact", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.KeyContact)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
