﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models.Handover
@model LeavingPeriodViewModel

@{
    var readOnly = Model.IsLocked;
}

@Html.HiddenFor(model => model.PackageId)
@Html.HiddenFor(model => model.IsLocked)
@Html.HiddenFor(model => model.IsPrioritySaved)

<fieldset @(readOnly ? "disabled" : "")>

    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.PackageName)
        </div>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PackageName</p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            <label>Handover Created</label>
        </div>
        <div class="col-sm-10">
            <p class="form-control-static">
                @(Model.CreateMode ? DateTime.Now.ToLongDateString() : Model.Created.ToLongDateString())
            </p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.NoticePeriod)
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TriggerDurationMenu })
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
                model => model.NoticePeriod,
                Model.NoticePeriod.ToSelectList(),
                new { @class = "form-control" }
                )
            @Html.ValidationMessageFor(model => model.NoticePeriod)
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.LastDay)
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TriggerFinishDateMenu })
        </div>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.LastDay)
            @Html.ValidationMessageFor(model => model.LastDay)
        </div>
    </div>

    <div class="form-group handover-form grayed-out">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.StartPoint)
        </div>
        <div class="col-sm-4">
            <p class="form-control-static">
                @(Model.StartPoint.HasValue ? Model.StartPoint.Value.ToLongDateString() : "-")
            </p>
        </div>

        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.MidPoint)
        </div>
        <div class="col-sm-4">
            <p class="form-control-static">
                @(Model.MidPoint.HasValue ? Model.MidPoint.Value.ToLongDateString() : "-")
            </p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-10">
            <fieldset>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.ExitSurvey, new { packid = Model.PackageId.Value, @checked = Model.ExitSurvey })
                    @Html.DisplayNameFor(model => model.ExitSurvey)
                </div>
            </fieldset>
        </div>
    </div>
</fieldset>



@*<fieldset @(readOnly ? "disabled" : "")>
        <div class="form-group handover-form">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.HandoverSupportRequested)
                        @Html.DisplayNameFor(model => model.HandoverSupportRequested)
                    </label>
                </div>
            </div>
        </div>
    </fieldset>*@

<div class="form-group handover-form">
    <div class="col-sm-offset-2 col-sm-3">
        <button type="submit"
                name="SubmitAction"
                value="@HandoverViewModel.Action.LeaverPriorities"
                class="btn btn-default btn-block">
            @if (Model.Locked.HasValue)
            {
                <text>View Priorities</text>
            }
            else
            {
                <text>Set Priorities</text>
            }
        </button>

        @if (Model.Locked.HasValue)
        {
            @Html.ActionLink("Go to Package", "ExaminePackage", "PackageSelector", new { @id = Model.PackageId }, new { @class = "btn btn-default btn-block" })
        }
    </div>
    <div class="col-sm-offset-4 col-sm-3">
        <button class="btn btn-default btn-block" type="submit" name="SubmitAction"
                value="@HandoverViewModel.Action.LockLeaving"
                @(Model.Locked.HasValue ? "disabled" : "")>
            Lock Leaving Period
        </button>
        <button class="btn btn-default btn-block" type="submit" name="SubmitAction"
                value="@HandoverViewModel.Action.UnlockLeaving"
                @(!Model.Locked.HasValue ? "disabled" : "")>
            Unlock Leaving Period
        </button>
    </div>
</div>

<script src="~/Content/common/jquery-3.1.1.js"></script>
<script src="~/Content/js/dialog.module.js"></script>

<script>
    $(document).ready(function () {
        var exitSurveyModalBtn = $("#LeavingPeriodViewModel_ExitSurvey");

        $(exitSurveyModalBtn).click(function () {
            if ($(exitSurveyModalBtn).prop("checked")) {
                var id = $(exitSurveyModalBtn).attr("packid");
                var addTaskDialog = Activate.FormDialog({
                    url: "/ExitSurveyMain/ModalExitSurvey/",
                    data: { packageId: id }
                });
                addTaskDialog.setSubmitEvent(function () {
                    //location.reload();
                });
                addTaskDialog.open();
            } 
        });
    });
</script>