﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.LocationTopicViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.LocationId, new { @class = "clone-object" }.WithAttrIf("id", "CloneLocationId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.LocationLabel)
        @Html.LabelFor(model => model.Location, Model.LocationLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicLocEnvLocation })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Location,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Locations),
                data_relation = "#LocationId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneLocation", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Location)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.AddressLabel)
        @Html.LabelFor(model => model.Address, Model.AddressLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicLocEnvAddress })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Address,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneAddress", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Address)
        <a href="#" class="btn btn-default margin-top-sm" data-get-directions="#Address">Get Directions</a>
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.MapLinkLabel)
        @Html.LabelFor(model => model.MapLink, Model.MapLinkLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicLocEnvMapLink })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        <div class="input-group">
            @Html.TextBoxFor(
                model => model.MapLink,
                new { @class = "form-control clone-object", placeholder = "http://" }
                    .WithAttrIf("disabled", "", Model.ReadOnly)
                    .WithAttrIf("id", "CloneMapLink", Model.IsPrevTopic)
            )
            <span class="input-group-btn">
                <a href="#" class="btn btn-default" data-go-to="#MapLink">Go To</a>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.MapLink)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
