﻿@using System.Linq.Expressions;
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Core.Models.Moderation

@model MomentumPlus.Activate.Web.Models.Moderation.ModeratedViewModel

@if (Model.ShowLineManagerSection)
{
    <div class="form-group">
        @Html.LabelFor(model => model.LineManagerDecision)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ModerationFormLineManagerDecision })
        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(
                            model => model.LineManagerDecision,
                            ModerationDecision.Approved,
                            new { }.WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                        )
                        Approved
                    </label>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        @Html.RadioButtonFor(
                            model => model.LineManagerDecision,
                            ModerationDecision.Declined,
                            new { }.WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                        )
                    </span>
                    @Html.TextBoxFor(
                        model => model.LineManagerNotes,
                        new { @class = "form-control", placeholder = "Declined: reason" }
                            .WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                        )
                    @Html.ValidationMessageFor(model => model.LineManagerNotes)
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ShowHrManagerSection)
{
    <div class="form-group">
        @Html.LabelFor(model => model.HrManagerDecision)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ModerationFormHrManagerDecision })
        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(
                            model => model.HrManagerDecision,
                            ModerationDecision.Approved,
                            new { }.WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                        )
                        Approved
                    </label>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        @Html.RadioButtonFor(
                            model => model.HrManagerDecision,
                            ModerationDecision.Declined,
                            new { }.WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                        )
                    </span>
                    @Html.TextBoxFor(
                        model => model.HrManagerNotes,
                        new { @class = "form-control", placeholder = "Declined: reason" }
                            .WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                    )
                    @Html.ValidationMessageFor(model => model.HrManagerNotes)
                </div>
            </div>
        </div>
    </div>
}
