﻿@using MomentumPlus.Activate.Web.Models.Handover
@model OnboardingPeriodViewModel

@{
    var readOnly = Model.Locked.HasValue;
}

@Html.HiddenFor(model => model.IsLocked)
@Html.HiddenFor(model => model.IsPrioritySaved)

<div class="form-group handover-form">
    <div class="col-sm-offset-2 col-sm-3">
        <button type="submit"
                name="SubmitAction"
                value="@HandoverViewModel.Action.OnboarderPriorities"
                class="btn btn-default btn-block">
            @if (Model.Locked.HasValue)
            {
                <text>View Priorities</text>
            }
            else
            {
                <text>Set Priorities</text>
            }
        </button>
    </div>
    <div class="col-sm-3 pull-right">
        <div><strong>Items Approved:</strong> @Model.ItemsApproved / @Model.ItemsTotal</div>
        <strong>Rejected:</strong> @Model.ItemsRejected
    </div>
</div>

<fieldset @(readOnly ? "disabled" : "")>
    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.PackageId)
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
                model => model.PackageId,
                Model.Packages,
                "Select a package...",
                new { @class = "form-control combobox" }
                )
            @Html.ValidationMessageFor(model => model.PackageId)
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-1 col-sm-2 control-label">
            <label>Name</label>
        </div>
        <div class="col-sm-8">
            <p class="form-control-static" id="newProfileName">John Masterson</p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-1 col-sm-2 control-label">
            <label>Email</label>
        </div>
        <div class="col-sm-8">
            <p class="form-control-static" id="newProfileEmail">John@AppDomain.com</p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="col-sm-10">
            @Html.DropDownListFor(
                model => model.Duration,
                Model.Durations,
                new { @class = "form-control" }
                )
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.StartPoint)
        </div>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.StartPoint)
            @Html.ValidationMessageFor(model => model.StartPoint)
        </div>
    </div>

    <div class="form-group handover-form grayed-out">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.MidPoint)
        </div>
        <div class="col-sm-4">
            <p class="form-control-static">
                @(Model.MidPoint.HasValue ? Model.MidPoint.Value.ToLongDateString() : "-")
            </p>
        </div>
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.LastDay)
        </div>
        <div class="col-sm-4">
            <p class="form-control-static">
                @(Model.LastDay.HasValue ? Model.LastDay.Value.ToLongDateString() : "-")
            </p>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-2">
            <h4>Finalise Set-up</h4>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.HandoverSupportRequested)
                    @Html.DisplayNameFor(model => model.HandoverSupportRequested)
                </label>
            </div>
        </div>
    </div>
</fieldset>

<div class="form-group handover-form">
    <div class="col-sm-offset-2 col-sm-3">
        <fieldset @(readOnly ? "disabled" : "")>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.HandoverTasksFinalised)
                    @Html.DisplayNameFor(model => model.HandoverTasksFinalised)
                </label>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("ViewThingsToDoReport", "Reports", new { id = Model.LeaverPackageId })" class="btn btn-default btn-sm" target="_blank">Review Report</a>
    </div>
</div>

<fieldset @(readOnly ? "disabled" : "")>
    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.ViewPreviousPackageContent)
                    @Html.DisplayNameFor(model => model.ViewPreviousPackageContent)
                </label>
            </div>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.CarryOverRelationships)
                    @Html.DisplayNameFor(model => model.CarryOverRelationships)
                </label>
            </div>
        </div>
    </div>

    <div class="form-group handover-form">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.CarryOverProjects)
                    @Html.DisplayNameFor(model => model.CarryOverProjects)
                </label>
            </div>
        </div>
    </div>
</fieldset>

<div class="form-group handover-form">
    <div class="col-sm-offset-2 col-sm-3">
        @if (Model.Locked.HasValue)
        {
            <a href="#" class="btn btn-default btn-block" id="starterViewTimeline">View Timeline</a>
        }
    </div>
    <div class="col-sm-offset-4 col-sm-3">
        <button class="btn btn-default btn-block" type="submit" name="SubmitAction"
                value="@HandoverViewModel.Action.LockOnboarding"
                @(Model.Locked.HasValue ? "disabled" : "")>
            Lock Onboard Period
        </button>
        <button class="btn btn-default btn-block" type="submit" name="SubmitAction"
                value="@HandoverViewModel.Action.UnlockOnboarding"
                @(!Model.Locked.HasValue ? "disabled" : "")>
            Unlock Onboard Period
        </button>
    </div>
</div>