﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models.People

@model PersonViewModel

@{
    var readOnly = Model.ReadOnly || Model.DisablePersonFields;
}

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(
            model => model.Title,
            new SelectList(new[] {"Mr", "Mrs", "Ms", "Miss", "Dr"}),
            "",
            new { @class = "form-control" }.WithAttrIf("disabled", "", readOnly)
        )
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="col-sm-2 col-sm-offset-5">
        @if (Model.ImageId.HasValue)
        {
            <img src="@Url.Action("Get", "Image", new { area = "", id = Model.ImageId })" alt="@Model.FullName" class="profile-image-form" />
        }
        else
        {
            <img src="/Content/img/profile-image-placeholder.png" alt="@Model.FullName" class="profile-image-form" />
        }
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor(
            model => model.FirstName,
            new { @class = "form-control" }.WithAttrIf("readonly", "", readOnly)
        )
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor(
            model => model.LastName,
            new { @class = "form-control" }.WithAttrIf("readonly", "", readOnly)
        )
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.ImageId)
    </div>
    <div class="col-sm-10">
        <input id="@Html.IdFor(model => model.ImageId)" name="ProfileImage" type="file" class="form-control" accept="image/*" @(readOnly ? "disabled" : "") />
        @Html.ValidationMessageFor(model => model.ImageId)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.CompanyId)
    </div>
    <div class="col-sm-6" id="company-dropdown">
        @Html.DropDownListFor(
         model => model.CompanyId,
                            Model.Companies,
                            "",
                            new { @class = "form-control combobox" }.WithAttrIf("disabled", "", readOnly)
                            )
        @Html.ValidationMessageFor(model => model.CompanyId)
    </div>
    @*<div class="col-sm-4">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(model => model.OtherCompany, new { @class = "form-control" }.WithAttrIf("readonly", "", readOnly))Company not listed
            </label>
        </div>
    </div>*@
</div>

@if (Model.OtherCompany)
{
    <div class="form-group">
        <div class="col-sm-2 control-label">
            @Html.LabelFor(model => model.OtherCompanyName)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(
             model => model.OtherCompanyName,
                                "",
                                         new { @class = "form-control" }.WithAttrIf("disabled", "", readOnly)
                            )
            @Html.ValidationMessageFor(model => model.OtherCompanyName)
        </div>
    </div>
}

<div class="form-group@(Model.HidePosition ? " hidden" : "")">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Position)
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.Position,
            new { @class = "form-control" }.WithAttrIf("readonly", "", readOnly)
        )
        @Html.ValidationMessageFor(model => model.Position)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @if (Model is UserViewModel)
        {
            <label>Login/Email *</label>
        }
        else
        {
            @Html.LabelFor(model => model.Email)
        }
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.Email,
            new { @class = "form-control", placeholder = "youremail@example.com" }.WithAttrIf("readonly", "", readOnly || Model.UserMode)
        )
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.Phone,
            new {@class = "form-control"}.WithAttrIf("readonly", "", readOnly)
            )
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
</div>
