﻿@using MomentumPlus.Activate.Web.Extensions
@using AccountConfig = MomentumPlus.Activate.Web.Helpers.AccountConfig
@model MomentumPlus.Activate.Web.Models.ProcessTopicViewModel

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Name)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel {Message = AccountConfig.Settings.TopicItemTypeTopicMenu})
    </div>

    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new {@class = "form-control clone-object"}
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
            )
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="Notes">Notes</label>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

@*<div class="form-group">
    @Html.HiddenFor(model => model.WorkaroundNotesLabel)
    @Html.LabelFor(model => model.WorkaroundNotes, Model.WorkaroundNotesLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.WorkaroundNotes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneWorkaroundNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.WorkaroundNotes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>*@

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ProcessInteractionLabel)
        @Html.LabelFor(model => model.ProcessInteraction, Model.ProcessInteractionLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProcessInteractionMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.ProcessInteraction,
            Model.ProcessInteraction.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneProcessInteraction", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ProcessInteraction)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ContactId, new { @class = "clone-object" }.WithAttrIf("id", "CloneContactId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.ContactLabel)
        @Html.LabelFor(model => model.Contact, Model.ContactLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicInhouseTrainerMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Contact,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Contacts),
                data_relation = "#ContactId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneContact", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Contact)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.FitForPurposeLabel)
        @Html.LabelFor(model => model.FitForPurpose, Model.FitForPurposeLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicFitForPurposeMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.FitForPurpose,
            Model.FitForPurpose.ToSelectList(),
            new
            {
                @class = "form-control clone-object",
                data_toggle_state = "#FitForPurposeReason",
                data_enable_val = MomentumPlus.Core.Models.Topic.ProcessFitForPurpose.NeedsImprovement
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneFitForPurpose", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.FitForPurpose)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group @(Model.FitForPurpose != MomentumPlus.Core.Models.Topic.ProcessFitForPurpose.NeedsImprovement ? "hidden" : "")">
    @Html.HiddenFor(model => model.FitForPurposeReasonLabel)
    @Html.LabelFor(model => model.FitForPurposeReason, Model.FitForPurposeReasonLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.FitForPurposeReason,
            new
            {
                @class = "form-control clone-object",
                rows = 3
            }
                .WithAttrIf("disabled", "", Model.ReadOnly || Model.FitForPurpose != MomentumPlus.Core.Models.Topic.ProcessFitForPurpose.NeedsImprovement)
                .WithAttrIf("id", "CloneFitForPurposeReason", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.FitForPurposeReason)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

@*<div class="form-group">
    <div class="col-sm-offset-2 col-sm-@ViewData["ControlColumns"]">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(
                    model => model.LinkedProject,
                    new
                    {
                        @class = "clone-object",
                        data_toggle_state = "#ProjectReference"
                    }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                        .WithAttrIf("id", "CloneLinkedProject", Model.IsPrevTopic)
                )
                Linked to Project?
                @Html.ValidationMessageFor(model => model.LinkedProject)
            </label>
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicLinkedProjectMenu })  
        </div>
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group @(string.IsNullOrEmpty(Model.ProjectReference) ? "hidden" : "")">
    @Html.HiddenFor(model => model.ProjectReferenceId, new { @class = "clone-object" }.WithAttrIf("id", "CloneProjectReferenceId", Model.IsPrevTopic))
    @Html.HiddenFor(model => model.ProjectReferenceLabel)
    @Html.LabelFor(model => model.ProjectReference, Model.ProjectReferenceLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.ProjectReference,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.ProjectReferences),
                data_relation = "#ProjectReferenceId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneProjectReference", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ProjectReference)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>*@
