﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ProjectTopicViewModel

<div class="form-group">
    @Html.HiddenFor(model => model.ProjectId, new { @class = "clone-object" }.WithAttrIf("id", "CloneProjectId", Model.IsPrevTopic))
    @Html.LabelFor(model => model.Name, Model.ProjectIdLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Projects),
                data_relation = "#ProjectId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ProjectSponsorLabel)
        @Html.LabelFor(model => model.ProjectSponsor, Model.ProjectSponsorLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectProjectSponsor })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.ProjectSponsor,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneProjectSponsor", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ProjectSponsor)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ProjectManagerLabel)
        @Html.LabelFor(model => model.ProjectManager, Model.ProjectManagerLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectProjectManager })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.ProjectManager,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneProjectManager", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ProjectManager)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.BudgetedSpendLabel)
        @Html.LabelFor(model => model.BudgetedSpend, Model.BudgetedSpendLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectBudgetSpend })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.BudgetedSpend,
            Model.BudgetedSpend.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneBudgetedSpend", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.BudgetedSpend)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.StatusLabel)
        @Html.LabelFor(model => model.Status, Model.StatusLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectProjectStatus })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.Status,
            Model.Status.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneStatus", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Status)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.SuccessLabel)
        @Html.LabelFor(model => model.Success, Model.SuccessLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectPerceivedSuccess })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.Success,
            Model.Success.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneSuccess", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Success)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ProjectEndDateLabel)
        @Html.LabelFor(model => model.ProjectEndDate, Model.ProjectEndDateLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicProjectProjectEndDate })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.EditorFor(model => model.ProjectEndDate, new { ReadOnly = Model.ReadOnly })
        @Html.ValidationMessageFor(model => model.ProjectEndDate)
    </div>
</div>
