﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ProjectViewModel

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Name)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormName })
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.Name,
            new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.ProjectId)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormProjectId })
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.ProjectId,
            new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.ProjectId)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Start)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormStart })  
    </div>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.Start, "DateTime", new { ReadOnly = Model.ReadOnly })
        @Html.ValidationMessageFor(model => model.Start)
    </div>
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.End)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormEnd })  
    </div>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.End, "DateTime", new { ReadOnly = Model.ReadOnly })
        @Html.ValidationMessageFor(model => model.End)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.ProjectManagerId)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormProjectManager })  
    </div>
    <div class="col-sm-7">
        @Html.DropDownListFor(
            model => model.ProjectManagerId,
            Model.Contacts,
            new { @class = "form-control combobox" }.WithAttrIf("disabled", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.ProjectManagerId)
    </div>
    <div class="col-sm-3">
        <button type="submit" name="QuickAddRelationship"  class="btn btn-default btn-block" @(Model.ReadOnly ? "disabled" :"")>Quick Add Relationship</button>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.ImageId)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormImage })
    </div>
    <div class="col-sm-10">
        <select id="@Html.IdFor(m => m.ImageId)" name="@Html.NameFor(m => m.ImageId)" class="ms-dropdown" @(Model.ReadOnly ? "disabled" :"")>
            @foreach (var image in Model.Images)
            {
                <option value="@image.Value" @(image.Selected ? "selected" : "")
                    data-image="@Url.Action("Get", "Image", new { area = "", id = image.Value })">
                    @image.Text
                </option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.ImageId)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.StatusId)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormStatus })
    </div>
    <div class="col-sm-10">
        @Html.DropDownListFor(
            model => model.StatusId,
            Model.Statuses,
            new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.StatusId)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Budget)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormBudget })
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.Budget,
            new { @class = "form-control", type = "number" }.WithAttrIf("readonly", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.Budget)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.ProjectSpaceLocation)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormProjectSpaceLocation })
    </div>
    <div class="col-sm-10">
        @Html.TextBoxFor(
            model => model.ProjectSpaceLocation,
            new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.ProjectSpaceLocation)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Description)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ProjectFormDescription })  
    </div>
    <div class="col-sm-10">
        @Html.TextAreaFor(
            model => model.Description,
            new { @class = "form-control", rows = 3 }
                .WithAttrIf("readonly", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.Description)
    </div>
</div>