﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.Moderation.ReviewableViewModel

@{
    var horizontalForm = !ViewData.ContainsKey("horizontalForm") || (bool)ViewData["horizontalForm"];
}

@helper Editor()
{
    
    var disabledMessage = "You cannot mark this item as ready for review at this time.";
    var hasOpenTasks = ViewData.ContainsKey("HasOpenTasks") && (bool)ViewData["HasOpenTasks"];

    if (hasOpenTasks)
    {
        disabledMessage = "There are open tasks against this topic.";
    }

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.ReadyForReview, new { }.WithAttrIf("disabled", "", hasOpenTasks || Model.DisableReadyForReview))

            @if (hasOpenTasks || Model.DisableReadyForReview)
            {
                <span data-toggle="tooltip" data-placement="top" title="@disabledMessage">
                    Ready For Review?
                </span>
            }
            else
            {
                @:Ready For Review? @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromReadyForReview })
                }


            @Html.ValidationMessageFor(model => model.ReadyForReview)
        </label>
    </div>
}

@if (horizontalForm)
{
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Editor()
        </div>
    </div>
}
else
{
    @Editor()
}