﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.SkillsTopicViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.TrainingFrequencyLabel)
        @Html.LabelFor(model => model.TrainingFrequency, Model.TrainingFrequencyLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicFutureTrainingTrainingFrequency })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.TrainingFrequency,
            Model.TrainingFrequency.ToSelectList(),
            new { @class = "form-control clone-object" }.WithAttrIf("disabled", "", Model.ReadOnly)
        )
        @Html.ValidationMessageFor(model => model.TrainingFrequencyLabel)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ContactId, new { @class = "clone-object" }.WithAttrIf("id", "CloneContactId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.ContactLabel)
        @Html.LabelFor(model => model.Contact, Model.ContactLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicFutureTrainingInHouseTrainer })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Contact,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Contacts),
                data_relation = "#ContactId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneContact", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Contact)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

@*<div class="form-group">
    @Html.HiddenFor(model => model.TrainingStandardLabel)
    @Html.LabelFor(model => model.TrainingStandard, Model.TrainingStandardLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.TrainingStandard,
            Model.TrainingStandard.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneTrainingStandard", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.TrainingStandard)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>*@

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-@ViewData["ControlColumns"]">
        <div class="checkbox">
            <label>
                @Html.HiddenFor(model => model.TrainingRequiredLabel)
                @Html.CheckBoxFor(
                    model => model.TrainingRequired,
                    new { @class = "clone-object" }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                        .WithAttrIf("id", "CloneTrainingRequired", Model.IsPrevTopic)
                )
                @Model.TrainingRequiredLabel
                @Html.ValidationMessageFor(model => model.TrainingRequired)
            </label>
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicTrainingRequired })
        </div>
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
