﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.StrategicTopicViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new {@class = "form-control clone-object"}
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
            )
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    @Html.Partial("_CopyArrow", Model)
</div>

@*<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.NoteTitleLabel)
        @Html.LabelFor(model => model.NoteTitle, Model.NoteTitleLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNoteTitle })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.NoteTitle,
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNoteTitle", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.NoteTitle)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>*@

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes, "Note")
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ReviewFrequencyLabel)
        @Html.LabelFor(model => model.ReviewFrequency, Model.ReviewFrequencyLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicStrategicAspectsReviewFrequency })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.ReviewFrequency,
            Model.ReviewFrequency.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneReviewFrequency", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ReviewFrequency)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

@*<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.QualityLabel)
        @Html.LabelFor(model => model.Quality, Model.QualityLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicStrategicAspectsQuality })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.Quality,
            Model.Quality.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneQuality", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Quality)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>*@
