﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.SystemsTopicViewModel

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.SystemId, new { @class = "clone-object" }.WithAttrIf("id", "CloneSystemId", Model.IsPrevTopic))
        @Html.LabelFor(model => model.Name, Model.SystemIdLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicItemTypeTopicMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Systems),
                data_relation = "#SystemId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.FrequencyOfUseLabel)
        @Html.LabelFor(model => model.FrequencyOfUse, Model.FrequencyOfUseLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicSystemFrequencyOfUse })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.FrequencyOfUse,
            Model.FrequencyOfUse.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneFrequencyOfUse", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.FrequencyOfUse)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ExpertUserId, new { @class = "clone-object" }.WithAttrIf("id", "CloneExpertUserId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.ExpertUserLabel)
        @Html.LabelFor(model => model.ExpertUser, Model.ExpertUserLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicSystemExpertUser })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.ExpertUser,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.ExpertUsers),
                data_relation = "#ExpertUserId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneExpertUser", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ExpertUser)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ImportanceRatingLabel)
        @Html.LabelFor(model => model.ImportanceRating, Model.ImportanceRatingLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicSystemImportanceRating })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.ImportanceRating,
            Model.ImportanceRating.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneImportanceRating", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.ImportanceRating)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.WebsiteAddressId, new { @class = "clone-object" }.WithAttrIf("id", "CloneWebsiteAddressId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.WebsiteAddressLabel)
        @Html.LabelFor(model => model.WebsiteAddress, Model.WebsiteAddressLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicSystemWebsiteAddress })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        <div class="input-group">
            @Html.TextBoxFor(
                model => model.WebsiteAddress,
                new
                {
                    @class = "form-control clone-object typeahead",
                    data_source = Json.Encode(Model.WebsiteAddresses),
                    data_relation = "#WebsiteAddressId",
                    placeholder = "http://"
                }
                    .WithAttrIf("disabled", "", Model.ReadOnly)
                    .WithAttrIf("id", "CloneWebsiteAddress", Model.IsPrevTopic)
            )
            <span class="input-group-btn">
                <a href="#" class="btn btn-default" data-go-to="#WebsiteAddress">Go To</a>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.WebsiteAddress)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
