﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ToolsTopicViewModel

<div class="form-group">
    @Html.HiddenFor(model => model.AssetId, new { @class = "clone-object" }.WithAttrIf("id", "CloneAssetId", Model.IsPrevTopic))
    @Html.LabelFor(model => model.Name, Model.AssetIdLabel, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Name,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Assets),
                data_relation = "#AssetId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("readonly", "", !Model.CreateMode && Model.SourceId != null)
                .WithAttrIf("id", "CloneName", Model.IsPrevTopic)
            )
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.LabelFor(model => model.Notes)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicNotesMenu })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextAreaFor(
            model => model.Notes,
            new { @class = "form-control clone-object", rows = 3 }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneNotes", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Notes)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.FrequencyOfUseLabel)
        @Html.LabelFor(model => model.FrequencyOfUse, Model.FrequencyOfUseLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicEquipmentFrequencyOfUse })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.FrequencyOfUse,
            Model.FrequencyOfUse.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneFrequencyOfUse", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.FrequencyOfUse)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ConditionLabel)
        @Html.LabelFor(model => model.Condition, Model.ConditionLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicEquipmentConditionOfEquipment })  
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.DropDownListFor(
            model => model.Condition,
            Model.Condition.ToSelectList(),
            new { @class = "form-control clone-object" }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneCondition", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Condition)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        @Html.HiddenFor(model => model.ContactId, new { @class = "clone-object" }.WithAttrIf("id", "CloneContactId", Model.IsPrevTopic))
        @Html.HiddenFor(model => model.ContactLabel)
        @Html.LabelFor(model => model.Contact, Model.ContactLabel)
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicEquipmentExperiencedContact })
    </div>
    <div class="col-sm-@ViewData["ControlColumns"]">
        @Html.TextBoxFor(
            model => model.Contact,
            new
            {
                @class = "form-control clone-object typeahead",
                data_source = Json.Encode(Model.Contacts),
                data_relation = "#ContactId"
            }
                .WithAttrIf("disabled", "", Model.ReadOnly)
                .WithAttrIf("id", "CloneContact", Model.IsPrevTopic)
        )
        @Html.ValidationMessageFor(model => model.Contact)
    </div>

    @Html.Partial("_CopyArrow", Model)
</div>
