﻿@model MomentumPlus.Activate.Web.Models.Home.InUseOnboarderViewModel

@using MomentumPlus.Activate.Web.Extensions
@using System.Collections.Generic
@using MvcPaging

@{
    var routeData = ViewContext.RouteData;

    if (!ViewContext.IsChildAction)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        routeData = ViewContext.ParentActionViewContext.RouteData;
    }

    var action = routeData.Values["action"].ToString();
    var controller = routeData.Values["controller"].ToString();
}

<section class="panel panel-default">
    <div class="panel-heading">Ongoing</div>

    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink(
                        "Employee",
                                    action,
                        Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "sortColumn", MomentumPlus.Activate.Web.Models.Home.InUseOnboarderItemViewModel.SortColumn.NameExit },
                                { "sortAscending", !Model.SortAscending },
                                { "controller", controller }
                            }
                        )
                    )
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(
                        "Last Update",
                                    action,
                        Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "sortColumn", MomentumPlus.Activate.Web.Models.Home.InUseOnboarderItemViewModel.SortColumn.LastUpdated },
                                { "sortAscending", !Model.SortAscending },
                                { "controller", controller }
                            }
                        )
                    )
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(
                        "Line Manager Accepted",
                                    action,
                        Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "sortColumn", MomentumPlus.Activate.Web.Models.Home.InUseOnboarderItemViewModel.SortColumn.ApprovedLineManager },
                                { "sortAscending", !Model.SortAscending },
                                { "controller", controller }
                            }
                        )
                    )
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(
                        "HR Accepted",
                                    action,
                        Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "sortColumn", MomentumPlus.Activate.Web.Models.Home.InUseOnboarderItemViewModel.SortColumn.ApprovedHRManager },
                                { "sortAscending", !Model.SortAscending },
                                { "controller", controller }
                            }
                        )
                    )
                    </th>
                    <th class="text-center" style="width: 5%;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Items.OrderBy(i => i.NameExit))
                {
                    <tr data-soft-link="@Url.Action("ExaminePackage", "PackageSelector", new { area = "", id = item.PackageId })">
                        <td>@item.NameExit</td>
                        <td class="text-center">@Html.LastViewedDate(item.LastUpdated)</td>
                        <td class="text-center">@Html.Element("span", "glyphicon glyphicon-ok", item.ApprovedLineManager, "span", "glyphicon glyphicon-warning-sign")</td>
                        <td class="text-center">@Html.Element("span", "glyphicon glyphicon-ok", item.ApprovedHRManager, "span", "glyphicon glyphicon-warning-sign")</td>
                        <td>
                            @if (item.HasTrigger)
                            {
                                <a href="@Url.Action("Edit", "Handover", new { area = "", id = item.PackageId })">Handover</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Create", "Handover", new { area = "", id = item.PackageId })">Handover</a>
                            }
                        </td>
                        <td class="text-center">@Html.PackagePermissionsLabel(item.CurrentUserIsHr, item.CurrentUserIsLm)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
    .DisplayTemplate("BootstrapPagination")
    .MaxNrOfPages(14)
    .AlwaysAddFirstPageNumber()
    .PageRouteValueKey("pageNo")
    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
    .Action("../../Management/Dashboard/ListView")
            )
</section>

