﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.ProLinkViewModel

@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @Html.Partial("_ProLinkScripts")

    <script>
        var functions = @Html.Raw(Json.Encode(Model.Functions.ToList()));
    </script>
}

<form class="form-inline pro-link-form" role="form" ng-controller="ProLinkCtrl" ng-cloak>
    
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="panel panel-default">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Process Link Framework
            </div>

            @*
            <div class="vertical-cell pull-right" ng-show="!saving">
                <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Save Changes</button>
                <a href="@Url.Action("Index", "ProLink")" ng-click="clearChanges()" class="btn btn-danger">Reset Changes</a>
            </div>
            *@
        </div>
        <div class="panel-body">
            <p>Configure Function & Process Groups</p>
            <div class="row">
                <div class="col-sm-4">
                    <section class="panel panel-default">
                        <div class="panel-heading panel-heading-icon-right">
                            Function

                            <a href="@Url.Action("CreateFunction")" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">

                                <div ng-repeat="function in functionsPage" class="clearfix list-group-item" ng-class="{'active text-white': $parent.activeFunction === function }">
                                    <a href="" ng-click="functionSelect(function)" class="col-sm-11" style="padding:0">
                                        {{function.Name}}
                                    </a>
                                    <a ng-href="@Url.Action("UpdateFunction")/{{function.ID}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                </div>

                                <p ng-show="!functions.length">No functions in this module.</p>

                            </div>
                        </div>

                        <pagination class="pull-right"
                                    total-items="functions.length"
                                    items-per-page="pageSize"
                                    max-size="5"
                                    ng-model="functionsPageNo"
                                    previous-text="&laquo;"
                                    next-text="&raquo;"
                                    ng-show="functions.length > pageSize"
                                    ng-change="functionsPageChange()">
                        </pagination>
                    </section>
                </div>
                        
                <div class="col-sm-4">
                    <section class="panel panel-default">
                        <div class="panel-heading panel-heading-icon-right">
                                Process Group

                            <a ng-href="@Url.Action("CreateProcessGroup")/{{ activeFunction ? activeFunction.ID : null }}" ng-click="createProcessGroupClick($event)" class="icon-right" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                            
                                <div ng-repeat="processGroup in currentProcessGroupsPage" class="clearfix list-group-item" ng-class="{'active text-white': $parent.activeProcessGroup === processGroup }">
                                    <a href="" ng-click="processGroupSelect(processGroup)" class="col-sm-11" style="padding:0">
                                        {{processGroup.Name}}
                                    </a>

                                    <a ng-href="@Url.Action("UpdateProcessGroup")/{{processGroup.ID}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                </div>

                                <p ng-show="!activeFunction">Please select a function.</p>

                                <p ng-show="activeFunction && !activeFunction.ProcessGroups.length">No process groups in this function.</p>
                            
                            </div>
                        </div>

                        <pagination
                            class="pull-right"
                            total-items="currentProcessGroups.length"
                            items-per-page="pageSize"
                            max-size="5"
                            ng-model="processGroupPageNo"
                            previous-text="&laquo;"
                            next-text="&raquo;"
                            ng-show="currentProcessGroups.length > pageSize"
                            ng-change="processGroupPageChange()">
                        </pagination>

                    </section>
                </div>

                <div class="col-sm-4">
                    <section class="panel panel-default">
                        <div class="panel-heading panel-heading-icon-right">
                            Process

                            <button id="addprocess" onclick="processLink()" ng-href="@Url.RouteUrl("ProLink_CreateProcess", new {id = Model.BussinesProcessesTopicGroupID})?processGroupId={{ activeProcessGroup ? activeProcessGroup.ID : null }}" ng-click="createProcessClick($event)" class="icon-right btn-pro-link" ng-hide="!activeProcessGroup">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>

                            <script>
                                function processLink() {
                                   var url = $("#addprocess").attr('href');
                                   window.location.href = url;
                                }
                            </script>

                        </div>
                      <div class="panel-body">
                        <div class="list-group">

                          <div ng-repeat="topic in topicsPage" class="clearfix list-group-item">
                            <a ng-href="@Url.RouteUrl("ProLink_EditProcess")/{{topic.ID}}" class="col-sm-12" style="padding: 0">
                              {{topic.Name}}
                              <span style="clear: both" class="label label-default pull-right badging" ng-if="topic.ProcessGroupId">Pro-Link</span>
                            </a>

                          </div>

                          <p ng-show="!activeProcessGroup">Please select a process group.</p>

                          <p ng-show="activeProcessGroup && !activeProcessGroup.Topics.length">No processes in this process group.</p>

                        </div>
                      </div>

                        <pagination
                            class="pull-right"
                            total-items="activeProcessGroup.Topics.length"
                            items-per-page="pageSize"
                            max-size="5"
                            ng-model="topicPageNo"
                            previous-text="&laquo;"
                            next-text="&raquo;"
                            ng-show="activeProcessGroup && activeProcessGroup.Topics.length > pageSize"
                            ng-change="topicPageChange()">
                        </pagination>

                    </section>
                </div>
            </div>
        </div>
    </div>
</form>