﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.ProcessGroupViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@AppSession.Current.ProcessGroupFormReturnUrl" class="btn btn-danger">Close</a>
    </div>
}

@using (
    Html.BeginForm(
        Model.ID.HasValue ? "UpdateProcessGroup" : "CreateProcessGroup",
        "ProLink",
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @Model.FunctionName - @(Model.ID.HasValue ? "Edit" : "Create") Process Group
            </div>

            @SaveClose()
        </div>

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.FunctionId)

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            @SaveClose()
        </div>
    </div>
}