﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.OtherTasksViewModel
@using System.Diagnostics.Eventing.Reader
@using MomentumPlus.Activate.Web.Areas.Home.Controllers
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models
@using MomentumPlus.Activate.Web.Models.Home
@using MvcSiteMapProvider.Web.Html
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var criticalActive = Model.TaskType == TasksController.TaskType.Critical;
    var experiencesActive = Model.TaskType == TasksController.TaskType.Experiences;
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>


<section class="panel panel-primary clearfix @(criticalActive ? "expanded" : "collapsed")">
    <div class="panel-heading">
        <a href="" data-toggle="collapse" data-target=".collapse-group-critical"
           id="@(criticalActive ? "active-section" : "critical-tasks-header")">
            @if (criticalActive)
            {
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
            Essentials Tasks
        </a>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TasksOtherTasksCriticalTasksMenu })

    </div>

    @if (Model.TasksCritical != null && Model.TasksCritical.Items.Any())
    {
    <!-- Table -->
    <div class="table-responsive collapse collapsible collapse-group-critical @(criticalActive ? "in" : "")">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Name", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.NameTask},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">Edit</th>
                    <th>
                        @Html.ActionLink("Topic", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.NameTopic},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Word Count", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.WordCount},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Attachments", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.HasFiles},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Voice Messages", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.HasAudio},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Status", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.Flag},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Priority", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.Priority},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Last Updated", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.LastUpdated},
                                {"sortAscending", !Model.SortAscending}
                            }))
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var task in Model.TasksCritical.Items)
                {
                    <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = task.ID})">
                        <td>@task.NameTask</td>
                        <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = task.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                        <td>@task.NameTopic</td>
                        <td class="text-center">@task.WordCount</td>
                        <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", task.HasFiles)</a></td>
                        <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", task.HasAudio)</a></td>
                        <td class="text-center">@Html.Partial("_PackageFlag", task.Flag)</td>
                        <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                        <td class="text-center">@Html.LastViewedDate(task.LastUpdated)</td>
                    </tr>
                }
            </tbody>
        </table>




        @Html.Pager(Model.TasksCritical.PageSize, Model.TasksCritical.PageNo, Model.TasksCritical.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("pageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
            )
    </div>
    }
    else if (Model.TasksCritical != null && !Model.TasksCritical.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-critical @(criticalActive ? "in" : "")">
            <div class="alert alert-info" role="alert">No tasks in this module.</div>
        </div>
    }
</section>

@if (Model.TasksExperiences != null && Model.TasksExperiences.Items.Any())
{
    <section class="panel panel-primary clearfix @(experiencesActive ? "expanded" : "collapsed")">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <a href="" data-toggle="collapse" data-target=".collapse-group-experiences"
               id="@(experiencesActive ? "active-section" : "experiences-tasks-header")">
                @if (experiencesActive)
                {
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-triangle-right"></span>
                }
                Achievements Tasks
            </a>
            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel {Message = AccountConfig.Settings.TasksOtherTasksExperienceTasksMenu})

        </div>

        <!-- Table -->
        <div class="table-responsive collapse collapsible collapse-group-experiences @(experiencesActive ? "in" : "")">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.NameTask},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">Edit</th>
                        <th>
                            @Html.ActionLink("Topic", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.NameTopic},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Word Count", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksExperiencesItemViewModel.SortColumn.WordCount},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Attachments", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.HasFiles},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Voice Messages", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.HasAudio},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Status", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.Flag},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Priority", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.Priority},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Last Updated", "Core", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.LastUpdated},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var experience in Model.TasksExperiences.Items)
                    {
                        <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = experience.ID})">
                            <td>@experience.NameTask</td>
                            <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = experience.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                            <td>@experience.NameTopic</td>
                            <td class="text-center">@experience.WordCount</td>
                            <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = experience.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", experience.HasFiles)</a></td>
                            <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = experience.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", experience.HasAudio)</a></td>
                            <td class="text-center">@Html.Partial("_PackageFlag", experience.Flag)</td>
                            <td class="text-center">@Html.TaskPriorityLabel(experience.Priority)</td>
                            <td class="text-center">@Html.LastViewedDate(experience.LastUpdated)</td>
                        </tr>
                    }
                </tbody>
            </table>



            @Html.Pager(Model.TasksExperiences.PageSize, Model.TasksExperiences.PageNo, Model.TasksExperiences.TotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("pageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
                )
        </div>
    </section>
}