﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.OtherTasksViewModel

@using MomentumPlus.Activate.Web.Areas.Home.Controllers
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models
@using MomentumPlus.Activate.Web.Models.Home
@using MvcSiteMapProvider.Web.Html
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var criticalActive = Model.TaskType == TasksController.TaskType.Critical;
    var relationshipsActive = Model.TaskType == TasksController.TaskType.Relationships;
    var experiencesActive = Model.TaskType == TasksController.TaskType.Experiences;
    var projectsActive = Model.TaskType == TasksController.TaskType.Project;
}

<ul class="nav nav-tabs" role="tablist" style="border-bottom: none; padding-bottom: 1px;">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<section class="panel panel-primary clearfix @(criticalActive || Model.TasksCritical.PageNo > 1 ? "expanded" : "collapsed")">
    <div class="panel-heading">
        <a href="" data-toggle="collapse" data-target=".collapse-group-critical"
           id="@(criticalActive || Model.TasksCritical.PageNo > 1 ? "active-section" : "critical-tasks-header")">
            @if (criticalActive || Model.TasksCritical.PageNo > 1)
            {
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
            Essentials Tasks
        </a>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TasksOtherTasksCriticalTasksMenu })

    </div>

    @if (Model.TasksCritical != null && Model.TasksCritical.Items.Any())
    {
        <!-- Table -->
    <div class="table-responsive collapse collapsible collapse-group-critical @(criticalActive || Model.TasksCritical.PageNo > 1 ? "in" : "")">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.NameTask},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">Edit</th>
                        <th>
                            @Html.ActionLink("Topic", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.NameTopic},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Word Count", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.WordCount},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Attachments", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.HasFiles},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Voice Messages", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.HasAudio},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Status", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.Flag},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Priority", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.Priority},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Last Updated", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticalSortColumn", TasksCriticalItemViewModel.SortColumn.LastUpdated},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var task in Model.TasksCritical.Items)
                    {
                        <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = task.ID})" class="@(task.Flag.ReadyForReview ? "ready-for-review" : null)">
                            <td>@task.NameTask</td>
                            <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = task.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                            <td>@task.NameTopic</td>
                            <td class="text-center">@task.WordCount</td>
                            <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", task.HasFiles)</a></td>
                            <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", task.HasAudio)</a></td>
                            <td class="text-center">@Html.Partial("_PackageFlag", task.Flag)</td>
                            <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                            <td class="text-center">@Html.LastViewedDate(task.LastUpdated)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @Html.Pager(Model.TasksCritical.PageSize, Model.TasksCritical.PageNo, Model.TasksCritical.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("criticalPageNo")
             .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "criticalPageNo" }))
            )
    </div>
    }
    else if (Model.TasksCritical != null && !Model.TasksCritical.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-critical @(criticalActive || Model.TasksCritical.PageNo > 1 ? "in" : "")">
            <div class="alert alert-info" role="alert">No tasks in this module.</div>
        </div>
    }
</section>

<section class="panel panel-primary clearfix @(relationshipsActive || Model.TasksRelationships.PageNo > 1 ? "expanded" : "collapsed")">
    <div class="panel-heading">
        <a href="" data-toggle="collapse" data-target=".collapse-group-relationships"
           id="@(relationshipsActive || Model.TasksRelationships.PageNo > 1 ? "active-section" : "relationships-tasks-header")">
            @if (relationshipsActive || Model.TasksRelationships.PageNo > 1)
            {
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
            Relationships Tasks
        </a>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TasksOtherTasksRelationshipTasksMenu })
    </div>
    @if (Model.TasksRelationships != null && Model.TasksRelationships.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-relationships @(relationshipsActive || Model.TasksRelationships.PageNo > 1 ? "in" : "")">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.NameTask},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">Edit</th>
                            <th>
                                @Html.ActionLink("Contact", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.NameContact},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Word Count", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.WordCount},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Attachments", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.HasFiles},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Voice Messages", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.HasAudio},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Status", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.Flag},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Priority", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.Priority},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Last Updated", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksRelationshipsSortColumn", TasksRelationshipsItemViewModel.SortColumn.LastUpdated},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var task in Model.TasksRelationships.Items)
                        {
                            <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = task.ID})" class="@(task.Flag.ReadyForReview ? "ready-for-review" : null)">
                                <td>@task.NameTask</td>
                                <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = task.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                                <td>@task.NameContact</td>
                                <td class="text-center">@task.WordCount</td>
                                <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", task.HasFiles)</a></td>
                                <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", task.HasAudio)</a></td>
                                <td class="text-center">@Html.Partial("_PackageFlag", task.Flag)</td>
                                <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                                <td class="text-center">@Html.LastViewedDate(task.LastUpdated)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @Html.Pager(Model.TasksRelationships.PageSize, Model.TasksRelationships.PageNo, Model.TasksRelationships.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("relationshipPageNo")
             .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "relationshipPageNo" }))
            )
        </div>
    }
    else if (Model.TasksRelationships != null && !Model.TasksRelationships.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-relationships @(relationshipsActive || Model.TasksRelationships.PageNo > 1 ? "in" : "")">
            <div class="alert alert-info" role="alert">No tasks in this module.</div>
        </div>
    }
</section>


<section class="panel panel-primary clearfix  @(experiencesActive || Model.TasksExperiences.PageNo > 1 ? "expanded" : "collapsed")">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <a href="" data-toggle="collapse" data-target=".collapse-group-experiences"
           id="@(experiencesActive || Model.TasksExperiences.PageNo > 1 ? "active-section" : "experiences-tasks-header")">
            @if (experiencesActive || Model.TasksExperiences.PageNo > 1)
            {
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
            Achievements Tasks
        </a>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TasksOtherTasksExperienceTasksMenu })

    </div>
    @if (Model.TasksExperiences != null && Model.TasksExperiences.Items.Any())
    {
        <!-- Table -->
    <div class="table-responsive collapse collapsible collapse-group-experiences @(experiencesActive || Model.TasksExperiences.PageNo > 1 ? "in" : "")">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.NameTask},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">Edit</th>
                        <th>
                            @Html.ActionLink("Topic", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.NameTopic},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Word Count", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksCriticalSortColumn", TasksExperiencesItemViewModel.SortColumn.WordCount},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Attachments", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.HasFiles},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Voice Messages", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.HasAudio},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Status", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.Flag},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Priority", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.Priority},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Last Updated", "Other", Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"tasksExperiencesSortColumn", TasksExperiencesItemViewModel.SortColumn.LastUpdated},
                                {"sortAscending", !Model.SortAscending}
                            }))
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var experience in Model.TasksExperiences.Items)
                    {
                        <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = experience.ID})" class="@(experience.Flag.ReadyForReview ? "ready-for-review" : null)">
                            <td>@experience.NameTask</td>
                            <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = experience.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                            <td>@experience.NameTopic</td>
                            <td class="text-center">@experience.WordCount</td>
                            <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = experience.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", experience.HasFiles)</a></td>
                            <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = experience.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", experience.HasAudio)</a></td>
                            <td class="text-center">@Html.Partial("_PackageFlag", experience.Flag)</td>
                            <td class="text-center">@Html.TaskPriorityLabel(experience.Priority)</td>
                            <td class="text-center">@Html.LastViewedDate(experience.LastUpdated)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

            @Html.Pager(Model.TasksExperiences.PageSize, Model.TasksExperiences.PageNo, Model.TasksExperiences.TotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("experiencePageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] {"experiencePageNo"}))
                )
        </div>
    }
    else if (Model.TasksExperiences != null && !Model.TasksExperiences.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-experiences @(experiencesActive || Model.TasksExperiences.PageNo > 1 ? "in" : "")">
            <div class="alert alert-info" role="alert">No tasks in this module.</div>
        </div>
    }
</section>

<section class="panel panel-primary clearfix @(projectsActive || Model.TasksProjects.PageNo > 1 ? "expanded" : "collapsed")">
    <div class="panel-heading">
        <a href="" data-toggle="collapse" data-target=".collapse-group-projects"
           id="@(projectsActive || Model.TasksProjects.PageNo > 1 ? "active-section" : "project-tasks-header")">
            @if (projectsActive || Model.TasksProjects.PageNo > 1)
            {
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
            Project Tasks
        </a>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TasksOtherTasksProjectTasksMenu })

    </div>

    @if (Model.TasksProjects != null && Model.TasksProjects.Items.Any())
    {
        <!-- Table -->
    <div class="table-responsive collapse collapsible collapse-group-projects @(projectsActive || Model.TasksProjects.PageNo > 1 ? "in" : "")">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.NameTask},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">Edit</th>
                        <th>
                            @Html.ActionLink("Project Name", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.NameProject},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Word Count", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.WordCount},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Attachments", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.HasFiles},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Voice Messages", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.HasAudio},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Status", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.Flag},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Priority", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.Priority},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Last Updated", "Other", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksProjectsSortColumn", TasksProjectsItemViewModel.SortColumn.LastUpdated},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var task in Model.TasksProjects.Items)
                    {
                        <tr data-soft-link="@Url.Action("EditTask", "Tasks", new {id = task.ID})" class="@(task.Flag.ReadyForReview ? "ready-for-review" : null)">
                            <td>@task.NameTask</td>
                            <td class="text-center"><a href="@Url.Action("EditTask", "Tasks", new {id = task.ID})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                            <td>@task.NameProject</td>
                            <td class="text-center">@task.WordCount</td>
                            <td class="text-center"><a href="@Url.Action("Index", "Attachments", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-paperclip", task.HasFiles)</a></td>
                            <td class="text-center"><a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.ID, type = ItemType.Task})">@Html.Element("span", "glyphicon glyphicon-volume-up", task.HasAudio)</a></td>
                            <td class="text-center">@Html.Partial("_PackageFlag", task.Flag)</td>
                            <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                            <td class="text-center">@Html.LastViewedDate(task.LastUpdated)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @Html.Pager(Model.TasksProjects.PageSize, Model.TasksProjects.PageNo, Model.TasksProjects.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("projectPageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "projectPageNo" }))
            )
    </div>
    }
    else if (Model.TasksProjects != null && !Model.TasksProjects.Items.Any())
    {
        <div class="table-responsive collapse collapsible collapse-group-projects @(projectsActive || Model.TasksProjects.PageNo > 1 ? "in" : "") ">
            <div class=" alert alert-info" role="alert">No tasks in this module.</div>
        </div>
    }
</section>