﻿@model MomentumPlus.Activate.Web.Models.TasksViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-secondary">
    <div class="panel-heading">Tasks for Topic: @Model.TopicName</div>

    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>When</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td><a href="@Url.Action("EditTask", "Task", new { id = task.ID })">@task.Name</a></td>
                        <td>Week @task.WeekDue</td>
                        <td>
                            <a href="@Url.Action("EditTask", "Task", new { id = task.ID })">
                                <span class="glyphicon glyphicon-pencil">
                                </span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-sm-2">
            
        </div>

        <div class="col-sm-10 text-right">
            <a href="@Url.Action("CreateTask", "Task", new {id= Model.ItemID})" class="btn btn-primary">Create Task</a>
            <a href="@AppSession.Current.TaskManagerReturnUrl" class="btn btn-primary">Done</a>
        </div>
    </div>
</div>
