﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.WorkplaceViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading">Workplace</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly)
                    .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Name)
                    
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Address)
                    <a href="#" class="btn btn-default margin-top-sm" data-get-directions="#Address">Get Directions</a>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MapLink, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.MapLink, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-default" data-go-to="#MapLink">Go To</a>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.MapLink)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-2">
                    @*@if (!Model.CreateMode)
                    {
                        @Html.ActionLink("Delete", "DeleteWorkplace", new { id = Model.ID }, new { @class = "btn btn-danger" })
                    }*@
                </div>

                <div class="col-sm-10 text-right">
                    @if (!Model.ReadOnly)
                    {
                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                    @Html.ActionLink("Close", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}

