﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.RelationshipsViewModel
@using MomentumPlus.Activate.Web.Extensions
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #content > main > div > div > article > div > div.col-md-7 > div > div.col-md-9 > a {
        margin-left: 460px;
        padding-top: 10px;
        position: absolute;
    }
</style>

<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-3" id="company-filter">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="all-companies"> Select all
                    </label>
                </div>
                @foreach (var company in Model.Companies)
                {
                    <div class="checkbox">
                        <label>
                            <input class="company-checkbox" type="checkbox" value="@company">
                            @Html.TruncateWithTooltip(company, 15, "right")
                        </label>
                    </div>
                }
            </div>

            <div class="col-md-9">
                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.RelationshipAddNewMenu })
                <div id="graph-container"></div>
                <div id="graph-footer" class="clearfix">
                    @Html.Action("RelationshipsStats", "Relationships", new
                    {
                        displayNodes = (Model.GraphNodes.Count > 20 || Model.GraphNodes.Count(n => (int)n.Value.RelationshipImportance > 3) > 10)
                    })
                    <div class="checkbox">
                        <label>
                            <input id="link-toggle" type="checkbox"> Toggle links
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-5">
        @ViewBag.Referrer
        <div class="row business-card-container">
            <div class="col-md-1 business-card-nav text-center" id="business-card-left">
                <a href="#" class="prev-arrow" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </div>
            <div class="col-md-10">
                <ul class="business-card-slider">
                    @foreach (var contact in Model.GraphNodes.Values.Where(c => !c.RootNode).OrderBy(c => c.Name))
                    {
                        <li class="business-card-slide" data-contact-id="@contact.ID">
                            <business-card id="'@contact.ID'"
                                           first-name="'@contact.FirstName'"
                                           last-name="'@contact.LastName'"
                                           managed="'@contact.Managed'"
                                           image-id="'@contact.ImageId'"
                                           position="'@contact.Position'"
                                           other-company="'@contact.OtherCompany'"
                                           other-company-name="'@contact.OtherCompanyName'"
                                           company="'@contact.Company'"
                                           email="'@contact.Email'"
                                           telephone="'@contact.Phone'"
                                           management=false
                                           intro-required="'@contact.IntroRequired'">
                            </business-card>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-md-1 business-card-nav text-center" id="business-card-right">
                <a href="#" class="next-arrow" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </div>
        </div>

        @{
            var relationshipCookie = Request.Cookies["relationships-index"] != null ? Request.Cookies["relationships-index"].Value : "contacts";
        }

        <ul class="nav nav-tabs" role="tablist" id="relationships-tabs">
            <li role="presentation" class="@(relationshipCookie == "contacts" ? " active" : "")"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>
            <li role="presentation" class="@(relationshipCookie == "introductions" ? " active" : "")"><a href="#introductions" aria-controls="introductions" role="tab" data-toggle="tab">Introductions</a></li>

            @if (Model.Management != null && Model.Management.Any())
            {
                <li role="presentation" class="@(relationshipCookie == "management" ? " active" : "")"><a href="#management" aria-controls="management" role="tab" data-toggle="tab">Management</a></li>
            }
        </ul>

        <div class="tab-content">
            <div class="tab-pane @(relationshipCookie == "contacts" ? " active" : "")" role="tabpanel" id="contacts">
                <section class="panel panel-default">
                    <div class="panel-heading clearfix">
                        Active
                        @if (!Model.ReadOnly)
                        {
                            <a href="@Url.Action("QuickAddRelationship")" class="pull-right s">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                        <a href="@Url.Action("DownloadContacts", new {area = "Home", id = Model.ID})" target="_blank" class="pull-right s" style="margin: 0 1em;" title="Download active contacts for Outlook import"><span class="glyphicon glyphicon-download-alt"></span></a>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hovers">
                            <tbody>
                                @if (Model.ActiveContacts != null && Model.ActiveContacts.Any())
                                {
                                    foreach (var contact in Model.ActiveContacts)
                                    {
                                        <tr data-soft-link="@Url.Action("Edit", new {id = contact.ID})">
                                            @if (Model.Flags != null)
                                            {
                                                <td>@Html.Partial("_PackageFlag", Model.Flags[contact])</td>
                                            }
                                            <td>
                                                @contact.Name
                                            </td>
                                            <td class="text-right" style="width: 100px">
                                                <a href="@Url.Action("Edit", new {id = contact.ID})">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                &nbsp;
                                                <a href="@Url.Action("RetireRelationship", new {id = contact.ID, returnToUrl = true})" class="btn btn-danger btn-xs">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Pager(Model.ContactsPageSize, Model.ActivePageNo, Model.ActiveCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(6)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("activePageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "activePageNo" }))
                )
                </section>
                <div class="col-sm-6 col-sm-offset-3"></div>
                <div class="clearfix"></div>
                <section class="panel panel-default">
                    <div class="panel-heading clearfix">Retired</div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hovers">
                            <tbody>
                                @foreach (var contact in Model.RetiredContacts)
                                {
                                    <tr>
                                        <td>
                                            @contact.Name
                                        </td>
                                        <td class="text-right" style="width: 100px">
                                            <a href="@Url.Action("Edit", new {id = contact.ID})">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            &nbsp;
                                            <a href="@Url.Action("ResumeRelationship", new {id = contact.ID, returnToUrl = true})" class="btn btn-primary btn-xs">Resume</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Pager(Model.ContactsPageSize, Model.RetiredPageNo, Model.RetiredCount).Options(o => o
                    .DisplayTemplate("BootstrapPagination")
                    .MaxNrOfPages(6)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("retiredPageNo")
                    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "retiredPageNo" }))
                    )
                </section>
            </div>
            <section class="panel panel-default tab-pane @(relationshipCookie == "introductions" ? " active" : "")" role="tabpanel" id="introductions">
                <div class="panel-heading clearfix">
                    Introduction Schedule
                    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.RelationshipIntroScheduleMenu })
                    @if (!Model.ReadOnly)
                    {
                        <a href="@Url.Action("CreateIntroMeeting")" class="pull-right s">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    }
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hovers">
                        <tbody>
                            @if (Model.Meetings != null)
                            {
                                foreach (var meeting in Model.Meetings)
                                {
                                    <tr data-soft-link="@Url.Action("EditMeeting", new {id = meeting.ID})">
                                        <td>
                                            <div class="col-sm-6">@Html.TruncateWithTooltip(meeting.ParentContact.Name, 30)</div>
                                            <div class="col-sm-6">@Html.TruncateWithTooltip(meeting.Location, 30)</div>
                                            <div class="col-sm-12">@Html.TruncateWithTooltip(meeting.Name, 30)</div>
                                        </td>
                                        @*<td>@(meeting.Start.HasValue ? "Arranged" : "TBA")</td>*@
                                        <td class="text-center">
                                            <a href="@Url.Action("EditMeeting", new {id = meeting.ID})">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Pager(Model.ContactsPageSize, Model.IntroPageNo, Model.IntroCount).Options(o => o
                    .DisplayTemplate("BootstrapPagination")
                    .MaxNrOfPages(6)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("introPageNo")
                    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "introPageNo" }))
                )
            </section>
            <section class="panel panel-default tab-pane @(relationshipCookie == "management" ? " active" : "")" role="tabpanel" id="management">
                <div class="panel-heading clearfix">
                    People I Manage
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hovers">
                        <tbody>
                            @if (Model.Management != null && Model.Management.Any())
                            {
                                foreach (var contact in Model.Management)
                                {
                                    <tr data-soft-link="@Url.Action("Edit", new {id = contact.ID, urlAction = "viewManagement" })">
                                        @if (Model.Flags != null)
                                        {
                                            <td>@Html.Partial("_PackageFlag", Model.Flags[contact])</td>
                                        }
                                        <td>
                                            @contact.Name
                                        </td>
                                        <td class="text-right" style="width: 100px">
                                            <a href="@Url.Action("Edit", new {id = contact.ID})">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Pager(Model.ContactsPageSize, Model.ManagementPageNo, Model.ManagementCount).Options(o => o
                    .DisplayTemplate("BootstrapPagination")
                    .MaxNrOfPages(6)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("managementPageNo")
                    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "managementPageNo" }))
                )
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    @Html.Partial("_BusinessCard")
    @Scripts.Render("~/bundles/relationships.js")
    @Scripts.Render("~/bundles/meeting-quick-edit.js")
    @Scripts.Render("~/Content/js/business-cards.js")
    <script>
        ACTIVATE.initialiseRelationshipsGraph(
            "@Model.PackageOwnerId",
            "@(Model.DefaultCompanyId != null && Model.DefaultCompanyId.HasValue ? Model.DefaultCompanyId.Value.ToString() : "")",
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GraphNodes)));
    </script>
}
