﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.QuickAddRelationshipViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    <div class="panel panel-secondary">
        <div class="panel-heading">
            Add from Company Directory
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            <p>
                Please select a person from the company directory below by typing in the name, or you may create your own by selecting the &quot;Create My Own Relationship&quot; button below.
            </p>
            <div class="form-group">
                @Html.DropDownListFor(
                    model => model.ContactId,
                    Model.Contacts,
                    "",
                    new { @class = "form-control combobox" }
                )
                @Html.ValidationMessageFor(model => model.ContactId)
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-12 text-right">
                  @*<a href="@AppSession.Current.CancelRequestReturnUrl" class="btn btn-danger">Cancel</a>*@
                  <a href="/Home/Relationships" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="relationship-confirmation" data-return-url="@AppSession.Current.QuickAddRelationshipFormReturnUrl">
                        Add
                    </button>
                    <a class="btn btn-primary" href="@Url.Action("Create")">Create My Own Relationship</a>
                </div>
            </div>
        </div>
    </div>
}

