﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.RelationshipsStatsViewModel

<ul class="list-inline" id="people-progress">
    <li>
        <a href="@Url.Action("Index", "Relationships", new { selectedCompanies = Model.DefaultCompany })">
            <img src="/Content/css/images/node-blue.png" alt="Internal Contacts" />
            <div id="allBlueNodes" style="display: inline-block;">@Model.PeopleInternal</div>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Relationships", new { selectedCompanies = Model.OtherCompanies })">
            <img src="/Content/css/images/node-white.png" alt="External Contacts" />
            <div id="allNodesCount" style="display: inline-block;">@Model.PeopleExternal</div>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Relationships", new { showMeetings = true })">
            <span class="glyphicon glyphicon-calendar" id="meetings-icon"></span>
            @Model.Meetings
        </a>
    </li>
</ul>
