﻿@model MomentumPlus.Activate.Web.Models.ExitSurveyForViewViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body panel panel-default">

    @Html.Partial("~/Views/ExitSurvey/Shared/_CoverExitSurvey.cshtml", Model.Description)

    @foreach (var sectionItem in Model.Sections)
    {
        <section class="panel panel-primary clearfix expanded">
            <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-target=".collapse-group-section@(sectionItem.Number)">
                <div class="panel-heading display-table" style="cursor: pointer;">
                    <div class="vertical-cell">
                        Section @sectionItem.Number
                    </div>
                    <div class="vertical-cell text-right">
                        @Html.Action("CompleteStatus", "ExitSurvey", new { sectionId = sectionItem.SectionId, userId = Model.UserId })
                    </div>
                </div>
            </div>
            <div id="questionContainer" class="table-responsive collapsible collapse-group-section@(sectionItem.Number)">
                @Html.Action("GetQuestionForInterView", "ExitSurvey", new { sectionId = sectionItem.SectionId })
            </div>
        </section>
    }
</div>
