﻿@using MomentumPlus.Activate.Web.Models
@model ExitSurveyReportViewModel


@if (Model.IsPdf)
{
    Layout = "~/Views/Reports/_PrintLayout.cshtml";
}
else
{

    Layout = "~/Views/Shared/_Layout.cshtml";

    <div id="report-top"></div>

    <div class="row">
        <div class="col-sm-6">
            <a href="@Url.Action("DownloadExitSurveyReport", "Reports", new { packageId = Model.Package.ID, exitSurveyId = Model.ExitSurveyId, area = "" })" target="_blank" class="btn btn-custom btn-print margin-bottom margin-top">
                <span class="glyphicon glyphicon-save">
                </span>
                Download PDF
            </a>
        </div>
    </div>

    Html.Partial("~/Views/ExitSurvey/Cover.cshtml", Model);
}


@Html.Action("ViewSurveyReport", "ExitSurvey", new { exitSurveyId = Model.ExitSurveyId })