﻿@using MomentumPlus.Activate.Web.Areas.Home.Models
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models
@using MvcPaging

@model ProjectsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="display-inline-block vertical-middle">My Projects (@Model.TotalCount)</h2>
            <a href="@Url.Action("QuickAddProject")" title="Add Project" class="btn btn-default pull-right display-inline-block vertical-middle margin-top margin-bottom-sm">
                Add Project
            </a>
        </div>

        <div class="col-md-12">
            @using (
                Html.BeginForm(
                    ViewContext.RouteData.Values["action"].ToString(),
                    ViewContext.RouteData.Values["controller"].ToString(),
                    FormMethod.Get,
                    new { role = "form" }
                )
            )
            {
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderBy, new { @class = "control-label" })
                            @Html.DropDownListFor(
                                model => model.OrderBy,
                                Model.OrderBy.ToSelectList(),
                                new { @class = "form-control on-change-submit" }
                            )
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SortAscending, new { @class = "control-label invisible" })
                            @Html.DropDownListFor(
                                model => model.SortAscending,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "Ascending", Value = true.ToString() },
                                    new SelectListItem { Text = "Descending", Value = false.ToString() }
                                },
                                new { @class = "form-control on-change-submit" }
                            )
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectStatus)
                            @Html.DropDownListFor(
                                model => model.ProjectStatus,
                                Model.Statuses,
                                new { @class = "form-control on-change-submit" }
                            )
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectsPerPage, new { @class = "control-label" })
                            @Html.DropDownListFor(
                                model => model.ProjectsPerPage,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "5", Value = "5" },
                                    new SelectListItem { Text = "10", Value = "10" },
                                    new SelectListItem { Text = "All", Value = Model.TotalCount.ToString() }
                                },
                                new { @class = "form-control on-change-submit" }
                            )
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RetiredProjects, new { @class = "invisible" })
                            @Html.DropDownListFor(
                                model => model.RetiredProjects,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "Active Projects", Value = false.ToString() },
                                    new SelectListItem { Text = "Retired Projects", Value = true.ToString() }
                                },
                                new { @class = "form-control active-state-dropdown", data_param = "retiredProjects" }
                            )
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.ProjectInstances.Any())
    {
        foreach (var projectInstance in Model.ProjectInstances.ToList())
        {
            var project = projectInstance.Project;
            var editUrl = Url.Action("EditProjectCard", new { id = projectInstance.ID });

            <div class="row border-all padding-all no-margin margin-bottom project-card project-priority-@projectInstance.Priority.ToString()" data-soft-link="@editUrl" data-id="@projectInstance.ID">
                <div class="col-md-2 text-center project-image">
                    <img src="@Url.Action("Get", "Image", new { area = "", id = projectInstance.Project.ImageId })" alt="@projectInstance.Project.Name" />
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-8">
                            <a href="@editUrl">
                                <h3 class="display-inline-block vertical-middle padding-right">
                                    <strong>@project.Name</strong>
                                </h3>
                            </a>
                            <time class="h4 display-inline-block vertical-middle margin-top">
                                @(project.Start.HasValue ? project.Start.Value.ToLongDateString() : "TBA")

                                @if (project.End.HasValue && project.Start.HasValue)
                                {
                                    @:- @project.End.Value.ToLongDateString() (@((project.End.Value - project.Start.Value).Days) days)
                                }
                            </time>
                        </div>
                        @if (projectInstance != null)
                        {
                            <div class="col-md-4">
                                <div class="col-md-4" style="padding: 0;margin-top:10px">
                                    <p>
                                        <strong>Priority:</strong>
                                    </p>
                                </div>
                                <div class="col-md-8" style="padding:0">
                                    @Html.Partial("_ProjectCardPriority", projectInstance)
                                </div>
                            </div>
                        }

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                <span><strong>@project.Status.Title</strong></span>
                                @if (project.Budget.HasValue && project.Budget.Value > 0)
                                {
                                    @: | Budget - £@string.Format("{0:#,##0}", project.Budget.Value)
                                }
                            </p>

                            @if (project.ProjectManager != null)
                            {
                                <p>
                                    <div><small>@project.ProjectManager.Person.FullName - Project Manager</small></div>
                                    <div>
                                        <small>
                                            Email:
                                            <a href="mailto:@project.ProjectManager.Person.Email">@project.ProjectManager.Person.Email</a>
                                        </small>
                                    </div>
                                    <div>
                                        <small>
                                            Tel:
                                            @project.ProjectManager.Person.Phone
                                        </small>
                                    </div>
                                </p>
                            }

                            @* Not approved *@
                            @if (!projectInstance.ProjectId.HasValue)
                            {
                                <p>
                                    <strong>Waiting for approval</strong>
                                </p>
                            }
                        </div>

                        <div class="col-md-4">
                            <p class="project-card-notes">
                                <span><strong>Notes</strong></span>:
                                @(string.IsNullOrEmpty(projectInstance.Notes) ? "-" : Html.Truncate(projectInstance.Notes, 160))
                            </p>
                        </div>

                        <div class="col-md-4">
                            <p>
                                <span><strong>My Role</strong></span>:
                                @if (projectInstance.AwaitingProjectManagerApproval)
                                {
                                    @:Project Manager (pending for approval)
                                }
                                else
                                {
                                    @(projectInstance.Role != null ? projectInstance.Role.Title : "-")
                                }
                            </p>

                            <p class="@(projectInstance.FirstTask != null ? "" : "text-muted")">
                                <strong>First Task:</strong> @if (projectInstance.FirstTask != null)
                                {
                                    <a href="@Url.Action("ViewTask", "Onboarding", new { id = projectInstance.FirstTask.ID, area = "Home", onboarding = true })">@projectInstance.FirstTask.Name</a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </p>

                            <p class="@(!projectInstance.Meetings.Any() ? "text-muted" : "")">
                                <strong>First Meeting:</strong> @if (projectInstance.Meetings.Any())
                                {
                                    <a href="@Url.Action("EditMeeting", "Meetings", new {id = projectInstance.Meetings.OrderBy(m => m.Start).First().ID, area = "Home"})">@projectInstance.Meetings.OrderBy(m => m.Start).First().Name</a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </p>

                            <p>
                                <span><strong>@(projectInstance.AttachmentsCount + projectInstance.DocumentLibrariesCount) Attachment@((projectInstance.AttachmentsCount + projectInstance.DocumentLibrariesCount) != 1 ? "s" : "")</strong></span>:
                                <a href="@Url.Action("Index", "Attachments", new { area = string.Empty, id = projectInstance.ID, type = ItemType.ProjectInstance })">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                </a>

                                <span><strong>@projectInstance.VoiceMessagesCount Voice Message@(projectInstance.VoiceMessagesCount != 1 ? "s" : "")</strong></span>:
                                <a href="@Url.Action("Index", "VoiceMessage", new { area = string.Empty, id = projectInstance.ID, type = ItemType.ProjectInstance })">
                                    <span class="glyphicon glyphicon-volume-up"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

        @Html.Pager(Model.ProjectsPerPage, Model.PageNo, Model.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("pageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
        )
    }
    else
    {
        <p>No projects to show.</p>
    }

    @if (Model.UnapprovedCount > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h2>Waiting for Approval (@Model.UnapprovedCount)</h2>

                <div class="panel-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Submitted</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var newProjectRequest in Model.NewProjectRequests.ToList())
                            {
                                var editUrl = Url.Action("EditProjectRequest", new { id = newProjectRequest.ID });

                                <tr data-soft-link="@editUrl" class="@(newProjectRequest.IsDeclined() ? "warning" : null)">
                                    <td>@newProjectRequest.SuggestedName</td>
                                    <td><time>@newProjectRequest.Created.Value.ToShortDateString() @newProjectRequest.Created.Value.ToShortTimeString()</time></td>
                                    <td>@(newProjectRequest.IsDeclined() ? "Declined" : "New Project")</td>
                                    <td><a href="@editUrl">View/Edit Request</a></td>
                                </tr>
                            }

                            @foreach (var projectTransferRequest in Model.UnapprovedProjectTransferRequests.ToList())
                            {
                                var editUrl = Url.Action("EditTransferRequest", new { id = projectTransferRequest.ID });

                                <tr data-soft-link="@editUrl">
                                    <td>@projectTransferRequest.ProjectInstance.Project.Name</td>
                                    <td><time>@projectTransferRequest.Created.Value.ToShortDateString() @projectTransferRequest.Created.Value.ToShortTimeString()</time></td>
                                    <td>Transferred</td>
                                    <td><a href="@editUrl">View/Edit Request</a></td>
                                </tr>
                            }

                            @foreach (var projectInstanceRoleChangeRequest in Model.UnapprovedProjectInstanceRoleChangeRequests.ToList())
                            {
                                var editUrl = Url.Action("EditRoleChangeRequest", new { id = projectInstanceRoleChangeRequest.ID });

                                <tr data-soft-link="@editUrl">
                                    <td>@projectInstanceRoleChangeRequest.ProjectInstance.Project.Name</td>
                                    <td><time>@projectInstanceRoleChangeRequest.Created.Value.ToShortDateString() @projectInstanceRoleChangeRequest.Created.Value.ToShortTimeString()</time></td>
                                    <td>Role Change</td>
                                    <td><a href="@editUrl">View/Edit Request</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>