﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.ProjectsStatsViewModel

<ul class="list-inline" id="projects-progress">
    <li>
        <a href="@Url.Action("Index", "Projects")">
            <span class="glyphicon glyphicon-picture" id="projects-icon"></span>
            @Model.ProjectsCount
        </a>
    </li>
</ul>
