﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Areas.Home.Models.QuickAddProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var existingProjectSelectors = "#ExistingProjectId, [name=ExistingProjectId] + .input-group > input";
    var newProjectSelectors = "#ProjectName, #ProjectId";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { role = "form" }
    )
)
{
    @Html.HiddenFor(model => model.ProjectInstanceId)

    <div class="panel panel-secondary">
        <div class="panel-heading">
            @(Model.ProjectInstanceId.HasValue ? "Edit New Project Request" : "Select/Quick Add Project")
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if(Model.Declined)
            {
                <div class="alert alert-warning" role="alert">Your request was declined.</div>
            }
            <p>
                Please select a Project below. If one does not exist, click Add New Project and
                provide the relevant fields.
            </p>
            <div class="form-group">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(
                            model => model.SelectExisting,
                            true,
                            new
                            {
                                data_enable = existingProjectSelectors,
                                data_disable = newProjectSelectors
                            }
                        )
                        Select existing Project
                    </label>
                </div>
                @Html.DropDownListFor(
                    model => model.ExistingProjectId,
                    Model.ExistingProjects,
                    "Select a Project",
                    new { @class = "form-control combobox" }.WithAttrIf("disabled", "", !Model.SelectExisting)
                )
                @Html.ValidationMessageFor(model => model.ExistingProjectId)
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(
                            model => model.SelectExisting,
                            false,
                            new
                            {
                                data_enable = newProjectSelectors,
                                data_disable = existingProjectSelectors
                            }
                        )
                        Add new Project
                    </label>
                </div>

                @Html.LabelFor(model => model.ProjectName)
                @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.SelectExisting))
                <div>@Html.ValidationMessageFor(model => model.ProjectName)</div>

                @Html.LabelFor(model => model.ProjectId)
                @Html.TextBoxFor(model => model.ProjectId, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.SelectExisting))
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
            @Html.Partial("_RequiredField", 0)
        </div>
        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="@AppSession.Current.QuickAddProjectFormReturnUrl" class="btn btn-danger">Cancel</a>

                    @if (Model.ProjectInstanceId.HasValue)
                    {
                        <a href="@Url.Action("DeleteRequest", new { id = Model.ProjectInstanceId.Value })"
                           class="btn btn-danger"
                           data-confirm-link="Are you sure you would like to delete this Project Card?">
                            Delete Request
                        </a>
                        <button type="submit" class="btn btn-primary" id="project-confirmation">
                            Update/Add
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" id="project-confirmation">
                            Add Project
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}
