﻿@model MomentumPlus.Activate.Web.Models.PackageSelectorViewModel

@{
    Layout = null;
}

<div id="master-package-selector" class="btn-group" data-dropdown>
    <button class="btn btn-select-pack navbar-btn dropdown-toggle" type="button" id="dropdown-global" data-ng-disabled="disabled">
        <strong>@(!String.IsNullOrWhiteSpace(Model.SelectedPackage) ? Model.SelectedPackage : "No Package Selected")</strong>

        @if (!Model.ExamineMode && Model.Packages.Any())
        {
            <span class="caret"></span>
        }
    </button>
    @if (!Model.ExamineMode)
    {
        if (Model.Packages.Any())
        {
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-global">
                @foreach (var p in Model.Packages)
                {
                <li role="presentation">
                    @Html.ActionLink(p.Name, "SelectPackage", new { id = p.ID }, new { role = "menuitem", tabindex = "-1" })
                </li>
                }
            </ul>
        }
    }
</div>
