﻿@model MomentumPlus.Core.Models.Package

<div class="panel panel-default margin-top-40">
    <div class="panel-body">
        <div class="user-view-block row vertical-center">
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-left">
                <span class="text">
                    Viewing User
                </span>
            </div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-12 text-center">
                <span class="title">
                    @Model.DisplayName
                </span>
            </div>
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-right">
                @Html.ActionLink("Exit", "ExitExamineMode", "PackageSelector", null, new { @class = "text" })
            </div>
        </div>
    </div>
</div>

<style>
    .user-view-block .text {
        border: none;
        background: none;
        color: #b4b4b4;
        font-weight: bold;
    }
    .user-view-block .title {
        display: inline;
        font-size: 16px;
        font-weight: bold;
        color: #464646;
    }
</style>
@*<h3 class="text-danger">
    <strong>
        VIEWING @Model.DisplayName
        @Html.ActionLink("Exit", "ExitExamineMode", "PackageSelector", null, new { @class = "pull-right text-danger" })
    </strong>
</h3>*@
