﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Helpers

@using AccountConfig = MomentumPlus.Activate.Web.Helpers.AccountConfig

@model MomentumPlus.Activate.Web.Models.EmployeesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("Index", null, FormMethod.Get))
                {
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Query, new { @class = "control-label sr-only" })
                        @Html.TextBoxFor(m => m.Query, new { @class = "form-control", placeholder = "Type to search for an employee" })
                        <button type="submit" class="unbutton glyphicon glyphicon-search form-control-feedback"></button>
                    </div>
                }
            </div>
                                    
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DropDownListFor(
                        model => model.SelectedPackageStatus,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "View All", Value = "" },
                            new SelectListItem { Text = "Onboarding", Value = MomentumPlus.Core.Models.Package.Status.New.ToString() },
                            new SelectListItem { Text = "Ongoing", Value = MomentumPlus.Core.Models.Package.Status.InProgress.ToString() },
                            new SelectListItem { Text = "Leaving", Value = MomentumPlus.Core.Models.Package.Status.Triggered.ToString() },
                        },
                        new { @class = "form-control" }
                    )
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(
                        model => model.Retired,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Active Packs", Value = false.ToString() },
                            new SelectListItem { Text = "Retired Packs", Value = true.ToString() }
                        },
                        new { @class = "form-control active-state-dropdown" }
                    )
                </div>
            </div>
        </div>
                                
        <div class="row">
            <div class="col-md-3">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                                                @Html.ActionLink("Employees", null, Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "SortAscending", !Model.SortAscending }
                            }))
                                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.PackagesEmployeesHeader })

                        @if (Model.IsAuthorisedToAdd)
                        {
                            <a href="@Url.Action("CreateEmployee")" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                    </div>
                    <div class="panel-body">
                        @if (Model.Users.Any())
                        {
                            <div class="list-group" style="font-size: 12px;">
                                @foreach (var user in Model.Users)
                                {
                                    <div class="list-group-item workspace-item @(user.ID == Model.SelectedUserId  ? " active text-white" : "")">
                                        <a href="@Url.Action("Index", Request.QueryString.AddOrUpdate(new Dictionary<string, object>{{ "id", user.ID }}))">@user.LastName, @user.FirstName</a>
                                        <a href="@Url.Action("EditEmployee", new { id = user.ID })"><span class="glyphicon glyphicon-pencil pull-right pencil-workspace"></span></a>
                                    </div>
                                }
                            </div>
                                
                            @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
                                .DisplayTemplate("BootstrapPaginationCondensed")
                                .MaxNrOfPages(1)
                                .AlwaysAddFirstPageNumber()
                                .PageRouteValueKey("PageNo")
                                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
                            )
                        }
                        else
                        {
                            <span>This section does not contain any items.</span>
                        }
                    </div>
                </section>
            </div>

            <div class="col-md-9">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                      Packs

                        @if (Model.IsAuthorisedToAdd)
                        {
                            <a href="@Url.Action("CreatePackage", new { selectedUserId = Model.SelectedUserId })" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                    </div>

                    <div class="panel-body table-responsive">
                        @if (Model.Packages.Any())
                        {
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center">Status</th>
                                        <th>Position</th>
                                        <th>Workplace</th>
                                        <th>Start</th>
                                        <th>Handover</th>
                                        <th>Finish Date</th>
                                        <th>Next Employee</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody style="font-size: 12px;">
                                    @foreach (var package in Model.Packages)
                                    {
                                        <tr>
                                            <td class="text-center">@Html.PackageStatusLabel(package.ID)</td>
                                            <td>@package.Position.Name</td>
                                            <td>@package.Workplace.Name</td>
                                            <td>@(package.StartDate.HasValue ? package.StartDate.Value.ToShortDateString() : " - ")</td>
                                            <td>@(package.Handover != null ? package.Handover.Created.ToShortDateString() : " - ")</td>
                                            <td>@(package.Handover != null && package.Handover.LeavingPeriodViewModel.LastDay.HasValue ? package.Handover.LeavingPeriodViewModel.LastDay.Value.ToShortDateString() : " - ")</td>
                                            <td>@(package.Handover != null && package.Handover.OnboardingPeriodViewModel.Package != null && package.Handover.OnboardingPeriodViewModel.Package.UserOwner != null ? package.Handover.OnboardingPeriodViewModel.Package.UserOwner.FullName : " - ")</td>
                                            <td>
                                                <a href="@Url.Action("EditPackage", new { id = package.ID })">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ExaminePackage", "PackageSelector", new { area = "", id = package.ID })">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else if (Model.SelectedUserId.HasValue)
                        {
                            if (Model.Retired)
                            {
                                <span>The selected user does not have any retired Packs.</span>
                            }
                            else
                            {
                                <span>The selected user does not have any Packs.</span>
                            }

                        }
                        else
                        {
                            <span>Select a user to view their Packs.</span>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
