﻿@model MomentumPlus.Activate.Web.Models.EmployeesViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                @using (Html.BeginForm("Index", "Users", new { id = (Guid?)null}, FormMethod.Get))
                {
                    <!-- Search form -->
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Query, new { @class = "control-label sr-only" })
                        @Html.TextBoxFor(m => m.Query, new { @class = "form-control", placeholder = "Type to search for an employee" })
                        <button type="submit" class="unbutton glyphicon glyphicon-search form-control-feedback"></button>
                    </div>
                }
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(
                        model => model.Retired,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Active Employees", Value = false.ToString() },
                            new SelectListItem { Text = "Retired Employees", Value = true.ToString() }
                        },
                        new { @class = "form-control active-state-dropdown" }
                    )
                </div>
            </div>
        </div>
                                
        <div class="row">
            <div class="col-md-3">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        @Html.ActionLink("Employees", null, Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                { "SortAscending", !Model.SortAscending }
                            }))
                        @if (!Model.ReadOnly)
                        {
                            <a href="@Url.Action("CreateEmployee")" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                    </div>
                    <div class="panel-body">
                       @if (Model.Users.Any())
                        {
                            <!-- Warning: In-Line Styles!!! -->
                            <div class="list-group" style="font-size: 12px;">
                                @foreach (var user in Model.Users)
                                {
                                    <div class="list-group-item@(user.ID == Model.SelectedUserId  ? " active text-white" : "")">
                                        <a href="@Url.Action("Index", Request.QueryString.AddOrUpdate(new Dictionary<string, object> { { "id", user.ID } }))">@user.LastName, @user.FirstName</a>
                                    </div>
                                }
                            </div>

                            @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
                                .DisplayTemplate("BootstrapPaginationCondensed")
                                .MaxNrOfPages(1)
                                .AlwaysAddFirstPageNumber()
                                .PageRouteValueKey("PageNo")
                                //.RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
                            )
                        }
                        else
                        {
                             if (Model.Retired)
                             {
                                 <span>No employees have been retired.</span>
                             }
                             else
                             {
                                 <span>No employees.</span>
                             }

                        }
                    </div>
                </section>

            </div>

            <div class="col-md-9">
                <section class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading panel-heading-icon-right">
                        Details
                        @if (Model.SelectedUserId.HasValue)
                        {
                            <a href="@Url.Action("EditEmployee", new { id = Model.SelectedUserId.Value })" class="icon-right">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        }
                    </div>

                    @if (Model.SelectedUserId != null && Model.SelectedUser != null)
                    {
                        var user = Model.SelectedUser;
                                
                        <!-- Table -->
                        <div class="panel-body table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Phone</th>
                                        <th>Last Activity</th>
                                        <th>Last Login</th>
                                    </tr>
                                </thead>

                                <!-- Warning: In-Line Styles!!! -->
                                <tbody style="font-size: 12px;">
                                    <tr>
                                        <td>@user.Role.RoleName</td>
                                        <td><a href="mailto:@user.Email">@user.Email</a></td>
                                        <td><a href="tel:@user.Mobile">@user.Mobile</a></td>
                                        <td><a href="tel:@user.Phone">@user.Phone</a></td>
                                        <td>@user.LastActivityDate</td>
                                        <td>@user.LastLoginDate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <span style="padding: 10px">Nothing is selected. Please select from the options in the "Employees" section.</span>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
