﻿Handover Support has been requested for the following onboarder:

Employee: {{name}}
Package: {{package}}
Start Date: {{date}}
Onboarding period: {{onboard}}

You can view the package at: {{url}}

Please email {{name}} at {{email}} {{phone}} to arrange a meeting.