﻿Handover Support has been requested for the following leaver:

Employee: {{name}}
Package: {{package}}
Finish Date: {{date}}
Leaving period: {{leaving}}

You can view the package at: {{url}}

Please email {{name}} at {{email}} {{phone}} to arrange a meeting.