﻿Dear {{name}}, a request has been received to reset the password for your Activate account.
<br />
If you did not request this email please ignore it. If you did request this email click the URL below to reset your password:
<br />
{{url}}
