﻿@model MomentumPlus.Activate.Web.Models.SubjectivityReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewSubjectivityReport")',
            data: 'id=@Model',
            timeout: 50000,
            success: function(content){
                $("#ajax-content").html(content);
            }
        });
    });
</script>
}


<section class="" id="ajax-content">
    <section class="panel panel-default">
        <div class="panel-heading">
            Please wait while we compile the report. This report can take up to 1 minute to complete
        </div>
    </section>
</section>