﻿@model MomentumPlus.Activate.Web.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Reports
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr data-soft-link="@Url.Action("ViewGlobalSubjectivityReport")">
                    <td>
                        <a href="@Url.Action("ViewGlobalSubjectivityReport")">Global Subjectivity Report</a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("DownloadSubjectivityReport")" target="_blank">
                            <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>