﻿@using Microsoft.Ajax.Utilities
@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.SubjectivityReportViewModel
@if (Model.IsPdf)
{
    Layout = "~/Views/Reports/_PrintLayout.cshtml";
}
else
{
<div id="report-top"></div>

<a href="@Url.Action("DownloadSubjectivityReport")" target="_blank" class="btn btn-custom btn-print margin-bottom margin-top">
    <span class="glyphicon glyphicon-save"></span>
    Download PDF
</a>
}
<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - Packages
    </div>
    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th class="text-center">Package Status</th>
                    <th class="text-center">Site</th>
                    <th class="text-center">Subjectivity Count</th>
                    <th class="text-center">Total Word Count</th>
                    <th class="text-center">% Subjectivity vs Word Count</th>
                    <th class="text-center">Count of Items with Subjectivity</th>
                    <th class="text-center">Total Items</th>
                    <th class="text-center">% Subjectivity of Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var package in Model.Packages)
                {
                    <tr>
                        <td class="text-center">@package.UserOwner.LastName, @package.UserOwner.FirstName</td>
                        <td class="text-center">@package.PackageStatus.GetDescription()</td>
                        <td class="text-center">@package.Workplace.Name</td>
                        <td class="text-center">@package.SubjectivityCount</td>
                        <td class="text-center">@package.TotalWordCount</td>
                        <td class="text-center">@package.SubjectivityVsWordCount %</td>
                        <td class="text-center">@package.CountTopicsTasksWithSubjectivity</td>
                        <td class="text-center">@package.TotalTopicsTasks</td>
                        <td class="text-center">@package.SubjectivityTopicsTasks %</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - All topics
    </div>

    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
                <tr>
                    <th class="text-center" style="width:50%">Package</th>
                    <th class="text-center" style="width:25%">Topics with Subjectivity</th>
                    <th class="text-center" style="width:25%">Link</th>
                </tr>
            </thead>
            <tbody @(Model.Topics.Any(t => t.Subjectivity > 0) ? "" : "style=display:block")>
                @foreach (var topic in Model.Topics)
                {
                    if (topic.Subjectivity > 0)
                    {
                        <tr>
                            <td class="text-center">@topic.ParentPackageName</td>
                            <td class="text-center">@topic.Subjectivity</td>
                            <td class="text-center"><a href="@Url.Action("EditTopic", new { id = topic.ID })">@topic.Name</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - All Tasks
    </div>

    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
            <tr>
                <th class="text-center" style="width:50%">Package</th>
                <th class="text-center" style="width:25%">Tasks with Subjectivity</th>
                <th class="text-center" style="width:25%">Link</th>
            </tr>
            </thead>
            <tbody @(Model.Tasks.Any(t => t.Subjectivity > 0) ? "" : "style=display:block")>
                @foreach (var task in Model.Tasks)
                {
                    if (task.Subjectivity > 0)
                    {
                        <tr>
                            <td class="text-center" style="width:50%">@task.ParentPackageName</td>
                            <td class="text-center" style="width:25%">@task.Subjectivity</td>
                            <td class="text-center" style="width:25%"><a href="@Url.Action("EditTask", new {id = task.ID})">@task.Name</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - All People
    </div>

    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
            <tr>
                <th class="text-center" style="width:50%">Package</th>
                <th class="text-center" style="width:25%">People with Subjectivity</th>
                <th class="text-center" style="width:25%">Link</th>
            </tr>
            </thead>
            <tbody @(Model.People.Any(t => t.NotesSubjectivity > 0) ? "" : "style=display:block")>
                @foreach (var person in Model.People)
                {
                    if (person.NotesSubjectivity > 0)
                    {
                        <tr>
                            @if (person.Package != null)
                            {
                                <td class="text-center" style="width: 50%">@person.Package.DisplayName</td>
                            }
                            else
                            {
                                <td class="text-center" style="width: 50%">-</td>
                            }
                            <td class="text-center" style="width: 25%">@person.NotesSubjectivity</td>
                            <td class="text-center" style="width: 25%"><a href="@Url.Action("EditPerson", "People", new {area = "Home", id = person.ID})">@person.FullName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - All Projects
    </div>

    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
            <tr>
                <th class="text-center" style="width:50%">Package</th>
                <th class="text-center" style="width:25%">Projects with Subjectivity</th>
                <th class="text-center" style="width:25%">Link</th>
            </tr>
            </thead>
            <tbody @(Model.Projects.Any(t => t.NotesSubjectivity > 0) ? "" : "style=display:block")>
                @foreach (var project in Model.Projects)
                {
                    if (project.NotesSubjectivity > 0)
                    {
                        <tr>
                            <td class="text-center" style="width:50%">@project.Package.DisplayName</td>
                            <td class="text-center" style="width:25%">@project.NotesSubjectivity</td>
                            <td class="text-center" style="width:25%"><a href="@Url.Action("EditProjectCard", "Projects", new {area = "Home", id = project.ID})">@project.Project.Name</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">
        Subjectivity Report - Top 50 - Swear Word Awards
    </div>

    <div class="table-responsive">
        <table class="table table-hover report-table">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Word</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">No of Users</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Severity</th>
                </tr>
            </thead>
            <tbody>
            @{
                int i=1;
                foreach (var keyword in Model.SubjectiveWords)
                {
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@keyword.Keyword</td>
                        <td class="text-center">@keyword.UseCount</td>
                        <td class="text-center">@keyword.NumberOfUsers</td>
                        <td class="">
                        @foreach (var user in keyword.Users)
                        {
                            @:@user.FirstName @user.LastName<br />
                        }
                        </td>
                        <td class="text-center">BAD</td>
                    </tr>
                    i++;
                }
            }
            </tbody>
        </table>
    </div>

<style>
    .rag-red
    {
        background-color:#FF5353;
    }
    .rag-amber
    {
        background-color:#FFC65B;
    }
    .rag-green
    {
        background-color:#59FF59;
    }
    span.full-w
    {
        width:100%;
        height:100%;
        display:block;
    }
    td, th
    {
        text-align:center;
    }
</style>