﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Areas.Home.Models.WidgetViewModel

<div class="panel panel-primary widget-container">
    <div class="panel-heading no-redirect widget-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h3 class="panel-title">
                        @Model.WidgetType.GetDescription()
                    </h3>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                    <a href="#" title="Remove" class="close-widget-button pull-right remove-widget"
                       data-package-id="@Model.PackageId" data-widget-position="@Model.WidgetPosition">
                        @*<span class="close-widget-button" aria-hidden="true"></span>*@
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body widget-body">
        @RenderBody()
    </div>
</div>