﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.WidgetViewModel

@{
    Layout = "~/Areas/Home/Views/Widgets/_Widget.cshtml";
}

@if (Model.Attachments.Any())
{
    <div class="panel panel-default project-widget" data-type="@Model.PackageId-MyAttachments">
        <div class="panel-body">
            <ul class="widget-slider">
                @foreach (var attachment in Model.Attachments.ToList())
                {
                    <li class="widget-slide">
                        @Html.Partial("Attachment", attachment)
                    </li>
                }
            </ul>
        </div>
        <div class="panel-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-right col-md-offset-6">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#" class="prev-arrow widget-prev" aria-label="Previous">
                                    <span aria-hidden="true" class="left-Arrow-Slider-icon"></span>
                                </a>
                            </li>
                            <li>
                                <span class="widget-paginator">
                                    <span class="current-slide">@Model.Index</span>
                                    /
                                    <span>@Model.Attachments.Count()</span>
                                </span>
                            </li>
                            <li class="vertical-align">
                                <a href="#" class="next-arrow widget-next" aria-label="Next">
                                    <span aria-hidden="true" class="right-Arrow-Slider-icon"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
  <div class="widget-body" style="display: table; overflow: hidden; width: 100%;margin-bottom: 10px;">
    <span class="text-center" style="display: table-cell; vertical-align: middle;"><b>You have not added any attachments.</b></span>
  </div>
  <div class="panel-footer" style="height: 36px;">
  </div>
}