﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.WidgetViewModel

@{
    Layout = "~/Areas/Home/Views/Widgets/_Widget.cshtml";
}

@if (Model.StaffContacts.Any())
{
    <div class="panel panel-default people-widget" data-type="@Model.PackageId-MyPeople">
        <div class="panel-body">
            <ul class="widget-slider">
                @foreach (var contact in Model.StaffContacts.ToList())
                {
                    var staff = contact;
                  <li class="widget-slide"
                        data-attachments-count="@(contact.Attachments.ToList().Count + contact.DocumentLibraries.ToList().Count)"
                        data-voicemessages-count="@contact.VoiceMessages.ToList().Count"
                        data-attachments-url="@Url.Action("Index", "Attachments", new {area = "", id = staff.ID.ToString(), type = MomentumPlus.Activate.Web.Models.ItemType.Contact})"
                        data-voicemessages-url="@Url.Action("Index", "VoiceMessage", new {area = "", id = staff.ID.ToString(), type = MomentumPlus.Activate.Web.Models.ItemType.Contact})">
                        @Html.Partial(
                        "StaffContact",
                        contact,
                        new ViewDataDictionary { { "DefaultCompanyId", Model.DefaultCompanyId }, { "ShowGoToPackage", Model.ShowGoToPackage } })
                    </li>
                }
            </ul>
        </div>
        <div class="panel-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 vertical-align">
                        <div class="widget-footer">
                          <a href="javascript:void(0);" class="attachments-link vertical-align">
                              <span class="attachments-icon  text-white"></span>
                              <span class="attachments-count text-white">0</span>
                          </a>
                          <a href="javascript:void(0);" class="voicemessages-link vertical-align">
                              <span class="voice-Messages-icon text-white"></span>
                              <span class="voicemessages-count text-white">0</span>
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <ul class="pagination pagination-sm vertical-align">
                            <li>
                                <a href="#" class="prev-arrow widget-prev" aria-label="Previous">
                                    <span aria-hidden="true" class="left-Arrow-Slider-icon"></span></a>
                            </li>
                            <li>
                                <span class="widget-paginator">
                                    <span class="current-slide">@Model.Index</span>
                                    /
                                    <span>@Model.StaffContacts.Count()</span>
                                </span>
                            </li>
                            <li class="vertical-align">
                                <a href="#" class="next-arrow widget-next" aria-label="Next">
                                    <span aria-hidden="true" class="right-Arrow-Slider-icon"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
  <div class="widget-body" style="display: table; overflow: hidden; width: 100%;margin-bottom: 10px;">
    <span class="text-center" style="display: table-cell; vertical-align: middle;"><b>You have not added any team members.</b></span>
  </div>
  <div class="panel-footer" style="height: 36px;">
  </div>
}