﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ProjectInstanceViewModel


@{
    var project = Model.Project;
    var editUrl = Url.Action("EditProjectCard", "Projects", new { area = "Home", id = Model.ID });
    var empty = new HtmlString("<br>");
}

@*<div data-soft-link="@editUrl" class="project-priority-@Model.Priority.ToString() project-widget-item">*@
<div data-soft-link="@editUrl" class="project-widget-item">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="project-widget-image text-center project-priority-@Model.Priority.ToString()">
                <img src="@Url.Action("Get", "Image", new {area = "", id = Model.Project.ImageId})" alt="" />
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="string-truncate">
                        <a href="@editUrl" class="no-underline">
                            <span class="widget-body-title">
                                <strong>@project.Name</strong>
                            </span>
                        </a>
                    </div>


                    <div>
                        <small>

                            @if(Model.Role != null)
                            {
                                @Model.Role.Title
                            }

                        </small>
                    </div>


                    @*@if (Model.Project.End.HasValue)
                        {
                            <div>
                                <small>
                                    <strong>
                                        @Model.Project.End.Value.ToStringShortFormat()
                                    </strong>
                                </small>
                            </div>
                        }*@

                    @*<div>
                            <div>

                                <small>
                                    <span><strong>End</strong></span>
                                    @(Model.Project.End.HasValue ? Model.Project.End.Value.ToString("")  : "-")
                                </small>


                            </div>


                            <small>
                                <span><strong>First Task</strong></span>: @if (Model.FirstTask != null)
                                                                          {
                                                                              <a href="@Url.Action("ViewTask", "Onboarding", new {id = Model.FirstTask.ID, area = "Home"})">@Model.FirstTask.Name</a>
                                                                          }
                                                                          else
                                                                          {
                                                                              <span>-</span>
                                                                          }
                            </small>
                        </div>
                        <div>
                            <small>
                                <span><strong>First Meeting</strong></span>: @if (Model.Meetings.Any())
                                {
                                    <a href="@Url.Action("EditMeeting", "Meetings", new {id = Model.Meetings.OrderBy(m => m.Start).First().ID, area = "Home"})">@Model.Meetings.OrderBy(m => m.Start).First().Name</a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </small>
                        </div>*@
                    <div>
                        <small>
                            <span>@project.Status.Title</span>
                            @if (project.Budget.HasValue && project.Budget.Value > 0)
                            {
                                var budget = string.Format("{0:#,##0}", project.Budget.Value);
                                @: | Budget - <span data-toggle="tooltip" title="@budget">£@Html.Raw(budget.Length > 30 ? budget.Substring(0, 28) + "&hellip;" : budget)</span>
                            }
                        </small>


                    </div>


                    @if (Model.Role == null)
                    {
                        @empty
                    }

                    @if (project.ProjectManager != null)
                    {


                        <div style="padding-top: 20px;">
                            <small>PM @project.ProjectManager.Person.FullName</small>
                        </div>

                        if (!string.IsNullOrEmpty(project.ProjectManager.Person.Email))
                        {
                            <div>
                                <small>
                                    <a href="mailto:@project.ProjectManager.Person.Email">@project.ProjectManager.Person.Email</a>
                                </small>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>