﻿@model MomentumPlus.Activate.Web.Areas.Faq.Models.FaqCollection

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @for (var i = 0; i < Model.Faqs.Count(); i++)
    {
        var faq = Model.Faqs.ElementAt(i);

        <div class="panel panel-primary collapsed">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#question-@(i+1)">
                    @faq.Question
                </a>
            </div>
            <div id="question-@(i+1)" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    @Html.Raw(faq.Answer)
                </div>
            </div>
        </div>
    }
</div>
