﻿@model MomentumPlus.Activate.Web.Models.VoiceMessagesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{


    <script src="/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        var audio;
        var playlist;
        var tracks;
        var current;

        init();
        function init() {
            current = 0;
            audio = $('#audio');
            playButton = $('#play-pause');
            muteButton = $('#mute');
            replayButton = $('#replay-restart');
            stopButton = $('#stop');
            skipTrackButton = $('#skip-track');
            volumeUpButton = $('#vol-up');
            volumeDownButton = $('#vol-down');
            nowPlaying = $('#nowplaying>p');

            //sliders
            seekBar = $('#seek-bar');
            volumeBar = $('#volume-bar');
            playables = $('#playlist2');
            audioPlaylistTable = $('#audio-playlist-table');
            tracks = audioPlaylistTable.find('tr a.audio-link');
            len = tracks.length - 1;
            addAll = $('.add-all');


            playables.find('a.playable').click(function (e) {
                e.preventDefault();
                link = $(this);
                current = link.parent().index();
                title = link.parent().parent().find('.audio-title').text();
                // if isn't item currently playing do this
                if ($(this).parent().hasClass('active')) {
                    //console.log('this element is playing and should be paused');
                    if (audio[0].paused) {
                        audio[0].play();
                        $('.active').find('span').removeClass('glyphicon-play').addClass('glyphicon-pause');
                        switchPlayPause(e);
                    }
                    else {
                        audio[0].pause();
                        $('.active').find('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
                        switchPlayPause(e);
                    }
                }
                else {
                    //console.log('this element should be played from the start');
                    $("table.table.table-hover>tbody#playlist2>tr>td#playlist-play").find('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
                    addToPlaylist(link, audio[0], title);
                    // otherwise pause
                    audio[0].play();
                    switchPlayPause(e);
                    updateNowPlaying(e, title);
                }

            });

            function addToPlaylist(link, player, title) {
                player.src = link.attr('href');
                par = link.parent();
                $('.active').removeClass('active');
                par.addClass('active').siblings().removeClass('active');
            }
            replayButton.click(function (e) {
                e.preventDefault();
                //console.log("replaying");
                audio[0].currentTime = 0;
                seekBar.val(0);

                //console.log(audio[0].currentTime);
            });
            playButton.click(function (e) {
                e.preventDefault();
                if (seekBar.val() == 100) {
                    seekBar.val(0);
                    audio[0].currentTime = 0;
                    audio[0].play();
                } else {
                    if (audio[0].paused == true && len != 0) {
                        audio[0].play();
                        //console.log(audio[0]);
                        //update the button text to pause
                    }
                    else {
                        //pause it
                        audio[0].pause();
                    }
                }
                switchPlayPause(e);
            });
            muteButton.click(function (e) {
                var myOffset = $(this).offset();
                var internalOffset = (e.pageX - myOffset.left);
                var myWidth = $(this).outerWidth();

                var leftArea = ((myWidth / 100) * 50);
                var rightArea = ((myWidth / 100) * 50);

                var percentageAcross = Math.floor((internalOffset / myWidth) * 100);

                if (internalOffset > leftArea) {
                    //change volume!
                    //var volumeTemp = Math.floor((internalOffset - leftArea) / myWidth) * 100;
                    var volumeTemp = ((internalOffset - leftArea) / myWidth) * 2;
                    audio[0].volume = volumeTemp;
                    workoutAudioDisplay(e);
                }
                else {
                    //otherwise mute
                    if (audio[0].muted == false) {
                        volumeStore = audio[0].volume;
                        audio[0].muted = true;
                        volumeBar.val(0);
                        workoutAudioDisplay(e);
                        //appropriateMuteButtonAudio();
                    }
                    else {
                        audio[0].muted = false;
                        //console.log("unmuting");
                        audio[0].volume = volumeStore;
                        //console.log("trying to set audio to ", volumeStore);
                        //console.log("audio is now ", audio[0].volume);
                        workoutAudioDisplay(e);
                        // changeAudioDisplay();
                    }
                }
            });
            volumeUpButton.click(function (e) {
                audio[0].muted = false;
                var tempVol = audio[0].volume;
                var newVol = tempVol + 0.1;
                if (newVol > 1) {
                    newVol = 1;
                }
                audio[0].volume = newVol;
                workoutAudioDisplay(e);
            });
            volumeDownButton.click(function (e) {
                audio[0].muted = false;
                var tempVol = audio[0].volume;
                var newVol = tempVol - 0.1;
                if (newVol < 0) {
                    newVol = 0;
                }
                audio[0].volume = newVol;
                workoutAudioDisplay(e);
            });
            muteButton.mousemove(function (e) {
                var myOffset = $(this).offset();
                var internalOffset = (e.pageX - myOffset.left);
                var myWidth = $(this).outerWidth();

                var leftArea = ((myWidth / 100) * 50);
                var rightArea = ((myWidth / 100) * 50);

                var percentageAcross = Math.floor((internalOffset / myWidth) * 100);

                //console.log("leftArea = ", leftArea);
                //console.log("rightArea = ", rightArea);
                //console.log("percentage across = ", percentageAcross, "%");

                //console.log("position X (internalOffset) is at ", internalOffset);

                if (internalOffset > leftArea) {
                    var volumeTemp = Math.floor(((internalOffset - leftArea) / myWidth) * 100) * 2;
                    //console.log("volume percentage should be ", volumeTemp, "%");
                    if (volumeTemp <= 16) {
                        $(this).css('background-position', '0 0px');
                    }
                    else if ((volumeTemp > 16) && (volumeTemp <= 32)) {
                        $(this).css('background-position', '-40px 0px');
                    }
                    else if ((volumeTemp > 32) && (volumeTemp <= 48)) {
                        $(this).css('background-position', '-80px 0px');
                    }
                    else if ((volumeTemp > 48) && (volumeTemp <= 64)) {
                        $(this).css('background-position', '-120px 0px');
                    }
                    else if ((volumeTemp > 64) && (volumeTemp <= 80)) {
                        $(this).css('background-position', '-160px 0px');
                    }
                    else if (volumeTemp > 80) {
                        $(this).css('background-position', '-200px 0px');
                    }


                    //audio[0].volume = (volumeTemp / 100);
                }
                else {
                    $(this).css('background-position', '-240px 0px');
                }
                //console.log("\n");
            });
            muteButton.mouseout(function (e) {
                workoutAudioDisplay(e);
            });

            volumeBar.change(function (e) {
                audio[0].muted = false;
                //console.log("blah");
                changeAudio(e);
            });
            $(audio[0]).bind('timeupdate', function () {
                var rem = parseInt(audio[0].duration - audio[0].currentTime, 10),
                pos = (audio[0].currentTime / audio[0].duration) * 100,
                mins = Math.floor(rem / 60, 10),
                secs = rem - mins * 60;
                seekBar.val(pos);
            });

            function switchPlayPause(e) {
                if (audio[0].paused) {
                    playButton.removeClass("glyphicon-pause").addClass("glyphicon-play");

                    $("table.table.table-hover>tbody#playlist2>tr>td.active").find('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
                }
                else {
                    playButton.removeClass("glyphicon-play");
                    playButton.addClass("glyphicon-pause");
                    $("table.table.table-hover>tbody#playlist2>tr>td.active").find('a>span').removeClass('glyphicon-play').addClass('glyphicon-pause');
                }
            }

            function workoutAudioDisplay(e) {
                var volumeTemp = (audio[0].volume) * 100;
                if (volumeTemp == 0 || audio[0].muted == true) {
                    $('#mute').css('background-position', '-240px 0px');
                }
                else {
                    if (volumeTemp <= 16) {
                        $('#mute').css('background-position', '0 0px');
                    }
                    else if ((volumeTemp > 16) && (volumeTemp <= 32)) {
                        $('#mute').css('background-position', '-40px 0px');
                    }
                    else if ((volumeTemp > 32) && (volumeTemp <= 48)) {
                        $('#mute').css('background-position', '-80px 0px');
                    }
                    else if ((volumeTemp > 48) && (volumeTemp <= 64)) {
                        $('#mute').css('background-position', '-120px 0px');
                    }
                    else if ((volumeTemp > 64) && (volumeTemp <= 80)) {
                        $('#mute').css('background-position', '-160px 0px');
                    }
                    else if (volumeTemp > 80) {
                        $('#mute').css('background-position', '-200px 0px');
                    }
                }
            }
            function updateNowPlaying(e, object) {
                //now playing = src name of this item
                $(nowPlaying).text("Now Playing: " + object);
            }
            function changeAudioDisplay(e) {
                //var volume = audio[0].volume;
                appropriateMuteButtonAudio();
            }
            function changeAudio(e) {
                var volume = volumeBar.val();
                //console.log("volume = ", volume);
                //update

                audio[0].volume = volume;
                appropriateMuteButtonAudio();
            }
            function appropriateMuteButtonAudio() {
                removeMuteButtonClass();
                if (audio[0].volume == 0) {
                    //vol icon mute
                    muteButton.addClass("glyphicon-volume-off");
                }
                else if (audio[0].volume < 0.5) {
                    //vol icon middle
                    muteButton.addClass("glyphicon-volume-down");
                }
                else if (audio[0].volume >= 0.5) {
                    //vol icon full
                    muteButton.addClass("glyphicon-volume-up");
                }
                else { }
            }
            function removeMuteButtonClass() {
                if (muteButton.hasClass("glyphicon-volume-down")) {
                    muteButton.removeClass("glyphicon-volume-down");
                }
                else if (muteButton.hasClass("glyphicon-volume-up")) {
                    muteButton.removeClass("glyphicon-volume-up");
                }
                else if (muteButton.hasClass("glyphicon-volume-off")) {
                    muteButton.removeClass("glyphicon-volume-off");
                }
            }
            //audio[0].timeupdate(function (e) {
            //    var value = (100 / audio[0].duration) * audio[0].currentTime;
            //});

            seekBar.change(function (e) {
                var time = audio[0].duration * (seekBar.val() / 100);
                audio[0].currentTime = time;
                //console.log("time = ", time);
                //console.log("actual time = ", audio[0].currentTime);
            });


            //audio[0].play();
            //playlist.find('a.playable').click(function (e) {
            //    e.preventDefault();
            //    link = $(this);
            //    current = link.parent().index();
            //    run(link, audio[0]);
            //});
            audio[0].addEventListener('ended', function (e) {
                current++;

                if (audio.length == 1) {
                    switchPlayPause(e);
                } else {
                    if (current == len) {
                        current = 0;
                        link = audioPlaylistTable.find('a.in-playlist')[0];
                    }
                    else if (current > len) {
                        link = audioPlaylistTable.find('a.in-playlist')[0];
                    }
                    else {
                        link = audioPlaylistTable.find('a.in-playlist')[current];
                    }
                    switchPlayPause(e);
                    run($(link), audio[0]);
                }
            });

            //playlist = $('#playlist2');
            //tracks = playlist.find('li a');
            //len = tracks.length - 1;
        }
        function checkPositions() {
            var count = 0;
            var totalcount = $('#audio-playlist-table tbody tr').length;
            // foreach tr, change the content in order-item to the location in the table
            $('#audio-playlist-table tbody tr').each(function () {
                count++;
                $(this).find('.order-item').empty();
                $(this).find('.order-item').text(count);
            });
        }
        function run(link, player) {
            player.src = link.attr('href');
            par = link.parent();
            $('.active').removeClass('active');
            par.addClass('active').siblings().removeClass('active');
            audio[0].load();
            audio[0].play();
        }

        $(function () {
            var chat = $.connection.voiceMessageHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message, itemId) {
                // Add the message to the page.
                //$('#new-voice-message-alert').append('<li><strong>' + htmlEncode(name)
                //    + '</strong>: ' + htmlEncode(message) + '</li>');

                $('.play-button-message-' + itemId + '>p').remove();
                $('.download-button-message-' + itemId + '>p').remove();

                $('#smsnotify-' + itemId).remove();
                $('#pin-' + itemId + '>p').remove();
                $('#pin-' + itemId).append('<p id="pin-' + itemId + '" style="color:#c0c0c0">Pin Expired</p>');

                $('.play-button-message-' + itemId).append('<a class="playable" href="/Voicemessage/Play/' + itemId + '" target="_blank"><span class="glyphicon glyphicon-play"></span></a>');
                $('.download-button-message-' + itemId).append('<a href="/Voicemessage/Download/' + itemId + '" target="_blank"><span class="glyphicon glyphicon-arrow-down"></span></a>');
                $('#playlist').append('<li><a href="">TestCall</a></li>');
                $('#audio').append('<source src="/Voicemessage/Play/' + itemId + '" title="' + name + '"/>');

                playables.find('a.playable').click(function (e) {
                    e.preventDefault();
                    link = $(this);
                    current = link.parent().index();
                    title = link.parent().parent().find('.audio-title').text();
                    audio[0].src = link.attr('href');
                    par = link.parent();
                    $('.active').removeClass('active');
                    par.addClass('active').siblings().removeClass('active');
                    audio[0].play();
                    if (audio[0].paused) {
                        playButton.removeClass("glyphicon-pause").addClass("glyphicon-play");

                        $("table.table.table-hover>tbody#playlist2>tr>td.active").find('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
                    }
                    else {
                        playButton.removeClass("glyphicon-play");
                        playButton.addClass("glyphicon-pause");
                        $("table.table.table-hover>tbody#playlist2>tr>td.active").find('a>span').removeClass('glyphicon-play').addClass('glyphicon-pause');
                    }
                    $(nowPlaying).text("Now Playing: " + title);
                });
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                window.setInterval(function () {
                    //chat.server.ping('Ping', 'Pong');
                    //chat.server.send('@Model.ItemId', '@Model.ItemType');
                    //console.log("sending");
                    @foreach (var message in Model.VoiceMessages)
                    {

                        <text>chat.server.send('@message.ID', '@Model.ItemType');</text>
                    }

                }, 5000);
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
<style>

</style>

<!--<div class="alert alert-info alert-dismissible" id="new-voice-message-alert" role="alert"></div>-->
<div class="panel panel-secondary">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-4">
                Voice Messages for @Model.ItemType: @Model.ItemName
            </div>
            <div class="col-md-8 text-left">
                <audio id="audio">
                    <!-- controls>-->
                    @foreach (var voicemessage in Model.VoiceMessages)
                    {
                        <source src="@Url.Action("Play", new { id = voicemessage.ID })" title="@voicemessage.Name" />
                    }
                </audio>
                <div class="audio-controlls">
                    <input type="range" id="seek-bar" value="0" />


                    <div class="play-cont-area">
                        <button type="button" class="btn btn-success glyphicon glyphicon-step-backward" id="replay-restart"></button>
                        <button type="button" class="btn btn-success glyphicon glyphicon-play" id="play-pause"></button>
                    </div>

                    <div class="volume-cont-area">
                        <div class="volume-cont btn" id="mute"></div>
                        <button type="button" class="btn btn-success glyphicon glyphicon-minus" id="vol-down"></button>
                        <button type="button" class="btn btn-success glyphicon glyphicon-plus" id="vol-up"></button>
                    </div>
                    <!--<button type="button" class="btn btn-success glyphicon glyphicon-stop" id="stop"></button>-->
                    <!--<button type="button" class="btn btn-success glyphicon glyphicon-fast-forward" id="skip-track"></button>-->
                    <!--<button type="button" class="btn btn-success glyphicon glyphicon-volume-down" id="mute"></button>-->
                    <div id="nowplaying">
                        <p></p>
                    </div>

                </div>
                <!--<audio id="audio" loop="false">
                    @foreach (var voicemessage in Model.VoiceMessages)
                    {
                        <source src="@Url.Action("Play", new { id = voicemessage.ID })" />
                    }
                </audio>-->
                <div style="display:none">
                    \
                    <ul id="playlist">
                        @foreach (var voicemessage in Model.VoiceMessages)
                        {
                            if (voicemessage.HasExistingData == true)
                            {
                                <li><a href='@Url.Action("Play", new { id = voicemessage.ID })'>@voicemessage.Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.TopicVoiceMessagesMenu })
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerAudioPlayerHeader })
                    </th>
                    <th class="text-center">Added</th>
                    <th>PIN</th>
                    <th>Tags</th>
                    <th class="text-center">Play</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Notify by SMS</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>

            <tbody id="playlist2">

                @foreach (var voicemessage in Model.VoiceMessages)
                {
                    <tr>
                        <td class="audio-title">@voicemessage.Name</td>

                        <td class="text-center">@voicemessage.Created.ToShortDateString()</td>

                        <td id="pin-@voicemessage.ID">
                            @if (voicemessage.HasExistingData == false && voicemessage.CreationMethod == 2)
                            {
                                <p>@voicemessage.CoreService_Pin</p>
                            }
                            else
                            {
                                if (voicemessage.CoreService_Pin == null || voicemessage.CreationMethod != 2)
                                {
                                    <p style="color:#c0c0c0">- - - - -</p>
                                }
                                else
                                {
                                    <p style="color:#c0c0c0">Pin Expired</p>
                                }
                            }
                        </td>

                        <td>
                            @if (!string.IsNullOrEmpty(voicemessage.SearchTags))
                            {
                                @voicemessage.SearchTags
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td id="playlist-play" class="text-center play-button-message-@voicemessage.ID">
                            @if (voicemessage.HasExistingData)
                            {
                                <a class="playable" href="@Url.Action("Play", new { id = voicemessage.ID })" target="_blank">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            }
                        </td>

                        <td class="text-center">
                            @if (!Model.OnboarderView)
                            {
                                <a href="@Url.Action("Edit", new {id = voicemessage.ID, itemId = Model.ItemId, type = Model.ItemType})">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>

                        <td class="text-center download-button-message-@voicemessage.ID">
                            @if (voicemessage.HasExistingData)
                            {
                                <a href="@Url.Action("Download", new { id = voicemessage.ID })" target="_blank">
                                    <span class="glyphicon glyphicon glyphicon-arrow-down"></span>
                                </a>
                            }
                            else
                            {
                                <p><strong>Pending</strong></p>
                            }
                        </td>

                        <td class="text-center">
                            @if (!voicemessage.HasExistingData && voicemessage.CreationMethod == 2)
                            {
                                <a href="@Url.Action("SendSMSMessage", new { id = voicemessage.ID, type = Model.ItemType, itemId = Model.ItemId })"
                                   class="btn btn-primary" id="smsnotify-@voicemessage.ID">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            @if (!Model.OnboarderView)
                            {
                                <a href="@Url.Action("Delete", new {id = voicemessage.ID, itemID = Model.ItemId, itemType = Model.ItemType})"
                                   class="btn btn-danger" id="delete-item-@voicemessage.ID">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        <div class="col-sm-2">
            <a href="@AppSession.Current.VoiceMessageManagerReturnUrl" class="btn btn-danger">Close</a>
        </div>

        <div class="col-sm-10 text-right">
            @if (!Model.OnboarderView)
            {
                <a href="@Url.Action("Create", new {id = Model.ItemId, type = Model.ItemType})" class="btn btn-success">Upload</a>
                <a href="@Url.Action("CreateFromPC", new {id = Model.ItemId, type = Model.ItemType})" class="btn btn-success">Use PC</a>
                <a href="@Url.Action("CreateFromPhone", new {id = Model.ItemId, type = Model.ItemType})" class="btn btn-success">Use Phone</a>
            }
        </div>
    </div>
</div>