﻿@model MomentumPlus.Activate.Web.Models.VoiceMessageByPhoneViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-secondary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                Voice Messages
            </div>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Time Recorded</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th>PIN</th>
                    <th>Name</th>
                    @*<th class="text-center"></th>*@
                </tr>
            </thead>

            <tbody id="voiceMessages">
                <tr>
                    <td>@Model.Created.ToShortDateString()</td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = Model.ID })">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Play", new { id = Model.ID })">
                            <span class="glyphicon glyphicon-volume-up"></span>
                        </a>
                    </td>
                    <td>@Model.CoreService_Pin</td>
                    <td>@Model.Name</td>
                    @*<td>
                        <a href="@Url.Action("Delete", new { id = Model.ID, itemID = Model.ItemId, ItemType = Model.ItemType })">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>*@
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        <div class="col-sm-2">
            <a href="@AppSession.Current.VoiceMessageManagerReturnUrl" class="btn btn-primary">Done</a>
        </div>
    </div>
</div>