﻿@model MomentumPlus.Activate.Web.Models.VoiceMessageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var createMode = action == "Create";
}

<div class="panel panel-secondary">
    <div class="panel-heading">Upload Voice Message @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.AudioManagerUploadButton }) </div>
    
    @using (
        // Post to action method with the same name as the current action
        // in the current controller
        Html.BeginForm(
            action,
            controller,
            FormMethod.Post,
            new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }
        )
    )
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ItemId)
        @Html.HiddenFor(model => model.ItemType)
        @*@Html.HiddenFor(m => m.Created)
        @Html.HiddenFor(m => m.DurationSeconds)*@

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(
                        model => model.Name,
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tags, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @*<input type="text" id="Tags" name="Tags" class="form-control search-tags"
                        value="@(Model.Tags != null ? string.Join(",", Model.Tags) : string.Empty)" />*@
                    @Html.TextBoxFor(
                        model => model.Tags,
                        new
                        {
                            @class = "form-control search-tags",
                            id = "Tags",
                            name = "Tags",
                            Value = Model.Tags != null ? string.Join(",", Model.Tags) : string.Empty
                        }
                    )
                    @Html.ValidationMessageFor(m => m.Tags)
                </div>
            </div>

            @if (!createMode)
            {
                <div class="form-group">
                    <label class="col-sm-2 control-label">Current Message</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @if (Model.HasExistingData)
                            {
                                @Model.Name
                                <a href="#" id="clear-message"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                            else
                            {
                                <em>Pending</em>
                            }
                        </p>
                    </div>
                </div>
            }

            <div class="form-group @(createMode ? "" : "hidden")" id="upload-control">
                @Html.LabelFor(model => model.PostedFile, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @* accept="audio/*" - match all audio files *@
                    <input type="file" id="PostedFile" name="PostedFile" class="form-control" accept="audio/*" />
                    @Html.ValidationMessageFor(model => model.PostedFile)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>
        
        
        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@AppSession.Current.VoiceMessageFormReturnUrl" class="btn btn-danger">Close</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/voice-messages.js")
}