﻿@model MomentumPlus.Activate.Web.Models.VoiceMessageByPCViewModel
@using Twilio;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string accountSid = "AC1fb8a9502f9252863c049ac15b2ca487";
    string authToken = "be899b13b9349e58437ef3367c7e7de4";

    var capability = new TwilioCapability(accountSid, authToken);
    capability.AllowClientOutgoing("AP007d8cf6b5756a906c0a26dbad880abe");
    capability.AllowClientIncoming(Model.pinNumber);
    string token = capability.GenerateToken();
    
}
@section scripts{
    <script type="text/javascript" src="https://static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Twilio.Device.setup('@token');
            var connection = null;

            Twilio.Device.ready(function (device) {
                $(".alert").text("We're ready to make your recording. Please press the 'Record' button when you're ready");
                $(".call").prop('disabled', false);
            });

            Twilio.Device.error(function (error) {
                $(".alert").text("Error: " + error.message + ". This message can still be recorded by phoning the Voice Message service using PIN @Model.pinNumber");
            });

            Twilio.Device.connect(function (conn) {
                $(".alert").text("Successfully established call, please wait for instructions");
            });
            Twilio.Device.disconnect(function (conn) {
                $(".alert").text("Recording complete");
            });
            Twilio.Device.presence(function (pres) {
                if (pres.available) {
                    //create an item for the client that is available
                    $("<li>", { id: pres.from, text: pres.from }).click(function () {
                        $("#number").val(pres.from);
                        call();
                    }).prependTo("#people");
                } else {
                    //find the item by client name and remove it
                    $("#" + pres.from).remove();
                }
            });

            $("#call").click(function () {
                $("#hangup").show();
                $("#call").remove();
                console.log("connecting");
                ///get the phone number to connect
                params = { "PhoneNumber": "+44 1451 610020" };
                connection = Twilio.Device.connect(params);
            });

            $("#hangup").click(function () {
                Twilio.Device.disconnectAll();
            });

            $.each(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'star', 'pound'], function (index, value) {
                $('#button' + value).click(function () {
                    if (connection) {
                        if (value == 'star') {
                            connection.sendDigits('*');
                        } else if (value == 'pound') {
                            connection.sendDigits('#');
                        } else {
                            connection.sendDigits(value);
                        }
                    }
                    return false;
                });
            });
            $("#connect").click(function () {
                console.log("attempting to send PIN @Model.pinNumber ");
                if (connection) {
                    connection.sendDigits('@Model.pinNumber' + '*');
                }
            });

        });
    </script>
}

<div class="panel panel-secondary">
<div class="panel-heading">Record Voice Message From Device</div>
<div class="panel-body">
    @*<ul id="people" />*@
    <button id="call" class="call btn btn-primary" disabled>
        Record
    </button>

    <a id="hangup" class="hangup btn btn-danger" style="display:none" href="@AppSession.Current.VoiceMessageFormReturnUrl">End Recording</a> 

    <div>
        
    </div>
    <!--<input type="text" id="number" name="number" placeholder="Enter a phone number to call" />-->

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2"> 
            </div>
        </div>
    </div>

    @*<div class="panel-footer clearfix">
        <div class="col-sm-12 text-right">
            <a href="@AppSession.Current.VoiceMessageFormReturnUrl" class="btn btn-danger">Finished</a>
        </div>
    </div>*@
</div>