﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.CoreTasksViewModel

@using MvcPaging
@using MvcSiteMapProvider.Web.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        Core Tasks

                        <a href="@Url.Action("AddCoreTask")" class="icon-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @if (Model.CoreTasks != null & Model.CoreTasks.Any())
                            {
                                foreach (var task in Model.CoreTasks)
                                {
                                    <div class="clearfix list-group-item">
                                        <a href="@Url.Action("EditTask", new { id = task.ID })">
                                            @task.ParentTopic.Name
                                            -
                                            @task.Name
                                            <span class="glyphicon glyphicon-pencil pull-right" style="margin-left:1em"></span>
                                            @TaskFlagging.GetTaskProLinkFlag(task)
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No core tasks defined.</p>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
