﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.FrameworkViewModel

@using System.Web.Http.ValueProviders
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models
@using MvcPaging
@using MvcSiteMapProvider.Web.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<form class="form-inline active-retired-filters">
    <div class="form-group">
        @Html.DropDownListFor(
            model => model.RetiredTopics,
            new List<SelectListItem>
            {
                new SelectListItem { Text = "Active Topics", Value = false.ToString() },
                new SelectListItem { Text = "Retired Topics", Value = true.ToString() }
            },
            new { @class = "form-control active-state-dropdown", data_param = "retiredTopics" }
        )
    </div>

    <div class="form-group">
        @Html.DropDownListFor(
            model => model.RetiredTasks,
            new List<SelectListItem>
            {
                new SelectListItem { Text = "Active Tasks", Value = false.ToString() },
                new SelectListItem { Text = "Retired Tasks", Value = true.ToString() }
            },
            new { @class = "form-control active-state-dropdown", data_param = "retiredTasks" }
        )
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        Topic Group
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @if (Model.TopicGroups != null & Model.TopicGroups.Any())
                            {
                                foreach (var topicGroup in Model.TopicGroups)
                                {
                                    <div class="clearfix list-group-item@(Model.ActiveTopicGroup == topicGroup.ID ? " active text-white" : "")">
                                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                            Request.QueryString.AddOrUpdate(new Dictionary<string, object> {
                                                { "topicGroup", topicGroup.ID },
                                                { "topic", null }
                                            }))">
                                            @topicGroup.Name
                                        </a>
                                        <a href="@Url.Action("EditTopicGroup", new { id = topicGroup.ID })"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No topic groups in this module.</p>
                            }
                        </div>
                    </div>
                </section>
            </div>
                        
            <div class="col-sm-4">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        Topics

                        @if (Model.ActiveTopicGroup.HasValue)
                            {
                            <a href="/Framework/Framework/CreateTopic?id=@(Model.ActiveTopicGroup.Value)" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            }
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @if (Model.Topics != null && Model.Topics.Any())
                            {
                                foreach (var topic in Model.Topics)
                                {
                                    <div class="clearfix list-group-item@(Model.ActiveTopic == topic.ID ? " active text-white" : "")">
                                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                                     Request.QueryString.AddOrUpdate(new Dictionary<string, object> {{"topic", topic.ID}}))">
                                            @topic.Name
                                        </a>
                                        @if (topic.ProcessGroupId.HasValue)
                                        {
                                            <a href="@Url.Action("EditTopic", new {id = topic.ID})"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                        }
                                        else
                                        {
                                            <a href="@String.Format("/Framework/Framework/EditTopic/{0}", topic.ID)"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                        }
                                        @TaskFlagging.GetTopicProLinkFlag(topic)
                                        </div>
                                }
                            }
                            else
                            {
                                <p>
                                    @if (Model.ActiveTopicGroup.HasValue)
                                    {
                                        @:No topics in this group.
                                    }
                                    else
                                    {
                                        @:Select a topic group.
                                    }
                                </p>
                            }
                        </div>
                    </div>

                    @Html.Pager(Model.PageSize, Model.TopicPageNo, Model.TopicCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(3)
                        .AlwaysAddFirstPageNumber()
                        .PageRouteValueKey("topicPageNo")
                        .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "topicPageNo" }))
                    )
                </section>
            </div>

            <div class="col-sm-4">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        Tasks

                        @if (Model.ActiveTopic.HasValue)
                        {
                            <a href="@Url.Action("CreateTask", new { id = Model.ActiveTopic })" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @if (Model.Tasks != null && Model.Tasks.Any())
                            {
                                foreach (var task in Model.Tasks)
                                {
                                    <div class="clearfix list-group-item">
                                        <a href="@Url.Action("EditTask", new { id = task.ID })">
                                            @task.Name
                                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                                            @TaskFlagging.GetTaskFlag(task)
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>
                                    @if (Model.ActiveTopic.HasValue)
                                    {
                                        @:No tasks in this topic.
                                    }
                                    else
                                    {
                                        @:Select a topic.
                                    }
                                </p>
                            }
                        </div>
                    </div>

                    @Html.Pager(Model.PageSize, Model.TaskPageNo, Model.TaskCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(3)
                        .AlwaysAddFirstPageNumber()
                        .PageRouteValueKey("taskPageNo")
                        .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "taskPageNo" } ))
                    )
                </section>
            </div>
        </div>
    </div>
</div>
