﻿@using MvcPaging
@using MvcSiteMapProvider.Web.Html
@using MomentumPlus.Activate.Web.Areas.Framework.Models
@using MomentumPlus.Activate.Web.Extensions

@model FrameworkProjectsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="@Url.Action("CreateProject")" class="btn btn-default btn-sm pull-right">Add Project</a>
        <div class="clearfix"></div>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStatus)
                        @Html.DropDownListFor(
                            model => model.ProjectStatus,
                            Model.Statuses,
                            new { @class = "form-control on-change-submit" }
                        )
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrderBy)
                                @Html.DropDownListFor(
                                    model => model.OrderBy,
                                    Model.OrderBy.ToSelectList(),
                                    new { @class = "form-control on-change-submit" }
                                )
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SortAscending, new { @class = "invisible" })
                                @Html.DropDownListFor(
                                    model => model.SortAscending,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Ascending", Value = true.ToString() },
                                        new SelectListItem { Text = "Descending", Value = false.ToString() }
                                    },
                                    new { @class = "form-control on-change-submit" }
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RetiredProjects, new { @class = "invisible" })
                        @Html.DropDownListFor(
                            model => model.RetiredProjects,
                            new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Active Projects", Value = false.ToString() },
                                new SelectListItem { Text = "Retired Projects", Value = true.ToString() }
                            },
                            new { @class = "form-control active-state-dropdown", data_param = "retiredProjects" }
                        )
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th style="width: 15%;">Status</th>
                    <th style="width: 15%;">Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr data-soft-link="@Url.Action("EditProject", new { id = project.ID })">
                        <td><a href="@Url.Action("EditProject", new { id = project.ID })">@project.Name</a></td>
                        <td>@(project.Status != null ? project.Status.Title : "")</td>
                        <td>@project.Created.Value.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("PageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
        )
    </div>
</div>
