﻿@using MvcPaging
@using MvcSiteMapProvider.Web.Html
@using MomentumPlus.Activate.Web.Areas.Framework.Models
@using MomentumPlus.Activate.Web.Extensions

@model FrameworkRelationshipsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="@Url.Action("CreateRelationship")" class="btn btn-default btn-sm pull-right">Add Relationship</a>
        <div class="clearfix"></div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrderBy)
                                @Html.DropDownListFor(
                                    model => model.OrderBy,
                                    Model.OrderBy.ToSelectList(),
                                    new { @class = "form-control on-change-submit" }
                                )
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SortAscending, new { @class = "invisible" })
                                @Html.DropDownListFor(
                                    model => model.SortAscending,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Ascending", Value = true.ToString() },
                                        new SelectListItem { Text = "Descending", Value = false.ToString() }
                                    },
                                    new { @class = "form-control on-change-submit" }
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RetiredRelationships, new { @class = "invisible" })
                        @Html.DropDownListFor(
                            model => model.RetiredRelationships,
                            new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Active Relationships", Value = false.ToString() },
                                new SelectListItem { Text = "Retired Relationships", Value = true.ToString() }
                            },
                            new { @class = "form-control active-state-dropdown", data_param = "retiredRelationships" }
                        )
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th style="width: 15%;">Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.Contacts)
                {
                    var editUrl = Url.Action("EditRelationship", new { id = contact.ID });

                    <tr data-soft-link="@editUrl">
                        <td><a href="@editUrl">@contact.FirstName</a></td>
                        <td><a href="@editUrl">@contact.LastName</a></td>
                        <td>@contact.Email</td>
                        @if (contact.Created.HasValue)
                        {
                            <td>@contact.Created.Value.ToShortDateString()</td>
                        }
                        else
                        {
                            <td>@Html.Raw("-")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("PageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
        )
    </div>
</div>
