﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.TopicGroupViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    if (!Model.ReadOnly)
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }
    <a href="@AppSession.Current.TopicGroupFormReturnUrl" class="btn btn-danger">Close</a>
}

@using (
    // Post to action method with the same name as the current action
    // in the current controller.
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Edit Topic Group
            </div>

            <div class="vertical-cell text-right">
                @SaveClose()
            </div>
        </div>

        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                <label class="col-sm-2 control-label">Topic Group</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Name</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(
                        model => model.Title,
                        new { @class = "form-control" }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                    )
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(
                        model => model.Notes,
                        new { @class = "form-control", rows = 3 }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                        )
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            <div class="vertical-cell text-right">
                @SaveClose()
            </div>
        </div>
    </div>
}
