﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AccountConfigViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            @if (Model.ReadOnly)
            {
                <div class="vertical-cell">View Settings</div>
            }
            else
            {
                <div class="vertical-cell">Edit Settings</div>
                @*<div class="vertical-cell text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>*@
            }
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Version Details
                </label>
                <div class="col-sm-10">
                    <div class="form-control-static">
                        <p><em>Activate™ Version @Model.ProjectVersion</em></p>
                        <p><em>Purchased on @Html.ShortDate(Model.PurchaseDate)</em></p>
                        <p><em>Licence Term: @Html.ShortDate(Model.PurchaseDate) to @Html.ShortDate(Model.LicenceEndDate)</em></p>
                        <p><em>Process Support Tier: @Model.ProcessSupportTier</em></p>
                        <p><em>Templates: @(Model.TemplatesCount + "/" + (Model.TemplateLimit ?? 0))</em></p>
                        <p><em>Packs: @(Model.PackagesCount + "/" + (Model.PackageLimit ?? 0))</em></p>
                        <p><em>iHandover Account Manager: @(!string.IsNullOrEmpty(Model.AccountManager) ? Model.AccountManager : "--")</em></p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetVolume, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TargetVolume, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TargetVolume)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetAverageWordcount, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TargetAverageWordcount, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TargetAverageWordcount)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetAttachments, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TargetAttachments, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TargetAttachments)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="form-group">
                        <div class="col-sm-3">Medium</div>
                        <div class="col-sm-3">High</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Days Until Task Alert</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TaskAlertDaysMedium, "Medium", new { @class = "hidden col-sm-2 control-label" })
                        <div class="col-sm-3">
                            <input type="number" id="TaskAlertDaysMedium" name="TaskAlertDaysMedium" class="form-control" value="@Model.TaskAlertDaysMedium" disabled="@Model.ReadOnly" />
                            @Html.ValidationMessageFor(m => m.TaskAlertDaysMedium)
                        </div>
                        @Html.LabelFor(m => m.TaskAlertDaysHigh, "High", new { @class = "hidden col-sm-2 control-label" })
                        <div class="col-sm-3">
                            <input type="number" id="TaskAlertDaysHigh" name="TaskAlertDaysHigh" class="form-control" value="@Model.TaskAlertDaysHigh" disabled="@Model.ReadOnly" />
                            @Html.ValidationMessageFor(m => m.TaskAlertDaysHigh)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Days Until Topic Alert</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TopicAlertDaysMedium, "Medium", new {@class = "hidden col-sm-2 control-label"})
                        <div class="col-sm-3">
                            <input type="number" id="TopicAlertDaysMedium" name="TopicAlertDaysMedium" class="form-control" value="@Model.TopicAlertDaysMedium" disabled="@Model.ReadOnly" />
                            @Html.ValidationMessageFor(m => m.TopicAlertDaysMedium)
                        </div>
                        @Html.LabelFor(m => m.TopicAlertDaysHigh, "High", new {@class = "hidden col-sm-2 control-label"})
                        <div class="col-sm-3">
                            <input type="number" id="TopicAlertDaysHigh" name="TopicAlertDaysHigh" class="form-control" value="@Model.TopicAlertDaysHigh" disabled="@Model.ReadOnly" />
                            @Html.ValidationMessageFor(m => m.TopicAlertDaysHigh)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HandoverConsultant, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.HandoverConsultant, new {@class = "form-control"}.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.HandoverConsultant)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TechnicalSupport, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TechnicalSupport, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TechnicalSupport)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.EarliestStartWeek, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.EarliestStartWeek, Model.EarliestStartWeekListItems, new {@class = "form-control"}.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.EarliestStartWeek)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FiscalYearStartMonth, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.FiscalYearStartMonth, Model.FiscalYearStartMonthListItems, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.FiscalYearStartMonth)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" name="@Html.NameFor(m => m.Action)" value="GenerateMeetings" class="btn btn-primary">Generate Review Meetings for Current Fiscal Year</button>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FileExtensions, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FileExtensions, new {@class = "form-control tokenfield-input"}.WithAttrIf("disabled", "", Model.ReadOnly))
                    <small><em>Enter the file extensions allowed including the period ".", for example: .docx</em></small>
                    @Html.ValidationMessageFor(m => m.FileExtensions)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.UserInternalContacts)
                            @Html.LabelFor(m => m.UserInternalContacts)
                            @Html.ValidationMessageFor(m => m.UserInternalContacts)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProjectIdFormat, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ProjectIdFormat, new {@class = "form-control"}.WithAttrIf("disabled", "", Model.ReadOnly))
                    <small><em>A regular expression that will be used to validate project IDs.</em></small>
                    @Html.ValidationMessageFor(m => m.ProjectIdFormat)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UploadedLogo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="file" name="@Html.NameFor(m => m.UploadedLogo)" id="@Html.IdFor(m => m.UploadedLogo)" class="form-control" @(Model.ReadOnly ? "disabled" : string.Empty ) />
                    <small><em>Image must be .png, .jpeg, .jpg and 400x150px.</em></small>
                    @if (Model.Logo != null)
                    {
                        <div class="company-logo">
                            <img src="@Model.Logo" alt="Company logo" />
                            <br />
                            <label>
                                @Html.CheckBoxFor(m => m.RemoveLogo, new { }.WithAttrIf("disabled", "", Model.ReadOnly))
                                Remove?
                            </label>
                        </div>
                    }
                    @Html.ValidationMessageFor(m => m.UploadedLogo)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="text-right">
                @if (!Model.ReadOnly)
                {
                    <button type="submit" class="btn btn-primary">Save</button>
                }
            </div>
        </div>
    </div>
}