﻿@model System.String 

<section id="report-cover" class="panel panel-default">
    <div class="panel-body a4 text-center">
        <div class="form-horizontal">
            <div class="form-group">
                <h3>Exit Survey</h3>
                <p>
                    @if (Model != null)
                    {
                        @Model
                    }
                    else
                    {
                        @: Please take a moment to complete the Exit Survey. Your individual responses are completely confidential and will only be shared with your nominated HR representative.The information provided by completion of the survey helps us better understand our workforce and deliver an environment that brings out the very best in people.
                    }
                </p>
            </div>
        </div>
    </div>
</section>
