﻿@model MomentumPlus.Activate.Web.Models.ExitSurveyLeavingPeriodViewModel

<div Id="exitSurveyModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade exit-survey-leaving-period">
    @using (Html.BeginForm())
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select a Exit Survey</h4>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PackageId)
                    @Html.HiddenFor(m => m.IsExists)
                    @Html.Hidden("UrlReferrer", Request.UrlReferrer.AbsolutePath)
                    @Html.ValidationMessageFor(m => m.ExitSurveyId)
                    <p>Please select a Exit Survey below to be added into your Package:</p>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.ExitSurveyId, Model.ExitSurveys, "Please select", new { @class = "form-control", title = "Please select" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="update-template-exit-survey">Add</button>
                </div>

                <script>
                    ;
                    (function () {
                        $("#ExitSurveyId").selectpicker({
                            style: 'select-class',
                            dropupAuto: false
                        });
                    })();
                </script>

            </div>
        </div>
    }
</div>
