﻿@using MomentumPlus.Activate.Web.Models
@model List<ExitSurveyQuestionForViewViewModel>

@{
    var sectionId = Model.FirstOrDefault().SectionId;
    var i = 1;
}
<div class="row">
    @foreach (var questionItem in Model)
    {
        <div class="question-item question-item@(sectionId)" style="display: none;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px">
                    Question @(i++)
                    <hr />
                    @questionItem.Name
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group no-padding">
                    @if (questionItem.QuestionType == QuestionTypeEnum.Multi)
                    {
                        foreach (var answerItem in questionItem.AnswerObject)
                        {
                            <div class="checkbox" style="padding-left: 30px !important">
                                @Html.CheckBox(questionItem.QuestionId + "_" + questionItem.SectionId, answerItem.Value, new
                           {
                               @class = "btn answer-class",
                               dataid = questionItem.QuestionId + "_" + questionItem.SectionId,
                               answer = answerItem.Name,
                               datatype = questionItem.QuestionType.ToString()
                           })
                                @answerItem.Name
                            </div>
                        }
                    }
                    @if (questionItem.QuestionType == QuestionTypeEnum.Radio)
                    {
                        foreach (var answerItem in questionItem.AnswerObject)
                        {
                            <div class="radio" style="padding-left: 30px !important">
                                <input type="radio"
                                       class="btn radio-check answer-class"
                                       name="@(questionItem.QuestionId + "_" + questionItem.SectionId)"
                                       dataid="@(questionItem.QuestionId + "_" + questionItem.SectionId)"
                                       answer="@answerItem.Name"
                                       checked="@answerItem.Value"
                                       datatype="@questionItem.QuestionType">
                                @answerItem.Name
                            </div>
                        }
                    }
                    @if (questionItem.QuestionType == QuestionTypeEnum.Text)
                    {
                        <div class="text" style="padding-top: 10px">
                            <div style="width: 100%">
                                @Html.TextArea(questionItem.QuestionId + "_" + questionItem.SectionId, questionItem.AnswerObject.FirstOrDefault().TextAnswer, new
                           {
                               @class = "form-control answer-class answer-text-class",
                               dataid = questionItem.QuestionId + "_" + questionItem.SectionId,
                               answer = "",
                               datatype = questionItem.QuestionType.ToString(),
                               style = "resize: none;"
                           })
                            </div>
                        </div>
                    }
                    @if (questionItem.QuestionType == QuestionTypeEnum.Rating)
                    {
                        <div class="rating">
                            @foreach (var answerItem in questionItem.AnswerObject)
                            {
                                <div class="rating-item">
                                    <input type="radio"
                                           class="btn radio-check answer-class"
                                           name="@(questionItem.QuestionId + "_" + questionItem.SectionId)"
                                           dataid="@(questionItem.QuestionId + "_" + questionItem.SectionId)"
                                           answer="@answerItem.Name"
                                           checked="@answerItem.Value"
                                           datatype="@questionItem.QuestionType">
                                    @for (var k = 0; k < Int32.Parse(answerItem.Name); k++)
                                    {
                                        <span class="glyphicon @(answerItem.Value ? "glyphicon-star" : "glyphicon-star-empty")" aria-hidden="true"></span>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                @if (ViewData["lineManagerMode"].ToString() == "False")
                {
                    @Html.TextArea("Notes", questionItem.UserNotes, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, placeholder = "Notes (6 line for text)", rows = 6, style = "resize: none; width: 100%;", @class = "notes-box" })
                }
                else
                {
                    if (questionItem.IsUsersNotesApproved)
                    {
                        @Html.TextArea("Notes", questionItem.UserNotes, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, placeholder = "Notes (6 line for text)", rows = 6, style = "resize: none; width: 100%;", @class = "notes-box" })
                    }
                }
                <div class="hr-manager-block" style="display: none;">
                    @if (ViewData["lineManagerMode"].ToString() == "False")
                    {
                        @Html.CheckBox("IsUsersNotesApproved", questionItem.IsUsersNotesApproved, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, @class = "checkbox-approved user-approved" })
                        @:Approved for Line Manager
                        @Html.TextArea("Notes", questionItem.HRManagerNotes, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, placeholder = "HR Review Comments (6 line for text)", rows = 6, style = "resize: none; width: 100%;", @class = "hr-comment-box" })
                        @Html.CheckBox("IsHRCommentApproved", questionItem.IsHRCommentApproved, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, @class = "checkbox-approved hr-approved" })
                        @:Approved for Line Manager
                    }
                    else
                    {
                        if (questionItem.IsHRCommentApproved)
                        {
                            @Html.TextArea("Notes", questionItem.HRManagerNotes, new { dataid = questionItem.QuestionId + "_" + questionItem.SectionId, placeholder = "HR Review Comments (6 line for text)", rows = 6, style = "resize: none; width: 100%;", @class = "hr-comment-box" })
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center pagin@(sectionId)">
        <div class="pagination-block exit-survey-pagination">
            <div class="pagination-pages exit-survey-pagination">
                <span class="prev-page" id="prev-page@(sectionId)"></span>
                <span class="next-page" id="next-page@(sectionId)"></span>
                <span class="page@(sectionId)" id="page@(sectionId)"><span id="current">1</span>/<span id="total@(sectionId)"></span></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var submitType = $("#SubmitType").val() !== "NotSubmit";
        var readModeForHR = $("#SubmitType").val() === "HRManagerSubmit";
        var isOwner = $("#IsOwnerSurvey").val() === "True";
        var questionItems = $(".question-item@(sectionId)");
        var questionClassId = "question-item@(sectionId)";
        var isHRManager = $("#IsHRManagerMode").val() === "True";
        var isLineManagerMode = $("#IsLineManagerMode").val() === "True";
        var readMode = $("#ReadMode").val() === "True";
        if (submitType || !isOwner || readMode || isLineManagerMode || readModeForHR) {
            $(".answer-class, .answer-text-class, .notes-box").prop("disabled", true);
        }
        if (readModeForHR || isLineManagerMode || readMode) {
            $(".hr-comment-box").prop("disabled", true);
        }
        if (isHRManager || isLineManagerMode) {
            $(".hr-manager-block").removeAttr("style");
        }

        var totalcount = questionItems.length;
        if (totalcount > 1) {
            $("#total@(sectionId)").append(totalcount);
        } else {
            $(".pagin@(sectionId)").attr("style", "display: none;");
        }

        var firstItem = $(questionItems).first();
        $(firstItem).show();

        var currentItem = firstItem;
        $("#next-page@(sectionId)").click(function () {
            var nextItem = $(currentItem).next();

            //if (!nextItem.next().hasClass(questionClassId)) {
            //    $(this).attr("style", "opacity: 0.7;");
            //} else {
            //    $(this).removeAttr("style");
            //}

            if (nextItem.hasClass(questionClassId)) {
                $(currentItem).hide();
                currentItem = nextItem;
                $(currentItem).show();
                var currentPage = $($(this).parent().parent().find(".page@(sectionId)")).find("#current");
                currentPage.text(parseInt($(currentPage).text()) + 1);
            }
        });

        $("#prev-page@(sectionId)").click(function () {
            var prevItem = $(currentItem).prev();

            //if (!prevItem.prev().hasClass(questionClassId)) {
            //    $(this).attr("style", "opacity: 0.7;");
            //} else {
            //    $(this).removeAttr("style");
            //}

            if (prevItem.hasClass(questionClassId)) {
                $(currentItem).hide();
                currentItem = prevItem;
                $(currentItem).show();
                var currentPage = $($(this).parent().parent().find(".page@(sectionId)")).find("#current");
                currentPage.text(parseInt($(currentPage).text()) - 1);
            }
        });
    });
</script>