﻿@model List<MomentumPlus.Activate.Web.Models.ExitSurveyQuestionForViewViewModel>

@{
    var i = 1;
}
@foreach (var questionItem in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 10px 0 !important;">
        <div>
            Question @(i++)
            <hr style="margin: 5px 0 !important;"/>
            @questionItem.Name
        </div>
        @if (questionItem.QuestionType.ToString() == "Multi")
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin form-group">
                @foreach (var answerItem in questionItem.AnswerObject)
                {
                    <div class="checkbox" style="padding-left: 20px !important">
                        @Html.CheckBox((questionItem.QuestionId + "_" + questionItem.SectionId), answerItem.Value, new { @class = "btn" })
                        @answerItem.Name
                    </div>
                }
            </div>
        }
        @if (questionItem.QuestionType.ToString() == "Radio")
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin form-group">
                @foreach (var answerItem in questionItem.AnswerObject)
                {
                    <div class="radio" style="padding-left: 20px !important">
                        @Html.RadioButton((questionItem.QuestionId + "_" + questionItem.SectionId), answerItem.Value, new { @class = "btn" })
                        @answerItem.Name
                    </div>
                }
            </div>
        }
        @if (questionItem.QuestionType.ToString() == "Text")
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin form-group">
                <div class="text" style="padding-top: 10px">
                    <div style="width: 100%">
                        @Html.TextArea(questionItem.QuestionId + "_" + questionItem.SectionId, questionItem.AnswerObject.FirstOrDefault().TextAnswer, new
                   {
                       @class = "form-control",
                       style = "resize: none;"
                   })
                    </div>
                </div>
            </div>
        }
        @if (questionItem.QuestionType.ToString() == "Rating")
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin form-group">
                @foreach (var answerItem in questionItem.AnswerObject)
                {
                    <div class="rating-item">
                        <input type="radio"
                               class="btn radio-check answer-class"
                               checked="@answerItem.Value"
                               datatype="@questionItem.QuestionType">
                        @for (var k = 0; k < Int32.Parse(answerItem.Name); k++)
                        {
                            <span class="glyphicon @(answerItem.Value ? "glyphicon-star" : "glyphicon-star-empty")"></span>
                        }
                    </div>
                }
            </div>
        }
    </div>
}