﻿@model MomentumPlus.Activate.Web.Models.ExitSurveySectionViewModel

<div class="block@(Model.SectionId)">
    <label for="view-package">
        Section @Model.Number
    </label>
    <div id="section" class="section-question">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Name, Model.Name, new { @class = "form-control", disabled = true })
            </div>
        </div>
        <div class="row ordering-box" data-id="@Model.SectionId">
            @foreach (var question in Model.QuestionsPosition)
            {
                <div class="row ordering-item no-margin" data-id="@(question.SectionId)_@(question.QuestionId)">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        @Html.TextBox(question.QuestionId.ToString(), question.QuestionName, new { @class = "form-control", @position = question.Position, questionid = question.QuestionId, sectionid = question.SectionId, disabled = true })
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                        <button type="button" class="btn btn-default btn-sm arrow-up" data-id="@(question.SectionId)_@(question.QuestionId)">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm arrow-down" data-id="@(question.SectionId)_@(question.QuestionId)">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <style>
        .ordering-box {
            margin-top: 10px;
        }
        .ordering-box .ordering-item .col-lg-11 {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
</div>
