﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.SearchViewModel

@using System.Resources
@using MomentumPlus.Activate.Services
@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Maximum length for names and tags in results tables - names/tags longer
    // are truncated with a tooltip.
    var maxNameLength = 25;
    var maxTagsLength = 25;
}

<div class="row">

    <div class="col-md-2">
        @Html.Action("SearchControl", "Search", new { area = "Home" })

        @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { role = "form" }))
        {
            @Html.HiddenFor(model => model.SearchQuery)

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTopics, new { @class = "on-change-submit" }) Topics
                </label>
            </div>
            <div class="checkbox checkbox-indented">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTopicAttachments, new { @class = "on-change-submit" }) Attachments
                </label>
            </div>
            <div class="checkbox checkbox-indented">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTopicVoiceMessages, new { @class = "on-change-submit" }) Voice Messages
                </label>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTasks, new { @class = "on-change-submit" }) Tasks
                </label>
            </div>
            <div class="checkbox checkbox-indented">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTaskAttachments, new { @class = "on-change-submit" }) Attachments
                </label>
            </div>
            <div class="checkbox checkbox-indented">
                <label>
                    @Html.CheckBoxFor(model => model.IncludeTaskVoiceMessages, new { @class = "on-change-submit" }) Voice Messages
                </label>
            </div>
        }
    </div>

    <div class="col-md-10">
        @if (Model.IncludeTopics || Model.IncludeTopicAttachments || Model.IncludeTopicVoiceMessages || Model.NoFiltersApplied)
        {
            <section class="panel panel-primary">
                <div class="panel-heading">Topics</div>

                @if (Model.IncludeTopics || Model.NoFiltersApplied)
                {
                    if (Model.Topics != null && Model.Topics.Any())
                    {
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-center" style="width: 14%;">Edit</th>
                                        <th class="text-center" style="width: 14%;">Tasks</th>
                                        <th class="text-center" style="width: 14%;">Attachments</th>
                                        <th class="text-center" style="width: 14%;">Voice Messages</th>
                                        <th class="text-center" style="width: 14%;">Approved</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var topic in Model.Topics)
                                    {
                                        <tr>
                                            <td>@Html.TruncateWithTooltip(topic.Name, maxNameLength)</td>
                                            <td class="text-center"><a href="@Url.Action("EditTopic", new { id = topic.ID })">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Index", "TaskManager", new { area = "", id = topic.ID })">
                                                    @topic.Tasks.Count
                                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action(
                                                        "Index",
                                                        "Attachments",
                                                        new { area = "", id = topic.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Topic }
                                                    )">
                                                    @Html.Element(
                                                        "span",
                                                        "glyphicon glyphicon-paperclip",
                                                        topic.Attachments.Count > 0,
                                                        "span",
                                                        "glyphicon glyphicon-minus"
                                                    )
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action(
                                                        "Index",
                                                        "VoiceMessage",
                                                        new { area = "", id = topic.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Topic }
                                                    )">
                                                    @Html.Element(
                                                        "span",
                                                        "glyphicon glyphicon-volume-up",
                                                         topic.VoiceMessages.Count > 0,
                                                         "span",
                                                         "glyphicon glyphicon-minus"
                                                    )
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditTopic", new { id = topic.ID })">
                                                    @Html.Element(
                                                        "span", "glyphicon glyphicon-ok",
                                                        false,
                                                        "span", "glyphicon glyphicon-warning-sign"
                                                    )
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="panel-body">No topics found.</div>
                    }
                }

                @if (Model.IncludeTopicAttachments || Model.NoFiltersApplied)
                {
                    <section class="panel panel-default panel-spaced">
                        <div class="panel-heading">Attachments</div>

                        @if (Model.TopicAttachments != null && Model.TopicAttachments.Any())
                        {
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 23%;">Name</th>
                                            <th class="text-center" style="width: 10%;">Added</th>
                                            <th style="width: 23%;">Topic</th>
                                            <th>Tags</th>
                                            <th class="text-center" style="width: 10%;">Edit</th>
                                            <th class="text-center" style="width: 10%;">Download</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var attachment in Model.TopicAttachments)
                                        {
                                            <tr>
                                                <td>@Html.TruncateWithTooltip(attachment.Name, maxNameLength)</td>
                                                <td class="text-center">@attachment.Created.Value.ToShortDateString()</td>
                                                <td>@Html.TruncateWithTooltip(attachment.ParentTopic.Name, maxNameLength)</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(attachment.SearchTags))
                                                    {
                                                        @Html.TruncateWithTooltip(attachment.SearchTags, maxTagsLength)
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("Edit", "Attachments", new { area = "", id = attachment.ID, itemId = Guid.Empty, type = ItemType.Topic })">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    @if (attachment.FileId.HasValue)
                                                    {
                                                        <a href="@Url.Action("Download", "Attachments", new { area = "", id = attachment.ID })" target="_blank">
                                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                                        </a>
                                                    }
                                                    else if (!string.IsNullOrEmpty(attachment.FilePath))
                                                    {
                                                        <a href="@attachment.FilePath" target="_blank">
                                                            <span class="glyphicon glyphicon-link"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="panel-body">No topic attachments found.</div>
                        }
                    </section>
                }

                @if (Model.IncludeTopicVoiceMessages || Model.NoFiltersApplied)
                {
                    <section class="panel panel-default panel-spaced">
                        <div class="panel-heading">Voice Messages</div>

                        @if (Model.TopicVoiceMessages != null && Model.TopicVoiceMessages.Any())
                        {
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 23%;">Name</th>
                                            <th class="text-center" style="width: 10%;">Added</th>
                                            <th style="width: 23%;">Topic</th>
                                            <th>Tags</th>
                                            <th class="text-center" style="width: 10%;">Edit</th>
                                            <th class="text-center" style="width: 10%;">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        @foreach (var voicemessage in Model.TopicVoiceMessages)
                                        {
                                            <tr>
                                                <td class="audio-title">@Html.TruncateWithTooltip(voicemessage.Name, maxNameLength)</td>
                                                <td class="text-center">@voicemessage.Created.Value.ToShortDateString()</td>
                                                <td>@Html.TruncateWithTooltip(voicemessage.ParentTopic.Name, maxNameLength)</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(voicemessage.SearchTags))
                                                    {
                                                        @Html.TruncateWithTooltip(voicemessage.SearchTags, maxTagsLength)
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("Edit", "VoiceMessage", new { area = "", id = voicemessage.ID, itemId = Guid.Empty, type = ItemType.Topic })">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    @if (voicemessage.AudioData)
                                                    {
                                                        <a href="@Url.Action("Download", "VoiceMessage", new { area = "", id = voicemessage.ID })" target="_blank">
                                                            <span class="glyphicon glyphicon glyphicon-arrow-down"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="panel-body">No topic voice messages found.</div>
                        }
                    </section>
                }
            </section>
        }
        
        @if (Model.IncludeTasks || Model.IncludeTaskAttachments || Model.IncludeTaskVoiceMessages || Model.NoFiltersApplied)
        {
            <section class="panel panel-primary">
                <div class="panel-heading">Tasks</div>

                @if (Model.IncludeTasks || Model.NoFiltersApplied)
                {
                    if (Model.Tasks != null && Model.Tasks.Any())
                    {
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 29%;">Name</th>
                                        <th style="width: 29%;">Parent</th>
                                        <th class="text-center" style="width: 14%;">Edit</th>
                                        <th class="text-center" style="width: 14%;">Attachments</th>
                                        <th class="text-center" style="width: 14%;">Voice Messages</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var task in Model.Tasks)
                                    {
                                        <tr>
                                            <td>@Html.TruncateWithTooltip(task.Name, maxNameLength)</td>
                                            @if (task.ParentTopic != null)
                                            {
                                                <td>@Html.TruncateWithTooltip(task.ParentTopic.Name, maxNameLength)</td>
                                            }
                                            else if (task.ProjectInstace != null)
                                            {
                                                <td>@Html.TruncateWithTooltip(task.ProjectInstace.Project.Name, maxNameLength)</td>
                                            }
                                            else
                                            {
                                                <td>@Html.TruncateWithTooltip(task.Contact.FullName, maxNameLength)</td>
                                            }
                                            <td class="text-center">
                                                <a href="@Url.Action("EditTask", "Tasks", new { id = task.ID })">
                                                    @Html.Element("span", "glyphicon glyphicon-pencil", true)
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Index", "Attachments", new { area = "", id = task.ID, type = ItemType.Task })">
                                                    @Html.Element(
                                                        "span",
                                                        "glyphicon glyphicon-paperclip",
                                                        task.HasAttachments(),
                                                        "span",
                                                        "glyphicon glyphicon-minus"
                                                    )
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Index", "VoiceMessage", new { area = "", id = task.ID, type = ItemType.Task })">
                                                    @Html.Element(
                                                        "span",
                                                        "glyphicon glyphicon-volume-up",
                                                         task.HasVoiceMessages(),
                                                         "span",
                                                         "glyphicon glyphicon-minus"
                                                    )
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="panel-body">No tasks found.</div>
                    }
                }

                @if (Model.IncludeTaskAttachments || Model.NoFiltersApplied)
                {
                    <section class="panel panel-default panel-spaced">
                        <div class="panel-heading">Attachments</div>

                        @if (Model.TaskAttachments != null && Model.TaskAttachments.Any())
                        {
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 23%;">Name</th>
                                            <th class="text-center" style="width: 10%;">Added</th>
                                            <th style="width: 23%;">Task</th>
                                            <th>Tags</th>
                                            <th class="text-center" style="width: 10%;">Edit</th>
                                            <th class="text-center" style="width: 10%;">Download</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var attachment in Model.TaskAttachments)
                                        {
                                            <tr>
                                                <td>@Html.TruncateWithTooltip(attachment.Name, maxNameLength)</td>
                                                <td class="text-center">@attachment.Created.Value.ToShortDateString()</td>
                                                <td>@Html.TruncateWithTooltip(attachment.ParentTask.Name, maxNameLength)</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(attachment.SearchTags))
                                                    {
                                                        @Html.TruncateWithTooltip(attachment.SearchTags, maxTagsLength)
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("Edit", "Attachments", new { area = "", id = attachment.ID, itemId = attachment.ParentTaskId, type = ItemType.Task })">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    @if (attachment.FileId.HasValue)
                                                    {
                                                        <a href="@Url.Action("Download", "Attachments", new { area = "", id = attachment.ID })" target="_blank">
                                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                                        </a>
                                                    }
                                                    else if (!string.IsNullOrEmpty(attachment.FilePath))
                                                    {
                                                        <a href="@attachment.FilePath" target="_blank">
                                                            <span class="glyphicon glyphicon-link"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="panel-body">No task attachments found.</div>
                        }
                    </section>
                }

                @if (Model.IncludeTaskVoiceMessages || Model.NoFiltersApplied)
                {
                    <section class="panel panel-default panel-spaced">
                        <div class="panel-heading">Voice Messages</div>

                        @if (Model.TaskVoiceMessages != null && Model.TaskVoiceMessages.Any())
                        {
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 23%;">Name</th>
                                            <th class="text-center" style="width: 10%;">Added</th>
                                            <th style="width: 23%;">Task</th>
                                            <th>Tags</th>
                                            <th class="text-center" style="width: 10%;">Edit</th>
                                            <th class="text-center" style="width: 10%;">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        @foreach (var voicemessage in Model.TaskVoiceMessages)
                                        {
                                            <tr>
                                                <td class="audio-title">@Html.TruncateWithTooltip(voicemessage.Name, maxNameLength)</td>
                                                <td class="text-center">@voicemessage.Created.Value.ToShortDateString()</td>
                                                <td>@Html.TruncateWithTooltip(voicemessage.ParentTask.Name, maxNameLength)</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(voicemessage.SearchTags))
                                                    {
                                                        @Html.TruncateWithTooltip(voicemessage.SearchTags, maxTagsLength)
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("Edit", "VoiceMessage", new { area = "", id = voicemessage.ID, itemId = Guid.Empty, type = ItemType.Task })">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    @if (voicemessage.AudioData)
                                                    {
                                                        <a href="@Url.Action("Download", "VoiceMessage", new { area = "", id = voicemessage.ID })" target="_blank">
                                                            <span class="glyphicon glyphicon glyphicon-arrow-down"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="panel-body">No task voice messages found.</div>
                        }
                    </section>
                }
            </section>
        }
    </div>

</div>
