﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.SearchViewModel

@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { }))
{
    <div class="form-group has-feedback" id="main-search">
        @Html.LabelFor(m => m.SearchQuery, new { @class = "control-label sr-only" })
        @Html.TextBoxFor(m => m.SearchQuery, new { @class = "form-control", placeholder = "Search" })
        <button type="submit" class="unbutton glyphicon glyphicon-search form-control-feedback"></button>
    </div>
}
