﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.PositionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading">Position</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TemplateId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.TemplateId, Model.Templates, "", new { @class = "form-control combobox" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TemplateId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DefaultWorkplaceId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.DefaultWorkplaceId, Model.Workplaces, "", new { @class = "form-control combobox" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.DefaultWorkplaceId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-2">
                    @*@if (!Model.CreateMode)
                    {
                        @Html.ActionLink("Delete", "DeletePosition", new { id = Model.ID }, new { @class = "btn btn-danger" })
                    }*@
                </div>

                <div class="col-sm-10 text-right">
                    @if (!Model.ReadOnly)
                    {
                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                    <a href="@AppSession.Current.PositionFormReturnUrl" class="btn btn-danger">Close</a>
                </div>
            </div>
        </div>
    </div>
}

