﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AccountConfigViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    @* Prevent account information validation firing on version details form  *@
    @Html.HiddenFor(model => model.HandoverConsultant)
    @Html.HiddenFor(model => model.EarliestStartWeek)
    @Html.HiddenFor(model => model.FiscalYearStartMonth)
    
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Edit Settings</div>
            
            @*<div class="vertical-cell text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>*@
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()
            
            <div class="form-group">
                @Html.LabelFor(m => m.TenantFriendlyName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TenantFriendlyName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TenantFriendlyName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PurchaseDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.PurchaseDate)
                    @Html.ValidationMessageFor(m => m.PurchaseDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LicenceEndDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(m => m.LicenceEndDate)
                    @Html.ValidationMessageFor(m => m.LicenceEndDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ProcessSupportTier, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.ProcessSupportTier, Model.ProcessSupportTier.ToSelectList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProcessSupportTier)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TemplateLimit, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="number" id="TemplateLimit" name="TemplateLimit" class="form-control" value="@Model.TemplateLimit" disabled="@Model.ReadOnly" />
                    @Html.ValidationMessageFor(m => m.TemplateLimit)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PackageLimit, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="number" id="PackageLimit" name="PackageLimit" class="form-control" value="@Model.PackageLimit" disabled="@Model.ReadOnly" />
                    @Html.ValidationMessageFor(m => m.PackageLimit)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AccountManager, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.AccountManager, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AccountManager)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TwilioAccount, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TwilioAccount, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TwilioAccount)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TwilioEndpoint, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TwilioEndpoint, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TwilioEndpoint)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TwilioPhoneNumber, new { @class = "col-sm-2 control-label", @id = "pin-input" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.TwilioPhoneNumber, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    <small><em>Please call <span>{0}</span> using {PIN} to record a voice message</em></small>
                    @Html.ValidationMessageFor(m => m.TwilioPhoneNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SmsGateway, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.SmsGateway, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.SmsGateway)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AlternativeSmsGateway, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.AlternativeSmsGateway, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AlternativeSmsGateway)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NumberSMSPerUserPerDay, new { @class = "col-sm-2 control-label", @id = "pin-input" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.NumberSMSPerUserPerDay, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.NumberSMSPerUserPerDay)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.SmsOn) SMS On/Off
                            @Html.ValidationMessageFor(model => model.SmsOn)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.ProLinkEnabled, new { }.WithAttrIf("disabled", "", Model.ProLinkEnabled || Model.ReadOnly)) Enable Pro-Link Mode
                            @Html.ValidationMessageFor(model => model.ProLinkEnabled)
                        </label>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.ChatService, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChatService, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ChatService)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ChatRooms, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ChatRooms, new { @class = "form-control tokenfield-input" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    <small><em>Enter the rooms to auto-join when the live chat is opened.</em></small>
                    @Html.ValidationMessageFor(m => m.ChatRooms)
                </div>
            </div>*@

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

