﻿@model MomentumPlus.Activate.Web.Models.PackageTransferViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Package to Package Transfer</div>
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.TopicId)
            @Html.HiddenFor(m => m.TaskId)
            
            <div class="form-group">
                <label for="ItemName" class="col-sm-2 control-label">
                    Source Package / @(Model.TopicId.HasValue ? "Topic" : "Task")
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="ItemName">@Model.SourceDetails</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TargetPackageId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.TargetPackageId, Model.Packages, "Select package...", new { @class = "form-control combobox" })
                    @Html.ValidationMessageFor(m => m.TargetPackageId)
                </div>
            </div>

            @if (Model.TopicId.HasValue)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.TargetParentTopicGroupId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @if (Model.TopicGroups != null && Model.TopicGroups.Any())
                        {
                            @Html.DropDownListFor(m => m.TargetParentTopicGroupId, Model.TopicGroups, "Select topic group...", new { @class = "form-control combobox" })
                        }
                        else if (Model.TargetPackageId.HasValue)
                        {
                            <p class="form-control-static">No topic groups in the selected package.</p>
                        }
                        else
                        {
                            <p class="form-control-static">Select a package to see available topic groups.</p>
                        }
                        
                        @Html.ValidationMessageFor(m => m.TargetParentTopicGroupId)
                    </div>
                </div>
            }
            else if (Model.TaskId.HasValue)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.TargetParentTopicId, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @if (Model.Topics != null && Model.Topics.Any())
                        {
                            @Html.DropDownListFor(m => m.TargetParentTopicId, Model.Topics, "Select topic...", new { @class = "form-control combobox" })
                        }
                        else if (Model.TargetPackageId.HasValue)
                        {
                            <p class="form-control-static">No topics in the selected package.</p>
                        }
                        else
                        {
                            <p class="form-control-static">Select a package to see available topics.</p>
                        }

                        @Html.ValidationMessageFor(m => m.TargetParentTopicId)
                    </div>
                </div>
            }

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="@AppSession.Current.PackageTransferFormReturnUrl" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/package-transfer.js")
}
