﻿@model MomentumPlus.Activate.Web.Models.TopicConfirmationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        "TopicConfirmation",
        "PackageTransfer",
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">Topic Name Already Exist</div>
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()

            @*@Html.ValidationSummary()*@

            @Html.HiddenFor(m => m.TopicId)
            @Html.HiddenFor(m => m.TopicGroupId)

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        Destination Topic Group already contains Topic with name '@Model.OldName' you can choose new name or replace existing topic.
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.NewName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewName)
                </div>
            </div>

        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-default" name="Action" value="rename">Save</button>

                <button type="submit" class="btn btn-primary" name="Action" value="overwrite">Replace</button>

                <a href="@AppSession.Current.PackageTransferFormReturnUrl" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/package-transfer.js")
}
