﻿@using MomentumPlus.Activate.Web.Extensions
@using MvcPaging

@model MomentumPlus.Activate.Web.Areas.Home.Models.PeopleViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<div class="row" ng-cloak>
    @helper TileRow(IEnumerable<MomentumPlus.Core.Models.Contact> staffContacts)
    {
        foreach (var contact in staffContacts)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 business-card-container" data-contact-id="@contact.ID" style="padding-left: 20px;padding-right: 20px;">
                <div class="row business-card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 person-image">
                            @if (contact.ImageId != null)
                            {
                                <img src="/image/@contact.ImageId" alt="@contact.FirstName @contact.LastName" />
                            }
                            @if (contact.ImageId == null)
                            {
                                <img src="/Content/img/profile-image-placeholder.png" alt="@contact.FirstName @contact.LastName" />
                            }
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="person-details row">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                    <div>
                                        @if (contact.FirstName != null && contact.LastName != null)
                                        {
                                            <a>
                                                <strong data-toggle="tooltip" title="@contact.FirstName @contact.LastName" data-placement="bottom">
                                                    {{("@contact.FirstName" + " " + "@contact.LastName") | characters:15}}
                                                </strong>
                                            </a>
                                        }
                                        @if (contact.FirstName == null && contact.LastName == null)
                                        {
                                            <a><strong>-</strong></a>
                                        }
                                    </div>
                                    <div>
                                        @if (contact.Position == null)
                                        {
                                            <a><strong>-</strong></a>
                                        }
                                        @if (contact.Position != null)
                                        {
                                            <span data-toggle="tooltip" title="@contact.Position">
                                                {{('@contact.Position') | characters:20}}
                                            </span>
                                        }
                                    </div>
                                    <div>
                                        @if (contact.OtherCompany && contact.OtherCompanyName != null)
                                        {
                                            <span data-toggle="tooltip" title="{{'@contact.OtherCompanyName'}}">
                                                {{('@contact.OtherCompanyName') | characters:20}}
                                            </span>
                                        }
                                        @if (contact.OtherCompany && contact.OtherCompanyName == null)
                                        {
                                            <div>Other</div>
                                        }
                                    </div>
                                    @if (!contact.OtherCompany && contact.Company != null)
                                    {
                                        <span data-toggle="tooltip" title="{{'@contact.Company'}}">
                                            {{'@contact.Company' | characters:20}}
                                        </span>
                                    }
                                    @if (contact.OtherCompany == null && contact.Company == null)
                                    {
                                        <div>-</div>
                                    }
                                    @if (contact.Email != null)
                                    {
                                        <div>
                                            <small>Email: <a href="mailto: @contact.Email" data-toggle="tooltip" title="{{'@contact.Email'}}">{{'@contact.Email' | characters:13}}</a></small>
                                        </div>
                                    }
                                    @if (contact.Email == null)
                                    {
                                        <div>
                                            <small> <br /></small>
                                        </div>
                                    }
                                    @if (contact.Phone != null)
                                    {
                                        <div>
                                            <small>Tel.: <a href="tel:@contact.Phone" data-toggle="tooltip" title="{{'@contact.Phone'}}">{{'@contact.Phone' | characters:13}}</a></small>
                                        </div>
                                    }
                                    @if (contact.Phone == null)
                                    {
                                        <div>
                                            <small><br /></small>
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
                                    @if (contact.IsBasedOnPackage == false)
                                    {
                                        if (contact.Managed)
                                        {
                                            <img src="/Content/css/images/managed.png" alt="" class="business-card-icon" style="padding-right: 5px!important" />
                                        }
                                        if (contact.IntroRequired)
                                        {
                                            <img src="/Content/css/images/intro-required.png" alt="" class="business-card-icon" style="padding-right: 5px!important" />
                                        }
                                    }
                                    @if (contact.IsBasedOnPackage)
                                    {
                                        if (contact.UserRole == MomentumPlus.Core.Models.Role.RoleEnum.LineManager)
                                        {
                                            <span style="color: white;background: gray;padding: 3px;font-weight: 700;">LM</span>
                                        }
                                        if (contact.UserRole == MomentumPlus.Core.Models.Role.RoleEnum.HRManager)
                                        {
                                            <span style="color: white;background: gray;padding: 3px;font-weight: 700;">HR</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                                @if (contact.IsBasedOnPackage)
                                {
                                    <div style="padding: 5px; padding-left: 0px; font-size: 17px">@Html.PackageStatusLabel(contact.ContactPackageId)</div>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right ">
                                @{
                                    var packUrl = "";
                                    if (contact.IsBasedOnPackage)
                                    {
                                        packUrl = String.Format("{0}?Query=" + contact.FirstName, Url.Action("Index", "Employees", new { area = "Packages", id = contact.User.ID }));
                                    }
                                }
                                @if (contact.IsBasedOnPackage)
                                {
                                    <a href="@packUrl" class="btn btn-default">View Pack</a>
                                        @*<a href="@Url.Action("ExaminePackage", "PackageSelector", new {area = "", id = contact.ContactPackageId})" class="btn btn-default">
                                            View Pack
                                            </a>*@
                                        @*<a href="@Url.Action("Index", "Employees", new {area = "Packages", id = contact.User.ID})" class="btn btn-default">
                                            View Pack
                                            </a>*@
                                }
                                @if (!contact.IsBasedOnPackage)
                                {
                                    <a class="btn btn-default" href="/Home/Relationships/Edit/@contact.ID#management">Manage</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h2>My Team (@Model.TotalCount)</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <a href="@Url.Action("QuickAddPerson")" class="btn btn-default margin-top">Add</a>
    </div>
</div>

@using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString()))
{
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <p><strong>Search by Name, Position or Company</strong></p>
            <div class="form-inline">
                <div class="row no-padding">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="form-group has-feedback" style="width:100%">
                            @Html.LabelFor(model => model.SearchTerm, new { @class = "sr-only" })
                            <div class="input-group" style="width:100%">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                @Html.TextBoxFor(model => model.SearchTerm, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <button type="submit" class="btn btn-default">
                            Search
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-default">
                            Clear
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderBy)
                        @Html.DropDownListFor(
                            model => model.OrderBy,
                            Model.OrderBy.ToSelectList(),
                            new { @class = "form-control on-change-submit" }
                        )
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SortAscending, new { @class = "invisible" })
                        @Html.DropDownListFor(
                            model => model.SortAscending,
                            new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Ascending", Value = true.ToString() },
                                new SelectListItem { Text = "Descending", Value = false.ToString() },
                            },
                            new { @class = "form-control on-change-submit" }
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.StaffContacts.Any())
{
    @TileRow(Model.StaffContacts.Take(3))
    @TileRow(Model.StaffContacts.Skip(3).Take(3))
}
else
{
    <p>No people to show.</p>
}

@Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
    .DisplayTemplate("BootstrapPagination")
    .MaxNrOfPages(14)
    .AlwaysAddFirstPageNumber()
    .PageRouteValueKey("PageNo")
    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
)

@section Scripts
{
    @Html.Partial("_BusinessCard")
    @Scripts.Render("~/Content/js/business-cards.js")
}
