﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.PeopleStatsViewModel

@* id - people-progress is being used in RelationshipsStats*@
<ul class="list-inline" id="staffs-progress">
    <li>
        <a href="@Url.Action("Index", "People")">
            <img src="/Content/css/images/user.png" alt="People" />
            @Model.PeopleCount
        </a>
    </li>
</ul>
