﻿@model MomentumPlus.Activate.Web.Areas.Home.Models.QuickAddPersonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    <div class="panel panel-secondary">
        <div class="panel-heading">
            Add Person from My Relationships
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            <p>
                Please select a person below. If the person does not exist, you need to create this new contact from the Relationship Module before proceeding.
            </p>
            <div class="form-group">
                @Html.DropDownListFor(
                    model => model.ContactId,
                    Model.Contacts,
                    "",
                    new {@class = "form-control combobox"}
                    )
                @Html.ValidationMessageFor(model => model.ContactId)
            </div>
            <div class="col-sm-2 control-label">
                @Html.LabelFor(model => model.EmploymentStatus)
            </div>
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.EmploymentStatus,
                    new SelectList(new[] {"Full Time", "Part Time", "Contractor", "Other"}),
                    "",
                    new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.EmploymentStatus)
            </div>

        </div>


<div class="panel-footer clearfix">
    <div class="row">
        <div class="col-sm-12 text-right">
            <a href="@AppSession.Current.QuickAddPersonFormReturnUrl" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary" id="person-confirmation" data-return-url="@AppSession.Current.QuickAddPersonFormReturnUrl">
                Save
            </button>
        
        </div>
    </div>
</div>

  
</div>
}

