﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Core.Models.Moderation
@model MomentumPlus.Activate.Web.Models.People.StaffViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        @if (!Model.ReadOnly)
        {
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@AppSession.Current.StaffFormReturnUrl" class="btn btn-danger">Close</a>
        }
        else
        {
            <button type="submit" class="btn btn-danger">Close</button>
        }
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @(Model.CreateMode ? "Create" : "Edit") Person/Relationship
            </div>

            @SaveClose()
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()

            @if (Model.UserId.HasValue) { 
                <div class="form-group form-group-highlight">
                    <div class="col-sm-2 control-label">
                        @Html.LabelFor(model => model.UserId)
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBox("username", Model.Users.First(i => i.Value == Model.UserId.ToString()).Text, new { @class = "form-control", @readonly = "readonly" })
                        @*@Html.DropDownListFor(
                            model => model.UserId,
                            Model.Users,
                            "",
                            new {@class = "form-control combobox"}
                            )
                        @Html.ValidationMessageFor(model => model.UserId)*@
                    </div>
                    <div class="col-sm-3">
                        @if (Model.ShowGoToPackage)
                        {
                            <a href="#" class="btn btn-default btn-block" id="go-to-package">Go to Package</a>
                        }
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm-10">
                    @Html.EditorFor(model => model, "PersonViewModel")

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @Html.LabelFor(model => model.SearchTags)
                        </div>
                        <div class="col-sm-10">
                            <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                                   value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" disabled="@Model.ReadOnly" />
                            @Html.ValidationMessageFor(model => model.SearchTags)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @Html.LabelFor(model => model.EmploymentStatus)
                        </div>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(
                                model => model.EmploymentStatus,
                                new SelectList(new[] { "Full Time", "Part Time", "Contractor", "Other" }),
                                "",
                                new { @class = "form-control" }.WithAttrIf("readonly", "", Model.ReadOnly)
                            )
                            @Html.ValidationMessageFor(model => model.EmploymentStatus)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @Html.LabelFor(model => model.FutureTraining)
                        </div>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(
                                model => model.FutureTraining,
                                new { @class = "form-control", rows = 3 }
                                    .WithAttrIf("readonly", "", Model.ReadOnly)
                            )
                            @Html.ValidationMessageFor(model => model.FutureTraining)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @Html.LabelFor(model => model.ManagementNotes)
                        </div>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(
                                model => model.ManagementNotes,
                                new { @class = "form-control", rows = 3 }
                                    .WithAttrIf("readonly", "", Model.ReadOnly)
                            )
                            @Html.ValidationMessageFor(model => model.ManagementNotes)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10  col-sm-offset-2">
                            <button type="submit" name="Redirect" value="Relationship" class="btn btn-default">Go to Relationship</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.ReadyForReview)

                                    Ready For Review?

                                    @Html.ValidationMessageFor(model => model.ReadyForReview)
                                </label>
                            </div>
                        </div>
                    </div>
                    @if (Model.ShowLineManagerSection)
                    {
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                @Html.LabelFor(model => model.LineManagerDecision)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ModerationFormLineManagerDecision })
                            </div>
                            <div class="col-sm-2">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(
                        model => model.LineManagerDecision,
                        ModerationDecision.Approved,
                        new { }.WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                    )
                                        Approved
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @Html.RadioButtonFor(
                        model => model.LineManagerDecision,
                        ModerationDecision.Declined,
                        new { }.WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                    )
                                    </span>
                                    @Html.TextBoxFor(
                    model => model.LineManagerNotes,
                    new { @class = "form-control", placeholder = "Declined: reason" }
                        .WithAttrIf("disabled", "", !(Model.UserIsLineManager || Model.UserIsClientAdmin))
                )
                                    @Html.ValidationMessageFor(model => model.LineManagerNotes)
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.ShowHrManagerSection)
                    {
                        <div class="form-group">
                            <div class="col-sm-2 control-label">
                                @Html.LabelFor(model => model.HrManagerDecision)
                                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ModerationFormHrManagerDecision })
                            </div>
                            <div class="col-sm-2">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(
                                            model => model.HrManagerDecision,
                                            ModerationDecision.Approved,
                                            new { }.WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                                        )
                                        Approved
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @Html.RadioButtonFor(
                                            model => model.HrManagerDecision,
                                            ModerationDecision.Declined,
                                            new { }.WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                                        )
                                    </span>
                                    @Html.TextBoxFor(
                                        model => model.HrManagerNotes,
                                        new { @class = "form-control", placeholder = "Declined: reason" }
                                            .WithAttrIf("disabled", "", !(Model.UserIsHrManager || Model.UserIsClientAdmin))
                                    )
                                    @Html.ValidationMessageFor(model => model.HrManagerNotes)
                                </div>
                            </div>
                        </div>
                    }

                    @Html.Partial("_VoiceMessagesAttachments", Model, new ViewDataDictionary { { "ItemType", MomentumPlus.Activate.Web.Models.ItemType.Staff } })

                    @*@Html.Partial("_Tasks", Model)*@

                    @Html.Partial("_RequiredField")
                </div>
            </div>
        </div>
        <div class="panel-footer display-table">
            <div class="vertical-cell">
                @if (!Model.CreateMode)
                {
                    <a href="@Url.Action("TransferPerson", new { id = Model.ID })" class="btn btn-default">Transfer</a>
                    <a href="@Url.Action("RetirePerson", new { id = Model.ID })"
                       id="person-retire"
                       class="btn btn-danger"
                       @(Model.Deleted.HasValue ? "disabled" : "")>
                        Retire
                    </a>
                    <a href="@Url.Action("ResumePerson", new { id = Model.ID })" class="btn btn-primary" @(!Model.Deleted.HasValue ? "disabled" : "")>
                        Resume
                    </a>
                }
            </div>
            <div class="vertical-cell">
                word count: <strong>@Model.NotesWordCount</strong>
                |
                subjectivity count: <strong>@Model.NotesSubjectivity</strong>
            </div>
            @SaveClose()
        </div>
    </div>
}

@*@section Scripts
{
    @Scripts.Render("~/bundles/people.js")
}*@
