﻿@model MomentumPlus.Activate.Web.Models.ApprovalsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ModuleTable()
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Submitted</th>
                <th>Pack</th>
                <th>Topic</th>
                <th>Task</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>-</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>Task Name 1</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>Task Name 2</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>-</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>Task Name 1</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>11/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Topic Name 1</td>
                <td>Task Name 2</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
        </tbody>
    </table>
}

@helper PeopleTable()
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Submitted</th>
                <th>Pack</th>
                <th>Name</th>
                <th>Destination</th>
                <th>Company</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staffTransferRequest in Model.StaffTransferRequests.ToList())
            {
                var url = Url.Action("PersonTransferRequest", new { id = staffTransferRequest.ID });

                <tr data-soft-link="@url">
                    <td>@staffTransferRequest.Created.Value.ToShortDateString()</td>
                    <td>@staffTransferRequest.Package.DisplayName</td>
                    <td>@staffTransferRequest.Contact.FullName</td>
                    <td>@staffTransferRequest.DestinationPackage.DisplayName</td>
                    @if (staffTransferRequest.Contact.Company != null)
                    {
                        <td>@staffTransferRequest.Contact.Company.Name</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>@staffTransferRequest.Contact.Position</td>
                    <td><a href="@url">View/Approve/Reject</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@helper ProjectTable()
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Submitted</th>
                <th>Pack</th>
                <th>Project Name</th>
                <th>Project ID</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newProjectRequest in Model.NewProjectRequests.ToList())
            {
                var url = Url.Action("NewProject", new { id = newProjectRequest.ID });

                <tr data-soft-link="@url">
                    <td>@newProjectRequest.Created.Value.ToShortDateString()</td>
                    <td>@newProjectRequest.Package.DisplayName</td>
                    <td>@newProjectRequest.SuggestedName</td>
                    <td>@newProjectRequest.SuggetestedProjectId</td>
                    <td>Added</td>
                    <td><a href="@url">View/Approve/Reject</a></td>
                </tr>
            }

            @foreach (var projectInstanceTransferRequest in Model.ProjectInstanceTransferRequests.ToList())
            {
                var url = Url.Action("ProjectTransferRequest", new { id = projectInstanceTransferRequest.ID });

                <tr data-soft-link="@url">
                    <td>@projectInstanceTransferRequest.Created.Value.ToShortDateString()</td>
                    <td>@projectInstanceTransferRequest.Package.DisplayName</td>
                    <td>@projectInstanceTransferRequest.ProjectInstance.Project.Name</td>
                    <td>@projectInstanceTransferRequest.ProjectInstance.Project.ProjectId</td>
                    <td>Transferred</td>
                    <td><a href="@url">View/Approve/Reject</a></td>
                </tr>
            }

            @foreach (var projectInstanceRoleChangeRequest in Model.ProjectInstanceRoleChangeRequests.ToList())
            {
                var url = Url.Action("ProjectRoleChangeRequest", new { id = projectInstanceRoleChangeRequest.ID });

                <tr data-soft-link="@url">
                    <td>@projectInstanceRoleChangeRequest.Created.Value.ToShortDateString()</td>
                    <td>@projectInstanceRoleChangeRequest.Package.DisplayName</td>
                    <td>@projectInstanceRoleChangeRequest.ProjectInstance.Project.Name</td>
                    <td>@projectInstanceRoleChangeRequest.ProjectInstance.Project.ProjectId</td>
                    <td>Role Change</td>
                    <td><a href="@url">View/Approve/Reject</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@helper CompanyTable()
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Submitted</th>
                <th>Pack</th>
                <th>Company Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>19/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Company ABC</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
            <tr>
                <td>20/05/2015</td>
                <td>John Smith – Position C – Location D</td>
                <td>Company XYZ</td>
                <td><a href="">View/Approve/Reject</a></td>
            </tr>
        </tbody>
    </table>
}

<style>
    #content > main > div > div > article > h2 > a {
        font-size: 14px;
        margin-top: 8px;
    }
</style>

<h2>
    Items for Approval (@Model.ItemsForApproval)
    @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CreateTaskFromLineManagerApproval })
</h2>
<p>Please review the following items submitted for approval.</p>

@using (
    // Post to action method with the same name as the current action
    // in the current controller.
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Get,
        new { role = "form" }
    )
)
{
    <div class="form-group">
        <label for="view-package">
            View
        </label>
        @Html.DropDownListFor(
            model => model.PackageId,
            Model.Packages,
            "All Packs",
            new { @class = "form-control combobox on-change-submit" }
        )
    </div>
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @*<div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#critical-approvals">
                    Essentials
                </a>
            </div>
            <div id="critical-approvals" class="panel-collapse collapse" role="tabpanel">
                @ModuleTable()
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#experiences-approvals">
                    Experiences
                </a>
            </div>
            <div id="experiences-approvals" class="panel-collapse collapse" role="tabpanel">
                @ModuleTable()
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#relationships-approvals">
                    Relationships
                </a>
            </div>
            <div id="relationships-approvals" class="panel-collapse collapse" role="tabpanel">
                @PeopleTable()
            </div>
        </div>*@
    @*<div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#people-approvals">
                    People
                </a>
            </div>
            <div id="people-approvals" class="panel-collapse collapse" role="tabpanel">
                @PeopleTable()
            </div>
        </div>*@
    @*<div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#safety-approvals">
                    Safety & Risk
                </a>
            </div>
            <div id="safety-approvals" class="panel-collapse collapse" role="tabpanel">
                @ModuleTable()
            </div>
        </div>*@
    <div class="panel panel-primary expanded">
        <div class="panel-heading" role="tab">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#project-approvals">
                Projects
            </a>
        </div>
        <div id="project-approvals" class="panel-collapse collapse in" role="tabpanel">
            @ProjectTable()
        </div>
    </div>
    @*<div class="panel panel-primary">
            <div class="panel-heading" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#company-approvals">
                    Companies
                </a>
            </div>
            <div id="company-approvals" class="panel-collapse collapse" role="tabpanel">
                @CompanyTable()
            </div>
        </div>*@
</div>
