﻿@using MomentumPlus.Core.Models.Moderation
@model MomentumPlus.Activate.Web.Models.Requests.NewProjectRequestViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        <button name="@Html.NameFor(model => model.Decision)" value="@(ModerationDecision.Approved)" type="submit" class="btn btn-primary">Approve/Create</button>
        <button name="@Html.NameFor(model => model.Decision)" value="@(ModerationDecision.Declined)" type="submit" class="btn btn-danger">Decline</button>
        <a href="@AppSession.Current.ProjectFormReturnUrl" class="btn btn-danger">Close</a>
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Create Project
            </div>
        </div>

        <div class="panel-body">
            @Html.ValidationSummary()

            @Html.EditorFor(model => model.Project)

            @Html.Partial("_RequiredField")
        </div>
        <div class="panel-footer display-table">
            @SaveClose()
        </div>
    </div>
}
