﻿@using System.Web.Optimization

<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>momentum+ Activate Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/bootstrap/css/bootstrap.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/overrides.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/custom.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/css/print.css")))
    </style>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/common/d3-tip/styles.css")))
    </style>
    <style>
        .page-break {
            page-break-before: always;
        }

        [href="#report-top"] {
            display: none;
        }

        .panel, .report-logo, .list-group-item {
            border-radius: 0 !important;
        }
    </style>
</head>
<body>
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>