﻿@model MomentumPlus.Activate.Web.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default">
    <div class="panel-heading">
         <a href="@Url.Action("ProgressReports")">
            Ongoing Reports
        </a>
    </div>
    <div class="panel-heading">
         <a href="@Url.Action("RAGReports")">
            Leaver Reports
        </a>
    </div>
    <div class="panel-heading">
         <a href="@Url.Action("SubjectivityReports")">
            Subjectivity Reports
        </a>
    </div>
    <div class="panel-heading">
         <a href="@Url.Action("HandoverReports")">
            Handover Reports
        </a>
    </div>
</section>
