﻿@model IEnumerable<MomentumPlus.Activate.Web.Models.ReportExitSurveyViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/exit-survey-report.css">

<div class="exit-survey-report-table">
    <table class="table">
        <thead>
            <tr class="table-header">
                <td class="employee-name">Employee Name</td>
                <td class="line-manager">Line Manager</td>
                <td class="date-of-departure">Date of Departure</td>
                <td class="survey">Survey</td>
                <td class="status">Status</td>
                <td class="sections-complete">Sections Complete</td>
                <td class="action-icon"></td>
            </tr>
        </thead>
        <tbody class="table-content">
            <tr class="spacer-row"></tr>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr class="report-row">
                        <td class="employee-name">
                            @if (item.UserImageId.HasValue)
                            {
                                <img src="/image/@item.UserImageId.Value" alt="@item.UserOwnerName" />
                            }
                            else
                            {
                                <img src="/Content/img/profile-image-placeholder.png" alt="@item.UserOwnerName" />
                            }
                            <div class="user-name">@(item.UserOwnerName)</div>
                        </td>
                        <td class="line-manager">@item.LineManagerName</td>
                        <td class="date-of-departure">@item.LastDateOfWork</td>
                        <td class="survey">@item.ExitSurveyName</td>
                        <td class="status">@item.Status</td>
                        <td class="sections-complete">@item.CounterStatus</td>
                        <td class="action-icon">
                            <a href="@(item.HasAccess || item.ReadMode ? Url.Action("ViewSurvey", "ExitSurvey", new { exitSurveyId = item.ExitSurveyId, userOwnerId = item.UserOwnerId }) : string.Empty)" class="go-to-report" style="@(string.IsNullOrWhiteSpace(item.ExitSurveyId) ? "pointer-events: none;" : "")"></a>
                            <a href="@(item.HasAccess || item.ReadMode ? Url.Action("DownloadExitSurveyReport", "Reports", new {packageId = item.PackageId, exitSurveyId = item.ExitSurveyId, area = ""}) : string.Empty)" style="@(string.IsNullOrWhiteSpace(item.ExitSurveyId) ? "pointer-events: none;" : "")" target="_blank" class="pdf-report"></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="report-row">
                    <td colspan="7" class="text-center">
                        <strong>No reports to display</strong>
                    </td>
                </tr>
            }
            <tr class="spacer-row"></tr>
        </tbody>
    </table>
</div>