﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Core.Models.Contact

@{
    var editUrl = String.Format("{0}#management", Url.Action("Edit", "Relationships", new { id = Model.ID }));
    var empty = new HtmlString("<br>");
}

<div class="person-tile @(Model.Deleted.HasValue ? "person-retired" : "")">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 person-image">

            <div class="project-widget-image text-center" style="border-color: rgb(0, 153, 130); border-radius: 100px !important;    width: 120px!important;">

                @if (Model.ImageId.HasValue)
                {
                    <img src="@Url.Action("Get", "Image", new {area = "", id = Model.ImageId})" alt="@Model.FullName" style="border-radius: 100px;" />
                }
                else
                {
                    <img src="/Content/img/profile-image-placeholder.png" alt="@Model.FullName" style="border-radius: 100px;" />
                }

                <span class="badge employment-status">@Model.EmploymentStatus</span>
            </div>


        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="person-details">
                        <div class="string-truncate">
                            <span class="widget-body-title">
                                <strong>@Model.FullName</strong>
                            </span>
                        </div>

                        <div class="small-text">
                            @Html.TruncateWithTooltip(Model.Position, 18, "bottom")
                        </div>

                        @if (Model.Company != null)
                        {
                            <div class="small-text">@Model.Company.Name</div>
                        }

                        @if (Model.Company == null)
                        {
                            @empty
                        }
                    </div>
                    <div class="contact-details string-truncate">
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <div>
                                <small><a href="mailto:@Model.Email">@Html.TruncateWithTooltip(Model.Email, 18, "bottom")</a></small>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Phone))
                        {
                            <div><small>@Model.Phone</small></div>
                        }
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="company-details">
                        @if (!Model.IsBasedOnPackage)
                        {
                            <a href="@Url.Action("Edit", "Relationships", new {id = Model.ID})">

                                @if (ViewData.ContainsKey("DefaultCompanyId") && Model.CompanyId == ViewBag.DefaultCompanyId)
                                {
                                    <img src="/Content/css/images/Team-Members-Internal.png" alt="Relationship" />
                                }
                                else
                                {
                                    <img src="/Content/css/images/Team-Members-Internal.png" alt="Relationship" />
                                }

                            </a>
                        }

                    </div>

                    @if (Model.IsBasedOnPackage)
                    {
                        var packUrl = String.Format("{0}?Query=" + Model.FirstName, Url.Action("Index", "Employees", new { area = "Packages", id = Model.User.ID }));

                        <div class="package-details">
                            <a href="@packUrl" title="Go to Package">
                                <span class="atachement-link"></span>
                            </a>
                        </div>
                    }

                    @*@if (ViewData.ContainsKey("ShowGoToPackage") && (bool)ViewData["ShowGoToPackage"])
                        {
                            <div class="package-details">
                                <a href="@Url.Action("Index", "Employees", new { area = "Packages", id = Model.ID })" title="Go to Package">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </div>
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>