﻿@using MomentumPlus.Activate.Services
@using MomentumPlus.Activate.Web.Areas.Home.Models
@using MomentumPlus.Activate.Web.Helpers
@using MvcPaging

@model TopicGroupsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.TopicGroups != null && Model.TopicGroups.Any())
{
    for (int i = 0; i < Model.TopicGroups.Count(); i++)
    {
        var topicGroup = Model.TopicGroups.ElementAt(i);

        <div class="row">
            <div class="col-sm-12">
                <section class="panel panel-primary @(Model.ActiveTopicGroups.Contains(i) ? "expanded" : "collapsed")">
                    <div class="panel-heading panel-heading-icon-right">
                        @if (Model.ActiveTopicGroups.Contains(i))
                        {
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        }
                        <a href="" data-toggle="collapse" data-target=".collapse-group-@(i)" onclick="ACTIVATE.updateActiveTopicGroups('@Model.Cookie', @i)">@topicGroup.Title</a>
                        @if (topicGroup.Name == "Business Processes")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalBusinessProcessMenu })
                        }
                        else if (topicGroup.Name == "Systems")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalSystemsMenu })
                        }
                        else if (topicGroup.Name == "Future Training Needs")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalSkillsTrainingMenu })
                        }
                        else if (topicGroup.Name == "Tools & Equipment")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalToolsEquipMenu })
                        }
                        else if (topicGroup.Name == "Projects")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalProjectsMenu })
                        }
                        else if (topicGroup.Name == "Strategic Aspects")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalStrategicAspectsMenu })
                        }
                        else if (topicGroup.Name == "Regulatory and Compliance")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalRegulatoryComplianceMenu })
                        }
                        else if (topicGroup.Name == "Location and Environment")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.CriticalAnythingElseMenu })
                        }
                        else if (topicGroup.Name == "'Three best things...'")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesThreeBestThingsHeader })
                        }
                        else if (topicGroup.Name == "'Not so good...'")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesNotSoGoodexpMenu })
                        }
                        else if (topicGroup.Name == "Team achievements")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesTeamAcheivementsMenu })
                        }
                        else if (topicGroup.Name == "Other things")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesOtherThingsMenu })
                        }
                        else if (topicGroup.Name == "Achievements")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesAchievementsMadeMenu })
                        }
                        else if (topicGroup.Name == "'Need to change...'")
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ExperiencesNeedtoChangeMenu })
                        }
                        <a href="@Url.Action("CreateTopic", new {id = topicGroup.ID})" class="icon-right collapse collapse-group-@(i) @(Model.ActiveTopicGroups.Contains(i) ? "in" : "")">
                            <span class="glyphicon glyphicon-plus topic-add"></span>
                        </a>
                        @if (Model.TopicGroupFlags != null)
                        {
                            @Html.Partial("_PackageFlags", Model.TopicGroupFlags[topicGroup])
                        }
                    </div>
                    <div class="table-responsive collapse collapsible collapse-group-@(i) @(Model.ActiveTopicGroups.Contains(i) ? "in" : "")">
                        <div>
                            @Html.Partial("~/Views/Shared/_TopicTable.cshtml", topicGroup.Topics)
                        </div>
                    </div>
                </section>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        The selected package does not have any topic groups in this module.
    </div>
}