﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AdditionalReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.IsPdf)
{
    Layout = "~/Views/Reports/_PrintLayout.cshtml";
}
else
{
    <div id="report-top"></div>

    <a href="@Url.Action("DownloadAdditionalReport", new { id = Model.Package.ID, ancestor = Model.IsAncestor })" target="_blank"
       class="btn btn-custom btn-print margin-bottom margin-top">
        <span class="glyphicon glyphicon-save"></span>
        Download PDF
    </a>
}
<section id="report-toc" class="page-break">
    <div class="panel panel-default">
        <div class="panel-heading clearfix"><h3 class="h3-custom">Leaver Report - @Model.Package.UserOwner.LastName, @Model.Package.UserOwner.FirstName</h3></div>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover report-table">
                        <thead>
                            <tr>
                                <th colspan="2">Package Details</th>
                                <th class="text-center" colspan="2">Countdown to Handover</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th>Status (Handover)</th>
                                <th class="text-center" style="width: 8.75%;">Weeks</th>
                                <th class="text-center" style="width: 8.75%;">Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Action("ExaminePackage", "PackageSelector", new { area = "", id = @Model.Package.ID})">@Model.Package.DisplayName</a></td>
                                <td>Leaving</td>
                                <td class="text-center">@Model.HandoverCountdownWeeks</td>
                                <td class="text-center">@Model.HandoverCountdownDays</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table report-table">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                <th class="text-center grayed-out" colspan="3">Plan (Targets)</th>
                                <th class="text-center" colspan="3">Actuals (Leaver Status)</th>
                                <th colspan="3"></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width: 8.3%;">Module</th>
                                <th style="width: 8.3%;">Date Last Viewed</th>
                                <th style="width: 8.3%;">Date Last Entry</th>
                                <th style="width: 8.3%;" class="grayed-out">Volume</th>
                                <th style="width: 8.3%;" class="grayed-out">Average Word Count</th>
                                <th style="width: 8.3%;" class="grayed-out">Attachments</th>
                                <th style="width: 8.3%;">Volume</th>
                                <th style="width: 8.3%;">Average Word Count</th>
                                <th style="width: 8.3%;">Attachments</th>
                                <th style="width: 8.3%;">Target Date for Completion</th>
                                <th style="width: 8.3%;">Approved</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Modules != null)
                            {
                                foreach (var module in Model.Modules)
                                {
                                    <tr>
                                        <td>@module.Type.GetDescription()</td>
                                        <td>
                                                @if (module.UserLastViewed == null)
                                                {
                                                    <span>Never Viewed</span>
                                                }
                                                else
                                                {
                                                    @module.UserLastViewed.ToString()
                                                }
                                        </td>
                                        <td>
                                            <span>Not Available</span>
                                        </td>
                                        <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                        <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                        <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                        <td class="text-center @module.RagVolume">
                                            @module.ActualVolume
                                        </td>
                                        <td class="text-center @module.RagWordCount">
                                            <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @module.ActualTotalWordCount">
                                                @module.ActualAverageWordCount
                                            </span>
                                        </td>
                                        <td class="text-center @module.RagAttachments">
                                            @module.ActualAttachments
                                        </td>
                                        <td>@module.TargetCompletionDate</td>
                                        <td class="text-center @module.RagApproved">
                                            <span class="full-w" data-toggle="tooltip" data-placement="top" title="Percentage approved: @module.PercentageApproved%">
                                                @module.ActualApproved/@module.ActualVolume
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }

                            <tr>
                                <td>Relationships</td>
                                <td>

                                    @if (Model.ContactReport.UserLastViewed == null)
                                    {
                                        <span>Never Viewed</span>
                                    }
                                    else
                                    {
                                        @Model.ContactReport.UserLastViewed.ToString()
                                    }
                                </td>
                                <td>
                                    <span>Not Available</span>
                                </td>
                                <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                <td class="text-center @Model.ContactReport.RagVolume">
                                    @Model.ContactReport.ActualVolume
                                </td>
                                <td class="text-center @Model.ContactReport.RagWordCount">
                                    <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.ContactReport.ActualTotalWordCount">
                                        @Model.ContactReport.ActualAverageWordCount
                                    </span>
                                </td>
                                <td class="text-center @Model.ContactReport.RagAttachments">
                                    @Model.ContactReport.ActualAttachments
                                </td>
                                <td>@Model.TargetCompletionDate</td>
                                <td class="text-center @Model.ContactReport.RagApproved">
                                    <span class="full-w" data-toggle="tooltip" data-placement="top" title="Percentage approved: @Model.ContactReport.PercentageApproved%">
                                        @Model.ContactReport.ActualApproved/@Model.ContactReport.ActualVolume
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>People</td>
                                @if (Model.People != null)
                                {
                                    <td>
                                        @if (Model.People.UserLastViewed == null)
                                        {
                                            <span>Never Viewed</span>
                                        }
                                        else
                                        {
                                            @Model.People.UserLastViewed.ToString()
                                        }
                                    </td>
                                    <td>
                                        <span>Not Available</span>
                                    </td>
                                    <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                    <td class="text-center @Model.People.RagVolume">
                                        @Model.People.ActualVolume
                                    </td>
                                    <td class="text-center @Model.People.RagWordCount">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.People.ActualTotalWordCount">
                                            @Model.People.ActualAverageWordCount
                                        </span>
                                    </td>
                                    <td class="text-center @Model.People.RagAttachments">
                                        @Model.People.ActualAttachments
                                    </td>
                                    <td>@Model.TargetCompletionDate</td>
                                    <td class="text-center @Model.People.RagApproved">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Percentage approved: @Model.People.PercentageApproved%">
                                            @Model.People.ActualApproved/@Model.People.ActualVolume
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Never Viewed</span>
                                    </td>
                                    <td>
                                        <span>Not Available</span>
                                    </td>
                                    <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td class="text-center">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: 0">
                                            0
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td>-</td>
                                    <td class="text-center">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Percentage approved: 0%">
                                            0/0
                                        </span>
                                    </td>
                                }
                            </tr>

                            <tr>
                                <td>Projects</td>
                                @if (Model.Projects != null)
                                {
                                    <td>
                                        @if (Model.Projects.UserLastViewed == null)
                                        {
                                            <span>Never Viewed</span>
                                        }
                                        else
                                        {
                                            @Model.Projects.UserLastViewed.ToString()
                                        }
                                    </td>
                                    <td>
                                        <span>Not Available</span>
                                    </td>
                                    <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                    <td class="text-center @Model.Projects.RagVolume">
                                        @Model.Projects.ActualVolume
                                    </td>
                                    <td class="text-center @Model.Projects.RagWordCount">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.Projects.ActualTotalWordCount">
                                            @Model.Projects.ActualAverageWordCount
                                        </span>
                                    </td>
                                    <td class="text-center @Model.Projects.RagAttachments">
                                        @Model.Projects.ActualAttachments
                                    </td>
                                    <td>@Model.TargetCompletionDate</td>
                                    <td class="text-center @Model.Projects.RagApproved">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Percentage approved: @Model.Projects.PercentageApproved%">
                                            @Model.Projects.ActualApproved/@Model.Projects.ActualVolume
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Never Viewed</span>
                                    </td>
                                    <td>
                                        <span>Not Available</span>
                                    </td>
                                    <td class="text-center grayed-out">@*@Model.TargetVolume*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAverageWordCount*@-</td>
                                    <td class="text-center grayed-out">@*@Model.TargetAttachments*@-</td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td class="text-center">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: 0">
                                            0
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td>-</td>
                                    <td class="text-center">
                                        0/0
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .rag-red {
        background-color: #FF5353;
    }

    .rag-amber {
        background-color: #FFC65B;
    }

    .rag-green {
        background-color: #59FF59;
    }

    span.full-w {
        width: 100%;
        height: 100%;
        display: block;
    }

    td, th {
        text-align: center;
    }
</style>