﻿@model MomentumPlus.Activate.Web.Models.TasksViewModel
@using MomentumPlus.Activate.Services.Extensions
@using MomentumPlus.Activate.Web.Extensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="col-sm-11">Onboarding Tasklist Priority @(ViewBag.ReadOnly ? " - Read Only" : "")</h1>
    <a href="@Url.Action("ViewHandoverReport", "Reports", new {id = @Model.ItemID}, Request.Url.Scheme)" class="col-sm-1 btn btn-default">Close</a>
</div>

@if (Model.Tasks.Any())
{
    <section id="report-onboarding" class="panel panel-default page-break">
        <div class="panel-heading clearfix">
            <h2 class="h2-custom">Recommended Tasks</h2>
        </div>

        <div class="table-container"></div>
        <div class="panel-body">
            @for (var i = 1; i <= ViewBag.Duration; i++)
            {
                {
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="h3-custom">Week @i</h3>
                            @if (ViewBag.ReadOnly)
                            {
                                <span class="pull-right"><strong>Complete by @Model.Start.AddDays((i - 1) * 7).Friday().ToShortDateString()</strong></span>
                            }
                        </div>

                        <div>
                            <table class="table table-hover report-table is-droppable" data-week="@i">
                                <thead>
                                    <tr>
                                        <th style="width: 30%">Task</th>
                                        <th style="width: 30%;">Parent</th>
                                        <th class="text-center" style="width: 7%;">Priority</th>
                                        <th class="text-center" style="width: 12%;">Voice Messages</th>
                                        <th class="text-center" style="width: 12%;">Attachments</th>
                                    </tr>
                                </thead>

                                <tbody class="connectedSortable clearfix" id="table-draggable-@i">
                                    <tr class="dummy"><td colspan="5"></td></tr>
                                    @foreach (var task in Model.Tasks.Where(t => t.WeekDue == i))
                                    {
                                        <tr style="display: table-row" data-id="@task.ID" id="@task.ID">
                                            <td><a href="@Url.Action("EditTask", "Task", new {id = task.ID}, Request.Url.Scheme)">@Html.TruncateWithTooltip(task.Name, 30)</a></td>
                                            @if (task.ParentTopic != null)
                                            {
                                                <td>@Html.TruncateWithTooltip(task.ParentTopic.Name, 30)</td>
                                            }
                                            else if (task.ProjectInstace != null)
                                            {
                                                <td>@Html.TruncateWithTooltip(task.ProjectInstace.Project.Name, 30)</td>
                                            }
                                            else
                                            {
                                                <td>@Html.TruncateWithTooltip(task.Contact.Name, 30)</td>
                                            }
                                            <td class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Task}, Request.Url.Scheme)">
                                                    @(task.VoiceMessages.Count > 0 ? task.VoiceMessages.Count.ToString() : "-")
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Index", "Attachments", new {area = "", id = task.ID, type = MomentumPlus.Activate.Web.Models.ItemType.Task}, Request.Url.Scheme)">
                                                    @(task.Attachments.Count > 0 ? task.Attachments.Count.ToString() : "-")
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
}
else
{
    <div class="col-sm-12">
        <p>There are no tasks to show.</p>
    </div>
}
@if (!ViewBag.ReadOnly)
{
    @section Scripts
{
        @Scripts.Render("~/bundles/task-priority-reorder.js")
    }
}