﻿@model IEnumerable<MomentumPlus.Activate.Web.Models.TimelineViewModel>

@{
    if (!ViewContext.IsChildAction)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script>
    var events = [];
</script>


<div class="row">
    <div class="col-sm-12">

        @*<h2>Handover Console</h2>*@
        @if (!Model.Any())
        {
            <p>There are currently no active handovers which you can view.</p>
        }
        else
        {
            for(int i = 0; i < Model.Count(); i++)
            {
                if (i < Model.Count() - 1 && Model.ElementAt(i + 1).Status == MomentumPlus.Core.Models.Package.TimelineStatus.Onboarder.ToString())
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Shared/_Timeline.cshtml", Model.ElementAt(i))
                            @Html.Partial("~/Views/Shared/_Timeline.cshtml", Model.ElementAt(++i))
                        </div>
                    </div>
                }
                else
                {
                    @Html.Partial("~/Views/Shared/_Timeline.cshtml", Model.ElementAt(i))
                }
            }
        }

    </div>
</div>