﻿@model IEnumerable<MomentumPlus.Activate.Web.Models.TimelineViewModel>
@using System.Collections.Generic
@using System.Linq
@using MvcSiteMapProvider.Web.Html

@{
    if (!ViewContext.IsChildAction)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script>
    var events = [];
</script>


<div class="row">
    <div class="col-sm-12">

        @*<h2>Handover Console</h2>*@
        @if (!Model.Any())
        {
            <p>There are currently no active packages which you can view.</p>
        }
        else
        {
            foreach (var item in Model)
            {
                @Html.Partial("~/Views/Shared/_Timeline.cshtml", item)
            }
        }

    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/timeline.js")
    @Scripts.Render("~/bundles/meeting-quick-edit.js")
}
