﻿@model MomentumPlus.Activate.Web.Models.MasterListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Close", string.Empty, null, new { @class = "btn btn-danger" })
    </div>
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                @(Model.CreateMode ? "Create" : "Edit") @Model.SingularListType
            </div>

            @SaveClose()
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Type)
            @Html.HiddenFor(m => m.SingularListType)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" }
                    .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            @if (Model.Type == MomentumPlus.Core.Models.MasterList.ListType.Websites)
            {
                // URL
                <div class="form-group">
                    @Html.LabelFor(m => m.AdditionalField1, "URL", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AdditionalField1, new { @class = "form-control" }
                            .WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.AdditionalField1)
                    </div>
                </div>
            }

            @if (Model.Type == MomentumPlus.Core.Models.MasterList.ListType.Projects)
            {
                // Project Id
                <div class="form-group">
                    @Html.LabelFor(m => m.AdditionalField1, "Project Id", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AdditionalField1, new { @class = "form-control" }
                            .WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.AdditionalField1)
                    </div>
                </div>

                // Project Sponsor
                <div class="form-group">
                    @Html.LabelFor(m => m.AdditionalField2, "Project Sponsor", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AdditionalField2, new { @class = "form-control" }
                             .WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.AdditionalField2)
                    </div>
                </div>
            }

            @if (Model.Type == MomentumPlus.Core.Models.MasterList.ListType.OrganisationContacts)
            {
                // Email
                <div class="form-group">
                    @Html.LabelFor(m => m.AdditionalField1, "Email Address", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.AdditionalField1, new { @class = "form-control", type = "email" }
                             .WithAttrIf("disabled", "", Model.ReadOnly))
                        @Html.ValidationMessageFor(m => m.AdditionalField1)
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" }
                        .WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.Notes)
                </div>
            </div>

            @if (Model.Type == MomentumPlus.Core.Models.MasterList.ListType.Companies)
            {
                // Default Company
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.AdditionalField3) Default Company?
                            </label>
                        </div>
                        @Html.ValidationMessageFor(m => m.AdditionalField3)
                    </div>
                </div>
            }
            
            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer display-table">
            <div class="vertical-cell">
                @*@if (Model.ID != Guid.Empty)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
                }*@
            </div>

            @SaveClose()
        </div>
    </div>
}
