﻿@model MomentumPlus.Activate.Web.Models.MasterListsViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MvcSiteMapProvider.Web.Html
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Index", Model.Type.ToString(), FormMethod.Get))
                {
                    <!-- Search form -->
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Query, new { @class = "control-label sr-only" })
                        @Html.TextBoxFor(m => m.Query, new { @class = "form-control", placeholder = "Type to search for a " + Model.SingularListType })
                        <button type="submit" class="unbutton glyphicon glyphicon-search form-control-feedback"></button>
                    </div>
                }
            </div>
        </div>
                                
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        @Html.ActionLink(Model.SingularListType, null, Request.QueryString.AddOrUpdate(
                            new Dictionary<string, object>
                            {
                                {"SortAscending", !Model.SortAscending}
                            }))

                        @if (Model.Type.ToString().Equals("Systems"))
                        {
                            @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel {Message = AccountConfig.Settings.MasterListsSystemsHeader})
                        }

                        <a href="@Url.Action("Create")" class="icon-right"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <div class="panel-body">
                        @if (Model.List.Any())
                        {
                            <div class="list-group">
                                @foreach (var listItem in Model.List)
                                {
                                    <div class="list-group-item">
                                        @listItem.Name
                                        <a href="@Url.Action("Edit", new { id = listItem.ID })"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
                                    </div>
                                }
                            </div>

                            @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
                                .DisplayTemplate("BootstrapPagination")
                                .MaxNrOfPages(14)
                                .AlwaysAddFirstPageNumber()
                                .PageRouteValueKey("PageNo")
                                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "PageNo" }))
                            )
                        }
                        else
                        {
                            <span>This section does not contain any items.</span>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
