﻿@model MomentumPlus.Activate.Web.Areas.Admin.Models.ImageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "ProjectIcons", FormMethod.Post,
        new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Add Project Icon
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>

            <div class="form-group">
                @*<div class="col-sm-2 control-label">
                    @Html.LabelFor(m => m.UploadedImage)
                </div>*@
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="form-control" type="file" name="@Html.NameFor(m => m.UploadedImage)" id="@Html.IdFor(m => m.UploadedImage)" />
                    <small><em>Image must be .png, .jpeg</em></small>
                    @Html.ValidationMessageFor(m => m.UploadedImage)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Add</button>
                <a class="btn btn-danger" href="@Url.Action("Index")">Close</a>
            </div>
        </div>
    </div>
}
