﻿@model MomentumPlus.Activate.Web.Areas.Admin.Models.ImageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "ProjectIcons", FormMethod.Post,
        new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Src)
    @Html.HiddenFor(m => m.Retired)

    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Add Project Icon
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>

            <div class="form-group">
                @*<div class="col-sm-2 control-label">
                        @Html.LabelFor(m => m.UploadedImage)
                    </div>*@
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="form-control" type="file" name="@Html.NameFor(m => m.UploadedImage)" id="@Html.IdFor(m => m.UploadedImage)" />
                    <small><em>Image must be .png, .jpeg</em></small>
                    @Html.ValidationMessageFor(m => m.UploadedImage)

                    <div class="margin-top">
                        <p>Upload new image to replace current</p>
                        <img class="current-project-image" src="@Model.Src" title="@Model.Title"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer display-table">
            <div class="vertical-cell">
                <a class="btn btn-danger" @(Model.Retired ? "disabled" : null) href="@Url.Action("Retire", new { id = Model.Id })">Retire</a>
                <a class="btn btn-primary" @(!Model.Retired ? "disabled" : null) href="@Url.Action("Resume", new { id = Model.Id })">Resume</a>
            </div>
            <div class="vertical-cell text-right">
                <button class="btn btn-primary" type="submit">Add</button>
                <a class="btn btn-danger" href="@Url.Action("Index")">Close</a>
            </div>
        </div>
    </div>
}
