﻿@model IEnumerable<MomentumPlus.Core.Models.Image>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills">
    <li role="presentation" class="@(!ViewBag.Retired ? "active" : null)"><a href="@Url.Action("Index")">Active</a></li>
    <li role="presentation" class="@(ViewBag.Retired ? "active" : null)"><a href="@Url.Action("Index", new { retired = true })">Retired</a></li>
</ul>

@*<ul>
    @foreach (var image in Model)
    {
        <li><a href="@Url.Action("Edit", new {id = image.ID})">@image.Title</a></li>
    }
</ul>*@

@helper AddButton() {
    if (!ViewBag.Retired)
    {
        <div class="vertical-cell text-right">
            @Html.ActionLink("Add", "Add", null, new {@class = "btn btn-primary"})
        </div>
    }
}

<div class="panel panel-secondary margin-top">
    <div class="panel-heading no-redirect display-table">
        <div class="vertical-cell">
            Project Icons
        </div>
        @*@AddButton()*@
    </div>
    <div class="panel-body">
        <div class="list-group project-images">
            @foreach (var image in Model)
            {
                <a href="@Url.Action("Edit", new {id = image.ID})" class="list-group-item"><img src="@image" title="@image.Title" alt="@image.Title"/> <h4>@image.Title</h4></a>
            }
        </div>
    </div>
    <div class="panel-footer display-table">
        @AddButton()
    </div>
</div>