﻿.exit-survey-report-table {
    overflow-x: visible;
}
@media (max-width: 999px) {
    .exit-survey-report-table {
        overflow-x: scroll;
    }
}
.exit-survey-report-table .table {
    margin-bottom: 0px;
}
.exit-survey-report-table .table-header {
    background-color: white;
    color: #454545;
    height: 30px;
}
.exit-survey-report-table .table-header td:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.exit-survey-report-table .table-header td:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.exit-survey-report-table .table-header td {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.exit-survey-report-table .table-header .employee-name {
    width: 235px;
}
.exit-survey-report-table .table-header .line-manager {
    width: 190px;
}
.exit-survey-report-table .table-header .date-of-departure {
    width: 200px;
}
.exit-survey-report-table .table-header .survey {
    width: 165px;
    text-align: center;
}
.exit-survey-report-table .table-header .status {
    width: 135px;
    text-align: center;
}
.exit-survey-report-table .table-header .sections-complete {
    width: 150px;
    text-align: center;
}
.exit-survey-report-table .table-header .action-icon-title {
    width: 100px;
}
.exit-survey-report-table .table-content .spacer-row {
    height: 5px;
}
.exit-survey-report-table .table-content .empty-content {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0px auto;
    padding: 0px;
    height: 20px;
}
.exit-survey-report-table .table-content .report-row {
    padding: 10px 0;
    background-color: white;
    border-bottom: 3px solid #efefef;
}
.exit-survey-report-table .table-content .report-row td:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.exit-survey-report-table .table-content .report-row td:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.exit-survey-report-table .table-content .report-row td {
    height: 56px;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    vertical-align: middle;
    border-top: none;
}
.exit-survey-report-table .table-content .report-row .line-manager {
    width: 190px;
}
.exit-survey-report-table .table-content .report-row .employee-name {
    width: 235px;
}
.exit-survey-report-table .table-content .report-row .employee-name img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.exit-survey-report-table .table-content .report-row .employee-name .user-name {
    display: inline-block;
    overflow: hidden;
    word-wrap: normal;
    max-width: 170px;
    min-width: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -8px;
}
.exit-survey-report-table .table-content .report-row .date-of-departure {
    width: 200px;
}
.exit-survey-report-table .table-content .report-row .survey {
    width: 165px;
    text-align: center;
}
.exit-survey-report-table .table-content .report-row .status {
    width: 135px;
    text-align: center;
}
.exit-survey-report-table .table-content .report-row .sections-complete {
    width: 150px;
    text-align: center;
}
.exit-survey-report-table .table-content .report-row .action-icon {
    width: 100px;
    padding: 10px 0 0 0;
}
.exit-survey-report-table .table-content .report-row .action-icon .pdf-report {
    cursor: pointer;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("../img/pdf_report_icon.svg");
    background-repeat: no-repeat;
}
.exit-survey-report-table .table-content .report-row .action-icon .go-to-report {
    cursor: pointer;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    background-image: url("../img/go_to_report_icon.svg");
    background-repeat: no-repeat;
}