﻿#loading-animation
{
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

#loading-animation .spinner
{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

#loading-animation .container1 > div,
#loading-animation .container2 > div,
#loading-animation .container3 > div
{
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#loading-animation .spinner .spinner-container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#loading-animation .container2
{
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

#loading-animation .container3
{
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

#loading-animation .circle1 { top: 0; left: 0; }
#loading-animation .circle2 { top: 0; right: 0; }
#loading-animation .circle3 { right: 0; bottom: 0; }
#loading-animation .circle4 { left: 0; bottom: 0; }

#loading-animation .container2 .circle1
{
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading-animation .container3 .circle1
{
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#loading-animation .container1 .circle2
{
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loading-animation .container2 .circle2
{
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

#loading-animation .container3 .circle2
{
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

#loading-animation .container1 .circle3
{
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

#loading-animation .container2 .circle3
{
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

#loading-animation .container3 .circle3
{
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

#loading-animation .container1 .circle4
{
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

#loading-animation .container2 .circle4
{
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

#loading-animation .container3 .circle4
{
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay
{
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay
{
    0%, 80%, 100%
    { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40%
    { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
