﻿.drawers
{
    /*position: fixed;*/
    z-index: 2;
    height: 100%;
}

.left-drawer
{
    position: absolute;
    height: auto;
    min-height: 100%;
    /*background: #2f1c45;*/
    /*background-color: rgb(0, 153, 130);*/
    background: -moz-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,153,130,1)), color-stop(47%, rgba(0,153,130,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(177deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009982', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
    font-size: 1.15em;
    width: 200px;
}

#content
{
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #efefef;
}

.menu-button
{
    position: absolute;
    margin-left: 10px !important;
    z-index: 4;
    margin: 13px 0 0 0;
    padding: 0;
    width: 2em;
    height: 1.75em;
    border: none;
    font-size: 1.5em;
    background: transparent;
}


@media only screen and (max-width: 780px)
{
    .menu-button
    {
        margin-left: 0px !important;
    }
}





.menu-button:focus
{
    outline: none;
}

#close-button
{
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
}

    #close-button::before,
    #close-button::after
    {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #ffffff;
    }

    #close-button::before
    {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #close-button::after
    {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.left-drawer #main-search
{
    /*margin: 45px 20px 15px;*/
    margin: 10px 20px 15px;
}

.menu
{
    padding: 0 0.9em;
}

    .menu .icon-list
    {
        padding: 0;
        list-style-type: none;
    }

        .menu .icon-list a
        {
            display: block;
            color: white;
            padding: .5em .8em;
        }

        .menu .icon-list .active a
        {
            /*color: #009982;*/
            color: rgb(70, 70, 70) !important;
            font-weight: 700 !important;
        }



        
@font-face
{
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNovaRegular.ttf');
}

@font-face
{
    font-family: "ProximaNova";
    src: url('fonts/ProximaNovaBold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family: "ProximaNova";
    src: url("fonts/ProximaNovaRegularItalic.ttf");
    font-style: italic;
}

@font-face
{
    font-family: "ProximaNova";
    src: url("fonts/ProximaNovaBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: "ProximaNova";
    src: url("fonts/ProximaNovaLight.ttf");
    font-style: oblique;
}





body
{
    font-family: ProximaNova;
    font-size: 14px;
            font-size: 14px !important;
        color: #333 !important;
}
