﻿/* Widgets */

.widget-placeholder
{
  border: 2px solid #ccc;
  border-radius: 22px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 29px;
  display: block;
  background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
  background-image: -o-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(237,237,237)), color-stop(100, rgb(240,240,240)));
  background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
  background-image: linear-gradient(to top, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
}

@media (max-width: 640px)
{
  .widget-placeholder
  {
    padding: 15px !important;
  }
}

.pencil-workspace {
    position: absolute;
    top: calc(50% - 5px);
    right: 15px;
}

.workspace-item {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
}

.widget-placeholder img
{
  width: 180px;
  height: 180px;
  opacity: 0.7;
}

.widget-placeholder:hover img
{
  opacity: 1;
}

.widget-container
{
  margin-bottom: 20px;
  border-color: rgba(0, 0, 0, 0.05) !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 240px;
}

  .widget-container .panel-title
  {
    vertical-align: middle;
    display: inline-block;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 700;
  }

  .widget-container .panel-heading .container-fluid
  {
    padding: 0;
  }

  .widget-container .panel-body
  {
    padding: 0;
    background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
    background-image: -o-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(237,237,237)), color-stop(100, rgb(240,240,240)));
    background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
    background-image: linear-gradient(to top, rgb(237,237,237) 0%, rgb(240,240,240) 100%);
    height: 160px !important;
  }

    .widget-container .panel-body .panel-default
    {
      border: none;
      margin: 0;
    }

      .widget-container .panel-body .panel-default .pagination
      {
        margin: 0;
      }

      .widget-container .panel-body .panel-default .panel-footer
      {
        padding: 4px;
        line-height: 1;
      }

        .widget-container .panel-body .panel-default .panel-footer .container-fluid
        {
          padding: 0;
        }

.widget-header
{
  float: left;
}

.pagination-sm
{
  float: right !important;
}


.widget-paginator
{
  background: transparent !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 11px !important;
}

.widget-prev
{
  background: transparent !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  padding-right: 1px !important;
}

.widget-next
{
  background: transparent !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  padding-left: 1px !important;
}


/*.remove-widget {
    color: #999;
    float: right;
    font-size: .9em;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

    .remove-widget:hover {
        color: #666;
        text-decoration: none;
    }*/

.widget-body
{
  /*border: 2px solid #ccc;
    border-radius: 4px;*/
  min-height: 150px;
  padding: 10px 10px 5px;
  visibility: hidden;
  word-wrap: break-word;
  /*border-bottom-left-radius: 155px;
    border-bottom-right-radius: 155px;*/
}

.widget-placeholder:focus
{
  outline: 0 none !important;
}

.widget-slider
{
  margin: 0;
  padding: 0;
}

  .widget-slider li
  {
    list-style: none;
  }

.widget-slide
{
  /*border: 1px solid #ccc;*/
  padding: 10px;
}

.widget-controls
{
  float: right;
  font-size: 1.2em;
  margin-top: 5px;
  margin-right: 10px;
}

  .widget-controls .arrow:focus,
  .widget-controls .arrow:hover
  {
    text-decoration: none;
  }

.widget-footer
{
  font-size: 1.2em;
  padding: 5px 10px 0;
  display: flex;
}

.widget-container .panel-footer
{
  background-color: #464646;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.widget-footer a:focus,
.widget-footer a:hover
{
  text-decoration: none;
}

.people-widget .person-tile
{
  border: none;
  margin: 0;
  padding: 0;
}

.people-widget .employment-status
{
  display: none;
}

.people-widget .person-image img
{
  background-color: rgb(0, 153, 130);
  /* width: 85%; */
  /* height: 85%; */
  margin-top: 2px;
  height: 110px;
  width: 110px;
  /*width: 110px;*/
  /* padding-top: 20px; */
  /* border: red; */
  /* border-color: rgb(0, 153, 130); */
  /* border-style: solid; */
  border-radius: 15px;
}

.project-widget-image
{
  margin: auto;
  /* background-color: rgb(0, 153, 130); */
  height: 120px;
  width: 110px;
  background: white;
  /* border-color: rgb(0, 153, 130); */
  border-style: solid;
  border-radius: 15px;
}

  .project-widget-image img
  {
    background-color: rgb(0, 153, 130);
    /* width: 85%; */
    /* height: 85%; */
    margin-top: 2px;
    height: 110px;
    width: 100px;
    /* padding-top: 20px; */
    border-radius: 10px;
  }

.attachment-icon
{
  /*color: #777;
    font-size: 5em;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    border-color: rgb(0, 153, 130);
    border-style: solid;
    border-radius: 15px;
    background: white;*/
  margin: auto;
  color: #777;
  font-size: 5em;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  height: 120px;
  width: 110px;
  background: white;
  border-color: rgb(0, 153, 130);
  border-style: solid;
  border-radius: 15px;
}

/* People */

.person-tile
{
  border: 1px solid #bbb;
  margin: 20px 0;
  padding: 10px;
}

  .person-tile.person-retired
  {
    opacity: .8;
  }

  .person-tile .person-details
  {
    margin-left: 5px;
  }

  .person-tile .company-details
  {
    margin-bottom: 10px;
    text-align: right;
  }

.company-details .company-logo
{
  margin-bottom: 10px;
}

.person-tile .contact-details
{
  margin-left: 5px;
}

.person-tile .package-details
{
  font-size: 1.4em;
  text-align: right;
}

.person-image
{
  height: 120px;
  cursor: pointer;
}

  .person-image .employment-status
  {
    width: 100%;
  }

.company-details .company-logo
{
  margin-bottom: 10px;
}

.person-tile .contact-details
{
  margin-left: 5px;
  padding-top: 20px;
}

/*.person-image
{
  height: 120px;
  max-width: 120px;
}*/

  .person-image .employment-status
  {
    width: 100%;
  }

  .person-image img
  {
    /*max-width: 120px;
        max-height: 120px;*/
    width: 100%;
  }

/* Projects */

.project-card-notes
{
  word-wrap: break-word;
}

.profile-image-form
{
  position: absolute;
  right: 20px;
}

/* Relationships */

.business-card-container
{
  margin-bottom: 20px;
}

.business-card-slider
{
  visibility: hidden;
}
