/* http://weblogs.asp.net/jdanforth/form-validation-formatting-in-asp-net-mvc-5-and-bootstrap-3 */
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a,
a:hover,
a:focus {
    color: rgb(47, 28, 69);
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(0, 153, 130);
    color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: rgb(0, 153, 130);
    /*background-color: rgb(47, 28, 69);*/
}

.nav.primary > li > a:hover,
.nav.primary > li > a:focus {
    text-decoration: none;
    background-color: #2F1C45;
    color: #fff;
}

.nav-pills.primary > li.active > a,
.nav-pills.primary > li.active > a:hover,
.nav-pills.primary > li.active > a:focus {
    background-color: #2F1C45;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: rgb(0, 153, 130);
    /*background-color: rgb(47, 28, 69);*/
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
    background-color: rgb(47, 28, 69);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: rgb(0, 153, 130);
}

    .list-group-item.active .checkbox a {
        color: #fff;
    }

.btn-primary,
.btn-danger {
    /*border-color: #1C70B8;*/
}



.btn-select-pack {
    color: #fff;
    background-color: transparent !important;
    font-size: 14px !important;
    word-wrap: break-word !important;
    white-space: inherit !important;
}


/*.btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active,
  .btn-custom.active,
  .open > .dropdown-toggle.btn-custom
  {
    color: #fff;
    background-color: transparent !important;
  }*/




#master-package .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}




#master-package-selector .caret {
    border-bottom-color: rgb(0, 153, 130);
    border-top-color: rgb(0, 153, 130);
}


.summary-menu-title {
    /*letter-spacing: 1px;*/
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.btn-select-pack:hover,
.btn-select-pack:focus,
.btn-select-pack:active,
.btn-select-pack.active,
.open > .dropdown-toggle.btn-custom {
    color: #fff;
    background-color: transparent !important;
}

.btn-select-pack:active,
.btn-select-pack.active,
.open > .dropdown-toggle.btn-custom {
    background-image: none;
}





.btn-custom {
    color: #fff;
    background-color: rgb(0, 153, 130);
    border-color: #ddd;
}

    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom.active,
    .open > .dropdown-toggle.btn-custom {
        color: #fff;
        background-color: rgb(47, 28, 69);
        border-color: #ddd;
    }

    .btn-custom:active,
    .btn-custom.active,
    .open > .dropdown-toggle.btn-custom {
        background-image: none;
    }

    .btn-custom.disabled,
    .btn-custom[disabled],
    fieldset[disabled] .btn-custom,
    .btn-custom.disabled:hover,
    .btn-custom[disabled]:hover,
    fieldset[disabled] .btn-custom:hover,
    .btn-custom.disabled:focus,
    .btn-custom[disabled]:focus,
    fieldset[disabled] .btn-custom:focus,
    .btn-custom.disabled:active,
    .btn-custom[disabled]:active,
    fieldset[disabled] .btn-custom:active,
    .btn-custom.disabled.active,
    .btn-custom[disabled].active,
    fieldset[disabled] .btn-custom.active {
        background-color: rgb(0, 153, 130);
        border-color: #ddd;
    }

    .btn-custom .badge {
        color: rgb(0, 153, 130);
        background-color: #fff;
    }

.glyphicon-custom {
    color: rgb(0, 153, 130);
}

.progress-bar {
    background-color: rgb(0, 153, 130);
}

.nav.nav-tabs {
    border-bottom: none;
    padding-bottom: 1px;
}

.help-block {
    font-size: 12px;
}

.panel {
    border-width: 2px;
}

.panel-heading {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

    .panel-heading > .vertical-cell {
        font-weight: bold;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    /*background-color: rgb(47, 28, 69);*/
    background-color: rgb(70, 70, 70);
}

.navbar-default .navbar-nav > .active > a {
    font-weight: bold;
    border-left: 2px solid #464646;
    border-right: 2px solid #464646;
}

.navbar {
    border-top: 0;
}

.navbar-text {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
}

.breadcrumb {
    padding: 0 5px;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 12px;
    text-align: center !important;
}

    .breadcrumb > .active {
        color: rgb(70, 70, 70) !important;
        /*color: rgb(0, 153, 130) !important;*/
        /*color: rgb(70, 51, 113) !important;*/
        font-weight: 700 !important;
    }

@media (max-width: 991px) {
    .navbar-default .navbar-nav > .active > a {
        border: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
    }

    .btn-custom {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .page-title {
        display: none !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: 100%;
        margin-top: 2px;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}

#master-top-nav {
    height: 40px;
    min-height: 40px !important;
}

    #master-top-nav #master-package-selector .navbar-btn {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    #master-top-nav .nav.navbar-nav.navbar-right > li > a:hover {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #master-top-nav .nav.navbar-nav.navbar-right > li > a {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #master-top-nav > .navbar-btn, a.navbar-btn:hover {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #master-top-nav > .navbar-btn, a.navbar-btn:focus {
        margin-top: 3px;
        margin-bottom: 3px;
    }


@media (min-width: 768px) and (max-width: 991px) {
    #master-top-nav .nav.navbar-nav {
        width: 100%;
        margin: 7.5px auto;
        text-align: center;
    }

        #master-top-nav .nav.navbar-nav.navbar-right > li {
            float: none;
        }

    .dropdown-menu {
        width: 100%;
    }
}

/* ms-Dropdown overrides */

.dd .ddTitle .ddTitleText img {
    max-height: 30px;
}

.dd .ddChild li img {
    max-height: 30px;
    background: #eee;
    padding: 5px;
    margin-right: 10px;
    background: #e2e2e4;
}

/*
	Overrides bootstrap
*/
.list-inline {
    display: inline;
}

.list-group-item {
    word-wrap: break-word;
}




.modal-open {
    overflow: auto;
}


.summary-menu-item {
    background: -moz-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,153,130,1)), color-stop(47%, rgba(0,153,130,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(273deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(177deg, rgba(0,153,130,1) 0%, rgba(0,153,130,1) 47%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009982', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
}

.summary-counter-row {
    padding-top: 15px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}



.small-text {
    font-size: 85% !important;
}

.pagination-block {
    margin-top: 25px;
    text-align: center;
}

    .pagination-block .pagination-pages {
        display: inline;
        position: relative;
    }

        .pagination-block .pagination-pages .page {
            color: #464646;
        }

        .pagination-block .pagination-pages .first-page {
            position: absolute;
            top: 4px;
            left: -55px;
            width: 10px;
            height: 8px;
            padding: 0;
            border: none;
            background: none;
            background-image: url("images/arrow_left1.svg");
        }

            .pagination-block .pagination-pages .first-page :hover {
                opacity: 0.7;
            }

        .pagination-block .pagination-pages .prev-page {
            position: absolute;
            top: 4px;
            left: -30px;
            width: 5px;
            height: 8px;
            padding: 0;
            border: none;
            background: none;
            background-image: url('images/arrow_left1.svg');
        }

            .pagination-block .pagination-pages .prev-page :hover {
                opacity: 0.7;
            }

        .pagination-block .pagination-pages .next-page {
            position: absolute;
            top: 4px;
            right: -30px;
            width: 5px;
            height: 8px;
            padding: 0;
            border: none;
            background: none;
            background-image: url(images/arrow_right1.svg);
        }

            .pagination-block .pagination-pages .next-page :hover {
                opacity: 0.7;
            }

        .pagination-block .pagination-pages .last-page {
            position: absolute;
            top: 4px;
            right: -55px;
            width: 10px;
            height: 8px;
            padding: 0;
            border: none;
            background: none;
            background-image: url(images/arrow_right1.svg);
        }

            .pagination-block .pagination-pages .last-page :hover {
                opacity: 0.7;
            }

        .pagination-block .pagination-pages .inactive {
            opacity: 0.7;
            cursor: default;
        }

.exit-survey-pagination .next-page {
    background-image: url("images/right.svg") !important;
    background-repeat: no-repeat !important;
    width: 15px !important;
    height: 15px !important;
    top: 1px !important;
    right: -17px !important;
}

.exit-survey-pagination .prev-page {
    background-image: url("images/left.svg") !important;
    background-repeat: no-repeat !important;
    width: 15px !important;
    height: 15px !important;
    top: 1px !important;
    left: -17px !important;
}
