/* Style Sheet for "A4" printing */
@media print
{
    #master-header,
    #master-top-nav,
    #master-side-nav,
    #master-package-selector,
    .btn-print,
    .panel-footer
    {
        display: none;
    }

    /* Page dimensions and margins */
    @page
    {
        size: A4 portrait;
        margin: 20mm 5mm 20mm 5mm;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 14px !important;
        color: #333 !important;
        background-color: #fff !important;
    }

    /* Page break */
    .page-break
    {
        page-break-after: always;
    }

    .a4
    {
        height: 1350px;
        padding: 350px 0 0 0;
    }
}

body
{
    counter-reset: page_number;
}

.page-number:after
{
    counter-increment: page_number;
    content: "Section " counter(page_number) ":";
}
