﻿@using MomentumPlus.Activate.Web.Areas.Home.Models
@using MomentumPlus.Activate.Web.Extensions
@using MvcSiteMapProvider.Web.Html
@using MvcPaging

@model RelationshipsMeetingsViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- List of tabs -->
<!-- Warning: In-Line Styles!!! -->
<ul class="nav nav-tabs" role="tablist" style="border-bottom: none; padding-bottom: 1px;">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

<section class="panel panel-primary clearfix">
    <div class="panel-heading">
        Meetings
    </div>

    @if (Model.Meetings != null && Model.Meetings.Meetings.Any())
    {
        <!-- Table -->
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Meetings", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "sortColumn", MomentumPlus.Core.Models.Meeting.SortColumn.Name },
                                    { "sortAscending", !Model.SortAscending }
                                }))
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Start", "Meetings", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", MomentumPlus.Core.Models.Meeting.SortColumn.Start},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                        </th>

                        <th class="text-center">
                            @Html.ActionLink("Location", "Meetings", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "tasksCriticsortColumnalSortColumn", MomentumPlus.Core.Models.Meeting.SortColumn.Location },
                                    { "sortAscending", !Model.SortAscending }
                                }))
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var meeting in Model.Meetings.Meetings)
                    {
                        <tr>
                            <td><a href="@Url.Action("EditMeeting", "Relationships", new { id = meeting.ID })">@meeting.Name</a></td>
                            <td class="text-center">@meeting.Start</td>
                            <td class="text-center">@meeting.Location</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model.Meetings.PageSize, Model.Meetings.PageNo, Model.Meetings.Count).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(14)
            .AlwaysAddFirstPageNumber()
            .PageRouteValueKey("pageNo")
            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
        )
    }
</section>
