﻿@model OnboardingTasksViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MvcSiteMapProvider.Web.Html
@using MomentumPlus.Activate.Web.Models.Home
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var expandedWeeks = String.Format("{0}-expandedWeeks", Model.PackageId);
}

<div class="container">
    <div class="row">
        <ul class="nav nav-tabs col-sm-7" role="tablist">
            @Html.MvcSiteMap().Menu(
                templateName: "BootstrapMenuHelperModel",
                startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
                startingNodeInChildLevel: true,
                showStartingNode: true
            )
        </ul>
    </div>
</div>

@for (int i = 0; i < Model.TotalWeeks; i++)
{
    var weekNo = i + 1;
    <section class="panel panel-primary clearfix @(Model.ExpandedWeeks.Contains(i) ? "expanded" : "collapsed")">
        <div class="panel-heading">
            <a href="" data-toggle="collapse" data-target=".collapse-group-week-@i" id="@(Model.ExpandedWeeks.Contains(i) ? "active-section" : String.Format("week-{0}-header", i))" onclick="ACTIVATE.updateActiveTopicGroups('@expandedWeeks', @i);">
                @if (Model.ExpandedWeeks.Contains(i))
                {
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-triangle-right"></span>
                }
                Week @weekNo
            </a>
        </div>

        <!-- Table -->
        <div class="table-responsive collapse collapsible collapse-group-week-@i @(Model.ExpandedWeeks.Contains(i) ? "in" : "")">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="20%">
                                @Html.ActionLink("Name", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"tasksCriticsortColumnalSortColumn", OnboardingTaskItemViewModel.SortColumn.NameTask},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            @*<th width="2%" class="text-center">Edit</th>*@
                            <th width="15%">
                                @Html.ActionLink("Topic", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.NameTopic},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="22%">
                                @Html.ActionLink("Parent", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.NameTopicGroup},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="10%">
                                @Html.ActionLink("Module", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.NameModule},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="10%" class="text-center">
                                @Html.ActionLink("Attachments", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.HasFiles},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="15%" class="text-center">
                                @Html.ActionLink("Voice Messages", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.HasAudio},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="3%" class="text-center">
                                @Html.ActionLink("Complete", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.Complete},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                            <th width="3%" class="text-center">
                                @Html.ActionLink("Priority", "Tasks", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTaskItemViewModel.SortColumn.Priority},
                                    {"sortAscending", !Model.SortAscending}
                                }))
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    
                    @foreach (var task in Model.Items.Where(t => t.WeekDue == (i + 1)))
                    {
                        <tr>
                            <td width="20%"><a href="@Url.Action("ViewTask", new {id = task.TaskId, onboarding = true})">@task.NameTask</a></td>
                            @*<td width="2%" class="text-center"><a href="@Url.Action("ViewTask", new {id = task.TaskId, onboarding = true})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>*@
                            <td width="15%">@task.NameTopic</td>
                            <td width="22%">@task.NameTopicGroup</td>
                            <td width="10%">@task.NameModule</td>
                            <td width="10%" class="text-center">
                                <a href="@Url.Action("Index", "Attachments", new {area = "", id = task.TaskId, type = MomentumPlus.Activate.Web.Models.ItemType.Task})">
                                    @Html.Element("span", "glyphicon glyphicon-paperclip", task.HasFiles)
                                </a>
                            </td>
                            <td width="15%" class="text-center">
                                <a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = task.TaskId, type = MomentumPlus.Activate.Web.Models.ItemType.Task})">
                                    @Html.Element("span", "glyphicon glyphicon-volume-up", task.HasAudio)
                                </a>
                            </td>
                            <td width="3%" class="text-center">@Html.Element("span", "glyphicon glyphicon-ok", task.Complete, "span", "glyphicon glyphicon-remove")</td>
                            <td width="3%" class="text-center">@Html.TaskPriorityLabel(task.Priority)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
