﻿@model OnboardingTopicsViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MvcSiteMapProvider.Web.Html
@using MomentumPlus.Activate.Web.Models
@using MomentumPlus.Activate.Web.Models.Home
@using MvcPaging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var expandedTopics = String.Format("{0}-expandedTopics", Model.PackageId);
}

<ul class="nav nav-tabs" role="tablist">
    @Html.MvcSiteMap().Menu(
        templateName: "BootstrapMenuHelperModel",
        startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
        startingNodeInChildLevel: true,
        showStartingNode: true
    )
</ul>

@if (Model != null)
{
    <section class="panel panel-primary clearfix @(Model.ExpandedTopics.Contains(0) ? "expanded" : "collapsed")">
        <div class="panel-heading">
            <a href="" data-toggle="collapse" data-target=".collapse-group-critical" id="@(Model.ExpandedTopics.Contains(0) ? "active-section" : "critical-tasks-header")" onclick="ACTIVATE.updateActiveTopicGroups('@expandedTopics', 0);">
                @if (Model.ExpandedTopics.Contains(0))
                {
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-triangle-right"></span>
                }
                Essentials
            </a>
        </div>

        <!-- Table -->
        <div class="table-responsive collapse collapsible collapse-group-critical @(Model.ExpandedTopics.Contains(0) ? "in" : "")">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"criticalSortColumn", OnboardingTopicItemViewModel.SortColumn.NameTopic},
                                    {"criticalSortAscending", !Model.CriticalSortAscending}
                                }))
                            </th>
                            <th class="text-center">Edit</th>
                            <th>
                                @Html.ActionLink("Topic Group", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"criticalSortColumn", OnboardingTopicItemViewModel.SortColumn.NameGroup},
                                    {"criticalSortAscending", !Model.CriticalSortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Attachments", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"criticalSortColumn", OnboardingTopicItemViewModel.SortColumn.HasFiles},
                                    {"criticalSortAscending", !Model.CriticalSortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Voice Messages", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"criticalSortColumn", OnboardingTopicItemViewModel.SortColumn.HasAudio},
                                    {"criticalSortAscending", !Model.CriticalSortAscending}
                                }))
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var topic in Model.CriticalItems)
                        {
                            <tr>
                                <td>@topic.NameTopic</td>
                                <td class="text-center"><a href="@Url.Action("ViewTopic", new {id = topic.TopicId})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                                <td>@topic.NameGroup</td>
                                <td class="text-center">
                                    <a href="@Url.Action("Index", "Attachments", new {area = "", id = topic.TopicId, type = MomentumPlus.Activate.Web.Models.ItemType.Topic})">
                                        @Html.Element("span", "glyphicon glyphicon-paperclip", topic.HasFiles)
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = topic.TopicId, type = MomentumPlus.Activate.Web.Models.ItemType.Topic})">
                                        @Html.Element("span", "glyphicon glyphicon-volume-up", topic.HasAudio)
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Pager(Model.PageSize, Model.CriticalPageNo, Model.CriticalTotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("criticalPageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] {"criticalPageNo"}))
                )
        </div>
    </section>

    <section class="panel panel-primary clearfix @(Model.ExpandedTopics.Contains(1) ? "expanded" : "collapsed")">
        <div class="panel-heading">
            <a href="" data-toggle="collapse" data-target=".collapse-group-experiences" id="@(Model.ExpandedTopics.Contains(1) ? "active-section" : "experiences-topics-header")" onclick="ACTIVATE.updateActiveTopicGroups('@expandedTopics', 1);">
                @if (Model.ExpandedTopics.Contains(1))
                {
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-triangle-right"></span>
                }
                Achievements
            </a>
        </div>

        <!-- Table -->
        <div class="table-responsive collapse collapsible collapse-group-experiences @(Model.ExpandedTopics.Contains(1) ? "in" : "")">
            <div>
                <table class="table table-hover" data-toggle="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"experiencesSortColumn", OnboardingTopicItemViewModel.SortColumn.NameTopic},
                                    {"experiencesSortAscending", !Model.ExperiencesSortAscending}
                                }))
                            </th>
                            <th class="text-center">Edit</th>
                            <th>
                                @Html.ActionLink("Topic Group", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTopicItemViewModel.SortColumn.NameGroup},
                                    {"experiencesSortAscending", !Model.ExperiencesSortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Attachments", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTopicItemViewModel.SortColumn.HasFiles},
                                    {"experiencesSortAscending", !Model.ExperiencesSortAscending}
                                }))
                            </th>
                            <th class="text-center">
                                @Html.ActionLink("Voice Messages", "Topics", Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    {"sortColumn", OnboardingTopicItemViewModel.SortColumn.HasAudio},
                                    {"experiencesSortAscending", !Model.ExperiencesSortAscending}
                                }))
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var topic in Model.ExperienceItems)
                        {
                            <tr>
                                <td>@topic.NameTopic</td>
                                <td class="text-center"><a href="@Url.Action("ViewTopic", new {id = topic.TopicId})">@Html.Element("span", "glyphicon glyphicon-pencil", true)</a></td>
                                <td>@topic.NameGroup</td>
                                <td class="text-center">
                                    <a href="@Url.Action("Index", "Attachments", new {area = "", id = topic.TopicId, type = MomentumPlus.Activate.Web.Models.ItemType.Topic})">
                                        @Html.Element("span", "glyphicon glyphicon-paperclip", topic.HasFiles)
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("Index", "VoiceMessage", new {area = "", id = topic.TopicId, type = MomentumPlus.Activate.Web.Models.ItemType.Topic})">
                                        @Html.Element("span", "glyphicon glyphicon-volume-up", topic.HasAudio)
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Pager(Model.PageSize, Model.ExperiencesPageNo, Model.ExperiencesTotalCount).Options(o => o
                .DisplayTemplate("BootstrapPagination")
                .MaxNrOfPages(14)
                .AlwaysAddFirstPageNumber()
                .PageRouteValueKey("experiencesPageNo")
                .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] {"experiencesPageNo"}))
                )
        </div>        
    </section>
}
else
{
    <div class="alert alert-danger" role="alert">
        No onboarding topics for the selected package.
    </div>
}