﻿@model MomentumPlus.Activate.Web.Models.ForgottenPasswordViewModel

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="panel panel-secondary">
    <div class="panel-heading">Forgotten Password</div>

    @using (
        Html.BeginForm(
            ViewContext.RouteData.Values["action"].ToString(),
            ViewContext.RouteData.Values["controller"].ToString(),
            FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }
        )
    )
    {
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <p class="form-control-static">
                        Enter your email address below and click submit to request a password reset email.
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    }
</div>

