﻿@model MomentumPlus.Activate.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<article class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span class="h4">Please login:</span>
        </div>

        <div class="panel-body">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <input type="hidden" id="refresh" value="no" />

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-user"></span>
                        </div>
                        @Html.LabelFor(m => m.UserName, new {@class = "sr-only"})
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", autocomplite = "on", placeholder = "youremail@example.com"})

                      </div>
                      @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                        @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control", autocomplite = "on", placeholder = "*****"})
                      </div>
                      @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Remember me?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-custom btn-lg btn-block" onclick="$(this).addClass('disabled');">Login</button>
                    </div>
                </div>
                                
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <a href="@Url.Action("ForgottenPassword")">Forgotten your password? Click here.</a>
                    </div>
                </div>
            }
        </div>
    </div>
</article>