﻿@model MomentumPlus.Activate.Web.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="panel panel-secondary">
    <div class="panel-heading">Reset Password</div>

    @using (
        Html.BeginForm(
            ViewContext.RouteData.Values["action"].ToString(),
            ViewContext.RouteData.Values["controller"].ToString(),
            FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }
        )
    )
    {
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.PasswordResetGuid)

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Reset</button>
                <a href="/" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    }
</div>


