﻿@model MomentumPlus.Activate.Web.Areas.Framework.Models.ImportViewModel

@using MomentumPlus.Activate.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            <div class="vertical-cell">
                Import Data
                @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ImportImportDataHeader })
            </div>

            <div class="vertical-cell text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="panel-body">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.ItemType, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(
                        m => m.ItemType,
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = ItemType.Task.ToString(), Value = ItemType.Task.ToString(), Selected = true },
                            new SelectListItem { Text = ItemType.Topic.ToString(), Value = ItemType.Topic.ToString() },
                            new SelectListItem { Text = ItemType.MasterList.ToString(), Value = ItemType.MasterList.ToString() },
                            new SelectListItem { Text = ItemType.Relationship.ToString(), Value = ItemType.Relationship.ToString() }
                        },
                        new { @class = "form-control" }
                    )
                </div>
            </div>

            <div class="form-group">
                <label for="file" class="col-sm-2 control-label">CSV File *</label>
                <div class="col-sm-10">
                    <input type="file" accept=".csv" name="file" id="file" class="form-control" />
                </div>
            </div>

            @Html.Partial("_RequiredField")
        </div>

        <div class="panel-footer clearfix">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
}
