﻿@model MomentumPlus.Activate.Web.Areas.Management.Models.InHandoverViewModel

@using MomentumPlus.Activate.Web.Extensions
@using System.Collections.Generic;

@{
    var routeData = ViewContext.RouteData;
    
    if (!ViewContext.IsChildAction)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        routeData = ViewContext.ParentActionViewContext.RouteData;
    }

    var action = routeData.Values["action"].ToString();
    var controller = routeData.Values["controller"].ToString();
}

<section class="panel panel-default">
    <div class="panel-heading">Leaving</div>

    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink(
                            "Employee",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.NameOnboarder },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Finish",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.Finish },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Days to go",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.DaysToGo },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Status (% Complete)",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.StatusCompletePercent },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>Modules Complete</th>
                    <th>
                        @Html.ActionLink(
                            "Avg Content",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.AverageContent },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Subjectivity",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.Subjectivity },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Onboarder",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "exitingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverExitingItemViewModel.SortColumn.NameExit },
                                    { "exitingSortAscending", !Model.Exiting.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th class="text-center" style="width: 5%;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Exiting.Items)
                {
                    <tr data-soft-link="@Url.Action("ExaminePackage", "PackageSelector", new { area = "", id = item.PackageId })">
                        <td>@item.NameExit</td>
                        <td>@(item.Finish.HasValue ? item.Finish.Value.ToShortDateString() : "-")</td>
                        <td class="bg-danger">@item.DaysToGo</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@item.StatusCompletePercent" aria valuemin="0" aria-valuemax="100" style="width: @item.StatusCompletePercent%; min-width: 30px;">
                                    @item.StatusCompletePercent%
                                </div>
                            </div>
                        </td>
                        <td>@item.NumberOfModulesComplete/@item.NumberOfModules</td>
                        <td>@item.AverageContent</td>
                        <td>@item.Subjectivity</td>
                        <td><a href="@Url.Action("Edit", "Handover", new { area = "", id = item.PackageId })">@item.NameOnboarder</a></td>
                        <td class="text-center">@Html.PackagePermissionsLabel(item.CurrentUserIsHr, item.CurrentUserIsLm)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">Onboarding</div>

    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink(
                            "Employee",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "onboardingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverOnboardingItemViewModel.SortColumn.NameNewStart },
                                    { "onboardingSortAscending", !Model.Onboarding.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Started",
                            action,
                            Request.QueryString.AddOrUpdate(
                                new Dictionary<string, object>
                                {
                                    { "onboardingSortColumn", MomentumPlus.Activate.Web.Models.Home.InHandoverOnboardingItemViewModel.SortColumn.Started },
                                    { "onboardingSortAscending", !Model.Onboarding.SortAscending },
                                    { "controller", controller }
                                }
                            )
                        )
                    </th>
                    <th class="text-center" style="width: 5%;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Onboarding.Items)
                {
                    <tr data-soft-link="@Url.Action("ExaminePackage", "PackageSelector", new { area = "", id = item.PackageId })">
                        <td>@item.NameNewStart</td>
                        <td>@item.Started.ToShortDateString()</td>
                        <td class="text-center">@Html.PackagePermissionsLabel(item.CurrentUserIsHr, item.CurrentUserIsLm)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
