﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AccountConfigViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading display-table">
            @if (Model.ReadOnly)
            {
                <div class="vertical-cell">
                    View Tooltips Settings
                </div>
            }
            else
            {
                <div class="vertical-cell">
                    Edit Tooltips Settings
                </div>

                <div class="vertical-cell text-right">
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <a href="@Url.Action("ResetToDefault")" class="btn btn-danger"
                       data-confirm-link="Are you sure you want to reset all tooltips to their defaults?">
                        Reset
                        To Default
                    </a>
                </div>
            }
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="col-sm-10">
                    Essentials Business Process
                </label>
            </div>

            <!-- Hidden fields -->
            @Html.HiddenFor(m => m.HandoverConsultant)
            @Html.HiddenFor(m => m.EarliestStartWeek)
            @Html.HiddenFor(m => m.FiscalYearStartMonth)

            <div class="form-group">
                @Html.LabelFor(m => m.SummaryToDoMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.SummaryToDoMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.SummaryToDoMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SummaryProgessMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.SummaryProgessMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.SummaryProgessMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalBusinessProcessMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalBusinessProcessMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalBusinessProcessMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalSystemsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalSystemsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalSystemsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalSkillsTrainingMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalSkillsTrainingMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalSkillsTrainingMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalToolsEquipMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalToolsEquipMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalToolsEquipMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalProjectsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalProjectsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalProjectsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalStrategicAspectsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalStrategicAspectsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalStrategicAspectsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalRegulatoryComplianceMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalRegulatoryComplianceMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalRegulatoryComplianceMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalAnythingElseMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CriticalAnythingElseMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CriticalAnythingElseMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Relationships
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RelationshipAddNewMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.RelationshipAddNewMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.RelationshipAddNewMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RelationshipIntroScheduleMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.RelationshipIntroScheduleMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.RelationshipIntroScheduleMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Achievements
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesThreeBestThingsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesThreeBestThingsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesThreeBestThingsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesNotSoGoodexpMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesNotSoGoodexpMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesNotSoGoodexpMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesTeamAcheivementsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesTeamAcheivementsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesTeamAcheivementsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesOtherThingsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesOtherThingsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesOtherThingsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesAchievementsMadeMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesAchievementsMadeMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesAchievementsMadeMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExperiencesNeedtoChangeMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ExperiencesNeedtoChangeMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ExperiencesNeedtoChangeMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Tasks
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksCoreTasksCoreTasksMenuHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksCoreTasksCoreTasksMenuHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksCoreTasksCoreTasksMenuHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksCoreTasksAdditionalTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksCoreTasksAdditionalTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksCoreTasksAdditionalTasksMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksOtherTasksCriticalTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksOtherTasksCriticalTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksOtherTasksCriticalTasksMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksOtherTasksProjectTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksOtherTasksProjectTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksOtherTasksProjectTasksMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksOtherTasksRelationshipTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksOtherTasksRelationshipTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksOtherTasksRelationshipTasksMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TasksOtherTasksExperienceTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TasksOtherTasksExperienceTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TasksOtherTasksExperienceTasksMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Topics
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicTitleHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicTitleHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicTitleHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicItemTypeTopicMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicItemTypeTopicMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicItemTypeTopicMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicNotesMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicNotesMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicNotesMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicVoiceMessagesMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicVoiceMessagesMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicVoiceMessagesMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicAttachmentsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicAttachmentsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicAttachmentsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicProcessInteractionMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicProcessInteractionMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicProcessInteractionMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicInhouseTrainerMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicInhouseTrainerMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicInhouseTrainerMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicFitForPurposeMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicFitForPurposeMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicFitForPurposeMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicLinkedProjectMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicLinkedProjectMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicLinkedProjectMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicSearchTagsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicSearchTagsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicSearchTagsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicTasksMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicTasksMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicTasksMenu)
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.TopicEmployeeCopyRequestMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicEmployeeCopyRequestMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicEmployeeCopyRequestMenu)
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.TopicReadyforReviewMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicReadyforReviewMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicReadyforReviewMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicLineManagerApprovalMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicLineManagerApprovalMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicLineManagerApprovalMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TopicHRManagerApprovalMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TopicHRManagerApprovalMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TopicHRManagerApprovalMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Task Creator/Editor
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFormMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFormMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFormMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromTopic, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromTopic, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromTopic)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromHandover, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromHandover, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromHandover)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromNotes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromNotes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromNotes)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromVoiceMessages, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromVoiceMessages, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromVoiceMessages)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromAttachments, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromAttachments, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromAttachments)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromWeekDue, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromWeekDue, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromWeekDue)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromFixedDateTime, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromFixedDateTime, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromFixedDateTime)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromPriority, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromPriority, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromPriority)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromSearchTags, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromSearchTags, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromSearchTags)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromReadyForReview, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromReadyForReview, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromReadyForReview)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromLineManagerApproval, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromLineManagerApproval, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromLineManagerApproval)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreateTaskFromHRManagerApproval, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.CreateTaskFromHRManagerApproval, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.CreateTaskFromHRManagerApproval)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Triggers
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerLeaverMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerLeaverMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerLeaverMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerTriggerMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerTriggerMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerTriggerMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerFinishDateMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerFinishDateMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerFinishDateMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerPickUpMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerPickUpMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerPickUpMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerDurationMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerDurationMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerDurationMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerNotesMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerNotesMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerNotesMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TriggerKeyContactMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TriggerKeyContactMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TriggerKeyContactMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Audio & File Managers
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerLinkButton, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerLinkButton, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerLinkButton)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.VoiceMessageManagerLinkButton, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.VoiceMessageManagerLinkButton, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.VoiceMessageManagerLinkButton)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerTitleHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerTitleHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerTitleHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerTitleRightHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerTitleRightHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerTitleRightHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerAudioPlayerHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerAudioPlayerHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerAudioPlayerHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerRecordfromPCButton, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerRecordfromPCButton, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerRecordfromPCButton)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerUploadButton, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerUploadButton, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerUploadButton)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AudioManagerUsePhoneButton, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AudioManagerUsePhoneButton, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AudioManagerUsePhoneButton)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FileUploaderNameMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.FileUploaderNameMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.FileUploaderNameMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FileUploaderSearchTagsMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.FileUploaderSearchTagsMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.FileUploaderSearchTagsMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FileUploaderSelectFileMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.FileUploaderSelectFileMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.FileUploaderSelectFileMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Attachment Manager
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AttachmentManagerTitleMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AttachmentManagerTitleMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AttachmentManagerTitleMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AttachmentManagerTitleRightMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AttachmentManagerTitleRightMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AttachmentManagerTitleRightMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AttachmentManagerUploadMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.AttachmentManagerUploadMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.AttachmentManagerUploadMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    People
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MyPeopleLivePackagesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MyPeopleLivePackagesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MyPeopleLivePackagesHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MyPeopleAgedSummaryHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MyPeopleAgedSummaryHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MyPeopleAgedSummaryHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Profile
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileSurnameMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileSurnameMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileSurnameMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileFirstNameMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileFirstNameMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileFirstNameMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileDirectDialMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileDirectDialMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileDirectDialMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileMobileMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileMobileMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileMobileMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileLoginEmailMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileLoginEmailMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileLoginEmailMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfilePasswordMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfilePasswordMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfilePasswordMenu)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProfileNotesMenu, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProfileNotesMenu, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProfileNotesMenu)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    MI Dashboard
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IMDashboardInUseHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.IMDashboardInUseHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.IMDashboardInUseHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.InHandoverExitingHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.InHandoverExitingHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.InHandoverExitingHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.InHandoverOnboardingHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.InHandoverOnboardingHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.InHandoverOnboardingHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Framework - Master Lists
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsSystemsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsSystemsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsSystemsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsExpertUsersHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsExpertUsersHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsExpertUsersHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsOrganisationContactsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsOrganisationContactsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsOrganisationContactsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsProjectsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsProjectsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsProjectsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsWebsitesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsWebsitesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsWebsitesHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsAssetsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsAssetsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsAssetsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsCompaniesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsCompaniesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsCompaniesHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsSearchTagsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsSearchTagsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsSearchTagsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MasterListsSubjectivityHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.MasterListsSubjectivityHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.MasterListsSubjectivityHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Framework Modules
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModulesTopicGroupHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModulesTopicGroupHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModulesTopicGroupHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModulesTopicsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModulesTopicsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModulesTopicsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModulesTasksHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModulesTasksHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModulesTasksHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModulesRelationshipDiagramHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModulesRelationshipDiagramHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModulesRelationshipDiagramHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModulesCoreTasksHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModulesCoreTasksHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModulesCoreTasksHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Framework Template
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TemplateTopicGroupHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TemplateTopicGroupHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TemplateTopicGroupHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TemplateTopicsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TemplateTopicsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TemplateTopicsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TemplateTasksHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TemplateTasksHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TemplateTasksHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TemplateRelationshipDiagramHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.TemplateRelationshipDiagramHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.TemplateRelationshipDiagramHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Import Data
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImportImportDataHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ImportImportDataHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ImportImportDataHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Packs
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PackagesWorkplacesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PackagesWorkplacesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PackagesWorkplacesHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PackagesPackagesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PackagesPackagesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PackagesPackagesHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PackagesPositionsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PackagesPositionsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PackagesPositionsHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PackagesEmployeesHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PackagesEmployeesHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PackagesEmployeesHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Document Library
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DocumentLibraryDocumentsHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.DocumentLibraryDocumentsHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.DocumentLibraryDocumentsHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Reports
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReportsMainReportHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ReportsMainReportHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ReportsMainReportHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReportsAdditionalReportHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ReportsAdditionalReportHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ReportsAdditionalReportHeader)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Project Form
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormHandoverNotes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormHandoverNotes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormHandoverNotes)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormProjectId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormProjectId, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormProjectId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormStart, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormStart, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormStart)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormEnd, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormEnd, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormEnd)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormProjectManager, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormProjectManager, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormProjectManager)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormImage, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormImage, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormImage)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormStatus, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormStatus, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormStatus)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormBudget, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormBudget, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormBudget)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormProjectSpaceLocation, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormProjectSpaceLocation, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormProjectSpaceLocation)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormDescription, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormDescription, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormDescription)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormMyRole, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormMyRole, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormMyRole)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectFormHandoverNotes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectFormHandoverNotes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectFormHandoverNotes)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Edit Project Card
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectCardFormHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectCardFormHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectCardFormHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectCardFormMyRole, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectCardFormMyRole, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectCardFormMyRole)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectCardFormHandoverNotes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectCardFormHandoverNotes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectCardFormHandoverNotes)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Project Transfer Form
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectTransferFormSourcePackage, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectTransferFormSourcePackage, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectTransferFormSourcePackage)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectTransferFormSourceProject, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectTransferFormSourceProject, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectTransferFormSourceProject)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectTransferFormTargetPackage, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ProjectTransferFormTargetPackage, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ProjectTransferFormTargetPackage)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Approval Form
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModerationFormLineManagerDecision, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModerationFormLineManagerDecision, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModerationFormLineManagerDecision)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ModerationFormHrManagerDecision, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ModerationFormHrManagerDecision, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.ModerationFormHrManagerDecision)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Person Form
                </label>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormHeader, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormHeader, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormHeader)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormUser, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormUser, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormUser)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormTitle, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormTitle, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormTitle)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormFirstName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormFirstName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormFirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormLastName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormLastName, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormLastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormImage, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormImage, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormImage)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormCompany, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormCompany, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormCompany)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormPosition, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormPosition, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormPosition)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormEmail, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormEmail, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormEmail)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormPhone, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormPhone, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormPhone)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormDirect, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormDirect, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormDirect)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormImportance, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormImportance, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormImportance)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonFormNote, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.PersonFormNote, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.PersonFormNote)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormSearchTags, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormSearchTags, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormSearchTags)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormEmploymentStatus, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormEmploymentStatus, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormEmploymentStatus)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormFutureTraining, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormFutureTraining, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormFutureTraining)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StaffFormManagementNotes, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.StaffFormManagementNotes, new { @class = "form-control" }.WithAttrIf("disabled", "", Model.ReadOnly))
                    @Html.ValidationMessageFor(m => m.StaffFormManagementNotes)
                </div>
            </div>
            @Html.Partial("_RequiredField")
        </div>
        <div class="panel-footer clearfix">
            <div class="text-right">
                @if (!Model.ReadOnly)
                {
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <a href="@Url.Action("ResetToDefault")" class="btn btn-danger"
                       data-confirm-link="Are you sure you want to reset all tooltips to their defaults?">
                        Reset
                        To Default
                    </a>
                }
            </div>
        </div>
    </div>
}
