﻿@model MomentumPlus.Activate.Web.Models.DocumentReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

<script>
    $(function () {
        var preventRefire = false;
        var headHeight = $("div.panel-heading").css("height");
        var tempHeadElement = $("div.panel-heading");
        var tableWidth = $("div.panel-heading");
        var tempTableTHeadElement = $("thead.table-thead-floatable");
        var mainheadBar = $("thead.table-thead-idle");
        var tempheadvis = false;

        var headElement = $("div#master-top-nav");
        var headElementBottom = (headElement.position().top + headElement.outerHeight(true));

        resetHead();

        var tableHeaderHeight = $("div.panel-heading").outerHeight(true);
        var tableActualWidth = $("div.panel-heading").outerWidth(true);
        var tempHeadElement = $("div.panel-heading");

        tableActualWidth = $("div.panel-heading").outerWidth();

        $(window).resize(function () {
            if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                resizeHead();
            }
            //            tableWidth = $("div.panel-default").css("width");
            //            headHeight = $("div.panel-heading").css("height");

            //            tempHeadElement = tableWidth;
            //            tempTableTHeadElement = tableWidth;


            //            tableActualWidth = $("div.container").outerWidth(true);
        });



        $(document).bind("DOMMouseScroll mousewheel scroll keyup", function (e) {
            if (preventRefire) return;
            headElement = $("div#master-top-nav");
            headElementBottom = (headElement.position().top + headElement.outerHeight(true));

            preventRefire = true;
            setTimeout(function () { preventRefire = false; }, 10);
            if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                resizeHead();
            }
            if ($(document).scrollTop() <= headElementBottom) {
                resetHead();
            }
        });

        function resetHead() {
            tempTableTHeadElement.css("display", "none");
            tempheadvis = false;
            //            tempHeadElement.css("position", "relative");
            //            tempHeadElement.css("width", "auto");
            //            tempTableTHeadElement.css("position", "relative");
        }
        function resizeHead() {
            tempTableTHeadElement.css("display", "block");
            tempTableTHeadElement.css("position", "fixed");
            tempTableTHeadElement.css("top", 0);
            tempTableTHeadElement.css("width", tableActualWidth + "px");
            tempTableTHeadElement.css("background-color", "white");
            tempTableTHeadElement.css("z-index", "9");
            tempheadvis = true;
            verifyTableElementWidths();
        }

        function verifyTableElementWidths() {
            tempMainHeadVar = mainheadBar.children("tr");
            var tempMainHeadVarElWidths = [];

            tempvar = tempTableTHeadElement.children("tr");
            tempMainHeadVar.children("th").each(function () {
                tempMainHeadVarElWidths.push($(this).css("width"));
            });
            tempvar = tempTableTHeadElement.children("tr");
            var i = 0;
            tempvar.children("th").each(function () {
                $(this).css("width", tempMainHeadVarElWidths[i]);
                i++;
            });
        }

    });
    //    var myDiv = $("div.panel-heading");
    //    $("body").scroll(function () {
    //        console.log(myDiv.position().left);
    //    });


    //var myDiv = $("div.panel-heading");
    //console.log(myDiv.position().left);
</script>

}
<section class="panel panel-default">
    <div class="panel-heading">
        Document Library Reports
    </div>

    @if (Model.Documents != null && Model.Documents.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-thead-idle">
                    <tr>
                        <th>Name</th>
                        <th>Contacts</th>
                        <th>Meetings</th>
                        <th>Tasks</th>
                        <th>Topics</th>
                        <th>Triggers</th>
                        <th>Projects</th>
                        <th>People</th>
                    </tr>
                </thead>
            
                 <thead class="table-thead-floatable">
                    <tr>
                        <th>Name</th>
                        <th>Contacts</th>
                        <th>Meetings</th>
                        <th>Tasks</th>
                        <th>Topics</th>
                        <th>Triggers</th>
                        <th>Projects</th>
                        <th>People</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var document in Model.Documents)
                    {
                         <tr data-soft-link="@Url.Action("ViewDocumentLibraryReport", new { id = document.ID })">
                            <td><a href="@Url.Action("ViewDocumentLibraryReport", new { id = document.ID })">@document.Name</a></td>
                            <td>@document.ContactsCount</td>
                            <td>@document.MeetingsCount</td>
                            <td>@document.TasksCount</td>
                            <td>@document.TopicsCount</td>
                            <td>@document.TriggersCount</td>
                            <td>@document.ProjectInstancesCount</td>
                            <td>@document.StaffsCount</td>
                         </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="panel-body">No documents in library.</div>
    }
</section>
