﻿@model MomentumPlus.Activate.Web.Models.DocumentLibraryFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="report-toc" class="page-break">
    <div class="panel panel-default">
        <div class="panel-heading clearfix"><h3 class="h3-custom">Document Report - @Model.Name</h3></div>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover report-table">
                        <thead>
                            <tr>
                                <th style="width: 11%;">Find Me Here</th>
                                <th>Associated Positions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @if (Model.TasksCount > 0 ||
                                        Model.TopicsCount > 0 ||
                                        Model.ContactsCount > 0 ||
                                        Model.MeetingsCount > 0 ||
                                        Model.TriggersCount > 0 ||
                                        Model.ProjectInstancesCount > 0 ||
                                        Model.StaffsCount > 0)
                                    {
                                        @Model.TasksCount @(Model.TasksCount == 1 ? " Task" : " Tasks") <br /> 
                                        @Model.TopicsCount @(Model.TopicsCount == 1 ? " Topic" : " Topics")<br />
                                        @Model.ContactsCount @(Model.ContactsCount == 1 ? " Contact" : " Contacts")<br />
                                        @Model.MeetingsCount @(Model.MeetingsCount == 1 ? " Meeting" : " Meetings")<br />
                                        @Model.TriggersCount @(Model.TriggersCount == 1 ? " Handover" : " Handovers")<br />
                                        @Model.ProjectInstancesCount @(Model.ProjectInstancesCount == 1 ? " Project" : " Projects")<br />
                                        @Model.StaffsCount @(Model.StaffsCount == 1 ? " Person" : " People")<br />
                                    }
                                    else
                                    {
                                        <span>Not Attached</span>
                                    }
                                </td>
                                <td>
                                    @{
                                        System.Text.StringBuilder positions = new System.Text.StringBuilder();
                                        var myPositions = Model.Positions.ToArray();
                                        if (Model.Positions.Any())
                                        {
                                            for (int x = 0; x < myPositions.Count(); x++)
                                            {
                                                <span>@myPositions[x].Name</span><br />
                                            }
                                        }   
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover report-table">
                        <thead>
                            <tr>
                               <th style="width: 11%;">Type</th>
                               <th>Name</th>
                               <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contact in Model.Contacts)
                            {
                                <tr>
                                    <td>Contact</td>
                                    <td>@contact.Person.FullName</td>
                                    <td>@contact.UserOwnerName</td>
                                </tr>
                            }
                            @foreach (var meeting in Model.Meetings)
                            {
                                <tr>
                                    <td>Meeting</td>
                                    <td>@meeting.Name</td>
                                    <td>@meeting.UserOwnerName</td>
                                </tr>
                            }
                            @foreach (var task in Model.Tasks)
                            {
                                <tr>
                                    <td>Task</td>
                                    <td>@task.Name</td>
                                    <td>@task.UserOwnerName</td>
                                </tr>
                            }
                            @foreach (var topic in Model.Topics)
                            {
                                <tr>
                                    <td>Topic</td>
                                    <td>@topic.Name</td>
                                    <td>@topic.UserOwnerName</td>
                                </tr>
                            }
                            @foreach (var project in Model.ProjectInstances)
                            {
                                <tr>
                                    <td>Project</td>
                                    @if (project.Project != null)
                                    {
                                        <td>@project.Project.Name</td>
                                    }
                                    else
                                    {
                                        <td>Not Approved</td>
                                    }
                                    <td>@project.UserOwnerName</td>
                                </tr>
                            }
                            @foreach (var person in Model.Staffs)
                            {
                                <tr>
                                    <td>Person</td>
                                    <td>@person</td>
                                    <td>@person.UserOwnerName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right"><a href="@AppSession.Current.DocumentReportReturnUrl" class="btn btn-danger">Close</a></div>
    </div>
</section>