﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <script>
        $(function () {
            var preventRefire = false;
            var headHeight = $("div.panel-heading").css("height");
            var tempHeadElement = $("div.panel-heading");
            var tableWidth = $("div.panel-heading");
            var tempTableTHeadElement = $("thead.table-thead-floatable");
            var mainheadBar = $("thead.table-thead-idle");
            var tempheadvis = false;

            var headElement = $("div#master-top-nav");
            var headElementBottom = (headElement.position().top + headElement.outerHeight(true));

            resetHead();

            var tableHeaderHeight = $("div.panel-heading").outerHeight(true);
            var tableActualWidth = $("div.panel-heading").outerWidth(true);
            var tempHeadElement = $("div.panel-heading");

            tableActualWidth = $("div.panel-heading").outerWidth();

            $(window).resize(function () {
                if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                    resizeHead();
                }
                //            tableWidth = $("div.panel-default").css("width");
                //            headHeight = $("div.panel-heading").css("height");

                //            tempHeadElement = tableWidth;
                //            tempTableTHeadElement = tableWidth;


                //            tableActualWidth = $("div.container").outerWidth(true);
            });



            $(document).bind("DOMMouseScroll mousewheel scroll keyup", function (e) {
                if (preventRefire) return;
                headElement = $("div#master-top-nav");
                headElementBottom = (headElement.position().top + headElement.outerHeight(true));

                preventRefire = true;
                setTimeout(function () { preventRefire = false; }, 10);
                if ($(document).scrollTop() > headElementBottom && tempheadvis == false) {
                    resizeHead();
                }
                if ($(document).scrollTop() <= headElementBottom) {
                    resetHead();
                }
            });

            function resetHead() {
                tempTableTHeadElement.css("display", "none");
                tempheadvis = false;
                //            tempHeadElement.css("position", "relative");
                //            tempHeadElement.css("width", "auto");
                //            tempTableTHeadElement.css("position", "relative");
            }
            function resizeHead() {
                tempTableTHeadElement.css("display", "block");
                tempTableTHeadElement.css("position", "fixed");
                tempTableTHeadElement.css("top", 0);
                tempTableTHeadElement.css("width", tableActualWidth + "px");
                tempTableTHeadElement.css("background-color", "white");
                tempTableTHeadElement.css("z-index", "9");
                tempheadvis = true;
                verifyTableElementWidths();
            }

            function verifyTableElementWidths() {
                tempMainHeadVar = mainheadBar.children("tr");
                var tempMainHeadVarElWidths = [];

                tempvar = tempTableTHeadElement.children("tr");
                tempMainHeadVar.children("th").each(function () {
                    tempMainHeadVarElWidths.push($(this).css("width"));
                });
                tempvar = tempTableTHeadElement.children("tr");
                var i = 0;
                tempvar.children("th").each(function () {
                    $(this).css("width", tempMainHeadVarElWidths[i]);
                    i++;
                });
            }

        });
        //    var myDiv = $("div.panel-heading");
        //    $("body").scroll(function () {
        //        console.log(myDiv.position().left);
        //    });


        //var myDiv = $("div.panel-heading");
        //console.log(myDiv.position().left);
    </script>

}
<section class="panel panel-default">
    <div class="panel-heading">
        Handover Reports
        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.ReportsMainReportHeader })
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-thead-idle">
                <tr>
                    <th>
                        @Html.ActionLink(
                    "Last Name",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.LastName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "First Name",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.FirstName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Position",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Position},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Workplace",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Workplace},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th class="text-center">Relationships</th>
                    <th class="text-center">Essentials</th>
                    <th class="text-center">Achievements</th>
                    <th class="text-center">Team</th>
                    <th class="text-center">Projects</th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
            </thead>

            <thead class="table-thead-floatable">
                <tr>
                    <th>
                        @Html.ActionLink(
                    "Last Name",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.LastName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "First Name",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.FirstName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Position",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Position},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                        @Html.ActionLink(
                    "Workplace",
                    "HandoverReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Workplace},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th class="text-center">Relationships</th>
                    <th class="text-center">Essentials</th>
                    <th class="text-center">Achievements</th>
                    <th class="text-center">Team</th>
                    <th class="text-center">Projects</th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
            </thead>


            <tbody>
                @foreach (var package in Model.Packages)
                {
                    if (package.AncestorPackageId.HasValue)
                    {
                        <tr data-soft-link="@Url.Action("ViewHandoverReport", new { id = package.ID, ancestor = true })">
                            <td>
                                (Previous) - @package.UserOwner.LastName
                            </td>
                            <td>
                                @package.UserOwner.FirstName
                            </td>
                            <td>
                                @package.Position.Name
                            </td>
                            <td>
                                @package.Workplace.Name
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("ViewHandoverReport", new { id = package.ID, ancestor = true })#report-meetings">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("ViewHandoverReport", new { id = package.ID, ancestor = true })#report-bci">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                @if (package.ExperiencesEnabled)
                                {
                                    <a href="@Url.Action("ViewHandoverReport", new {id = package.ID, ancestor = true})#report-exp">
                                        <span class="glyphicon glyphicon-road"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                @if (package.PeopleManagementEnabled)
                                {
                                    <a href="@Url.Action("ViewHandoverReport", new {id = package.ID, ancestor = true})#report-team">
                                        <span class="glyphicon glyphicon glyphicon-user"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                @if (package.ProjectsEnabled)
                                {
                                    <a href="@Url.Action("ViewHandoverReport", new {id = package.ID, ancestor = true})#report-projects">
                                        <span class="glyphicon glyphicon-picture"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("DownloadHandoverReport", new { id = package.ID, ancestor = true })" target="_blank">
                                    <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                                </a>
                            </td>
                            <td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>
                        </tr>
                    }
                    <tr data-soft-link="@Url.Action("ViewHandoverReport", new { id = package.ID, ancestor = false })">
                        <td>
                            @package.UserOwner.LastName
                        </td>
                        <td>
                            @package.UserOwner.FirstName
                        </td>
                        <td>
                            @package.Position.Name
                        </td>
                        <td>
                            @package.Workplace.Name
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("ViewHandoverReport", new {id = package.ID})#report-meetings">
                                <span class="glyphicon glyphicon-time"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("ViewHandoverReport", new {id = package.ID})#report-bci">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            @if (package.ExperiencesEnabled)
                            {
                                <a href="@Url.Action("ViewHandoverReport", new {id = package.ID})#report-exp">
                                    <span class="glyphicon glyphicon-road"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            @if (package.PeopleManagementEnabled)
                            {
                                <a href="@Url.Action("ViewHandoverReport", new {id = package.ID})#report-team">
                                    <span class="glyphicon glyphicon glyphicon-user"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            @if (package.ProjectsEnabled)
                            {
                                <a href="@Url.Action("ViewHandoverReport", new {id = package.ID})#report-projects">
                                    <span class="glyphicon glyphicon-picture"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("DownloadHandoverReport", new {id = package.ID})" target="_blank">
                                <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                            </a>
                        </td>
                        <td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
