﻿@model MomentumPlus.Activate.Web.Models.LiveChatViewModel

@{
    Layout = null;

    var autojoin = "true";
    
    if (Model.ChatRooms.Any())
    {
        autojoin = Json.Encode(Model.ChatRooms);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Momentum+ Activate Chat</title>
    <link rel="stylesheet" href="/Content/common/candy/res/default.css" />
</head>
<body>
    <div id="candy"></div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/common/candy/libs/libs.min.js"></script>
    <script type="text/javascript" src="/Content/common/candy/candy.min.js"></script>
    <script type="text/javascript">
        $(function () {
            Candy.init('@Model.ChatService', {
                core: {
                    debug: false,
                    autojoin: @Html.Raw(autojoin)
                },
                view: { assets: '/Content/common/candy/res/' }
            });

            Candy.Core.connect('@Model.ServerName', null, '@Model.Nickname');
        });
    </script>
</body>
</html>
