﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (string.IsNullOrEmpty(AccountConfig.Settings.ChatService))
{
    <div class="alert alert-danger" role="alert">
        Live chat is not configured for this version of Momentum+ Activate.
    </div>
}
else
{
    <iframe src="@Url.Action("Chat")" id="live-chat">
        <p>Your browser does not support iframes.</p>
    </iframe>
}
