﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="panel panel-default">
    <div class="panel-heading">
        Ongoing Reports
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    @Html.ActionLink(
                    "Last Name",
                             "ProgressReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.LastName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                    @Html.ActionLink(
                    "First Name",
                             "ProgressReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.FirstName},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                    @Html.ActionLink(
                    "Position",
                             "ProgressReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Position},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th>
                    @Html.ActionLink(
                    "Workplace",
                             "ProgressReports",
                    Request.QueryString.AddOrUpdate(
                        new Dictionary<string, object>
                        {
                            {"sortColumn", MomentumPlus.Activate.Web.Models.ReportViewModel.SortColumn.Workplace},
                            {"sortAscending", !Model.SortAscending}
                        }
                    ))
                    </th>
                    <th class="text-center"><span class="glyphicon glyphicon-floppy-disk glyphicon-custom vertical-middle"></span></th>
                    @Html.PackagePermissionsTableHeader()
                </tr>
            </thead>
            <tbody>
            @foreach (var package in Model.Packages)
            {
                <tr data-soft-link="@Url.Action("ViewProgressReport", new { id = package.ID, ancestor = false })">
                    <td>
                        @package.UserOwner.LastName
                    </td>
                    <td>
                        @package.UserOwner.FirstName
                    </td>
                    <td>
                        @package.Position.Name
                    </td>
                    <td>
                        @package.Workplace.Name
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("DownloadProgressReport", new { id = package.ID })" target="_blank">
                            <span class="glyphicon glyphicon-save glyphicon-custom"></span>
                        </a>
                    </td>
                    <td class="text-center">@Html.PackagePermissionsLabel(package, AppSession.Current.ViewAsUser)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>