﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.AdditionalReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.IsPdf)
{
    Layout = "~/Views/Reports/_PrintLayout.cshtml";
}
else
{
    <div id="report-top"></div>
    <a href="@Url.Action("DownloadProgressReport", new { id = Model.Package.ID, ancestor = Model.IsAncestor })" target="_blank"
       class="btn btn-custom btn-print margin-bottom margin-top">
        <span class="glyphicon glyphicon-save"></span>
        Download PDF
    </a>
}
<section id="report-toc" class="panel panel-default page-break">
    <div class="panel panel-default">
        <div class="panel-heading clearfix"><h3 class="h3-custom">Ongoing Report - @Model.Package.UserOwner.LastName, @Model.Package.UserOwner.FirstName</h3></div>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover report-table">
                        <thead>
                            <tr>
                                <th colspan="2">Package Details</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width: 50%;">Name</th>
                                <th>Status (Triggered)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Package.DisplayName</td>
                                <td>@Model.Package.PackageStatus.GetDescription()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table report-table">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Date Last Viewed</th>
                                <th>Date Last Entry</th>
                                <th style="width: 18%;">Items</th>
                                <th style="width: 18%;">Average Wordcount</th>
                                <th style="width: 18%;">Attachments</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Modules != null)
                            {
                                foreach (var module in Model.Modules)
                                {
                                    <tr>
                                        <td>@module.Type.GetDescription()</td>
                                        <td>
                                            @if (module.UserLastViewed == null)
                                            {
                                                <span>Never Viewed</span>
                                            }
                                            else
                                            {
                                                @module.UserLastViewed.ToString()
                                            }
                                        </td>
                                        <td>
                                            @if (module.Modified == null)
                                            {
                                                <span>Never Updated</span>
                                            }
                                            else
                                            {
                                                @module.Modified.ToString()
                                            }
                                        </td>
                                        <td class="text-center @module.RagVolume">
                                            @module.ActualVolume
                                        </td>
                                        <td class="text-center @module.RagWordCount">
                                            <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @module.ActualTotalWordCount">
                                                @module.ActualAverageWordCount
                                            </span>
                                        </td>
                                        <td class="text-center @module.RagAttachments">
                                            @module.ActualAttachments
                                        </td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td>Relationships</td>
                                <td>
                                    @if (Model.ContactReport.UserLastViewed == null)
                                    {
                                        <span>Never Viewed</span>
                                    }
                                    else
                                    {
                                        @Model.ContactReport.UserLastViewed.ToString()
                                    }
                                </td>
                                <td>
                                    @if (Model.ContactReport.Modified == null)
                                    {
                                        <span>Never Updated</span>
                                    }
                                    else
                                    {
                                        @Model.ContactReport.Modified.ToString()
                                    }
                                </td>
                                <td class="text-center @Model.ContactReport.RagVolume">
                                    @Model.ContactReport.ActualVolume
                                </td>
                                <td class="text-center @Model.ContactReport.RagWordCount">
                                    <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.ContactReport.ActualTotalWordCount">
                                        @Model.ContactReport.ActualAverageWordCount
                                    </span>
                                </td>
                                <td class="text-center @Model.ContactReport.RagAttachments">
                                    @Model.ContactReport.ActualAttachments
                                </td>
                            </tr>

                            <tr>
                                <td>People</td>
                                @if (Model.People != null)
                                {
                                    <td>
                                        @if (Model.People.UserLastViewed == null)
                                        {
                                            <span>Never Viewed</span>
                                        }
                                        else
                                        {
                                            @Model.People.UserLastViewed.ToString()
                                        }
                                    </td>
                                    <td>
                                        @if (Model.People.Modified == null)
                                        {
                                            <span>Never Updated</span>
                                        }
                                        else
                                        {
                                            @Model.People.Modified.ToString()
                                        }
                                    </td>
                                    <td class="text-center @Model.People.RagVolume">
                                        @Model.People.ActualVolume
                                    </td>
                                    <td class="text-center @Model.People.RagWordCount">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.People.ActualTotalWordCount">
                                            @Model.People.ActualAverageWordCount
                                        </span>
                                    </td>
                                    <td class="text-center @Model.People.RagAttachments">
                                        @Model.People.ActualAttachments
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Never Viewed</span>
                                    </td>
                                    <td>
                                        <span>Never Updated</span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td class="text-centert">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: 0">
                                            0
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                }

                            </tr>

                            <tr>
                                <td>Projects</td>
                                @if (Model.Projects != null)
                                {
                                    <td>
                                        @if (Model.Projects.UserLastViewed == null)
                                        {
                                            <span>Never Viewed</span>
                                        }
                                        else
                                        {
                                            @Model.Projects.UserLastViewed.ToString()
                                        }
                                    </td>
                                    <td>
                                        @if (Model.Projects.Modified == null)
                                        {
                                            <span>Never Updated</span>
                                        }
                                        else
                                        {
                                            @Model.Projects.Modified.ToString()
                                        }
                                    </td>
                                    <td class="text-center @Model.Projects.RagVolume">
                                        @Model.Projects.ActualVolume
                                    </td>
                                    <td class="text-center @Model.Projects.RagWordCount">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: @Model.Projects.ActualTotalWordCount">
                                            @Model.Projects.ActualAverageWordCount
                                        </span>
                                    </td>
                                    <td class="text-center @Model.Projects.RagAttachments">
                                        @Model.Projects.ActualAttachments
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Never Viewed</span>
                                    </td>
                                    <td>
                                        <span>Never Updated</span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                    <td class="text-center">
                                        <span class="full-w" data-toggle="tooltip" data-placement="top" title="Total word count: 0">
                                            0
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        0
                                    </td>
                                }

                            </tr>

                            <tr>
                                <td>Average</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    @Math.Round((double)(Model.Modules.Sum(m => m.ActualVolume) + Model.ContactReport.ActualVolume + Model.People.ActualVolume + Model.Projects.ActualVolume) / (Model.Modules.Count + 3), 1)
                                </td>
                                <td>
                                    @Math.Round((double)(Model.Modules.Sum(m => m.ActualAverageWordCount) + Model.ContactReport.ActualAverageWordCount + Model.People.ActualAverageWordCount + Model.Projects.ActualAverageWordCount) / (Model.Modules.Count + 3), 1)
                                </td>
                                <td>
                                    @Math.Round((double)(Model.Modules.Sum(m => m.ActualAttachments) + Model.ContactReport.ActualAttachments + Model.People.ActualAttachments + Model.Projects.ActualAttachments) / (Model.Modules.Count + 3), 1)
                                </td>
                            </tr>
                            <tr>
                                <td>Totals</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    @{
                                        int tempVala = 0;
                                        if (Model.Modules != null)
                                        {
                                            foreach (var module in Model.Modules)
                                            {
                                                tempVala += module.ActualVolume;
                                            }
                                        }
                                        tempVala += Model.ContactReport.ActualVolume + Model.People.ActualVolume + Model.Projects.ActualVolume;
                                        @tempVala
                                    }
                                </td>
                                <td>
                                    @{
                                        int tempValb = 0;
                                        if (Model.Modules != null)
                                        {
                                            foreach (var module in Model.Modules)
                                            {
                                                tempValb += module.ActualAverageWordCount;
                                            }
                                        }
                                        tempValb += Model.ContactReport.ActualAverageWordCount + Model.People.ActualAverageWordCount + Model.Projects.ActualAverageWordCount;
                                        @tempValb
                                    }
                                </td>
                                <td>
                                    @{
                                        int tempValc = 0;
                                        if (Model.Modules != null)
                                        {
                                            foreach (var module in Model.Modules)
                                            {
                                                tempValc += module.ActualAttachments;
                                            }
                                        }
                                        tempValc += Model.ContactReport.ActualAttachments + Model.People.ActualAttachments + Model.Projects.ActualAttachments;
                                        @tempValc
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .rag-red {
        background-color: #FF5353;
    }

    .rag-amber {
        background-color: #FFC65B;
    }

    .rag-green {
        background-color: #59FF59;
    }

    span.full-w {
        width: 100%;
        height: 100%;
        display: block;
    }

    td, th {
        text-align: center;
    }
</style>