﻿@using MomentumPlus.Activate.Web.Models

@model CreateExitSurveyTemplateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SaveClose()
{
    <div class="vertical-cell text-right">
        <a href="@Url.Action("Index", "ExitSurveyTemplate")" class="btn btn-danger">Close</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default clearfix">
                <div class="panel panel-primary clearfix">
                    <div class="panel-heading panel-primary">
                        @SaveClose()
                    </div>
                </div>
                <div class="panel-body a4">
                    <div class="form-group">
                        <strong>Type name:</strong>
                        @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
                        <strong>Select Packages:</strong>
                        @Html.ListBoxFor(p => p.PackagesId, Model.Packages, new { @class = "form-control selectpicker", data_live_search = "true" })
                        <strong>Select Exit Survey for this template:</strong>
                        @Html.DropDownListFor(p => p.ExitSurveysId, Model.ExitSurveys, new { @class = "form-control selectpicker", data_live_search = "true", data_title = "" })
                    </div>
                </div>
            </div>  
        }
    </div>
</div>
