﻿@model IEnumerable<MomentumPlus.Activate.Web.Models.ExitSurveyTemplateViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading panel-heading-icon-right">
                Exit Survey Template list
                <a href="@Url.Action("CreateExitSurveyTemplate", "ExitSurveyTemplate")" class="icon-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Template name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var template in Model)
                            {
                                <tr>
                                    <td>@template.Name</td>
                                    <td>
                                        <a href="@Url.Action("EditExitSurveyTemplate", "ExitSurveyTemplate", new { exitSurveyId = template.Id })">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
