﻿@using MomentumPlus.Activate.Web.Extensions
@model MomentumPlus.Activate.Web.Models.DocumentLibraryFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    // Post to action method with the same name as the current action
    // in the current controller.
Html.BeginForm(
    ViewContext.RouteData.Values["action"].ToString(),
    ViewContext.RouteData.Values["controller"].ToString(),
    FormMethod.Post,
    new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }
    )
)
{
    <div class="panel panel-secondary">
        <div class="panel-heading">@(Model.CreateMode ? "Create" : "Edit") Document</div>
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ItemId)
        @Html.HiddenFor(model => model.ItemType)

        
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(
                        model => model.Name,
                        new { @class = "form-control" }
                        )
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchTags, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="text" id="SearchTags" name="SearchTags" class="form-control search-tags"
                        value="@(Model.SearchTags != null ? string.Join(",", Model.SearchTags) : string.Empty)" />
                    @Html.ValidationMessageFor(model => model.SearchTags)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PositionIDs, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.ListBoxFor(
                        model => model.PositionIDs,
                        Model.PositionSet,
                        new { @class = "form-control selectpicker", data_live_search = "true" }
                        .WithAttrIf("disabled", "", Model.ReadOnly)
                    )
                    @Html.ValidationMessageFor(model => model.PositionIDs)
                </div>
            </div>

            @if (Model.Attachment != null)
            {
                <div class="form-group">
                    <label class="col-sm-2 control-label">Current File</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @if (Model.Attachment.FileId.HasValue)
                            {
                                @Model.Attachment.FileName
                                <a href="@Url.Action("Download", "Attachments", new { id = Model.Attachment.ID })" target="_blank">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                                <a href="#" id="clear-file" data-attachment-type="upload"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                            else if (!string.IsNullOrEmpty(Model.Attachment.FilePath))
                            {
                                <a href="@Model.Attachment.FilePath" target="_blank">@Model.Attachment.FilePath</a>
                                <a href="#" id="clear-file" data-attachment-type="location"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                        </p>
                    </div>
                </div>
            }

            <div class="@(Model.Attachment == null ? "" : "hidden")" id="file-controls">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <label class="radio-inline">
                            <input type="radio" name="fileUploadOptions" data-show-element="#file-upload" data-hide-element="#file-location" checked> Upload file
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="fileUploadOptions" data-hide-element="#file-upload" data-show-element="#file-location" id="file-location-radio"> Specify file location
                        </label>
                    </div>
                </div>

                <div class="form-group" id="file-upload">
                    <label class="col-sm-2 control-label">File *</label>
                    <div class="col-sm-10">
                        <input type="file" id="theFile" name="theFile" class="form-control" />
                        <div class="help-block">
                            <strong>File types allowed:</strong>
                            <ul class="list-inline list-comma-separated display-inline">
                                @foreach (var t in Model.FileTypes)
                                {
                                    <li>@t</li>
                                }
                            </ul>
                        </div>
                        @Html.ValidationMessageFor(model => model.PostedFile)
                    </div> 
                </div>

                <div class="form-group hidden" id="file-location">
                    @Html.LabelFor(model => model.FilePath, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(
                            model => model.FilePath,
                            new { @class = "form-control" }
                        )
                        @Html.ValidationMessageFor(model => model.FilePath)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-footer clearfix">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@AppSession.Current.DocumentLibraryFormReturnUrl" class="btn btn-danger">Close</a>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/attachments.js")
}