﻿@model MomentumPlus.Activate.Web.Models.DocumentLibraryViewModel

@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Index", null, FormMethod.Get))
                {
                    @Html.HiddenFor(m => m.ItemId)
                    @Html.HiddenFor(m => m.ItemType)

                    <div class="row">
                        <div class="col-md-@(Model.ItemId.HasValue ? 8 : 9)">
                            <div class="form-group has-feedback">
                                @Html.LabelFor(m => m.Query, new { @class = "control-label sr-only" })
                                @Html.TextBoxFor(m => m.Query, new { @class = "form-control", placeholder = "Search for a tag or document name" })
                                <button type="submit" class="unbutton glyphicon glyphicon-search form-control-feedback"></button>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(
                                    model => model.PositionId,
                                    Model.Positions,
                                    new { @class = "form-control on-change-submit" }.WithAttrIf("disabled", "", Model.DisablePositionFilter)
                                )
                            </div>
                        </div>
                        
                        @if (!Model.ItemId.HasValue)
                        {
                            @*<div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownListFor(
                                        model => model.Retired,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Active Documents", Value = false.ToString() },
                                            new SelectListItem { Text = "Retired Documents", Value = true.ToString() }
                                        },
                                        new { @class = "form-control active-state-dropdown" }
                                    )
                                </div>
                            </div>*@
                        }
                        else
                        {
                            <div class="col-md-1">
                                <a href="@AppSession.Current.DocumentLibraryReturnUrl" class="btn btn-danger">Cancel</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
                                
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading panel-heading-icon-right">
                        Library
                        @Html.Partial("_Tooltip", new MomentumPlus.Activate.Web.Models.TooltipViewModel { Message = AccountConfig.Settings.DocumentLibraryDocumentsHeader })
                        @if (!Model.ItemId.HasValue)
                        {
                            <a href="@Url.Action("Create", "DocumentLibrary", new { id = Model.PositionId })" class="icon-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        }
                    </div>

                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Added</th>
                                    <th>Positions</th>

                                    @if (!Model.ItemId.HasValue)
                                    {
                                        <th class="text-center">Edit</th>
                                    }

                                    @if (Model.ItemId.HasValue)
                                    {
                                        <th class="text-center">Add</th>
                                    }
                                    else
                                    {
                                        <th class="text-center">Details</th>
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.DocumentLibraries != null)
                                {
                                    foreach (var document in Model.DocumentLibraries)
                                    {
                                    <tr>
                                        <td>@document.Name</td>

                                        <td class="text-center">
                                            @if (document.Attachment.FileId.HasValue)
                                            {
                                                <span class="glyphicon glyphicon-file" title="Upload"></span>
                                            }
                                            else if (!string.IsNullOrEmpty(document.Attachment.FilePath))
                                            {
                                                <span class="glyphicon glyphicon-link" title="Link"></span>
                                            }
                                        </td>

                                        <td class="text-center">@document.Created.ToShortDateString()</td>

                                        <td>
                                            <span>@document.Positions.First().Name</span>

                                            @if (document.Positions.Count() > 1)
                                            {
                                                <a href="" class="full-w" data-toggle="popover" data-placement="top" data-title="Other Positions"
                                                    data-content="@Html.UnorderedList(document.Positions.Select(p => p.Name))">
                                                    (+ @(document.Positions.Count() - 1) more)
                                                </a>
                                            }
                                        </td>

                                        @if (!Model.ItemId.HasValue)
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit", "DocumentLibrary", new { id = document.ID, itemId = Model.PositionId })">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </td>
                                        }

                                        @if (Model.ItemId.HasValue)
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("Add", new { id = document.ID, itemId = Model.ItemId, itemType = Model.ItemType })">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("../Reports/ViewDocumentLibraryReport", new { id = document.ID })">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.Pager(Model.PageSize, Model.PageNo, Model.TotalCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(1)
                        .AlwaysAddFirstPageNumber()
                        .PageRouteValueKey("pageNo")
                        .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "pageNo" }))
                    )
                </section>
            </div>
        </div>
            
    </div>
</div>
