﻿@using MomentumPlus.Activate.Services.Interfaces
@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@{
    var firstNode = Model.Nodes.FirstOrDefault();
    if (firstNode != null)
    {
        if (firstNode.Title.Equals("Summary") || (firstNode.Title.Equals("Onboarding") && Model.Nodes.Count != 4))
        {
            <li class="@(firstNode.IsInCurrentPath ? "active" : string.Empty)">
                @Html.DisplayFor(m => firstNode)
            </li>
        }
    }
}

@foreach (var node in Model.Nodes.Skip(1))  // Skip parent node
{
    if (node.Controller == "Home" && !AppSession.Current.CurrentPackageId.HasValue)
    {
        <li class="text-muted">@Html.DisplayFor(m => node)</li>
        continue;
    }

    <li class="@(node.IsInCurrentPath ? "active" : string.Empty) @(node.Attributes.ContainsKey("flag") && ((PackageFlag)node.Attributes["flag"]).ReadyForReview ? "ready-for-review" : string.Empty)">
        @Html.DisplayFor(m => node)
        @if (node.Attributes.ContainsKey("flag"))
        {
            @Html.Partial("_PackageFlags", (PackageFlag)node.Attributes["flag"])
        }
    </li>
}
