﻿@using MomentumPlus.Activate.Services.Interfaces
@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel

<div class="row">
    @for (int i = 0; i < Model.Nodes.Count; i += 3)
    {
        foreach (var node in Model.Nodes.Skip(i).Take(3))
        {
            if ((node.Title == "Exit Survey" && AppSession.Current.ExitSurveyEnabled) || (node.Title == "My Team" && AppSession.Current.PeopleManagementEnabled))
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 10px !important">
                    <a href="@node.Url">
                        <div class="well well-lg summary-menu-item" style="height: 170px; border-radius: 6px;">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                                    @if (node.Controller == "Onboarding")
                                    {
                                        <img src="@node.ImageUrl" style="margin-top: -24px !important">
                                    }
                                    @if (node.Controller != "Onboarding")
                                    {
                                        <img src="@node.ImageUrl">
                                    }

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="row">
                                        <div class="col-lg-12 summary-menu-title">
                                            @node.Title
                                        </div>

                                    </div>
                                    <div class="row summary-counter-row">
                                        @if (node.Attributes.ContainsKey("flag"))
                                        {
                                            @Html.Partial("_PackageStats", (PackageFlag)node.Attributes["flag"])
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            if (node.Controller != "Summary" && node.Controller != "Home" && node.Title != "My Team" && node.Title != "Exit Survey")
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 10px !important">
                    <a href="@node.Url">
                        <div class="well well-lg summary-menu-item" style="height: 170px; border-radius: 6px;">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                                    @if (node.Controller == "Onboarding")
                                    {
                                        <img src="@node.ImageUrl" style="margin-top: -24px !important">
                                    }
                                    @if (node.Controller != "Onboarding")
                                    {
                                        <img src="@node.ImageUrl">
                                    }

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="row">
                                        <div class="col-lg-12 summary-menu-title">
                                            @node.Title
                                        </div>

                                    </div>
                                    <div class="row summary-counter-row">
                                        @if (node.Attributes.ContainsKey("flag"))
                                        {
                                            @Html.Partial("_PackageStats", (PackageFlag)node.Attributes["flag"])
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
    @*@if (AppSession.Current.ExitSurveyEnabled)
        {
        <a class="col-lg-4 col-md-4 col-sm-6 col-xs-12" href="@Url.Action("MySurvey", "Survey", new { exitSurveyId = AppSession.Current.ExitSurveyId })" style="padding-bottom: 10px!important">
            <div class="well well-lg summary-menu-item" style="height: 170px;border-radius: 6px;">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center">
                        <img src="~/Content/css/images/summary/Panels_Deco_Icons_09.png">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="row">
                            <div class="col-lg-12 summary-menu-title">
                                Exit Survey
                            </div>

                        </div>
                        <div class="row summary-counter-row">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        }*@
</div>