﻿@using MomentumPlus.Activate.Web.Models.Handover
@model HandoverViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (
    // Post to action method with the same name as the current action
    // in the current controller.
    Html.BeginForm(
        ViewContext.RouteData.Values["action"].ToString(),
        ViewContext.RouteData.Values["controller"].ToString(),
        FormMethod.Post,
        new { @enctype = "multipart/form-data", @class = "form-horizontal two-panel", role = "form" }
        )
    )
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            @Html.ValidationSummary()
        </div>
    }

    <div class="panel-group" id="accordion">
        <div class="panel panel-secondary panel-first">
            <div class="panel-heading display-table handover-collapsed">
                <div class="vertical-cell text-left">
                    <a data-toggle="collapse" data-target="#collapseLeaver" href="#collapseLeaver" class="handover-accordion handover-collapse-link col-sm-10 ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        Leaver
                    </a>
                    <div class="col-sm-2 text-right handover-buttons">
                        <button class="btn btn-primary" type="submit" name="SubmitAction" value="@HandoverViewModel.Action.Save">
                            Save
                        </button>
                        <a href="@AppSession.Current.HandoverFormReturnUrl" class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="collapseLeaver">
                @Html.EditorFor(model => model.LeavingPeriodViewModel)
            </div>
        </div>

        <div class="panel panel-secondary panel-second @(ViewBag.StarterExpanded ? "expanded" : "collapsed")">
            <div class="panel-heading display-table handover-collapsed">
                <div class="vertical-cell text-left" style="overflow:visible">
                    <a data-toggle="collapse" data-target="#collapseStarter" href="#collapseStarter" class="handover-accordion handover-collapse-link col-sm-10" id="newStarter">
                        <span class="glyphicon @(ViewBag.StarterExpanded ? "glyphicon-chevron-up" : "glyphicon-chevron-down")"></span>
                        New Starter Set-up
                    </a>
                    <div class="col-sm-2 text-right handover-buttons @(ViewBag.StarterExpanded ? "" : "hide")">
                        <button class="btn btn-primary" type="submit" name="SubmitAction" value="@HandoverViewModel.Action.Save">
                            Save
                        </button>
                        <a href="@AppSession.Current.HandoverFormReturnUrl" class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>

            <div class="panel-body panel-collapse collapse @(ViewBag.StarterExpanded ? "in" : "")" id="collapseStarter">
                @Html.EditorFor(model => Model.OnboardingPeriodViewModel)
            </div>
        </div>

        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-6">
                    @if (!Model.CreateMode)
                    {
                        <a href="@Url.Action("Cancel", "Handover", new {id = Model.ID})" class="btn btn-danger"
                           data-confirm-link="Are you sure you want to cancel this handover?">Cancel</a>
                    }
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-primary" type="submit" name="SubmitAction" value="@HandoverViewModel.Action.Save">
                        Save
                    </button>
                    <a href="@AppSession.Current.HandoverFormReturnUrl" class="btn btn-danger">Close</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/handover-form.js")
}
