﻿@using MomentumPlus.Activate.Web.Extensions
@using MomentumPlus.Activate.Web.Models.Handover
@model LeaverPrioritiesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-secondary panel-first">
    <div class="panel-heading display-table">
        <div class="vertical-cell text-left">
            Leaver Priorities
        </div>
    </div>
    @using (Html.BeginForm("LeaverPriorities", "Handover"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.HandoverId)

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                @Html.ValidationSummary()
            </div>
        }

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th class="text-right">Include?</th>
                        <th class="text-right">Complete by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Essentials</td>
                        <td class="text-right"><strong title="Mandatory">Required</strong></td>
                        <td class="text-right">@Html.DropDownListFor(model => model.CriticalDue, Model.PeriodOptions)</td>
                    </tr>
                    <tr>
                        <td>Relationships</td>
                        <td class="text-right"><strong title="Mandatory">Required</strong></td>
                        <td class="text-right">@Html.DropDownListFor(model => model.RelationshipsDue, Model.PeriodOptions)</td>
                    </tr>
                    <tr>
                        <td>Achievements</td>
                        <td class="text-right">@Html.CheckBoxFor(model => model.ExperiancesEnabled, new { }.WithAttrIf("disabled", "disabled", Model.PackageExperiencesDisabled))</td>
                        <td class="text-right">@Html.DropDownListFor(model => model.ExperiencesDue, Model.PeriodOptions, new { }.WithAttrIf("disabled", "disabled", Model.PackageExperiencesDisabled))</td>
                    </tr>
                    <tr>
                        <td>Projects</td>
                        <td class="text-right">@Html.CheckBoxFor(model => model.ProjectsEnabled, new { }.WithAttrIf("disabled", "disabled", Model.PackageProjectsDisabled))</td>
                        <td class="text-right">@Html.DropDownListFor(model => model.ProjectsDue, Model.PeriodOptions, new { }.WithAttrIf("disabled", "disabled", Model.PackageProjectsDisabled))</td>
                    </tr>
                    <tr>
                        <td>My Team</td>
                        <td class="text-right">@Html.CheckBoxFor(model => model.PeopleEnabled, new { }.WithAttrIf("disabled", "disabled", Model.PackagePeopleDisabled))</td>
                        <td class="text-right">@Html.DropDownListFor(model => model.PeopleDue, Model.PeriodOptions, new { }.WithAttrIf("disabled", "disabled", Model.PackagePeopleDisabled))</td>
                    </tr>
                    <tr>
                        <td>Core Tasks</td>
                        <td class="text-right"><strong title="Mandatory">Required</strong></td>
                        <td class="text-right">@Html.DropDownListFor(model => model.CoreTasksDue, Model.PeriodOptions)</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-sm-12 text-right">
                    @if (!Model.IsLocked)
                    {
                        <button class="btn btn-primary"
                                type="submit"
                                data-confirm-link="@Model.UserName will now work to update package prior to the Handover Meeting.">
                            Save
                        </button>
                    }
                    <a href="@AppSession.Current.PrioritiesToolsReturnUrl" class="btn btn-danger">Close</a>
                </div>
            </div>
        </div>
    }
</div>